<h1>Coming soon</h1>
<!--
<h2>How To:</h2>
<ul>
  <li><a (click)="displayPopup = true">
    <div class="img-hold"><img src="assets/images/vignettes/SEP_V1_thumb.jpg" alt="Custom Dashboard and Subtracting Data Visualization"/></div>
    <p>Custom Dashboard and Subtracting Data Visualization</p>
  </a></li>
  <li><a (click)="displayPopup2 = true">
      <div class="img-hold"><img src="assets/images/vignettes/SEP_V2_thumb.jpg" alt="Changing Tools and Options"/></div>
      <p>Changing Tools and Options</p>
  </a></li>
  <li><a (click)="displayPopup3 = true">
      <div class="img-hold"><img src="assets/images/vignettes/SEP_V3_thumb.jpg" alt="State Territory Map List View"/></div>
      <p>State Territory Map List View</p>
  </a></li>
  <li><a (click)="displayPopup4 = true">
      <div class="img-hold"><img src="assets/images/vignettes/SEP_V4_thumb.jpg" alt="Bubble Chart Heat Map Table View"/></div>
      <p>Bubble Chart Heat Map Table View</p>
  </a></li>
  <li><a (click)="displayPopup5 = true">
      <div class="img-hold"><img src="assets/images/vignettes/SEP_V5_thumb.jpg" alt="Google and Excel Add In"/></div>
      <p>Google and Excel Add In</p>  
  </a></li>
  <li><a (click)="displayPopup6 = true">
      <div class="img-hold"><img src="assets/images/vignettes/SEP_V6_thumb.jpg" alt="Map Layers"/></div>
      <p>Map Layers</p>
  </a></li>
  <li><a (click)="displayPopup7 = true">
      <div class="img-hold"><img src="assets/images/vignettes/SEP_V7_thumb.jpg" alt="Custom Dashboard Search Change Order Size Charts"/></div>
      <p>Custom Dashboard Search Change Order Size Charts</p>
  </a></li>
  <li><a (click)="displayPopup8 = true">
      <div class="img-hold"><img src="assets/images/vignettes/SEP_V8_thumb.jpg" alt="Overview State Info"/></div>
      <p>Overview State Info</p>
  </a></li>
</ul>

<p-sidebar id="vingnettes-cotnainer" [visible]="displayPopup" [fullScreen]="true" (onHide)="closeItemChart($event)" [blockScroll]="true" [ngStyle]="{height: screenHeight}">
  <div>
    <div class="filter-item-nav dialog-box-download-close">
      <button (click)="displayPopup = false">
        <span class="icon-cross-circle"><span>Cancel</span></span>
      </button>
    </div>
    <div>
      <h3>Custom Dashboard and Subtracting Data Visualizations</h3>
      <img src="assets/images/vignettes/SEP_V1_custom-dashboard-and-sutracting-data-visualizations.gif" alt="Custom Dashboard and Subtracting Data Visualizations"/>
    </div>
  </div>
</p-sidebar>

<p-sidebar id="vingnettes-cotnainer" [visible]="displayPopup2" [fullScreen]="true" (onHide)="closeItemChart($event)" [blockScroll]="true" [ngStyle]="{height: screenHeight}">
  <div>
  <div class="filter-item-nav dialog-box-download-close">
    <button (click)="displayPopup2 = false">
      <span class="icon-cross-circle"><span>Cancel</span></span>
    </button>
  </div>
  <div>
      <h3>Charts: Changing Tools and Options</h3>
    <img src="assets/images/vignettes/SEP_V2_Charts-changing-tools-and-options.gif" alt="Charts: Changing Tools and Options"/>
  </div>
</div>
</p-sidebar>

<p-sidebar id="vingnettes-cotnainer" [visible]="displayPopup3" [fullScreen]="true" (onHide)="closeItemChart($event)" [blockScroll]="true" [ngStyle]="{height: screenHeight}">
  <div>
  <div class="filter-item-nav dialog-box-download-close">
    <button (click)="displayPopup3 = false">
      <span class="icon-cross-circle"><span>Cancel</span></span>
    </button>
  </div>
  <div>
    <h3>State Territory Map List View</h3>
    <img src="assets/images/vignettes/SEP_V3_State-Territory_map-list-view_.gif" alt="State Territory Map List View"/>
  </div>
</div>
</p-sidebar>

<p-sidebar id="vingnettes-cotnainer" [visible]="displayPopup4" [fullScreen]="true" (onHide)="closeItemChart($event)" [blockScroll]="true" [ngStyle]="{height: screenHeight}">
  <div>
  <div class="filter-item-nav dialog-box-download-close">
    <button (click)="displayPopup4 = false">
      <span class="icon-cross-circle"><span>Cancel</span></span>
    </button>
  </div>
  <div>
    <h3>Bubble Chart Heat Map Table View</h3>
    <img src="assets/images/vignettes/SEP_V4_Bubble-Chart_heat-map-table-view.gif" alt="Bubble Chart Heat Map Table View"/>
  </div>
</div>
</p-sidebar>

<p-sidebar id="vingnettes-cotnainer" [visible]="displayPopup5" [fullScreen]="true" (onHide)="closeItemChart($event)" [blockScroll]="true" [ngStyle]="{height: screenHeight}">
  <div>
  <div class="filter-item-nav dialog-box-download-close">
    <button (click)="displayPopup5 = false">
      <span class="icon-cross-circle"><span>Cancel</span></span>
    </button>
  </div>
  <div>
    <h3>Google and Excel Add In</h3>
    <img src="assets/images/vignettes/SEP_V5_Google-and-Excel-add-in.gif" alt="Google and Excel Add In"/>
  </div>
</div>
</p-sidebar>

<p-sidebar id="vingnettes-cotnainer" [visible]="displayPopup6" [fullScreen]="true" (onHide)="closeItemChart($event)" [blockScroll]="true" [ngStyle]="{height: screenHeight}">
  <div>
  <div class="filter-item-nav dialog-box-download-close">
    <button (click)="displayPopup6 = false">
      <span class="icon-cross-circle"><span>Cancel</span></span>
    </button>
  </div>
  <div>
    <h3>Map Layers</h3>
    <img src="assets/images/vignettes/SEP_V6_map-layers.gif" alt="Map Layers"/>
  </div>
</div>
</p-sidebar>

<p-sidebar id="vingnettes-cotnainer" [visible]="displayPopup7" [fullScreen]="true" (onHide)="closeItemChart($event)" [blockScroll]="true" [ngStyle]="{height: screenHeight}">
  <div>
  <div class="filter-item-nav dialog-box-download-close">
    <button (click)="displayPopup7 = false">
      <span class="icon-cross-circle"><span>Cancel</span></span>
    </button>
  </div>
  <div>
    <h3>Custom Dashboard Search Change Order Size Charts</h3>
    <img src="assets/images/vignettes/SEP_V7_Custom-Dashboard_searchchange-order-size-charts.gif" alt="Custom Dashboard Search Change Order Size Charts"/>
  </div>
</div>
</p-sidebar>

<p-sidebar id="vingnettes-cotnainer" [visible]="displayPopup8" [fullScreen]="true" (onHide)="closeItemChart($event)" [blockScroll]="true" [ngStyle]="{height: screenHeight}">
  <div>
  <div class="filter-item-nav dialog-box-download-close">
    <button (click)="displayPopup8 = false">
      <span class="icon-cross-circle"><span>Cancel</span></span>
    </button>
  </div>
  <div>
    <h3>Overview State Info</h3>
    <img src="assets/images/vignettes/SEP_V8_overview-state-info.gif" alt="Overview State Info"/>
  </div>
</div>
</p-sidebar>
-->