html {
	box-sizing: border-box;
	* {
		box-sizing: border-box;
	}
}
.l {
	text-align: left;
}
.c {
	text-align: center;
}
.r {
	text-align: right;
}
.d {
	text-align: right;
}
.j {
	text-align: justify;
}
.t {
	vertical-align: top;
}
.m {
	vertical-align: middle;
}
.b {
	vertical-align: bottom;
}
TD {
	vertical-align: top;
	border-bottom: none;
}
TH {
	vertical-align: top;
	border-bottom: none;
}
.stacked_cell {
	padding: 0;
}
.AfterCaption {
	font-style: italic;
}
.Batch {
	.normal;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	border-style: solid;
	border-color: white; //@eia-dark-grey;
	border-top-width: 1px;
	border-right-width: 0;
	border-bottom-width: 1px;
	border-left-width: 0;
	border-collapse: separate;
	border-spacing: 0;
}
.BeforeCaption {
	font-style: italic;
}
.body {
	.font;
	background-color: transparent;
	.normal;
	margin-right: 8px;
	margin-left: 8px;
}
.BodyDate {
	.font;
	background-color: transparent;
	.normal;
	width: 100%;
}
.ByContentFolder {
	.normal;
	list-style-type: none;
}
.Byline {
	font-style: italic;
	font-weight: @bold; // 700
}
.BylineContainer {
	.normal;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	border-width: 0;
	border-style: solid;
	border-color: white; //@eia-dark-grey;
	border-spacing: 1px;
	width: 100%;
}
.Caption {
	color: @eia-blue;
	background-color: transparent;
	font-weight: @bold; // 700
}
.ContentFolder {
	.normal;
	list-style-type: none;
}
.ContentItem {
	.normal;
	list-style-type: none;
}
.ContentProcLabel {
	font-style: italic;
	font-weight: @bold; // 700
	list-style-type: decimal;
}
.ContentProcName {
	font-style: italic;
	font-weight: @bold; // 700
	list-style-type: decimal;
}
.Contents {
	.font;
	background-color: transparent;
	.normal;
	margin-right: 8px;
	margin-left: 8px;
	list-style-type: decimal;
}
.ContentsDate {
	.font;
	background-color: transparent;
	.normal;
	width: 100%;
}
.ContentTitle {
	font-weight: @bold; // 700
}
.Continued {
	font-style: italic;
	text-align: left;
	padding: 0;
	border-spacing: 0;
	width: 100%;
}
.data {
	background-color: transparent;
	.normal;
	vertical-align: def;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #bababa;
}
.dataemphasis {
	font-style: italic;
}
.dataemphasisfixed {
	font-style: italic;
	font-weight: @bold; // 700
}
.dataempty {
	.normal;
}
.datafixed {
	.normal;
}
.datastrong {
	font-style: italic;
	font-weight: @bold; // 700
}
.datastrongfixed {
	font-weight: @bold; // 700
}
.Date {
	.normal;
	width: 100%;
}
.Document {
	.normal;
}
.branch {

	display: inline-block;
	table {
		float: left;
		width: 100%;
	}
	th[scope="colgroup"] {
		text-align: left;
	}
}
.ErrorContent {
	.normal;
	text-align: left;
}
.ErrorContentFixed {
	.normal;
	text-align: left;
}
.ExtendedPage {
	font-style: italic;
	padding-top: 2pt;
	padding-right: 2pt;
	padding-bottom: 2pt;
	padding-left: 2pt;
	border-width: 1pt;
	border-style: solid;
	border-color: white; //@eia-dark-grey;
}
.FatalContent {
	.normal;
	text-align: left;
}
.FatalContentFixed {
	.normal;
	text-align: left;
}
.FolderAction {
	.normal;
	list-style-type: none;
}
.footer {
	background-color: transparent;
	.normal;
	vertical-align: top;
	text-align: left;
}
.footeremphasis {
	font-style: italic;
	vertical-align: top;
	text-align: left;
}
.footeremphasisfixed {
	font-style: italic;
	font-weight: @bold; // 700
	vertical-align: top;
	text-align: left;
}
.footerempty {
	font-style: italic;
	vertical-align: top;
	text-align: left;
}
.footerfixed {
	.normal;
	vertical-align: top;
	text-align: left;
}
.footerstrong {
	font-style: italic;
	font-weight: @bold; // 700
	vertical-align: top;
	text-align: left;
}
.footerstrongfixed {
	font-weight: @bold; // 700
	vertical-align: top;
	text-align: left;
}
.Frame {
	.normal;
}
.Graph {
	.font;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	border-top-width: 1px;
	border-right-width: 0;
	border-bottom-width: 1px;
	border-left-width: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

table {
	border: 0;
	.font;
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;
	//empty-cells: hide !important;
	a {
							color: @eia-508-link-color;
		//text-decoration: none;
		display: inline-block;
		&:hover {
			//text-decoration: underline;
							color: @eia-508-link-color;
		}
	}
	caption {
		font-size: var(--lrg); // 15 pixels
		text-align: left;
		caption-side: top;
		color: @eia-dark-grey;
		.font;
		font-weight: @bold; // 700
		a {
			color: @eia-blue;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		em {
			.normal;
			text-transform: none;
			font-weight: @regular; // 400
		}
		p,
		span {
			.normal;
			font-size: var(--xsm); // 12 pixels // 12 pixels
			text-transform: none;
		}
	}
	thead {
		th {
			font-size: var(--xsm); // 12 pixels
			font-weight: @bold; // 700
			padding: 6px 10px 5px 10px;

			vertical-align: bottom;
			&:first-child {
				text-align: left;
			}
			span {
				&.normal {
					.normal;
				}
			}
		}
	}
	tr {
		td {
			font-size: var(--xsm); // 12 pixels
			color: @eia-dark-grey;

			vertical-align: top;
			padding: 6px 10px 5px 10px;
		}
	}

	.header {
		background-color: transparent;
		//border-bottom: 1px solid #bababa;
		border-collapse: collapse;
		//border-left: 1px solid #bababa;
		//border-top: 1px solid #bababa;
		font-weight: @bold; // 700
		padding: 5px 10px;

		vertical-align: bottom;
		&:first-child {
			border-left: none;
		}
	}
	.r.header {
		&:first-child {
			text-align: left;
		}
	}
	.c.header {
		&:first-child {
			text-align: left;
		}
		text-align: left;
	}
	.header_blue {
		background-color: transparent;
		font-weight: @bold; // 700

		vertical-align: bottom;
		padding-top: 5px;
		padding-right: 10px;
		padding-bottom: 5px;
		padding-left: 10px;
		border-bottom-width: 3px;
		border-bottom-style: solid;
		border-bottom-color: @eia-blue;
		border-collapse: collapse;
	}
}
.table {
	border-bottom: 2px solid @eia-blue;
	margin: 0;
	// margin-bottom: 2em;
	overflow-y: hidden;
	overflow-x: auto;
	thead {
		tr {
			&:last-child {
				th.header {
					border-bottom: 2px solid @eia-blue;
				}
			}
			th[type="num"] {
				text-align: right;
			}
			th[type="char"] {
				text-align: left;
			}
			th {
				border-top: 1px solid #bababa;
				border-right: 1px solid #bababa;
				border-bottom: none;
				border-left: none;
				text-align: left;
				&:first-child {
					border-left: 1px solid #bababa;
				}
			}
		}
	}
	tbody {
		tr {
			&:first-child {
				td {
					border-top: none;
				}
			}
			td {
				padding: 6px 10px 5px 10px;
				background-color: white !important;
			}
		}
	}
}

caption {
	p {
		&.systemtitle {
			margin-bottom: 4px;
		}
		&.systemtitle2 {
			margin-top: 0;
		}
	}
}
table.systitleandfootercontainer {
	//~ {
	table.systitleandfootercontainer {
		//margin-top: 0;
		//margin-bottom: 14px;
	}
	//}
}
tbody {
	tr {
		td {
			&:first-child {
				.r {
					&.data {
						text-align: left;
					}
				}
				.data {
					padding-right: 24px;
				}
				a {
					float: right;
					background: url("/global/images/icons/sprites/icon-sprites2.png") no-repeat scroll -2px -6px transparent;
					padding: 0;
					text-indent: 26px;
					overflow: hidden;
					width: 20px;
					margin-right: -18px;
					cursor: pointer;
					&:hover {
						background: url("/global/images/icons/sprites/icon-sprites2.png") no-repeat scroll -32px -6px transparent;
					}
				}
			}
		}
		td {
			&.data[style*="background"] {
				background-color: transparent;
				border-top: 1px solid @eia-blue;
				//border-bottom: 1px solid #bababa;
				font-weight: @bold; // 700
			}
		}
	}
}

.headerEmphasis {
	font-style: italic;
	font-weight: @bold; // 700
}
.headerEmphasisFixed {
	font-style: italic;
	font-weight: @bold; // 700
}
.headerEmpty {
	font-style: italic;
}
.headerFixed {
	.normal;
}
.headersandfooters {
	font-style: italic;
}
.headerStrong {
	font-style: italic;
	font-weight: @bold; // 700
}
.headerStrongFixed {
	font-weight: @bold; // 700
}
.Index {
	.normal;
}
.IndexAction {
	.normal;
	list-style-type: none;
}
.IndexItem {
	.normal;
	list-style-type: none;
}
.IndexProcName {
	font-style: italic;
	font-weight: @bold; // 700
	list-style-type: decimal;
}
.IndexTitle {
	font-weight: @bold; // 700
}
.LayoutContainer {
	.font;
	padding: 0;
	border: none;
}
.LayoutRegion {
	.font;
	padding: 0;
	border: none;
}
.List {
	list-style-type: disc;
}
.List2 {
	list-style-type: circle;
}
.List3,
.List4,
.List5,
.List6,
.List7,
.List8,
.List9,
.List10 {
	list-style-type: square;
}
.List,
.ListItem,
.ListItem1,
.ListItem2,
.ListItem3,
.ListItem4,
.ListItem5,
.ListItem6,
.ListItem7,
.ListItem8,
.ListItem9,
.ListItem10 {
	.normal;
	text-align: left;
	width: 100%;
}

.NoteBanner {
	font-style: italic;
	font-weight: @bold; // 700
}
.notecontent {
	font-weight: @bold; // 700
	text-align: left;
	background-color: transparent;
	color: @eia-dark-grey;
	border-top: 1px solid @eia-blue;
	border-bottom: 1px solid #bababa;
}
.linecontent {
	font-weight: @bold; // 700
	//text-align: left;
	//background-color: transparent;
	//color:  @eia-dark-grey;
	border-top: 1px solid @eia-blue;
	//border-bottom: 1px solid #bababa;
}
.notecontentfixed {
	.font;
	.normal;
	text-align: left;
}
.Output {
	.normal;
	padding: 7px;
	border: none;
}
.PageNo {
	font-style: italic;
	font-weight: @bold; // 700
	vertical-align: top;
	text-align: right;
	padding: 0;
	border-spacing: 0;
}
.Pages {
	.normal;
	margin-right: 8px;
	margin-left: 8px;
	list-style-type: decimal;
}
.PagesDate {
	.normal;
	width: 100%;
}
.PagesItem {
	.normal;
	list-style-type: none;
}
.PagesProcLabel {
	font-style: italic;
	font-weight: @bold; // 700
	list-style-type: decimal;
}
.PagesProcName {
	font-style: italic;
	font-weight: @bold; // 700
	list-style-type: decimal;
}
.PagesTitle {
	font-weight: @bold; // 700
}
.Paragraph {
	.normal;
	text-align: left;
	width: 100%;
}
.Parskip {
	font-style: italic;
	padding: 0;
	border-spacing: 0;
}
.PrePage {
	.normal;
	text-align: left;
}
.ProcTitle {
	background-color: transparent;
	font-weight: @bold; // 700
	text-align: left;
}
.ProcTitleFixed {
	font-weight: @bold; // 700
}
.rowfooter {
	.normal;
	text-align: left;
	padding-top: 12px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: @eia-blue;
}
.rowfooteremphasis {
	font-style: italic;
}
.rowfooteremphasisfixed {
	font-style: italic;
	font-weight: @bold; // 700
}
.rowfooterempty {
	font-style: italic;
	padding-top: 12px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: @eia-blue;
}
.rowfooterfixed {
	.normal;
}
.rowfooterstrong {
	font-style: italic;
	font-weight: @bold; // 700
}
.rowfooterstrongfixed {
	font-weight: @bold; // 700
}
.rowheader {
	background-color: transparent;
	.normal;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #bababa;
	border-collapse: collapse;
}
.rowheaderemphasis {
	font-style: italic;
}
.rowheaderemphasisfixed {
	font-style: italic;
	font-weight: @bold; // 700
}
.rowheaderempty {
	font-style: italic;
}
.rowheaderfixed {
	.normal;
}
.rowheaderstrong {
	font-style: italic;
	font-weight: @bold; // 700
}
.rowheaderstrongfixed {
	font-weight: @bold; // 700
}
.systemfooter,
.systemfooter2,
.systemfooter3,
.systemfooter4,
.systemfooter5,
.systemfooter6,
.systemfooter7,
.systemfooter8,
.systemfooter9,
.systemfooter10 {
	.font;
	text-align: left;
	font-size: var(--xsm); // 12 pixels
	vertical-align: top;
	padding: 6px 10px 5px 10px;
	background-color: white;
	border-bottom: none;
	//font-size: var(--xxsm); // 11 pixels // 10 pixels
}
.systemtitle {
	//font-size: 14pt;
	//color: @eia-blue;
	//background-color: transparent;
	font-weight: @bold; // 700
	//text-align: left;
	//.normal;
	font-size: 1.125rem;
	color: @eia-dark-grey;
}

.systemtitle2 {
	//font-size: 1.125rem;
	font-size: var(--xsm); // 12 pixels
	color: @eia-dark-grey;
	//.normal;
	//text-align: left;
	font-weight: @bold; // 700
}

.systemtitle3,
.systemtitle4,
.systemtitle5,
.systemtitle6,
.systemtitle7,
.systemtitle8,
.systemtitle9,
.systemtitle10 {
	font-size: 1.125rem;
	color: @eia-dark-grey;
	font-style: italic;
	//text-align: left;
	font-weight: @bold; // 700
}
.systitleandfootercontainer {
	/*
	tr {
		&:first-child {
			td {
				border-top: 1px solid @eia-divider-color;
			}
		}
	}
	*/

	//font-style: italic;
	font-weight: @bold; // 700
	//padding-top: 1px;
	//padding-right: 1px;
	//padding-bottom: 1px;
	//padding-left: 1px;
	//border-width: 0;
	//border-style: solid;
	//border-color: @eia-dark-grey;
	//border-spacing: 0;
	width: 100%;
	//margin-bottom: 0;
}
.top_stacked_value {
	.font;
	padding-bottom: 1px;
}
.middle_stacked_value {
	.font;
	padding-top: 1px;
	padding-bottom: 1px;
}
.bottom_stacked_value {
	.font;
	background-color: transparent;
	.normal;
	padding-top: 1px;
}
.titleandnotecontainer {
	.normal;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	border-width: 0;
	border-style: solid;
	border-color: @eia-dark-grey;
	border-spacing: 1px;
	width: 100%;
}
.titlesandfooters {
	font-style: italic;
	font-weight: @bold; // 700
}
.UserText {
	.normal;
	text-align: left;
}
.WarnContent {
	.normal;
	text-align: left;
}
.WarnContentFixed {
	.normal;
	text-align: left;
}

p.graphLink {
	margin: 0;
	padding-right: 10px;
	a {
		float: right;
		font-weight: @bold; // 700
		&:link {
			float: right;
			font-weight: @bold; // 700
		}
		span {
			width: 22px;
			margin-right: 2px;
			display: inline-block;
			float: left;
			background: url("/global/images/icons/sprites/icon-sprites2.png") no-repeat scroll -2px -4px transparent;
		}
		&:hover {
			span {
				background: url("/global/images/icons/sprites/icon-sprites2.png") no-repeat scroll -32px -4px transparent;
			}
		}
	}
	/*
	~ {
		.table {
			margin-top: 4px;
		}
	}
	*/
}
