html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: var(--base-font-size);
	box-sizing: border-box;
	* {
		box-sizing: border-box;
	}
}
body {
	width: 100%;
	height: 100%;
}
//#secondary {
//	width: 100%;
//}
.feedback-panel {
	width: 100%;
	&--expanded {
		transition: all 0.3s ease-in-out;
		display: inline-block;
	}
	&--collapsed {
		transition: all 0.3s ease-in-out;
		display: none;
	}
}

.beta-feedback {
	h2 {
		.primary-h2();
		font-size: 26px;
		margin-bottom: 6px;
		line-height: 1.4;
	}
	ul,
	li {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	p,
	li {
		.font;
		font-weight: normal;
		color: #333;
		font-size: var(--med); // 14 pixels
		line-height: 1.4;
		margin: 0 0 1em;
	}
	label {
		.font;
		color: #333;
		font-size: var(--med); // 14 pixels
		line-height: 1.4;
		font-weight: @bold; // 700
		padding: 0;
		margin: 0;
		span {
			font-weight: normal;
		}
	}
	input[type="text"],
	input[type="email"],
	input.text,
	input.title,
	textarea,
	select {
		margin: 0 0 0.5em 0;
		width: 300px;
	}
	input[type="text"],
	input[type="email"],
	input.text,
	input.title,
	textarea {
		background-color: #fff;
		border: 1px solid #bbb;
	}
	select {
		background-color: #fff;
		border-width: 1px;
		border-style: solid;
		width: 300px;
	}
	.submit_btn {
		background: url(/global/images/btns/submit.png) no-repeat center left;
		cursor: pointer;
		width: 56px;
		height: 20px;
		border: none;
		text-indent: -99999px;
	}
	.submit_btn:hover {
		background: url(/global/images/btns/submit_over.png) no-repeat center left;
	}
}

@media (min-width: 1px) {
	.l-body-wrapper {
		&.l-full-page {
			header {
				//.navigation {
				//	a {
				//&.logo-beta {
				.logo-beta {
					height: 50px;
					width: 176px;
					padding: 0;
					margin: 0 140px 0 12px;
					background-size: 100% 100%;
					transition: all 0.3s ease-in-out;
				}
				//}
				//}
			}
			.social-fixed {
				display: none;
			}
		}
	}

	.fblink_give {
		width: 130px;
		height: 28px;
		text-indent: -99999px;
		background: url(/global/images/btns/give_feedback_btn_off.png) no-repeat;
		margin: 1px 0 0 0;
		cursor: pointer;
	}
	.fblink_give:hover {
		background: url(/global/images/btns/give_feedback_btn.png) no-repeat;
	}
	#secondary {
		color: #fff;
		padding: 10px 35px;
		margin-top: 1px;
	}

	#pageslide-slide-wrap {
		background-color: #003851;
	}

	#pageslide-content a {
		font-size: var(--xsm); // 12 pixels
		padding: 20px;
	}
	.pageslide-close {
		font-size: var(--xsm); // 12 pixels
		font-weight: @bold; // 700
		padding: 10px !important;
		border: 1px solid #c60;
	}
	.fblink {
		color: #fff;
		display: block;
		width: 65px;
		height: 19px;
		background-color: #003851;
		font-size: var(--xlrg); // 16 pixels
		margin: 1px 0px 0px 0px;
		padding: 4px 10px 7px 10px;
		cursor: pointer;
	}

	.fblink_hide {
		width: 130;
		height: 28px;
		text-indent: -99999px;
		background: url(/global/images/btns/hide_feedback_btn_off.png) no-repeat;
		margin: 1px 0px 0px 0px;
		cursor: pointer;
	}
	.fblink_hide:hover {
		background: url(/global/images/btns/hide_feedback_btn.png) no-repeat;
	}
	#feedcomments {
		display: block;
		overflow: auto;
		padding-right: 4px;
		width: 520px;
		height: 300px;
		blockquote {
			border-top: 1px dashed #0096d7;
			margin: 0 0 2px;
			padding: 12px;
			font-style: italic;
		}
		p {
			margin-bottom: 2px;
			padding-bottom: 0;
		}
	}
	.feedback-comments {
		display: block;
		padding: 8px 0 0 0;
		margin-bottom: 6px;
	}
	.feedback-comments-top,
	.feedback-comments-bottom {
		//display: block;
		//padding: 8px 0 0 0;
		//margin-bottom: 6px;
		h2 {
			.primary-h2();
			font-size: 26px;
			margin-bottom: 6px;
			line-height: 1.4;
		}
		p {
			.font;
			font-weight: normal;
			color: #333;
			font-size: var(--med); // 14 pixels
			line-height: 1.4;
			margin: 0 0 1em;
		}
	}
	.feedback-comments-bottom {
		ul {
			margin-bottom: 1em;
		}
	}
	div {
		&.toggle-feedback-button {
			width: 100%;
			background-color: #dff2fb;
			color: #0096d7;
			padding: 3px 10px;
			font-size: var(--lrg); // 15 pixels
			cursor: pointer;
			box-sizing: border-box;
		}
	}
	.hide_menu {
		border-top: 1px solid #4db6e3;
	}
	.show-feedback:before {
		content: " ";
		height: 12px;
		width: 12px;
		background: url("data:image/svg+xml,%3Csvg%20id%3D%22icon-remove%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2023%2023%22%3E%3Ccircle%20cx%3D%2211.5%22%20cy%3D%2211.5%22%20r%3D%2210.5%22%20fill%3D%22%230096d7%22%20opacity%3D%220%22/%3E%3Cpolygon%20points%3D%2219.3%2016.2%2014.6%2011.5%2019.3%206.8%2016.2%203.7%2011.5%208.4%206.8%203.7%203.7%206.8%208.4%2011.5%203.7%2016.2%206.8%2019.3%2011.5%2014.6%2016.2%2019.3%2019.3%2016.2%22%20fill%3D%22%230096d7%22/%3E%3C/svg%3E")
			no-repeat center center;
		transform: rotate(45deg);
		display: inline-block;
		margin: 0 4px 0 0;
	}
	.hide-feedback:before {
		content: " ";
		height: 12px;
		width: 12px;
		background: url("data:image/svg+xml,%3Csvg%20id%3D%22icon-dash%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2036%2036%22%3E%3Crect%20id%3D%22Rectangle_dash%22%20data-name%3D%22Rectangle%20dash%22%20x%3D%2210%22%20y%3D%2216%22%20width%3D%2216%22%20height%3D%226%22%20fill%3D%22%230096d7%22/%3E%3C/svg%3E")
			no-repeat center center;
		display: inline-block;
		margin: 0 4px 0 0;
	}

	.l-row {
		width: 100%;
		box-sizing: border-box;
		& > div {
			padding: 0;
			&:last-child {
				padding: 0;
			}
		}
		&.l-full-width-col {
			-ms-box-orient: horizontal;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -moz-flex;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			justify-content: space-between;
			display: inline-flex;
			flex-flow: row wrap;
		}
		&.l-two-col-right-wide {
			& > .l-col {
				position: relative;
				min-height: 1px;
				margin: 0;
				float: left;
				width: 100%;
			}
		}
	}
	/*
	    #secondary {
        background-color: #dff2fb;
        padding: 10px 35px;
        margin: 1px 0 0 0;
        color: #333;
        box-sizing: border-box
    }

    #secondary>.l-col:first-child {
        border-right: 1px solid #666
    }

    #secondary h2 {
        margin-bottom: 6px;
        
        font-weight: normal;
        color: #333;
        font-weight: @regular; // 400
        font-size: 26px
    }

    #secondary p {
        .font;
        font-weight: normal;
        color: #333;
        font-size: .875rem;
        line-height: 1.4;
        margin: 0 0 1em
    }

    #secondary li {
        color: #333
	}
	*/
	#secondary {
		background-color: #dff2fb;
		padding: 10px 35px;
		margin: 1px 0 0 0;
		color: #333;
		box-sizing: border-box;
		width: 100%;
		.l-col {
			&:first-child {
				border-right: 1px solid #666;
			}
		}
		h2 {
			margin-bottom: 6px;
			//font-family: "Times New Roman", "Times", serif;

			font-weight: normal;
			color: #333;
			font-weight: @regular; // 400
			font-size: 26px;
		}
		p {
			.font;
			font-weight: normal;
			color: #333;
			font-size: var(--med); // 14 pixels
			line-height: 1.4;
			margin: 0 0 1em;
		}
		li {
			color: #333;
		}
	}

	#feedcomments {
		display: block;
		overflow: auto;
		padding-right: 4px;
		width: 520px;
		height: 300px;
		blockquote {
			margin-top: 0;
			padding-top: 0;
			margin-bottom: 2px;
			p {
				margin: 1em 0 1em;
			}
		}
		p {
			.font;
			font-weight: normal;
			color: #333;
			font-size: var(--med); // 14 pixels
			line-height: 1.4;
			margin: 0 0 1em;
		}
	}
}
@media (min-width: 956px) {
	.l-row {
		&.header {
			padding: 0;
		}
		&.l-two-col-right-wide {
			padding: 0;
			& > .l-col {
				width: 39.666%;
				&:last-child {
					width: 56.333%;
				}
			}
		}
	}
}
