.article {
    .fake-tabs {
        &>ul {
            margin: 0;
        }
    }

    .sub-tabs {
        &>ul {
            margin: 1em 0;
        }
    }
}

.fake-tabs {
    &>ul {
        padding: 0;
        margin: 0;
        width: 100%;
        border-bottom-width: var(--eia-tab-border-bottom-width) solid var(--eia-tab-border-color); // @eia-blue;

        li {
            margin-bottom: 1px;
            position: relative;
            display: inline-block;
            padding: 10px;
            margin: 0;
            bottom: -2px;

            &.tab-nav {
                background-color: transparent;
                border: var(--eia-tab-border-width) solid transparent;

                a {
                    text-transform: uppercase;
                    font-size: var(--lrg);
                }
            }

            &.tab-nav-active {
                background-color: @eia-white;
                border: var(--eia-tab-border-width) solid var(--eia-tab-border-color); // @eia-blue;
                border-bottom-color: var(--eia-tab-border-color-active);

                a {
                    font-size: var(--lrg);
                }
            }
        }

        &.responsive {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            margin: 0;
            padding: 0;
            list-style: none;
            border-bottom-width: 0;

            li {
                position: unset;
                flex-grow: 1;
                margin-right: 0;
                margin-left: 0;
                display: flex;

                &.tab-nav {
                    border-bottom: var(--eia-tab-border-bottom-width) solid var(--eia-tab-border-color); // @eia-blue;
                }
            }
        }
    }
}

@media (min-width: 1px) {
    .fake-tabs {

        &+h1,
        &+h2,
        &+h3 {
            margin-top: 1em;
        }

        &>ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;

                &.tab-nav {
                    a {
                        //text-transform: uppercase;
                        font-size: 0.938rem;
                    }
                }

                &.tab-nav-active {
                    a {
                        //text-transform: uppercase;
                        cursor: default;
                    }
                }
            }
        }
    }
}

@media (min-width: 801px) {
    .article {
        .fake-tabs {
            &>ul {
                margin: 0;
            }
        }

        .sub-tabs {
            &>ul {
                margin: 1em 0;
            }
        }
    }

    .fake-tabs {
        &>ul {
            padding: 0;
            margin: 0;
            width: 100%;
            border-bottom: 1px solid @eia-blue;

            li {
                margin-bottom: 1px;
                position: relative;
                display: inline-block;
                padding: 10px;
                margin: 0;
                bottom: -2px;

                &.tab-nav {
                    background-color: transparent;
                    border-top: 1px solid transparent;
                    border-right: 1px solid transparent;
                    border-bottom: 1px solid transparent;
                    border-left: 1px solid transparent;

                    a {
                        //text-transform: uppercase;
                        font-size: 0.9375rem;
                    }
                }

                &.tab-nav-active {
                    background-color: @eia-white;
                    border-top: 1px solid @eia-blue;
                    border-right: 1px solid @eia-blue;
                    border-bottom: 1px solid @eia-white;
                    border-left: 1px solid @eia-blue;
                }
            }

            &.responsive {
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-start;
                margin: 0;
                padding: 0;
                list-style: none;
                border-bottom: none;

                li {
                    position: unset;
                    flex-grow: 1;
                    margin-right: 0;
                    margin-left: 0;
                    display: flex;

                    &.tab-nav {
                        border-bottom: 1px solid @eia-blue;
                    }
                }
            }
        }
    }
}