[class*="tabs"] {
    .highlight {
        border-top: 1px dashed @eia-divider-color;
        background-color: #f5fbfd;
        border-bottom: 1px dashed @eia-divider-color;

        >li {
            list-style: none;
            padding: 0 27px;

            &:first-child {
                padding-top: 12px;
            }

            &:last-child {
                padding-bottom: 12px;
            }
        }

        .form-container,
        .dropdown-menu {
            width: 150px;
        }

        .form-container {
            padding: 8px 0 0 0;
            display: table;
        }

        span {
            &.inline {
                white-space: preserve nowrap;
                margin: 0;

                .ico {
                    margin: 0 0 0 4px;

                    span {
                        display: none;
                    }
                }
            }
        }
    }
}