.tabs {
	& > ul {
		border-bottom: 1px solid @eia-blue;
		//list-style: none;
		li {
			padding: 10px;
			margin: 0;
			bottom: -1px;
			&:first-child {
				padding: 10px;
				margin-left: 22px;
			}
			&:last-child {
				padding: 10px;
			}
		}
	}
}

.tabs {
	& > ul {
		padding: 0;
		margin: 0;
		width: 100%;
		li {
			list-style: none;
			border-top: none;
			border-right: 1px solid #999;
			border-bottom: none;
			border-left: none;
			margin-bottom: 1px;
			position: relative;
			padding: 0 6px;
			float: none;
			flex: none;
			display: inline-block;
			&:first-child {
				padding-left: 6px;
			}
			&:last-child {
				border-right: none;
				padding-right: 6px;
			}
		}
	}
	/*
	.tab-content {
		font-size: var(--xsm); // 12 pixels
		padding: 0;
		margin: 0;
		width: 100%;
		& > p,
		& > ul,
		& > ol,
		& > h1,
		& > h2,
		& > h3,
		& > h4,
		& > h5,
		& > h6 {
			padding: 14px 0;
			//	margin: 0 0 0 20px; this doesn't work for secondary and -alt
		}
		& > ol {
			margin: 5px 0 0 36px;
			li {
				margin-bottom: 5px;
			}
		}
		& > ul {
			&:last-child {
				margin-bottom: 26px;
			}
			&.bullet {
				margin: 5px 0 0 36px;
				li {
					margin-bottom: 5px;
					list-style: disc;
				}
			}
			li {
				list-style: none;
				margin: 0 0 5px 0;
				&.head {
					margin-top: 12px;
					&:first-child {
						margin-top: 0;
					}
				}
				ul {
					margin: 20px;
					padding: 14px 0;
					&.bullet {
						margin-left: 22px;
						margin-top: 5px;
						li {
							margin-bottom: 5px;
							list-style: disc;
						}
					}
					li {
						list-style: disc;
					}
				}
			}
		}
	}
	*/
}