.sub-tabs {
    &>ul {
        padding: 0 0 0 20px;

        &>li {
            width: auto;
            padding: 0;

            &.sub-tab-nav {
                bottom: 0;
                background-color: @eia-white;
                padding: 0;
                border: none;
            }

            &.sub-tab-nav-active {
                border: none;
                cursor: default;
                padding: 0;
                background-color: @eia-white;

            }
        }
    }
}


@media (min-width: 1px) {
    .sub-tabs {
        width: 100%;
        border-bottom: 1px solid @eia-blue;
        margin: 0 0 1em 0;

        &>ul {
            margin: 1em 0;
            padding: 0;

            &>li {
                width: 100%;
                padding: 5px 12px;
                margin: 0;
            }
        }
    }

    .sub-tabs {
        width: 100%;
        border-bottom: var(--eia-tab-border-bottom-width) solid var(--eia-tab-border-color);
        margin: 0 0 1em 0;

        &>ul {
            margin: 1em 0;
            padding: 0;

            &>li {
                width: 100%;
                padding: 5px 12px;
                margin: 0;
            }
        }
    }
}

@media (min-width: 801px) {
    .article {
        .fake-tabs {
            &>ul {
                margin: 0;
            }
        }

        .sub-tabs {
            &>ul {
                margin: 1em 0;
            }
        }
    }

    .sub-tabs {
        &>ul {
            padding: 0 0 0 20px;

            &>li {
                width: auto;
                padding: 0;

                &.sub-tab-nav {
                    bottom: 0;
                    background-color: #fff;
                    padding: 0;
                    border: none;
                }

                &.sub-tab-nav-active {
                    border: none;
                    cursor: default;
                    padding: 0;
                    background-color: white;
                }
            }
        }
    }
}