@media (min-width: 1px) {
    .tabs {
        .tab-content {
            font-size: 0.75rem;
            padding: 0;
            margin: 0;
            width: 100%;

            &>p,
            &>ul,
            &>ol,
            &>h1,
            &>h2,
            &>h3,
            &>h4,
            &>h5,
            &>h6 {
                padding: 14px 0;
            }

            &>ol {
                margin: 5px 0 0 36px;

                li {
                    margin-bottom: 5px;
                }
            }

            &>ul {
                &:last-child {
                    margin-bottom: 26px;
                }

                &.bullet {
                    margin: 5px 0 0 36px;

                    li {
                        margin-bottom: 5px;
                        list-style: disc;
                    }
                }

                li {
                    list-style: none;
                    margin: 0 0 5px 0;

                    ul {
                        margin: 20px;
                        padding: 14px 0;

                        &.bullet {
                            margin-left: 22px;
                            margin-top: 5px;

                            li {
                                margin-bottom: 5px;
                                list-style: disc;
                            }
                        }

                        li {
                            list-style: disc;
                        }
                    }
                }
            }
        }
    }

    .article {
        [class^='tab'] {
            .tab-content {
                >* {
                    padding: 1em 0;
                }

                &>ol {
                    margin: 5px 0 0 36px;

                    li {
                        margin-bottom: 5px;
                    }
                }

                &>ul {
                    &:last-child {
                        margin-bottom: 26px;
                    }

                    &.bullet {
                        margin: 5px 0 0 36px;

                        li {
                            margin-bottom: 5px;
                            list-style: disc;
                        }
                    }

                    li {
                        ul {
                            margin: 20px;
                            padding: 14px 0;

                            &.bullet {
                                margin-left: 22px;
                                margin-top: 5px;

                                li {
                                    margin-bottom: 5px;
                                    list-style: disc;
                                }
                            }

                            li {
                                list-style: disc;
                            }
                        }
                    }
                }
            }
        }
    }
}



.tab-content ul:has(+ .list-header) {
    border-bottom-color: transparent;
}

.tab-content .list-header:has(+ ul) {
    border-bottom: 2px solid #189bd7;
}





.tab-content {
    margin: 0 20px;
    width: calc(100% - 40px);
    font-size: var(--base-font-size);

    .teriary-navigation {
        border-bottom: none !important;
    }

    .teriary-navigation+.teriary-navigation {
        margin-top: 0;
        padding-top: 0;
    }

    h1 {
        font-size: 1.5rem;
        margin: .5em 0;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        &:hover {
            background-color: transparent;
        }
    }

    h2 {

        border-bottom-color: transparent;
        padding-top: 0.5em;
    }

    &>ol {
        padding: 14px 0;
        margin: 5px 0 0 22px;



        li {
            margin-bottom: 5px;

        }
    }

    &>ul {
        &:has(+ .list-header) {
            border-bottom-color: transparent;
        }

        padding: 1em 0 1.5em;
        //margin: 0;
        //}

        //&>ul {
        margin: 0;
        //padding: 15px 0;
        border-bottom: 1px dashed @eia-dash-color;

        &:last-child {
            border-bottom: none;
            margin-bottom: 1.5em;
        }

        >li {

            list-style: none; // disc;

            li {
                margin: 3px 0 0 17px;
                list-style: disc;
            }
        }

        ul {

            margin: 0;
            padding: .5em 0 0 0;

            ul {


                padding: .5em 0 0 0;
            }




            &.bullet {
                margin-left: 22px;
                margin-top: 5px;

                li {

                    margin-bottom: 5px;
                    list-style: disc;
                }
            }

            li {
                &.head {
                    h3 {
                        border-top: none;
                    }
                }
            }
        }
    }

    &>ol {
        padding: 14px 0;





    }

    .numbered {
        &>li {
            padding-left: 80px;

            .number {
                width: 80px;
            }
        }
    }

    /*
        font-size: 0.75rem;
        padding: 0;
        margin: 0;
        width: 100%;

        >* {
            padding: 1em 0;
        }

        
        
        

        &>ol {
            
            
            
            
            
            margin: 5px 0 0 36px;

            li {
                margin-bottom: 5px;
            }
        }

        &>ul {
            &:last-child {
                margin-bottom: 26px;
            }

            
            

            
            
            
            
            

            li {
                margin: 3px 0 0 17px;
                list-style: disc;
                /*
				ul {
                    margin: 20px;
                    padding: 14px 0;

                    &.bullet {
                        margin-left: 22px;
                        margin-top: 5px;

                        li {
                            margin-bottom: 5px;
                            list-style: disc;
                        }
                    }

                    li {
                        list-style: disc;
                    }
                }
            }
        }
		*/
}