@import './eia-tabs';
@import './fake-tabs';
@import './highlight';
@import './overides';
@import './shared';
@import './sub-tabs';
@import './tab-content';




.tab {
    display: table;
    width: 100%;
    clear: both;
}

@media (min-width: 1px) {
    .article {
        .tabs {
            &>ul {
                padding: 0;
                margin: 0;
                width: 100%;

                li {
                    list-style: none;
                    border-top-width: 0;
                    border-right: var(--eia-tab-border-width) solid @tab-border-color-dark;
                    border-bottom-width: 0;
                    border-left-width: 0;
                    margin-bottom: 1px;
                    position: relative;
                    padding: 0 6px;
                    float: none;
                    flex: none;
                    display: inline-block;

                    &:first-child {
                        padding-left: 6px;
                    }

                    &:last-child {
                        border-right: none;
                        padding-right: 6px;
                    }
                }
            }
/*
            .tab-content {
                >* {
                    padding: 1em 0;
                }

                &>ol {
                    margin: 5px 0 0 36px;

                    li {
                        margin-bottom: 5px;
                    }
                }

                &>ul {
                    &:last-child {
                        margin-bottom: 26px;
                    }

                    &.bullet {
                        margin: 5px 0 0 36px;

                        li {
                            margin-bottom: 5px;
                            list-style: disc;
                        }
                    }

                    li {
                        ul {
                            margin: 20px;
                            padding: 14px 0;

                            &.bullet {
                                margin-left: 22px;
                                margin-top: 5px;

                                li {
                                    margin-bottom: 5px;
                                    list-style: disc;
                                }
                            }

                            li {
                                list-style: disc;
                            }
                        }
                    }
                }
            }
				*/
/*
            &.highlight {
                border-top: 1px dashed @eia-divider-color;
                background-color: #f5fbfd;
                border-bottom: 1px dashed @eia-divider-color;
                margin: 0;
                padding: 0;
                width: 100%;
                display: table;

                &>li {
                    list-style: none;
                    padding: 0 27px;

                    &:first-child {
                        padding-top: 12px;
                    }

                    &:last-child {
                        padding-bottom: 12px;
                    }
                }

                .form-container,
                .dropdown-menu {
                    width: 150px;
                }

                .form-container {
                    padding: 8px 0 0 0;
                    display: table;
                }

                span {
                    &.inline {
                        @eia-white-space: nowrap;
                        margin: 0;

                        .ico {
                            margin: 0 0 0 4px;

                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
*/
            ul {
                &.numbered {
                    li {
                        span {
                            &.number {
                                display: inline-block;

                                &.mer {
                                    color: #999;
                                }

                                &.aer {
                                    color: black;
                                }
                            }
                        }
                    }
                }

                &.calculated-numbered,
                &.numbered {
                    li {
                        list-style: none;
                    }
                }

                &.calculated-numbered {
                    width: 100%;

                    &>li {
                        position: relative;

                        span {
                            &.number {
                                position: absolute;
                                top: 0;
                                left: 0;
                                @eia-white-space: nowrap;
                            }
                        }
                    }
                }

                &.numbered {
                    width: 100%;

                    &>li {
                        position: relative;
                        width: 100%;

                        span {
                            &.number {
                                position: absolute;
                                top: 0;
                                left: 0;
                                @eia-white-space: nowrap;
                            }
                        }

                        &>ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;

                            &.sub-list,
                            &.list-spacer {
                                list-style: none;
                                margin: 0;
                            }

                            &>li {
                                list-style: none;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .tabs {
        &>ul {
            padding: 0;
            margin: 0;
            width: 100%;

            li {
                list-style: none;
                border-top: none;
                border-right: var(--eia-tab-border-width) solid @tab-border-color-dark;
                border-bottom: none;
                border-left: none;
                margin-bottom: 1px;
                position: relative;
                padding: 0 6px;
                float: none;
                flex: none;
                display: inline-block;

                &:first-child {
                    padding-left: 6px;
                }

                &:last-child {
                    border-right: none;
                    padding-right: 6px;
                }
            }
        }



        

        ul {
            &.numbered {
                li {
                    span {
                        &.number {
                            display: inline-block;

                            &.mer {
                                color: #999;
                            }

                            &.aer {
                                color: black;
                            }
                        }
                    }
                }
            }

            &.calculated-numbered,
            &.numbered {
                li {
                    list-style: none;
                }
            }

            &.calculated-numbered {
                width: 100%;

                &>li {
                    position: relative;

                    span {
                        &.number {
                            position: absolute;
                            top: 0;
                            left: 0;
                            @eia-white-space: nowrap;
                        }
                    }
                }
            }

            &.numbered {
                width: 100%;

                &>li {
                    position: relative;
                    width: 100%;

                    span {
                        &.number {
                            position: absolute;
                            top: 0;
                            left: 0;
                            @eia-white-space: nowrap;
                        }
                    }

                    &>ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        &.sub-list,
                        &.list-spacer {
                            list-style: none;
                            margin: 0;
                        }

                        &>li {
                            list-style: none;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .tabs {
        &>ul {
            padding: 0;
            margin: 0;

            li {
                &.ui-state-default {
                    a {
                        text-transform: uppercase;
                        font-size: var(--lrg);
                    }

                    &.ui-state-active {
                        a {
                            cursor: default;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 801px) {
    .article {
        .tabs {
            &>ul {
                border-bottom: var(--eia-tab-border-bottom-width) solid var(--eia-tab-border-color);

                li {
                    padding: 10px;
                    margin: 0;
                    bottom: var(--eia-tab-border-bottom-margin);

                    &:first-child {
                        padding: 10px;
                        margin-left: 22px;
                    }

                    &:last-child {
                        padding: 10px;
                    }
                }
            }
        }
    }

    .tabs {
        &>ul {
            border-bottom: var(--eia-tab-border-bottom-width) solid var(--eia-tab-border-color);

            li {
                padding: 10px;
                margin: 0;
                bottom: var(--eia-tab-border-bottom-margin);

                &:first-child {
                    padding: 10px;
                    margin-left: 22px;
                }

                &:last-child {
                    padding: 10px;
                }
            }
        }
    }
}

.tabs {
    &>ul {
        li {
            &.ui-state-default {
                background-color: transparent;
                border: var(--eia-tab-border-width) solid transparent;

                a {
                    text-transform: uppercase;
                    font-size: var(--lrg);
                }

                &.ui-state-active {
                    background-color: @eia-white;
                    border: var(--eia-tab-border-width) solid var(--eia-tab-border-color);
                    border-bottom-color: var(--eia-tab-border-color-active);
                }
            }
        }
    }
}