@media (min-width: 1px) {
    .energy-education {
        margin: 0 0 .5em; // margin-bottom: 1.5em;
        //display: table; // not needed
        width: 100%;

        &>div {
            margin-bottom: 1.5em;
        }

        h1 {
			.primary-h1();
        }

        img {
            margin: 0 auto 0 auto;
            height: 94px;
            float: none;
            clear: both;
        }

        i,
        span {
            .left;
            width: 75px;
            height: 66px;
            margin: 0;

            &.ico {
                &.energy-education {
                    .left;
                    width: 66px;
                    height: 75px;

                    &.faq {
                        &::before {
                            .icon-faq(@fill-color: @eia-darker-blue, @fill-color-lt: @eia-blue);
                            .nav-bar-icon(75px, 66px);
                            background-size: 90%;
                            border: none;
                            border-radius: 0;
                        }
                    }

                    &.petroleum {
                        &::before {
                            .icon-petroleum(@fill-color: @eia-brown);
                            .nav-bar-icon(75px, 66px);
                            background-size: 90%;
                            margin-left: 0;
                            border: none;
                            border-radius: 0;
                        }
                    }

                    &.energy-kids {
                        background: url(/global/images/energy-education/energy-kids.png) no-repeat right;
                        background-size: 68%;
                        margin-right: 11px;
                    }

                    &.natural-gas {
                        &:before {
                            .icon-natural-gas(@fill-color: @eia-blue);
                            .nav-bar-icon(75px, 66px);
                            background-size: 90%;
                            margin-left: 0;
                            border: none;
                            border-radius: 0;
                        }
                    }

                    &.bio-fuel {
                        background: url(/global/images/energy-education/bio-fuel.png) no-repeat;
                    }

                    &.coal {
                        &:before {
                            .icon-coal(@fill-color: @eia-dark-grey, @fill-color-lt: shade(@eia-brown, 30%)); //  #7a6b4d
                            .nav-bar-icon(75px, 66px);
                            background-size: 90%;
                            margin-left: 0;
                            border: none;
                            border-radius: 0;
                            background-position-y: 45%;
                        }
                    }

                    &.consumption {
                        &:before {
                            .icon-consumption(@fill-color: @eia-green);
                            .nav-bar-icon(75px, 66px);
                            background-size: 90%;
                            margin-left: 0;
                            border: none;
                            border-radius: 0;
                        }
                    }

                    &.environment {
                        &:before {
                            .icon-environment(@fill-color: @eia-dark-green, @fill-color-lt: @eia-yellow);
                            .nav-bar-icon(75px, 66px);
                            background-size: 90%;
                            margin-left: 0;
                            border: none;
                            border-radius: 0;
                            background-position-y: 45%;
                        }
                    }

                    &.electricity {
                        &:before {
                            .icon-electricity(@fill-color: @eia-yellow);
                            .nav-bar-icon(75px, 66px);
                            background-size: 90%;
                            margin-left: 0;
                            border: none;
                            border-radius: 0;
                        }
                    }

                    &.nuclear {
                        &:before {
                            .icon-nuclear(@fill-color: @eia-red);
                            .nav-bar-icon(75px, 66px);
                            //background-size: 90%;
                            margin-left: 0;
                            border: none;
                            border-radius: 0;
                        }
                    }

                    &.renewable {
                        &:before {
                            .icon-renewable(@fill-color: @eia-green);
                            .nav-bar-icon(75px, 66px);
                            background-size: 90%;
                            margin-left: 0;
                            border: none;
                            border-radius: 0;
                        }
                    }

                    &.eib {
                        background: url(/global/images/energy-education/eib.png) no-repeat;
                    }
                }
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 0 90px;
            border: 1px solid white;

            li {
                &.head {
                    padding: 0 0 2px 0;
                    margin-top: 4px;
                    text-align: center;

                    h2 {
                        //.font;
                        font-weight: @bold; // 700
                        color: @eia-dark-blue;
                        line-height: 1.2;
                        text-transform: uppercase;
                        font-size: .9375rem; //15px
                        .align-left;
                        border-bottom: none;

                        a {
                            //.font;
                            font-weight: @bold; // 700
                            color: @eia-dark-blue;
                            line-height: 1.2;
                            text-transform: uppercase;
                            font-size: .9375rem; //15px
                            .align-left;
                            display: inline-block;
                            text-decoration: none;
                            z-index: 999;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                &.sub-head {
                    //.font;
                    font-size: @small; // 13 pixels
                    line-height: 1.5;
                    color: @eia-dark-grey;
                    .align-left;
                    .italic;
                    font-weight: @light; // 300

                    a {
                        //.font;
                        font-size: @small; // 13 pixels
                        line-height: 1.5;
                        color: @eia-dark-grey;
                        display: inline-block;
                        text-decoration: none;
                        z-index: 999;
                        font-weight: @light; // 300

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                &.foot {
                    margin-top: 8px;
                    .align-left;

                    a {
                        //.font;
                        font-weight: @bold; // 700
                        font-size: .750rem; // 12px
                        line-height: 1.375em; // 22px
                        display: inline-block;
                        color: @eia-508-link-color;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }

                        &:after {
                            content: "\00a0\203A";
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 600px) {
    .l-row {
        &.energy-education {
            &.l-three-col-even {
                &>div {
                    margin-bottom: 0;

                    &.l-col {
                        // 33.333%
                        width: 31.333%;

                        ul {
                            margin: 0 0 0 80px;
                        }
                    }
                }

                .l-col {
                    &:nth-child(2) {
                        &:before {
                            border-right: 1px solid shade(white, 17%);
                            //border-right: 1px solid red;
                            content: "";
                            position: relative;
                            top: 0;
                            bottom: 10px;
                            right: -16px;
                            height: 100%;
                            float: right;
                        }
                    }

                    &:nth-child(4) {
                        &:before {
                            border-left: 1px solid shade(white, 17%);
                            //border-left: 1px solid red;
                            content: "";
                            position: relative;
                            top: 0;
                            bottom: 10px;
                            left: -16px;
                            height: 100%;
                            float: left;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 801px) {
    .energy-education {
        margin-bottom: 2em;
    }
}