/* $$$$$       $$$$$ $$$$$$$$$$$$$$$ */
/*  $$$$$     $$$$$  $$$$$$$$$$$$$$$ */
/*   $$$$$   $$$$$   $$$$$           */
/*    $$$$$ $$$$$    $$$$$           */
/*     $$$$$$$$$     $$$$$$$$$$$$$$$ */
/*     $$$$$$$$$     $$$$$$$$$$$$$$$ */
/*    $$$$$ $$$$$              $$$$$ */
/*   $$$$$   $$$$$             $$$$$ */
/*  $$$$$     $$$$$  $$$$$$$$$$$$$$$ */
/* $$$$$       $$$$$ $$$$$$$$$$$$$$$ */

@media (min-width: 1px) {

    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** ***** ***** ** full-page  *** ***** ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

    .l-full-width-page {
        width: 100%;

        &.dashboard-container {
            hr {
                display: none;
            }
        }

        .page-nav {
            width: 100%;
            margin: 20px 0 1.45em 0;
            display: inline-block;
            border-bottom: 1px solid @eia-blue;

            ul {
                ul {
                    li {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                    }
                }


                .left {
                    ul {
                        margin: 2px 0 0 22px;

                        li {
                            float: left;
                            background-color: @eia-white;
                            padding: 10px 10px 10px 10px;



                            a {
                                line-height: 1.0;
                                text-transform: uppercase;
                                font-size: @xSmall; // 12 pixels
                                font-weight: @mediumBold;
                            }

                            &.active {
                                border: 1px solid @eia-blue;
                                border-bottom: 1px solid @eia-white;
                                position: relative;
                                margin-bottom: -1px;

                            }
                        }
                    }
                }
            }
        }
    }

    .no-sub-navigation {
        margin: 0 0 .5em 0;
    }

    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** ***** *** sub-navigation  *** ***** ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    .sub-navigation {
        font-size: @baseFontSize;
        margin: 1em;
        padding: 0;
        width: 100%;

        display: flex; // added
        flex-direction: row; // required for the icon to align right;
        justify-content: space-between; // added

        .left-nav {
            display: flex;
            align-items: stretch; // height 100%
            align-self: flex-start; //flex-direction: row;
            height: 100%;
            margin: 0;

            &>li {
                list-style: none;
                margin: 0;
                padding-left: 1em;
                padding-right: 1em;
                border-right: 1px solid shade(white, 7.0%);
                display: flex;
                align-items: stretch; // height 100%
                height: 100%;

                &:first-child {
                    padding-left: 0;
                }

                //&:first-child {
                //    padding-right: 0;
                //    border-right: none;
                //}

                li {
                    list-style: none;
                    margin: 0;
                    padding: 8px 0;
                    text-align: left;
                }




                a {
                    font-size: @xSmall; // 12 pixels
                    font-weight: @mediumBold;
                    display: flex; // added
                    flex-direction: row; // required for the icon to align right;
                    align-items: center; // added
                    text-transform: uppercase;

                    .ico {
                        display: none;
                    }
                }

                &.active {
                    a {
                        .ico {
                            display: none;
                        }
                    }
                }
            }

            .dropdown-data-content,
            .dropdown-analysis-projections-content {
                display: none;

                a {
                    text-transform: unset;
                }

            }
        }

        .left {
            &>li {
                &.hide-from-mobile {
                    display: none;
                }

                padding: 0 6px 0 0;
                margin: 0 0 0 12px;

                &:last-child {
                    border-right: none;
                }
            }
        }


        .right {
            display: none;
        }
    }
}

/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$$     $$$$$$ */
/* $$$$$           $$$$$$$   $$$$$$$ */
/* $$$$$           $$$$$$$$ $$$$$$$$ */
/* $$$$$$$$$$$$$$  $$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$  $$$$$ $$$$$ $$$$$ */
/*          $$$$$  $$$$$  $$$  $$$$$ */
/*          $$$$$  $$$$$   $   $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */

@media (min-width: 480px) {
    .sub-navigation {
        .left-nav {
            &>li {
                a {
                    font-size: @xSmall; // 12 pixels
                    //font-size: @large; // 15 pixels // this is the correct size. The mobile size is smaller to fit in the mobile resolution
                }
            }
        }
    }
}

/* $$$$$       $$$$$ */
/* $$$$$$     $$$$$$ */
/* $$$$$$$   $$$$$$$ */
/* $$$$$$$$ $$$$$$$$ */
/* $$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$ */
/* $$$$$ $$$$$ $$$$$ */
/* $$$$$  $$$  $$$$$ */
/* $$$$$   $   $$$$$ */
/* $$$$$       $$$$$ */
/* $$$$$       $$$$$ */

@media (min-width: 600px) {}

/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$ */

@media (min-width: 801px) {}



@media (min-width: 1025px) {
    .no-sub-navigation {
        margin: 0 0 26px 0;
    }

    body {
        &:not(.tie-theme) {
            .sub-navigation {

                .left,
                .right {
                    position: absolute;
                    height: 30px;
                }

                .right {
                    order: 2;
                    margin: 0 12px 0 0;
                    display: flex;
                    align-items: stretch; // height 100%;
                    align-self: flex-end; //flex-direction: row;
                    height: 100%;
                    text-transform: uppercase;

                    span {
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                    }
                }
            }
        }
    }

    .sub-navigation {
        height: 30px;
        background: shade(white, 10.2%);
        .gradient(@stops: rgba(254, 254, 254, 1) 0, rgba(252, 252, 252, 1) 50%, rgba(244, 244, 244, 1) 90%, #eeeeee 100%; );
        border-bottom: 1px solid fade(@eia-black, 45%);
        //padding: 0 0 .5em 0;
        //margin: .5em 0 0 0;
        padding: 0; // added
        margin: 0 0 26px 0;
        position: relative;
        // messes up energy


        .left {
            left: 0;
        }

        .right {
            right: 0;
        }

        .left-nav {
            margin-left: 12px;
            //            padding-left: 0;
            //            padding-right: 0;

            &>li {
                border-bottom: none;
                padding: 0;

                &>a {
                    padding: 3px 14px 0 14px; // moved padding here 8 + 6 = 14
                    margin: 0;
                    border-bottom: 0 solid transparent;
                    border-image: none;
                    text-decoration: none;
                    font-size: @xSmall; // small
                    font-weight: @mediumBold;
                }

            }

            &>li {
                &>a {
                    .ico {
                        display: flex;
                        margin-left: 4px;

                        &.sort-up {
                            &:before {
                                .controls-icon(12px, 10px);
                                .icon-d-arrow(@fill-color: @eia-blue);
                            }
                        }
                    }
                }

                &:hover {
                    background: @eia-blue;


                    a {
                        color: #fff;

                        .ico {
                            &.sort-up {
                                &:before {
                                    .icon-d-arrow(@fill-color: @eia-darker-blue);
                                }
                            }
                        }
                    }
                }

                &.active {
                    background-color: @eia-white;
                    border-top: 2px solid @eia-darker-blue;
                    border-right: 1px solid fade(@eia-black, 45%);
                    border-left: 1px solid fade(@eia-black, 45%);
                    border-bottom: none;

                    a {
                        border-bottom: none;


                        .ico {
                            display: inline-block;
                            margin-left: 4px;

                            &.sort-up {
                                &:before {
                                    .icon-d-arrow(@fill-color: @eia-darker-blue);
                                }
                            }
                        }

                        &:hover {
                            .ico {
                                &.sort-up {
                                    &:before {
                                        .icon-d-arrow(@fill-color: @eia-darker-blue);
                                    }
                                }
                            }

                        }
                    }

                    &:hover {
                        background: @eia-blue;

                        a {
                            .ico {
                                &.sort-up {
                                    &:before {
                                        .icon-d-arrow(@fill-color: @eia-darker-blue);
                                    }
                                }
                            }
                        }
                    }
                }

                /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
                /* ***** ***** ***** *****  dropdowns  ***** ***** ***** ***** */
                /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
                .dropdown-analysis-projections-content,
                .dropdown-data-content {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    z-index: 1;

                    a {
                        font-size: @xSmall;
                        font-weight: @regular;
                        color: @eia-508-link-color;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .dropdown-data-content {
                    width: 300px;
                }

                .dropdown-analysis-projections-content {
                    width: 650px;

                    h4 {
                        margin: 12px 0 6px 0;
                        padding-bottom: 2px;
                        border-bottom: 1px solid @eia-divider-color;
                        font-size: @xSmall;
                        font-weight: @semiBold;
                        height: 30px;
                    }
                }


                .dropdown-content {
                    margin: 0;
                    border-top: 3px solid @eia-blue;
                    z-index: 200;
                    position: absolute;
                    background-color: @eia-white;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    padding: 6px 16px 12px;
                    position: absolute;
                    top: 30px;
                    z-index: 200;
                    /*
li {
	a {
		padding: 5px 0;
		text-transform: none;
		font-size: @xSmall; // 12 pixels
		display: block;
		height: auto;
	}
}
*/


                }

                /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
                /* ***** ***** ***** *** dropdown hovers *** ***** ***** ***** */
                /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
                &.dropdown-analysis-projections {
                    &:hover {
                        .dropdown-analysis-projections-content {
                            display: block;
                        }
                    }
                }

                &.dropdown-data {
                    position: relative;

                    &:hover {
                        .dropdown-data-content {
                            display: block;
                        }
                    }
                }



                a {
                    &:focus {
                        .ico {
                            &.sort-up {
                                &:before {
                                    .icon-d-arrow(@fill-color: @eia-white) !important;
                                }
                            }
                        }
                    }
                }
            }
        }


        .right {
            order: 2;
            margin: 0 12px 0 0;

            //text-transform: uppercase;
            span {
                a {
                    margin-left: 14px;
                    margin-right: 14px;
                    border-image: none;
                    padding-top: 3px; // moved padding here 8 + 6 = 14
                    text-decoration: none;
                    font-size: @xSmall; // xxSmall
                    font-weight: @mediumBold;
                    border-bottom: 2px solid transparent;
                    text-transform: uppercase;


                }

            }

            a {

                /*
                margin-left: 14px;
                margin-right: 14px;
                border-image: none;
                padding-top: 3px; // moved padding here 8 + 6 = 14
                text-decoration: none;
                font-size: @xSmall; // xxSmall
                font-weight: @mediumBold;
                border-bottom: 2px solid transparent;
                text-transform: uppercase;
*/
                &:hover {
                    text-decoration: none;
                }

                &:after {
                    content: "\00a0\203A";
                }
            }
        }
    }
}