@media (min-width: 1px) {
    ul {
        &.updated-data-series {

            li {
                //a {
                //position: relative;
                //padding-left: 100px;

                span {
                    &.date {
                        //position: absolute;
                        //top: 0;
                        //left: 0;
                        //width: 80px;
                        margin-right: 0;
                        display: inline-block;
                        font-variant-numeric: tabular-nums;
                    }
                }

                &.head {
                    padding-left: 0;

                    h2 {
                        padding: 0;
                        margin: 0 0 7px 0;
                        color: @eia-dark-grey;
                        border-bottom: 1px solid shade(white, 40%);
                        .font;
                        font-weight: @bold; // 700
                        font-size: @large; // 15 pixels // 15 pixels
                        text-transform: uppercase;
                    }
                }

                a {
                    &.pdf {
                        position: relative;
                        list-style: none;

                        &:after {
                            //.icon-file-type(pdf);
                            //.controls-icon(15px, 16px);
                            display: inline-block;
                            position: relative;
                            top: 2px;
                            margin: -2px 0 0 0;
                        }

                        &:before {
                            //.icon-file-type(pdf);
                            //.controls-icon(15px, 16px);
                            display: none;
                        }
                    }

                    &.xls {
                        position: relative;
                        list-style: none;

                        &:after {
                            //.icon-file-type(xls);
                            //.controls-icon(15px, 16px);
                            display: inline-block;
                            position: relative;
                            top: 2px;
                            margin: -2px 0 0 0;
                        }

                        &:before {
                            //.icon-file-type(pdf);
                            //.controls-icon(15px, 16px);
                            display: none;
                        }
                    }

                    &.csv {
                        position: relative;
                        list-style: none;

                        &:after {
                            //.icon-file-type(csv);
                            //.controls-icon(15px, 16px);
                            display: inline-block;
                            position: relative;
                            top: 2px;
                            margin: -2px 0 0 0;
                        }

                        &:before {
                            //.icon-file-type(pdf);
                            //.controls-icon(15px, 16px);
                            display: none;
                        }
                    }

                    /*
					&.interactive {
						position: relative;
						list-style: none;
						margin: -2px 0 0 0;
						&:after {
							.icon-file-type(interactive);
							.controls-icon(15px, 16px);
						}
					}
					*/
                }
            }
        }
    }
}