@media (min-width: 1px) {
    .overview {
        div {
            &[class*="basic"] {
                margin-bottom: 0;
            }
        }

        //overflow-y: hidden;
        #overviewSideNavOptions {
            //.font;
            font-size: var(--lrg); // 15 pixels // 15 pixels
            margin-bottom: 15px;
            display: block;
            color: tint(@eia-black, 60%);
            text-transform: uppercase;

            .rpt_category {
                margin: 0;
                padding: 0;
                cursor: pointer;

                &.active {
                    color: @eia-508-link-color;
                    border-bottom: 2px solid @eia-blue;
                }

                &.hover {
                    color: @eia-508-link-color;
                    border-bottom: 2px solid @eia-blue;
                }
            }

            .v_divider {
                font-size: var(--med); // 14 pixels // 14 pixels
                color: @eia-dash-color;
                ;
                line-height: 1;
            }
        }

        .analysis-projections {
            margin-bottom: 2em; // margin-bottom: 3em;

            h1 {
                .primary-h1();
            }

            .analysis-projections-selector {
                //.font;
                font-size: var(--lrg); // 15 pixels // 15 pixels
                margin-bottom: 5px;
                display: block;
                color: tint(@eia-black, 60%);
                text-transform: uppercase;

                .rpt_category {
                    margin: 0;
                    padding: 0;
                    cursor: pointer;

                    &.active {
                        color: @eia-508-link-color;
                        border-bottom: 2px solid @eia-blue;
                    }

                    &.hover {
                        color: @eia-508-link-color;
                        border-bottom: 2px solid @eia-blue;
                    }
                }

                .v_divider {
                    font-size: var(--med); // 14 pixels // 14 pixels
                    color: @eia-dash-color;
                    line-height: 1;
                }
            }

            ul {

                margin: 0 0 2em 0;
                padding: 0;

                li {
                    color: @eia-dark-grey;
                    margin: 1em 0 0 0;
                    padding: 0;
                    clear: both;
                    list-style: none;

                    i {
                        float: left;
                        width: 35px;
                        height: 35px;
                        padding: 0;
                        margin: 0 0 12px 0;
                    }

                    &>div {
                        margin: 0 0 0 51px;
                        padding: 0;
                        .font;
                        font-size: .875rem;
                        line-height: 1.25;

                        h2 {
                            .font;
                            font-weight: @bold; // 700
                            margin: 0;
                            padding: 0;
                            padding: 0;
                            text-align: left;
                            border-bottom: none;
                            line-height: 1.0px;

                            a {
                                font-size: .9375rem * 1.05%; // new: 13.65px
                                color: @eia-dark-blue;
                                font-weight: @bold; // 700
                                margin: 0 0 10px;
                                line-height: 1.2;
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                        span {
                            &.tag-list {

                                //display: inline;
                                a {
                                    color: @eia-508-link-color;

                                    &.capsule {
                                        margin: 0 3px 0 0;
                                        text-decoration: none;
                                        display: inline-block;

                                        &:hover {
                                            text-decoration: underline;
                                        }

                                        &:after {
                                            color: @eia-dark-grey;
                                            content: ",";
                                        }

                                        // hide the comma on last instance
                                        &:last-child {
                                            &:after {
                                                content: "";
                                            }
                                        }
                                    }

                                    &.show-more-tags {
                                        text-decoration: none;
                                        font-weight: @bold; // 700
                                        background-color: #dff2fb;
                                        padding: 0 4px;
                                        margin: 0 0 0 6px;
                                        //tag-list show-more
                                    }
                                }

                                // initial state
                                .more-tags {
                                    display: none;
                                }

                                &.show-more {
                                    a {
                                        &.show-more-tags {
                                            display: none;
                                        }
                                    }

                                    .more-tags {
                                        display: inline;
                                    }
                                }
                            }
                        }
                    }

                    &.foot {
                        margin: 1em 0;
                        .font;
                        font-weight: @bold; // 700
                        padding: 0;

                        a {
                            display: block;
                            color: @eia-508-link-color;
                            font-size: .8125rem; //13px;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }

                            &:after {
                                content: "\00a0\203A";
                            }

                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 600px) {
    .overview {
        .analysis-projections {
            margin-bottom: 2em;
        }
    }
}

@media (min-width: 801px) {

    // tablet, landscape iPad, lo-res laptops ands desktops
    .overview {
        .analysis-projections {
            ul {
                li {
                    margin: 9px 0 0 0;

                    &>div {
                        margin: 0 0 0 55px;
                        font-size: .875rem; // 12 pixels

                        h2 {
                            a {
                                font-size: .9375rem; //15px;
                                margin: 0 0 2px;
                            }
                        }
                    }

                    &.foot {
                        a {
                            margin: 8px 0 0 0;
                            font-size: .875rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .overview {
        .analysis-projections {
            margin-bottom: 1em;
        }
    }
}