@media (min-width: 1px) {
    .browse-by-tag {
        .page-title {
            .sort-by {
                font-weight: @bold; // 700
                float: right;
                font-size: var(--xsm);
                color: #7e7c6f;
                //text-transform: uppercase;
                text-align: right;
                padding: 14px 0 0 0;

                &>span {
                    &:before {
                        content: '|';
                        margin: 0 6px 0 3px;
                    }

                    a {
                        display: inline-block;
                        color: @eia-508-link-color;
                        text-decoration: none;
                        text-transform: uppercase;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &.active {
                        a {
                            color: #ccc;
                            text-decoration: none;

                            &:link,
                            &:active,
                            &:visited {
                                color: #ccc;
                                text-decoration: none;
                            }

                            &:hover {
                                text-decoration: underline;
                                color: #ccc;
                            }
                        }
                    }

                    //}
                    //&>span {
                    &:first-child {
                        &:before {
                            content: '';
                            margin: 0 6px 0 3px;
                        }
                    }
                }
            }
        }
    }

    div {
        #tag-frequency {
            li {
                a {
                    font-size: var(--lrg); // 15 pixels
                }
            }

            #tag-list {
                li {
                    a {
                        font-size: var(--lrg); // 15 pixels
                    }
                }
            }
        }
    }

    .smallestTag {
        font-size: var(--xsm);
    }

    .smallTag {
        font-size: var(--lrg); // 15 pixels
    }

    .mediumTag {
        font-size: 20px;
    }

    .largeTag {
        font-size: 30px;
    }

    .largestTag {
        font-size: 36px;
    }

    .tagcloud {
        a {
            color: @eia-508-link-color;
            text-decoration: none;
            border-bottom: 2px dotted @eia-blue;
            padding-bottom: 1px;
            margin: 4px;

            &:hover {
                text-decoration: none;
                color: @eia-dark-blue;
                border-bottom: 2px solid @eia-dark-blue;
            }
        }
    }

    .upcoming {
        ul {
            padding-left: 0;
        }
    }
}

@media (min-width: 600px) {}

@media (min-width: 801px) {
    // tablet, landscape iPad, lo-res laptops ands desktops

}

@media (min-width: 1025px) {}