.residential {
    &:before {
        //.controls-icon(55px, 55px);
    }
}

.commercial {
    &:before {
        //.controls-icon(55px, 55px);
    }
}

.industrial {
    &:before {
        //.controls-icon(55px, 55px);
    }
}

@media (min-width: 1px) {
    .consumption-surveys {
        //display: table; // not needed
        width: 100%;
        margin: 0 0 .5em; // margin-bottom: 1.5em;

        &>div {
            margin-bottom: 1.5em;
        }

        h1 {
            .primary-h1();
        }

        img {
            margin: 0 auto 0 auto;
            height: 94px;
            float: none;
            clear: both;
        }

        i {
            float: left;
            width: 75px;
            height: 66px;
            margin: 0;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 0 75px;
            border: 1px solid white;

            li {
                &.head {
                    padding: 0 0 2px 0;
                    margin-top: 4px;
                    text-align: center;

                    h2 {
                        //.font;
                        font-weight: @bold; // 700
                        color: @eia-dark-blue;
                        line-height: 1.2;
                        text-transform: uppercase;
                        font-size: .9375rem; //15px
                        text-align: left;
                        border-bottom: none;

                        a {
                            //.font;
                            font-weight: @bold; // 700
                            color: @eia-dark-blue;
                            line-height: 1.2;
                            text-transform: uppercase;
                            font-size: .9375rem; //15px
                            text-align: left;
                            display: inline-block;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                &.sub-head {
                    font-size: var(--sm); // 13 pixels
                    line-height: 1.5;
                    text-align: left;

                    a {
                        //.font;
                        font-size: var(--sm); // 13 pixels
                        line-height: 1.5;
                        color: @eia-dark-grey;
                        display: inline-block;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                &.foot {
                    margin-top: 8px;
                    text-align: left;

                    a {
                        .font;
                        font-weight: @bold; // 700
                        font-size: .750rem; // 12px
                        line-height: 1.375em; // 22px
                        display: inline-block;
                        color: @eia-508-link-color;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }

                        &:after {
                            content: "\00a0\203A";
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 801px) {

    // tablet, landscape iPad, lo-res laptops ands desktops
    .consumption-surveys {
        margin-bottom: .5em;

        &>div {
            margin-bottom: 1.5em;
        }

        .l-col {

            /*
            &:nth-child(3) {
                position: relative;
                &:before {
                    border-left: 1px solid shade(white, 17%);
                    border-right: 1px solid shade(white, 17%);
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 10px;
                    left: -16px;
                    right: -16px;
                }
            }
            */
            &:nth-child(2) {
                &:before {
                    border-right: 1px solid shade(white, 17%);
                    content: "";
                    position: relative;
                    top: 0;
                    bottom: 10px;
                    right: -16px;
                    height: 100%;
                    float: right;
                }
            }

            &:nth-child(4) {
                &:before {
                    border-left: 1px solid shade(white, 17%);
                    content: "";
                    position: relative;
                    top: 0;
                    bottom: 10px;
                    left: -16px;
                    height: 100%;
                    float: left;
                }
            }
        }
    }
}

@media (min-width: 1025px) {

    // tablet, landscape iPad, lo-res laptops ands desktops
    .consumption-surveys {
        margin-bottom: 2em;

        &>div {
            margin-bottom: 0;
        }

    }
}