<h2 class="uk-h3 tm-heading-fragment">Highlight</h2>
<p>Add <code>.highlight</code> to the <code>ul</code> of any list item to apply <strong>bold</strong> to the font, and EIA styling.</p>
<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="eia-card">
	<ul class="basic highlight eia">
		<li class="head eia">
			<h2>Lorem ipsum dolor sit amet</h2>
		</li>
		<li class="eia">Lorem ipsum dolor sit amet</li>
		<li class="eia">Lorem ipsum dolor sit amet</li>
	</ul>
</div>
<!-- HTML -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="highlightList">&lt;ul class="highlight"&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<!-- Copy Button -->
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#listHead">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>
</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">