<h1 class="uk-h1 tm-heading-fragment" id=" Tables">Tables</h1>
<p class="uk-text-lead"></p>
<!--ul>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'Caption'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'DoubleHeader'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'Header'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'Total'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'Bold'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'Indent'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'SectionHeader'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'SectionDivider'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'Columns'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'ColumnHighlight'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'ColumnDivider'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'ColumnAlign'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'ColumnHide'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'Stacked'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'IconUusageAndTables'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'IconicTableCells'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'CustomTables'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'Selected'" uk-scroll>XXXXX</a></li>
	<li><a [routerLink]="['/modules/tables/']" [fragment]="'HolidaySchedule'" uk-scroll>XXXXX</a></li>
</ul>

<app-side-nav-modules></app-side-nav-modules -->