@thin: 100; // not used
@extraLight: 200; // not used
@light: 300;
@regular: 400;
@mediumBold: 500; // not used
@semiBold: 600; // not used
@bold: 700;
@extraBold: 800;
@black: 900; // not used






    //@default_font: "Jost", sans-serif;
    //@header_font: "Jost", sans-serif;

    @fontWeightNormal: normal;
    @fontStyleItalic: italic;

    p strong {
        font-weight: bolder;
    }