@baseFontSize: 16px;
@xxSmall: 0.688rem; // 11px
@xSmall: 0.750rem; // 12px
@small: 0.813rem; // 13px
@medium: 0.875rem; // 14px
@large: 0.938rem; // 15px
@xLarge: 1.000rem; // 16px

:root {
    --base-font-size: 16px;
    --xxsm: 0.688rem; // 11px
    --xsm: 0.750rem; // 12px
    --sm: 0.813rem; // 13px
    --med: 0.875rem; // 14px
    --lrg: 0.938rem; // 15px
    --xlrge: 1.000rem; // 16px
}