:root {
    --eia-tab-content-top: 4px solid var(--eia-light-grey-45);
    --eia-tab-content-top-margin-top: -4px;

    --eia-tab-color-active: #000;
    --eia-tab-color-active-hover: var(--eia-blue);
    --eia-tab-color-inactive: var(--eia-blue);
    --eia-tab-color-inactive-hover: var(--eia-blue);

    --eia-tab-border-color-active: var(--eia-blue);
    --eia-tab-border-color-inactive: @eia-white;

    --eia-tab-border-bottom-color-inactive: var(--eia-blue);
    --eia-tab-border-bottom-color-active: @eia-white;

    --eia-tab-border-width: 1px;
    --eia-tab-border-bottom-width: 1px;

    --eia-tab-background-color-inactive: @eia-white;
    --eia-tab-background-color-active: @eia-white;
    --eia-tab-border-width: 1px;
    --eia-tab-border-bottom-width: 1px;
    --eia-tab-border-bottom-margin: -1px;
    --eia-tab-border-color: var(--eia-blue);
}

@headerHeight: 94;
@headerShrunkHeight: 50;
@headerMobileHeight: 40;
@searchPanelHeight: 40;
@HeaderFullWidthHeight: 50;

@floatRight: right;
@floatLeft: left;

@NoWrap: no-wrap;

@AlignLeft: left;
@AlignRight: right;
@AlignCenter: center;
@AlignTop: top;
@AlignMiddle: middle;
@AlignBottom: bottom;

@DisplayNone: hide;
@DisplayShow: block;


@tab-border-color-dark: #333;