


@mobile: ~"(min-width: 1px)"; // could be 320px - smartphones, portrait iPhone, portrait 480x320 phones (Android)
//@mobile-aspect-ratio: ~"(max-aspect-ratio: 5/7)";
@mobile-landscape: ~"(min-width: 480px)"; // smartphones, Android phones, landscape iPhone
@tablet: ~"(min-width: 600px)"; // mobile panorama
@tablet-landscape: ~"(min-width: 801px)"; // tablet, landscape iPad, lo-res laptops ands desktops
//@laptop: ~"(min-width: 956px)";	// normall 1025 - big landscape tablets, laptops, and desktops
@laptop: ~"(min-width: 1025px)"; // normall 1025 - big landscape tablets, laptops, and desktops
//@desktop: ~"(min-width: 1025px)";	// big landscape tablets, laptops, and desktops
@desktop: ~"(min-width: 1366px)"; // big landscape tablets, laptops, and desktops
@desktop-lg: ~"(min-width: 2300px)"; // hi-res laptops and desktops
//@print: ~"@media print";
@mobile-only: ~"(max-width: 599px)";

@scroll-spy: ~"(min-width: 1450px)";
@off-canvas: ~"(max-width: 1449px)";

@defaultPageWidth: 990px; // required for non-media query references

