<div class="uk-text-default uk-text-normal uk-text-uppercase">Image with Accessible Label</div>
<div class="uk-section uk-section-muted uk-padding">
	<h3 id="people-with-disabilities" class="uk-h3 tm-heading-fragment"><span class="uk-label uk-label-danger">ACCESSIBILITY REQUIREMENT</span></h3>
	<p>
		Developers can provide accessible names to images with the <code>aria-label</code> and <code>aria-labelledby</code> attributes. When these attributes are present, assistive technology will ignore the image&apos;s alt text and read the ARIA label instead.
	</p>
	<p>
		Associate text elsewhere on the page using the <code>aria-describedby</code> attribute. This can be particularly helpful when using captions for complex images.
	</p>
</div>