<div class="eia-card">
	<div class="l-row l-two-col-right">
		<div class="l-col">
			<div class="image-container">
				<img src="https://www.eia.gov/global/images/kids_promos/kids-standard.png" alt="Kids Promos" aria-describedby="KidsPromos" class="responsive" />
			</div>
			<p id="KidsPromos" class="eia-accessibility-link-description">The photo is of the Kids Promos lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem massa, semper nec eros a, lacinia porttitor nunc. Phasellus ex dolor, ultricies eu ornare ut, placerat non sapien. Suspendisse sagittis risus eu sem suscipit sodales. Vivamus ligula turpis, aliquam et maximus vel, tempor sed lectus. Mauris quis posuere massa. Ut quis diam sed mi placerat efficitur eu sed felis. Aliquam ipsum metus, bibendum vel ipsum sed, lobortis fringilla sem. Vestibulum ut odio id nulla commodo dignissim. Proin a pharetra tellus.</p>
		</div>
		<div class="l-col"></div>
	</div>
</div>
<!-- HTML -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="ImageLabelAria"></code></pre>
<!-- Copy Button -->
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#ImageLabelAria">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>