<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Accessible Label and Input</h2>
<!--
<app-text-input-config></app-text-input-config>
 -->
<div class="uk-section uk-section-muted uk-padding">
	<h3 id="" class="uk-h3 tm-heading-fragment"><span class="uk-label uk-label-danger">ACCESSIBILITY REQUIREMENT</span></h3>
	<ul>
		<li>
			The <code> for="name"</code> associates the label with the form input
		</li>
		<li>
			the <code>id="name"</code> should reference the label <code> for="name"</code>
		</li>
	</ul>
</div>
<p class="_note p">The user can click on the label to set focus to the form control. This is useful on small screens and to some people with motor disabilities, particularly when targeting small checkboxes and radio buttons. Clicking on labels is also an easy way to check for proper form labeling. If clicking the label sets focus to or activates the form control, then that label is programmatically associated.</p>
<!-- Live Examples --
<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Examples</div>
<dl class="uk-description-list uk-description-list-divider">
	<dd><a [routerLink]="['/modules/']" [fragment]="'placeholder'">placeholder</a></dd>
</dl>
-->
<!-- Example -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="eia-card">
	<div class="l-row l-two-col-left-wide">
		<div class="primary l-col form-area">
			<div class="l-row l-two-col-left-narrow full-width">
				<div class="l-col"><label for="firstName">Firse Name:</label></div>
				<div class="l-col"><input name="firstName" id="firstName" type="text" autoComplete="firstname" /></div>
			</div>
			<div class="l-row l-two-col-left-narrow full-width">
				<div class="l-col"><label for="lastName">Last Name:</label></div>
				<div class="l-col"><input name="lastName" id="lastName" type="text" autoComplete="lastname" /></div>
			</div>
			<div class="l-row l-two-col-left-narrow full-width">
				<div class="l-col"><label for="email">Email:</label></div>
				<div class="l-col"><input id="email" id="email" type="email" autoComplete="email" /></div>
			</div>
			<div class="l-row l-two-col-left-narrow full-width">
				<div class="l-col"><label for="favoriteColor">Favorite Color:</label></div>
				<div class="l-col"><input id="favoriteColor" id="favoriteColor" type="number" autoComplete="off" /></div>
			</div>
			<div class="l-row l-two-col-left-narrow full-width">
				<div class="l-col"><label for="telephone">Phone Number:</label></div>
				<div class="l-col"><input name="telephone" id="telephone" type="tel" autoComplete="phonenumber" /></div>
			</div>
		</div>
	</div>

	<div class="l-col"></div>
</div>
<!-- HTML -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="LabelAndInput">&lt;div class="primary form-area"&gt;
  &lt;div class="l-row l-two-col-left-narrow full-width"&gt;
    &lt;div class="l-col"&gt;&lt;label  for="firstName"&gt;Firse Name:&lt;/label&gt;&lt;/div&gt;
    &lt;div class="l-col"&gt;&lt;input name="firstName" id="firstName" type="text" autoComplete="firstname" /&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="l-row l-two-col-left-narrow full-width"&gt;
    &lt;div class="l-col"&gt;&lt;label  for="lastName"&gt;Last Name:&lt;/label&gt;&lt;/div&gt;
    &lt;div class="l-col"&gt;&lt;input name="lastName" id="lastName" type="text" autoComplete="lastname" /&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="l-row l-two-col-left-narrow full-width"&gt;
    &lt;div class="l-col"&gt;&lt;label  for="email"&gt;Email:&lt;/label&gt;&lt;/div&gt;
    &lt;div class="l-col"&gt;&lt;input id="email" id="email" type="email" autoComplete="email" /&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="l-row l-two-col-left-narrow full-width"&gt;
    &lt;div class="l-col"&gt;&lt;label  for="favoriteColor"&gt;Favorite Color:&lt;/label&gt;&lt;/div&gt;
    &lt;div class="l-col"&gt;&lt;input id="favoriteColor" id="favoriteColor" type="number" autoComplete="off" /&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="l-row l-two-col-left-narrow full-width"&gt;
    &lt;div class="l-col"&gt;&lt;label  for="telephone"&gt;Phone Number:&lt;/label&gt;&lt;/div&gt;
    &lt;div class="l-col"&gt;&lt;input name="telephone" id="telephone" type="tel" autoComplete="phonenumber" /&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
<!-- Copy Button -->
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#LabelAndInput">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>
</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">