<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Name</h2>

<code>name</code>
<p>Defines the unique identifier for that input within the form. It allows the server to access each input's value when submitted.</p>
<span class="attribute-is-required">Required.</span>
<span class="attribute-values">
	<code>"first_name"</code>
</span>
<p>
	The name value must be unique within the context of a <code>form</code> container.
</p>
<p>
	It can only contain alphanumeric characters <code>a-z</code> <code>A-Z</code> <code>0-9</code> and some special characters like <code>-</code> <code>_</code>… but no space.
</p>