<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Accessible Radiobutton Group</h2>

<p>Radiobuttones should be utilized when the user has a list of options to choose from. Radiobuttones should always allow for multiple selections.</p>

<div class="uk-section uk-section-muted uk-padding">
	<h3 id="" class="uk-h3 tm-heading-fragment"><span class="uk-label uk-label-danger">ACCESSIBILITY REQUIREMENT</span></h3>
	<ul>
		<li>
			The <code>for="itemX"</code> associates the label with the form input <code>id="itemX"</code>
		</li>
		<li>
			The name is the common radiobutton group name <code>name="radioItems"</code>
		</li>
	</ul>
</div>
<p class="_note p">The user can click on the label to set focus to the form control. This is useful on small screens and to some people with motor disabilities, particularly when targeting small checkboxes and radio buttons. Clicking on labels is also an easy way to check for proper form labeling. If clicking the label sets focus to or activates the form control, then that label is programmatically associated.</p>
<!-- Live Examples --
<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Examples</div>
<dl class="uk-description-list uk-description-list-divider">
	<dd><a [routerLink]="['/modules/']" [fragment]="'placeholder'">placeholder</a></dd>
</dl>
-->
<!-- Example -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="eia-card">
	<div class="l-row l-two-col-left-narrow full-width">
		<div class="l-col">
			<label>Select an Item:</label>
		</div>
		<div class="l-col">
			<div class="form-container">
				<label for="radioItemOne">Item One</label><input id="radioItemOne" type="radio" name="radioItems" value="Item One" />
			</div>
			<div class="form-container">
				<label for="radioItemTwo">Item Two</label><input id="radioItemTwo" type="radio" name="radioItems" value="Item Two" />
			</div>
			<div class="form-container">
				<label for="radioItemThr">Item Thr</label><input id="radioItemThr" type="radio" name="radioItems" value="Item Thr" />
			</div>
			<div class="form-container">
				<label for="radioItemFou">Item Fou</label><input id="radioItemFou" type="radio" name="radioItems" value="Item Fou" />
			</div>
		</div>
	</div>
</div>

<!-- HTML -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="RadiobuttonGroup">&lt;div class="l-row l-two-col-left-narrow full-width"&gt;
	&lt;div class="l-col"&gt;
		&lt;label&gt;Select an Item:&lt;/label&gt;
	&lt;/div&gt;
	&lt;div class="l-col"&gt;
		&lt;div class="form-container"&gt;
			&lt;label for="radioItemOne"&gt;Item One&lt;/label&gt;&lt;input id="radioItemOne" type="radio" name="radioItems" value="Item One" /&gt;
		&lt;/div&gt;
		&lt;div class="form-container"&gt;
			&lt;label for="radioItemTwo"&gt;Item Two&lt;/label&gt;&lt;input id="radioItemTwo" type="radio" name="radioItems" value="Item Two" /&gt;
		&lt;/div&gt;
		&lt;div class="form-container"&gt;
			&lt;label for="radioItemThr"&gt;Item Thr&lt;/label&gt;&lt;input id="radioItemThr" type="radio" name="radioItems" value="Item Thr" /&gt;
		&lt;/div&gt;
		&lt;div class="form-container"&gt;
			&lt;label for="radioItemFou"&gt;Item Fou&lt;/label&gt;&lt;input id="radioItemFou" type="radio" name="radioItems" value="Item Fou" /&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
<!-- Copy Button -->
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#RadiobuttonGroup">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>
</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">