<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Required</h2>

<code>required</code>
<p>
	Tells the browser that this input is <strong>required</strong>. Leaving it empty will show a warning.
</p>
<p>
	You simply need to add the <code>required</code> attribute with no value:
</p>
<p>The browser should show a warning if you try to submit the form with an empty text input.</p>
<!-- Live Examples --
<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Examples</div>
<dl class="uk-description-list uk-description-list-divider">
	<dd><a [routerLink]="['/modules/']" [fragment]="'placeholder'">placeholder</a></dd>
</dl>
-->
<!-- Example -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="eia-card">
	<div class="l-row l-two-col-left-wide">
		<div class="primary l-col form-area">
			<fieldset>
				<div>
					<div class="form-container">
						<input type="text" required="" />
					</div>
					<div class="button-container">
						<button type="submit" id="submitFeedback" tabIndex="0" role="button" class="submit">
							ok
						</button>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="l-col"></div>
</div>
<!-- HTML -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="Required"></code></pre>
<!-- Copy Button -->
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#Required">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>