<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Target</h2>

<p>Defines in which tab or window the clicked link will show up.</p>
<code>"_blank"</code>
<p>
	Opens in a new browsing context, which is usually a <strong>new tab</strong>.
</p>


<code>"_self"</code>
<p>Opens in the current tab.</p>


<code>"_parent"</code>
<p>
	Opens in the parent browsing context, or <code>_self</code> is there is none.
</p>

<code>"_top"</code>
<p>
	Opens in the top browsing context, or <code>_self</code> is there is none.
</p>