<div class="primary">
	<div class="accordion all-closed">

		<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Input Text</h2>
		<div class="eia accordion-content">
			<ul class="ul">
				<li class="li">
					The <code>type="text"</code> is single line text input that accepts any type of character
				</li>
			</ul>
		</div>

		<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Input Number</h2>
		<div class="eia accordion-content">
			<ul class="ul">
				<li class="li">
					The <code>type="number"</code> the browser will try to only allow valid numbers
				</li>
				<li class="li">
					The <code>type="number"</code> on mobile devices, the number keyboard will show up
				</li>
			</ul>
		</div>

		<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Input Email</h2>
		<div class="eia accordion-content">
			<ul class="ul">
				<li class="li">
					The <code>type="email"</code> the browser will try to only allow valid email addresses
				</li>
				<li class="li">
					The <code>type="email"</code> on mobile devices, the email keyboard will show up.
				</li>
			</ul>
		</div>

		<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Input Telephone</h2>
		<div class="eia accordion-content">
			<ul class="ul">
				<li class="li">
					The <code>type="tel"</code> the browser will try to only allow valid phone numbers
				</li>
				<li class="li">
					The <code>type="tel"</code> on mobile devices, the numeric keyboard will show up.
				</li>
				<!-- 
							<li class="li">Additional <code>tel</code> configurations:
								<ul class="ul">
									<li class="li">
										<code>type="tel-country-code"</code>
									</li>
									<li class="li">
										<code>type="tel-national"</code>
									</li>
									<li class="li">
										<code>type="tel-area-code"</code>
									</li>
									<li class="li">
										<code>type="tel-local"</code>
									</li>
									<li class="li">
										<code>type="tel-local-prefix"</code>
									</li>
									<li class="li">
										<code>type="tel-local-suffix"</code>
									</li>
									<li class="li">
										<code>type="tel-extension"</code>
									</li>
								</ul>
							</li>
							 -->
			</ul>
		</div>

		<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Text Input Autocomplete</h2>
		<div class="eia accordion-content">
			<p>
				What controls fall into each group is described here: <a href="https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#inappropriate-for-the-control">https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#inappropriate-for-the-control</a>.
			</p>
			<ul class="ul">
				<li class="li">
					The <code>autocomplete="on"</code> will <strong>enable</strong> autocomplete functionality in the browser.
				</li>

				<li class="li">
					The <code>autocomplete="off"</code> will <strong>disable</strong> autocomplete functionality in the browser.
				</li>
			</ul>
		</div>

		<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Text Input Autofocus</h2>
		<div class="eia accordion-content">
			<p class="accessibility p">
				<strong>
					<span class="accessibility-requirement">Accessibility best-practices:</span>
				</strong>
			</p>
			<ul class="accessibility ul">
				<li>
					Do not use the <code>autofocus=""</code>.
				</li>
			</ul>
		</div>

		<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Text Input Disabled</h2>
		<div class="eia accordion-content">
			<ul class="ul">
				<li class="li">
					<code>disabled=""</code> defines the number of columns.
				</li>
				<li class="li">
					Disables the input, e.g.: <code>disabled="true"</code>.
				</li>
				<li class="li">
					<div class="form-area">
						<div class="l-row l-two-col-left-narrow full-width">
							<div class="l-col">
								<label>Label:</label>
							</div>
							<div class="l-col">
								<div class="form-container">
									<input type="text" placeholder="Disabled" disabled="disabled" />
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Text Input Max-Length</h2>
		<div class="eia accordion-content">
			<ul class="ul">
				<li class="li">
					<code>maxlength=""</code> defines the maxlength amount of characters allowed.
				</li>
				<li class="li">
					You can use <strong>integers</strong>, e.g.: <code>maxlength="50"</code>.
				</li>
				<li class="li">
					<div class="form-area">
						<div class="l-row l-two-col-left-narrow full-width">
							<div class="l-col">
								<label>Label:</label>
							</div>
							<div class="l-col">
								<div class="form-container">
									<input type="text" placeholder="maxlength = 10" maxLength="10" />
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Text Input minlength</h2>
		<div class="eia accordion-content">
			<ul class="ul">
				<li class="li">
					<code>minlength=""</code> defines the minimum amount of characters the input required to be valid.
				</li>
				<li class="li">
					You can use <strong>integers</strong>, e.g.: <code>minlength="15"</code>.
				</li>
				<li class="li">
					<div class="form-area">
						<div class="l-row l-two-col-left-narrow full-width">
							<div class="l-col">
								<label>Label:</label>
							</div>
							<div class="l-col">
								<div class="form-container">
									<input type="text" placeholder="minlength = 10" minLength="15" />
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Text Input Placeholder</h2>
		<div class="eia accordion-content">
			<ul class="ul">
				<li class="li">
					<code>placeholder=""</code> defines a non-selectable placeholder text that only appears when the input is empty.
				</li>
				<li class="li">
					You can hint at the format expected for the input, e.g.: <code>placeholder="Leave feedback"</code>
				</li>
				<li class="li">
					<div class="form-area">
						<div class="l-row l-two-col-left-narrow full-width">
							<div class="l-col">
								<label>Label:</label>
							</div>
							<div class="l-col">
								<div class="form-container">
									<input type="text" placeholder="Leave feedback" />
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Text Input Spellcheck</h2>
		<div class="eia accordion-content">
			<ul class="ul">
				<li class="li">
					<code>spellcheck="true"</code> enables the browser spell-checker.
				</li>
				<li class="li">
					<div class="form-area">
						<div class="l-row l-two-col-left-narrow full-width">
							<div class="l-col">
								<label>Label:</label>
							</div>
							<div class="l-col">
								<div class="form-container">
									<input columns="40" rows="10" spellCheck="true" />
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>