<h2 id="FormsTextarea" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Textarea</h2>

<p class="_note p">The user can click on the label to set focus to the form control. This is useful on small screens and to some people with motor disabilities, particularly when targeting small checkboxes and radio buttons. Clicking on labels is also an easy way to check for proper form labeling. If clicking the label sets focus to or activates the form control, then that label is programmatically associated.</p>
<!-- Live Examples --
<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Examples</div>
<dl class="uk-description-list uk-description-list-divider">
	<dd><a [routerLink]="['/modules/']" [fragment]="'placeholder'">placeholder</a></dd>
</dl>
-->
<!-- Example -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="l-row l-two-col-left-wide">
	<div class="primary l-col form-area">
		<div class="form-container">
			<label for="address">Enter your address:</label>
			<br />
			<textarea id="address" autoComplete="street-address"></textarea>
		</div>
	</div>
	<div class="l-col"></div>
</div>
<!-- HTML -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="Textarea"></code></pre>
<!-- Copy Button -->
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#Textarea">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>