<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">Validation</h2>
<!-- Live Examples --
<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Examples</div>
<dl class="uk-description-list uk-description-list-divider">
	<dd><a [routerLink]="['/modules/']" [fragment]="'placeholder'">placeholder</a></dd>
</dl>
-->
<!-- Example -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="eia-card">
	<div class="l-row l-two-col-left-wide">
		<div class="primary l-col form-area">



			<div class="form-container">
				<label>Form Label</label>
				<textarea class="textarea invalid" rows="10" placeholder="e.g. Hello my name is Alex" name="message"></textarea>
			</div>
			<div class="uk-text-default uk-text-bold">Label Example</div>
			<div class="form-container">
				<label>Form Label</label>
				<textarea class="textarea valid" rows="10" placeholder="e.g. Hello my name is Alex" name="message"></textarea>
			</div>
			<div class="uk-text-default uk-text-bold">Title Example</div>

			<div class="form-container">
				<label>Title</label>
				<ul class="radio-container">
					<li><label><input type="radio" name="title" value="mr" />Mr</label></li>
					<li><label><input type="radio" name="title" value="mrs" />Mrs</label></li>
					<li><label><input type="radio" name="title" value="miss" />Miss</label></li>
				</ul>
			</div>

			<div class="uk-text-default uk-text-bold">First name Example</div>

			<div class="form-container">
				<label>First name</label>
				<input type="text" name="first_name" />

				style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;" />

			</div>

			<div class="uk-text-default uk-text-bold">Last name Example</div>



			<div class="form-container">
				<label>Last name</label>
				<input type="text" name="last_name" />
			</div>


			<div class="uk-text-default uk-text-bold">Email Example</div>


			<div class="form-container">
				<label>Email</label>
				<input type="email" name="email" required="" />
			</div>


			<div class="uk-text-default uk-text-bold">Phone Number Example</div>


			<div class="form-container">
				<label>Phone number</label>
				<input type="tel" name="phone" />
			</div>


			<div class="uk-text-default uk-text-bold">Password Example</div>


			<div class="form-container">
				<label>Password</label>
				<input type="password" name="password" />

				style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;" />

			</div>

			<div class="uk-text-default uk-text-bold">Select Example</div>

			<div class="form-container">
				<label>Country</label>
				<div class="select-container">
					<select>
						<option>China</option>
						<option>India</option>
						<option>United States</option>
						<option>Indonesia</option>
						<option>Brazil</option>
					</select>
				</div>
				<div class="form-container">
					<label><input type="checkbox" vale="terms" /> I agree to the <a>terms and conditions</a></label>
				</div>
				<div class="button-container">
					<button>Sign up</button><button type="reset">Resetform</button>
				</div>

			</div>
		</div>
	</div>

	<div class="l-col"></div>
</div>
<!-- HTML -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="Validation"></code></pre>
<!-- Copy Button -->
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#Validation">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>
</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">