<h2 class="uk-h3 tm-heading-fragment">Calculated Numbered</h2>
<p>Note adding the <code>.calculated-numbered</code> to the <code>&lt;ul"&gt;</code> will apply a sequential numerical pattern to the list.</p>
<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Example</div>
<dl class="uk-description-list uk-description-list-divider">
	<dd></dd>
</dl>
<!-- Example -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="eia-card">
	<div class="primary">

	</div>
</div>
<!-- HTML -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="calculatedNumbered">&lt;ul class="calculated-numbered"&gt;
  &lt;li&gt;&lt;span class="number"&gt;1.1.1&lt;/span&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<!-- Copy Button -->
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#calculatedNumbered">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>
</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">