<h2 class="uk-h3 tm-heading-fragment">List Head</h2>
<p>Add <code>.head</code> to the <code>li</code> of any list item to apply <strong>bold</strong> to the font, and EIA styling based on the parent class of either <code>.primary</code>, <code>.primary-alt</code>, <code>.secondary</code>, <code>.secondary-alt</code>, or <code>.article</code>.</p>
<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="eia-card">
	<app-example-head></app-example-head>
</div>
<!-- HTML -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="listHead">&lt;ul class="basic"&gt;
  &lt;li class="head"&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;&lt;a&gt;Lorem ipsum dolor sit amet&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<!-- Copy Button -->
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#listHead">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>
</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">




		<div class="eia-card">
			<div class="uk-text-default uk-text-normal uk-text-uppercase">Example Primary</div>
			<p><code>.primary</code></p>
			<div class="module-inner">
				<div class="l-row l-two-col-left-wide">
					<div class="l-col primary">
						<ul class="basic eia">
							<li class="head eia">
								<h2>Lorem ipsum dolor sit amet</h2>
							</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
						</ul>
					</div>
					<div class="l-col"><br /></div>
				</div>
			</div>
			<div class="uk-text-default uk-text-normal uk-text-uppercase">Example Primary-Alt</div>
			<p><code>.primary-alt</code></p>
			<div class="module-inner">
				<div class="l-row l-two-col-left-wide">
					<div class="l-col primary-alt">
						<ul class="basic eia">
							<li class="head eia">
								<h2>Lorem ipsum dolor sit amet</h2>
							</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
						</ul>
					</div>
					<div class="l-col"><br /></div>
				</div>
			</div>
			<div class="uk-text-default uk-text-normal uk-text-uppercase">Example Secondary</div>
			<p><code>.secondary</code></p>
			<div class="module-inner">
				<div class="l-row l-two-col-left-wide">
					<div class="l-col"><br /></div>
					<div class="l-col secondary">
						<ul class="basic eia">
							<li class="head eia">
								<h2>Lorem ipsum dolor sit amet</h2>
							</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="uk-text-default uk-text-normal uk-text-uppercase">Example Secondary-Alt</div>
			<p><code>.secondary-alt</code></p>
			<div class="module-inner">
				<div class="l-row l-two-col-left-wide">
					<div class="l-col"><br /></div>
					<div class="l-col secondary-alt">
						<ul class="basic eia">
							<li class="head eia">
								<h2>Lorem ipsum dolor sit amet</h2>
							</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="uk-text-default uk-text-normal uk-text-uppercase">Article</div>
			<p><code>.article</code>.</p>
			<div class="module-inner">
				<div class="l-row l-two-col-left-wide">
					<div class="l-col article">
						<ul class="basic eia">
							<li class="head eia">
								<h2>Lorem ipsum dolor sit amet</h2>
							</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
						</ul>
					</div>
					<div class="l-col"><br /></div>
				</div>
			</div>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="listHead">&lt;div class="<code class="nohighlight"><mark>primary</mark></code>, <code>primary-alt</code> <code>secondary</code>, <code>.secondary-alt</code> or <code>.article</code>"&gt;
  &lt;ul class="basic"&gt;
    &lt;li class="head"&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
    &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
    &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#listHead">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">