<h1 class="uk-h1 tm-heading-fragment">Column Examples</h1>
<p class="uk-text-lead"></p>
<h3 id=" l-full-width-col" class="uk-h3 tm-heading-fragment">Columns</h3>
<p>Layouts are brokendown into two parts, Rows and Columns.</p>
<p>All content (modules) should live within a column nested in a row in order for it react responsively.</p>
<p>There's are many types of column class names to include: <code>l-col</code>,<code>l-full-width-col</code>, <code>l-col</code>, <code>l-col</code>,<code>l-col</code>, <code>l-col</code>, <code>l-col</code>,<code>l-col</code>, and <code>l-col</code>. By combining them in logical sequences, the modules will move, adapt, expand, contract to the users' page resolution on their media device. Columns can be nested as well but the examples below are all of the column layouts that fir the needs of the EIA website.</p>
<h3 id="l-full-width-col" class="uk-h3 tm-heading-fragment">Page Layouts</h3>