<li data-color="black">
	<div class="uk-card uk-card-default uk-card-body prototype-thumb" uk-tooltip="4 Column Even (20/20/20/20/20)">
		<div class="prototype-thumb-inside">
			<div class="prototype-column-container w20">
				<div class="prototype-column"></div>
			</div>
			<div class="prototype-column-container w20">
				<div class="prototype-column"></div>
			</div>
			<div class="prototype-column-container w20">
				<div class="prototype-column"></div>
			</div>
			<div class="prototype-column-container w20">
				<div class="prototype-column"></div>
			</div>
			<div class="prototype-column-container w20">
				<div class="prototype-column"></div>
			</div>
		</div>
	</div>
</li>