<h3 id="two-col-left-narrow" class="uk-h3 tm-heading-fragment">Two Columns Left Narrow (25%<div class="pipe">/</div>75%)</h3>
<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Examples</div>
<dl class="uk-description-list uk-description-list-divider">
	<dd></dd>
	<dd></dd>
</dl>
<!-- Example -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="eia-card">
	<div class="module-outer">
		<div class="module-inner">
			<div class="l-row l-two-col-left-narrow">
				<div class="l-col hide-overflow">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem massa, semper nec eros a, lacinia porttitor nunc. Phasellus ex dolor, ultricies eu ornare ut, placerat non sapien. Suspendisse sagittis risus eu sem suscipit sodales. Vivamus ligula turpis, aliquam et maximus vel, tempor sed lectus. Mauris quis posuere massa. Ut quis diam sed mi placerat efficitur eu sed felis. Aliquam ipsum metus, bibendum vel ipsum sed, lobortis fringilla sem. Vestibulum ut odio id nulla commodo dignissim. Proin a pharetra tellus.<div class="fade"></div>
				</div>
				<div class="l-col hide-overflow">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem massa, semper nec eros a, lacinia porttitor nunc. Phasellus ex dolor, ultricies eu ornare ut, placerat non sapien. Suspendisse sagittis risus eu sem suscipit sodales. Vivamus ligula turpis, aliquam et maximus vel, tempor sed lectus. Mauris quis posuere massa. Ut quis diam sed mi placerat efficitur eu sed felis. Aliquam ipsum metus, bibendum vel ipsum sed, lobortis fringilla sem. Vestibulum ut odio id nulla commodo dignissim. Proin a pharetra tellus.<div class="fade"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="l-two-col-left-narrow">&lt;div class="l-row l-two-col-left-narrow"&gt;
  &lt;div class="l-col"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/div&gt;
  &lt;div class="l-col"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/div&gt;
&lt;/div&gt;</code></pre>
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#l-two-col-left-narrow">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>