<li data-color="white">
	<div class="uk-card uk-card-default uk-card-body prototype-thumb" uk-tooltip="2 Column Right Wide (42/58)">
		<div class="prototype-thumb-inside">
			<div class="prototype-column-container w42">
				<div class="prototype-column prototype-secondary"></div>
			</div>
			<div class="prototype-column-container w58">
				<div class="prototype-column"></div>
			</div>
		</div>
	</div>
</li>