h1 {
    font-weight: @bold; // 800
    color: @eia-508-dark-grey;
    font-size: 1.94444444em;
    //line-height: 1.42857143em;
    line-height: 1.1;
    //margin-top: 0.71428571em;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-weight: @bold; // 800
    color: @eia-508-dark-grey;
    font-size: 1.55555556em;
    //line-height: 1.78571429em;
    line-height: 1.1;
    //margin-top: 0.89285714em;
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    font-weight: @extraBold; // 800
    color: @eia-508-dark-grey;
    font-size: 1.27777778em;
    //line-height: 1.08695652em;
    line-height: 1.1;
    //margin-top: 1.08695652em;
    margin-bottom: 0;
    margin-top: 0;
}

h4 {
    font-weight: @extraBold; // 800
    color: @eia-508-dark-grey;
    font-size: var(--base-font-size); // 1em;
    //line-height: 1.38888889em;
    line-height: 1.1;
    //margin-top: 1.38888889em;
    margin-bottom: 0;
    margin-top: 0;
}

h5 {
    font-weight: @bold; // 700
    color: @eia-508-dark-grey;
    font-size: var(--base-font-size); // 1em;
    //line-height: 1.38888889em;
    line-height: 1.1;
    //margin-top: 1.38888889em;
    margin-bottom: 0;
    margin-top: 0;
}


h6 {
    font-weight: @mediumBold;
    color: #000000;
    font-size: var(--base-font-size); // 1em;
    //line-height: 1.38888889em;
    line-height: 1.1;
    //margin-top: 1.38888889em;
    margin-bottom: 0;
    margin-top: 0;
}

.bold(@Bold: 700) {
    font-weight: @bold; // 700
}

.semi-bold(@SemiBold: 600) {
    font-weight: @SemiBold;
}
/*
.normal(@fontWeightNormal: normal) {
    font-weight: @fontWeightNormal;
}

.italic(@fontStyleItalic: italic) {
    font-style: @fontStyleItalic;
}

.right(@floatRight: right) {
    float: @floatRight;
}

.left(@floatLeft: left) {
    float: @floatLeft;
}

.font-size (@baseFontSize: 16px) {
    font-size: var(--base-font-size);
}

.no-wrap(@NoWrap: no-wrap) {
    white-space: @NoWrap;
}

.align-right(@AlignRight: right) {
    text-align: @AlignRight;
}

.align-left(@AlignLeft: left) {
    text-align: @AlignLeft;
}

.align-center(@AlignCenter: center) {
    text-align: @AlignCenter;
}

.align-top(@AlignTop: top) {
    vertical-align: @AlignTop;
}

.align-middle(@AlignMiddle: middle) {
    vertical-align: @AlignMiddle;
}

.align-bottom(@AlignBottom: bottom) {
    vertical-align: @AlignBottom;
}

.hide(@DisplayNone: hide) {
    display: @DisplayNone;
}

.show(@DisplayShow: block) {
    display: @DisplayShow;
}

.right-align {
    .align-right()
}

.float-right {
    .right()
}
*/







/*
.sub-head-shared() {
margin-top: 14px;
margin-bottom: 8px;
line-height: 1.3em;
font-size: var(--med); // 14 pixels
font-weight: 600;
}
*/




// primary
.h2-shared() {
    color: @eia-508-dark-grey;
    font-size: 135%;
    line-height: 100%;
    font-weight: @extraBold; // 800
    padding: 0 0 0 0;
    margin: 0 0 6px 0;
    display: flex;
    border-bottom: 1px solid @eia-508-dark-grey;
    padding: 0 0 6px;
}



.primary-h1() {
    display: flex;
    border-bottom: 1px solid shade(white, 16.8%);
    padding: 1em 0 6px 0;
    clear: both;
    line-height: 1;
    margin-bottom: 13px;
    font-size: 26px;
    width: 100%;
}

.primary-alt-h2() {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: @bold;
    padding: 1em 0 0 0;
    border-bottom: 2px solid #0096d7;
}

.secondary-h1() {
    border-bottom: 1px solid @eia-dark-grey;
    color: @eia-dark-grey;
    display: flex;
    font-size: 135%;
    font-weight: 800;
    line-height: 100%;
    margin: 0 0 6px;
    padding: 0 0 6px;
}

.primary-h2() {
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 0;
    margin: 0 0 7px 0;
    border-bottom: 1px solid shade(white, 40%);
}

.secondary-h2() {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: @semiBold;
    padding: 0;
}

.primary-alt-h3() {
    font-size: 160%;
    font-weight: @bold; // 700
    line-height: 1.25;
    margin: 1em 0 0 0;
}

.accordion-h3() {
    font-weight: @semiBold; // 600
    font-size: 1.2rem;
    text-transform: none;
    margin: 0;
    cursor: pointer;
    position: relative;
    border: 0;
    border-top: 1px solid #0096d7;
    padding: 7px 0 7px 20px;
    position: relative;
    width: 100%;
}

/*
.primary-alt-h4() {
-- not used --
}
*/
.primary-h4() {
    width: 100%;
    font-size: 112.5%;
    margin: 0;
    padding: 0 0 1em 0;
    line-height: 1;
    //font-weight: normal;
    vertical-align: baseline;
}

/*
.primary-alt-h5() {
-- not used --
}
*/
.primary-h5() {
    padding: 0 0 1em 0;
    line-height: 1;
    font-weight: @bold;
}


.hard-return-solid() {
    border-top: 1px solid @eia-dash-color;
    background: none;
    clear: both;
    padding: 0;
    margin: 1.45em 0;
    width: 100%;
}

.hard-return-dashed() {
    border-top: 1px dashed @eia-dash-color;
    background: none;
    clear: both;
    padding: 0;
    margin: 1.45em 0;
    width: 100%;
}

.date() {
    color: @eia-black;
    font-style: italic;
    font-size: 90%;
    line-height: 150%;
    font-weight: @regular; // 400
}

.link-button() {
    display: inline-block;
    padding: .9em 1.7em .7em;
    margin: 0;
    color: @eia-white;
    background: @eia-blue;
    border: none;
    border-radius: 1px;
    color: @eia-white;
    cursor: pointer;
    font-size: var(--med); // 14 pixels
    font-weight: @semiBold;
    line-height: 1;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        background: @eia-green;
        color: #fff;
        text-decoration: none;
    }

    &.primary {
        .link-button-primary();
    }

    &.secondary {
        .link-button-secondary();
    }

    &.arrow {
        &:after {
            content: "\00a0\203A";
        }
    }
}


.link-button-primary() {
    background: @eia-blue;

    &:hover {
        background: @eia-green;
    }
}

.link-button-secondary() {
    background: @eia-green;

    &:hover {
        background: @eia-blue;
    }
}

.eia-button-shared() {
    .link-button()
}