table[class*="basic"] {
	each(range(10), {
		&.highlight-col-@{value} {
			tr {
				>[tagName^='td'] {
					&:nth-child(@{value}) {
						background-color: @eia-table-highlight-color;
						color: @eia-black;
					}
				}
			}
		}
	});

each(range(10), {
	&.align-left-col-@{value} {
		tr>* {
			&:nth-child(@{value}) {
				text-align: left;
			}
		}
	}
});

each(range(10), {
	&.align-right-col-@{value} {
		tr>* {
			&:nth-child(@{value}) {
				text-align: right;
			}
		}
	}
});

each(range(10), {
	&.hide-@{value} {
		tr>* {
			&:nth-child(@{value}) {
				display: none;
			}
		}
	}
});

each(range(5), {
	&.vertical-divider-after-col-@{value} {
		tr>* {
			&:nth-child(@{value}) {
				border-collapse: collapse;
				border-bottom: 2.5px solid @eia-blue;
				border-right: 6px solid @eia-white;
			}
		}
	}
});
}