:root {
  interpolate-size: allow-keywords;

  @supports (width: -moz-available) {
    --stretch: -moz-available;
  }

  @supports (width: -webkit-fill-available) {
    --stretch: -webkit-fill-available;
  }

  @supports (width: stretch) {
    --stretch: stretch;
  }

  --base-font-size: 16px;

  --ease-out: cubic-bezier(0.76, 0, 0.24, 1);
  --ease-in: cubic-bezier(0.16, 1, 0.3, 1);
  --duration: 1s;

  --r: 20px;
  /* radius */
  --s: 40px;
  /* inner curve size */
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(10,minmax(0, 1fr));

  >span {
    white-space: nowrap;
    text-align: center;
    border: 1px solid silver;

    &:nth-child(1) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"1/2";
    }

    // 0/0
    &:nth-child(2) {
      grid-column: ~"~"2/3"";
      grid-row: ~"1/2";
    }

    &:nth-child(3) {
      grid-column: ~"~"3/4"";
      grid-row: ~"1/2";
    }

    &:nth-child(4) {
      grid-column: ~"~"4/5"";
      grid-row: ~"1/2";
    }

    &:nth-child(5) {
      grid-column: ~"~"5/6"";
      grid-row: ~"1/2";
    }

    &:nth-child(6) {
      grid-column: ~"~"6/7"";
      grid-row: ~"1/2";
    }

    &:nth-child(7) {
      grid-column: ~"~"7/8"";
      grid-row: ~"1/2";
    }

    &:nth-child(8) {
      grid-column: ~"~"8/9"";
      grid-row: ~"1/2";
    }

    &:nth-child(9) {
      grid-column: ~"~"9/10"";
      grid-row: ~"1/2";
    }

    &:nth-child(10) {
      grid-column: ~"~"10/11"";
      grid-row: ~"1/2";
    }

    &:nth-child(11) {
      grid-column: ~"~"11/12"";
      grid-row: ~"1/2";
    }

    &:nth-child(12) {
      grid-column: ~"~"12/13"";
      grid-row: ~"1/2";
    }

    &:nth-child(13) {
      grid-column: ~"~"13/14"";
      grid-row: ~"1/2";
    }

    &:nth-child(14) {
      grid-column: ~"~"14/15"";
      grid-row: ~"1/2";
    }

    &:nth-child(15) {
      grid-column: ~"~"15/16"";
      grid-row: ~"1/2";
    }

    &:nth-child(16) {
      grid-column: ~"~"16/17"";
      grid-row: ~"1/2";
    }

    &:nth-child(17) {
      grid-column: ~"~"17/18"";
      grid-row: ~"1/2";
    }

    &:nth-child(18) {
      grid-column: ~"~"18/19"";
      grid-row: ~"1/2";
    }

    &:nth-child(19) {
      grid-column: ~"~"19/20"";
      grid-row: ~"1/2";
    }

    &:nth-child(20) {
      grid-column: ~"~"20/21"";
      grid-row: ~"1/2";
    }

    &:nth-child(21) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"1/2";
    }

    &:nth-child(22) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"1/2";
    }

    &:nth-child(22) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"2/3";
    }

    &:nth-child(23) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"2/3";
    }

    &:nth-child(24) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"3/4";
    }

    &:nth-child(25) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"3/4";
    }

    &:nth-child(26) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"4/5";
    }

    &:nth-child(27) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"4/5";
    }

    &:nth-child(28) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"5/6";
    }

    &:nth-child(29) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"5/6";
    }

    &:nth-child(30) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"6/7";
    }

    &:nth-child(31) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"6/7";
    }

    &:nth-child(32) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"7/8";
    }

    &:nth-child(33) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"7/8";
    }

    &:nth-child(34) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"8/9";
    }

    &:nth-child(35) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"8/9";
    }

    &:nth-child(36) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"9/10";
    }

    &:nth-child(37) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"9/10";
    }

    &:nth-child(38) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"10/11";
    }

    &:nth-child(39) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"10/11";
    }

    &:nth-child(40) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"11/12";
    }

    &:nth-child(41) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"11/12";
    }

    &:nth-child(42) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"12/13";
    }

    &:nth-child(43) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"12/13";
    }

    &:nth-child(44) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"13/14";
    }

    &:nth-child(45) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"13/14";
    }

    &:nth-child(46) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"14/15";
    }

    &:nth-child(47) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"14/15";
    }

    &:nth-child(48) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"15/16";
    }

    &:nth-child(49) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"15/16";
    }

    &:nth-child(50) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"16/17";
    }

    &:nth-child(51) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"16/17";
    }

    &:nth-child(52) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"17/18";
    }

    &:nth-child(53) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"17/18";
    }

    &:nth-child(54) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"18/19";
    }

    &:nth-child(55) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"18/19";
    }

    &:nth-child(56) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"19/20";
    }

    &:nth-child(57) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"19/20";
    }

    &:nth-child(58) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"20/21";
    }

    &:nth-child(59) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"20/21";
    }

    &:nth-child(60) {
		text-align: end;
      grid-column: ~"~"1/2"";
      grid-row: ~"21/22";
    }

    &:nth-child(61) {
		text-align: start;
      grid-column: ~"~"21/22"";
      grid-row: ~"21/22";

    }

    &:nth-child(62) {
      grid-column: ~"~"2/3"";
      grid-row: ~"21/22";
    }

    &:nth-child(63) {
      grid-column: ~"~"3/4"";
      grid-row: ~"21/22";
    }

    &:nth-child(64) {
      grid-column: ~"~"4/5"";
      grid-row: ~"21/22";
    }

    &:nth-child(65) {
      grid-column: ~"~"5/6"";
      grid-row: ~"21/22";
    }

    &:nth-child(66) {
      grid-column: ~"~"6/7"";
      grid-row: ~"21/22";
    }

    &:nth-child(67) {
      grid-column: ~"~"7/8"";
      grid-row: ~"21/22";

    }

    &:nth-child(68) {
      grid-column: ~"~"8/9"";
      grid-row: ~"21/22";
    }

    &:nth-child(69) {
      grid-column: ~"~"9/10"";
      grid-row: ~"21/22";
    }

    &:nth-child(70) {
      grid-column: ~"~"10/11"";
      grid-row: ~"21/22";
    }

    &:nth-child(71) {
      grid-column: ~"~"11/12"";
      grid-row: ~"21/22";
    }

    &:nth-child(72) {
      grid-column: ~"~"12/13"";
      grid-row: ~"21/22";
    }

    &:nth-child(73) {
      grid-column: ~"~"13/14"";
      grid-row: ~"21/22";
    }

    &:nth-child(74) {
      grid-column: ~"~"14/15"";
      grid-row: ~"21/22";
    }

    &:nth-child(75) {
      grid-column: ~"~"15/16"";
      grid-row: ~"21/22";
    }

    &:nth-child(76) {
      grid-column: ~"~"16/17"";
      grid-row: ~"21/22";
    }

    &:nth-child(77) {
      grid-column: ~"~"17/18"";
      grid-row: ~"21/22";
    }

    &:nth-child(78) {
      grid-column: ~"~"18/19"";
      grid-row: ~"21/22";
    }

    &:nth-child(79) {
      grid-column: ~"~"19/20"";
      grid-row: ~"21/22";
    }

    &:nth-child(80) {
      grid-column: ~"~"20/21"";
      grid-row: ~"21/22";

    }
  }

  .curve {
    &.by {
      grid-column: ~"~"2 / span 19"";
      grid-row: ~"2 / span 19";
    }
  }
    .curve {
    &.to {
      grid-column: ~"~"2 / span 19"";
      grid-row: ~"2 / span 19";
    }
  }
}

//@layer base, reset, demo;
//@layer demo {
.curve {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #3b82f6, #06b6d4);
  display: grid;
  place-content: center;
  grid-auto-flow: column;
~""}

:nth-child(1 of div) {
  clip-path: shape(from var(--r) 0,
      hline to ~"calc(100% - var(--r))",
      curve by var(--r) var(--r) with var(--r) 0,
      vline to ~"calc(100% - (var(--r)))",
      curve by ~"calc(-1*var(--r))"var(--r) with 0 var(--r),
      hline to var(--r),
      curve by ~"calc(-1 * var(--r))"~"calc(-1 * var(--r))"with ~"calc(-1 * var(--r))"0,
      vline to var(--r),
      curve by var(--r) ~"calc(-1*var(--r))"with 0 ~"calc(-1*var(--r))"
    );
}

:nth-child(2 of div) {
  clip-path: shape(from var(--r) 0,
      hline to ~"calc(100% - var(--r))",
      curve to 100% var(--r) with 100% 0,
      vline to ~"calc(100% - var(--r))",
      curve to ~"calc(100% - var(--r))"100% with 100% 100%,
      hline to var(--r),
      curve to 0 ~"calc(100% - var(--r))"with 0 100%,
      vline to var(--r),
      curve to var(--r) 0 with 0 0);
}

//}

//@layer base {
h1,
main {
  width: ~"min(1024px, 90%)";
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  //place-content: center;
  //grid-auto-flow: column;
~"  gap: 20px";
}

h1 {
  margin: 0;
  font-weight: 800;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #333;
  letter-spacing: -0.1vw;
  text-shadow: 0 0.3rem 0.9rem rgba(0, 0, 0, 0.4);
  font-size: clamp(2rem, 10vw, 3rem);
  padding-top: clamp(2em, 7vh, 30px);
  padding-bottom: clamp(2em, 7vh, 30px);
}

footer {
  position: absolute;
  bottom: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

em {
  //font-family: "Playfair", serif;
  font-optical-sizing: auto;
  //font-weight: <weight>;
  font-style: italic;
  //font-variation-settings: "wdth";
  color: #aa4a44;
}

code {
  font-family: "Lucida Console", Courier, monospace;
}

html,
body {
  padding: 0;
  margin: 0;
  width: var(--stretch);
  //min-height: 100vh;
}

body {
  margin: 0;
  height: ~"min(600px, 100vh)";
  display: flex;
  flex-direction: column;

  align-items: center;
  font-size: var(--base-font-size);
}

//}
//@layer reset {
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//}







<div class="photo-frame" style="--ar:600/712;">
      <img src="https://assets.codepen.io/1695918/james-ellroy.jpg" alt="James Ellroy" loading="lazy">
    </div>


