h4 {
    &.footnotes {
        font-weight: @bold; // 700
        font-size: var(--lrg); // 15 pixels
        line-height: 1.25;
        margin: 20px 0 0 0;
        padding: 10px 0 0 0;
        border-top: 1px dashed #adadad;
    }
}


td,
ul,
ol,
p {
    &.footnotes {
        font-size: var(--xsm); // 12 pixels
    }
}

.footnotes {
    font-size: var(--xsm); // 12 pixels
    list-style: none;

    ul,
    ol,
    p {
        font-size: var(--xsm); // 12 pixels
    }
}

ul {
    &.footnotes {
        display: inline-block;
        margin: 0 0 12px 0;
        padding: 0 0 0 0;
    }
}

/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/* ***** *** ordered list footnotes with superscript *** ***** */
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/*
sub,
sup {
	font-size: smaller;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
*/
ol {
    &.sup {
        padding: 0 0 0 0;
        margin-left: 0;
        counter-reset: item;
        list-style: none;

        li {
            position: relative;
            display: block;
            padding: 0 0 6px 9px;


            &:before {
                content: counter(item) "";
                counter-increment: item;
                position: absolute;
                left: 0;
                top: -3px;
				font-size: smaller;
            }

            &:nth-child(n+10) {
                padding-left: 14px;
            }
        }
    }
}