/* $$$$$       $$$$$ $$$$$$$$$$$$$$$ */
/*  $$$$$     $$$$$  $$$$$$$$$$$$$$$ */
/*   $$$$$   $$$$$   $$$$$           */
/*    $$$$$ $$$$$    $$$$$           */
/*     $$$$$$$$$     $$$$$$$$$$$$$$$ */
/*     $$$$$$$$$     $$$$$$$$$$$$$$$ */
/*    $$$$$ $$$$$              $$$$$ */
/*   $$$$$   $$$$$             $$$$$ */
/*  $$$$$     $$$$$  $$$$$$$$$$$$$$$ */
/* $$$$$       $$$$$ $$$$$$$$$$$$$$$ */

@media (min-width: 1px) {




	.expand-collapse-content,
	.expand-collapse-tbody,
	.show-hide-content {
	    display: none;
	    width: 100%;
	}
	
	.expand-collapse-content {
	    &[style*='display: none'] {
	
	    }
	
	    &[style*='display: block'] {
	        animation: change-background .5s ease;
	    }
	    
	    & > ul {
        	margin-right: 0;
        	margin-left: 0;
    	}
    
 
	}
	
	@keyframes change-background {
	    0% {
	        background: #ffc;
	    }
	
	    100% {
	        background: #fff;
	    }
	}
	
	.toggle {
	    font-size: var(--med);
	    font-weight: @mediumBold;
	    cursor: pointer;
	    display: block;
	    width: 100%;
	    margin-top: 5px;
	
	    .active-text {
	        display: none;
	    }
	
	    &.active {
	        .active-text {
	            display: block;
	        }
	
	        .inactive-text {
	            display: none;
	        }
	    }
	
	    span {
	        display: block;
	        

	        &.ico {
	            cursor: pointer;
	
	            &.expand {
	                &:before {
	                    .controls-icon(12px, 12px);
	                    .icon-remove();
	                    transform: rotate(45deg);
	                    float: left;
	                    margin: 2px 3px 0 0;
	                }
	            }
	
	            &.collapse {
	                &:before {
	                    .controls-icon(12px, 12px);
	                    .icon-collapse;
	                    float: left;
	                    display: inline-block;
	                    margin: 4px 3px 0 0;
	                }
	            }
	        }
	    }
	}
}

/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$$     $$$$$$ */
/* $$$$$           $$$$$$$   $$$$$$$ */
/* $$$$$           $$$$$$$$ $$$$$$$$ */
/* $$$$$$$$$$$$$$  $$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$  $$$$$ $$$$$ $$$$$ */
/*          $$$$$  $$$$$  $$$  $$$$$ */
/*          $$$$$  $$$$$   $   $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */

@media (min-width: 480px) {}

/* $$$$$       $$$$$ */
/* $$$$$$     $$$$$$ */
/* $$$$$$$   $$$$$$$ */
/* $$$$$$$$ $$$$$$$$ */
/* $$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$ */
/* $$$$$ $$$$$ $$$$$ */
/* $$$$$  $$$  $$$$$ */
/* $$$$$   $   $$$$$ */
/* $$$$$       $$$$$ */
/* $$$$$       $$$$$ */

@media (min-width: 600px) {}

/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$ */

@media (min-width: 801px) {}



@media (min-width: 1025px) {}