@media screen and (min-width: 320px) and (max-width: 1024px) {
    .tab-and-select {
        z-index: 999;
        position: relative;
        .select-dropdown-menu();
    }
}

@media (min-width: 1px) {
    .teriary-navigation {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .teriary-navigation li:has(a) {
        border-left: 5px solid #ccc;
        margin: 0 0 0.5em 0;
        padding: 0;
    }

    .teriary-navigation:has(+ .teriary-navigation) {
        padding-bottom: .5rem;
    }

    .teriary-navigation li a {
        width: 100%;
        margin: 0 0 0 0.5em;
    }

    .teriary-navigation li a span {
        white-space: preserve nowrap;
    }

    .teriary-navigation li.active {
        border-left: 5px solid #189bd7;
    }

    .teriary-navigation li.active a {
        font-weight: bolder;
        color: #000;
    }
}

@media (min-width: 1025px) {
    .teriary-navigation {
        border-bottom: 4px solid #189bd7;
        margin-bottom: 0 auto 0;
        padding: 0;
        width: 100%;
        /*
			align-items: flex-end;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
		
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
			*/
        display: flex;
        flex-wrap: wrap;
    }

    .teriary-navigation li:has(a) {
        list-style: none;
        border-left: none;
        border-right: 1px solid #ddd;
        margin: 0;
        padding: 0 8px;
        /*
			flex: 0 0 16.666%;
			*/
    }

    .teriary-navigation li a {
        line-height: 1;
        padding: 0;
        margin: 0 0 2px 0;
    }

    .teriary-navigation li a:hover {
        text-decoration: none;
    }

    .teriary-navigation li.active {
        border-left: none;
    }

    .teriary-navigation li.active a {
        color: #000;
        font-weight: bolder;
        text-decoration: none;
    }

    .teriary-navigation li.active a:hover {
        text-decoration: none;
    }

    .teriary-navigation li:last-child {
        border-right: none;
    }
}

@media (min-width: 1025px) {
    .tab-and-select {
        .fieldset {
            display: none;
        }

        .select {
            width: 100%;
            padding: 0;
            margin: 0 auto 1em auto;
            //border-bottom: 4px solid var(--select-border-hover);
            border-bottom: 4px solid #189bd7;

            li {
                list-style: none;

                li {
                    margin: 0;
                    padding: 0;
                }
            }

            &__input {
                display: none !important;
            }

            >li {
                &:nth-child(1) {
                    display: none;
                }

                &:nth-child(2) {

                    >input,
                    >label {
                        display: none;
                    }
                }
            }

            ul {
                width: 100%;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-start;

                li {
                    label {
                        display: flex;
                        padding: 0 0.8em;
                        margin-bottom: 2px;
                        border-right: 1px solid #ddd;
                    }

                    &:last-child {
                        label {
                            border-right: none;
                        }
                    }

                    a {
                        line-height: 1;

                        &:hover {
                            text-decoration: none !important;
                        }
                    }

                    &.select__active {
                        a {
                            color: var(--select-tabs-active-color) !important;
                            font-weight: bolder;
                            text-decoration: none;

                            &:hover {
                                text-decoration: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}