<section>
	<style>
		header,
		footer,
		#introduction {
			display: none;
		}
	</style>
	<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" sources="srcset: ./assets/images/eia-style-guide_background.jpg?fit=crop&w=650&h=433&q=80 650w,
	 ./assets/images/eia-style-guide_background.jpg?fit=crop&w=1300&h=866&q=80 1300w; media: (min-width: 1200px)" data-src="./assets/images/eia-style-guide_background.jpg?fit=crop&w=650&h=433&q=80" data-srcset="./assets/images/eia-style-guide_background.jpg?fit=crop&w=650&h=433&q=80 650w,
                  ./assets/images/eia-style-guide_background.jpg?fit=crop&w=1300&h=866&q=80 1300w" sizes="(min-width: 650px) 650px, 100vw" uk-img>
		<h1>EIA Online Style Guide</h1>
	</div>
	<div class="uk-margin">

		<div class="uk-child-width-1-5@m uk-grid-small uk-grid-match" uk-grid>
			<div>
				<div class="uk-card uk-card-default uk-card-body">
					<h3 class="uk-card-title"><a href="/base/home.html">Base</a></h3>
					<ul class="uk-nav-default" uk-nav>
						<li class="uk-parent">
							<a href="./base/accessibility.html">Accessibility <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="/base/accessibility.html#images">Images</a></li>
								<li><a href="/base/accessibility.html#accessibility">Sub item</a></li>
							</ul>
						</li>
						<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
						<!-- $$$$$$$$$$ Color Palette $$$$$$$$$$ -->
						<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
						<li class="uk-parent">
							<a href="./base/color-palette.html">Color Palette <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./base/color-palette.html">Default Colors</a></li>
								<li><a href="./base/color-palette.html#red">Red</a></li>
								<li><a href="./base/color-palette.html#green">Green</a></li>
								<li><a href="./base/color-palette.html#yellow">Yellow</a></li>
								<li><a href="./base/color-palette.html#orange">Orange</a></li>
								<li><a href="./base/color-palette.html#brown">Brown</a></li>
								<li><a href="./base/color-palette.html#purple">Purple</a></li>
								<li><a href="./base/color-palette.html#greyscale">Greyscale</a></li>
							</ul>
						</li>
						<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
						<!-- $$$$$$$$$$      Icons    $$$$$$$$$$ -->
						<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
						<li class="uk-parent">
							<a href="./base/icons.html">Icons <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./base/icons.html#default">Home</a></li>
								<li><a href="./base/icons.html#anchors">anchors</a></li>
								<li><a href="./base/icons.html#file-types">file-types</a></li>
								<li><a href="./base/icons.html#grid">grid</a></li>
								<li><a href="./base/icons.html#informative">informative</a></li>
								<li><a href="./base/icons.html#inline">inline</a></li>
								<li><a href="./base/icons.html#list-items">list-items</a></li>
								<li><a href="./base/icons.html#social">social</a></li>
								<li><a href="./base/icons.html#spans">spans</a></li>
								<li><a href="./base/icons.html#stand-alone">stand-alone</a></li>
								<li><a href="./base/icons.html#table">table</a></li>
								<li><a href="./base/icons.html#logos">logos</a></li>

							</ul>
						</li>
						<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
						<!-- $$$$$$$$$$ Spacing $$$$$$$$$$ -->
						<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
						<li class="uk-parent">
							<a href="./base/spacing.html">Spacing <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./base/spacing.html#default">Default Colors</a></li>
								<li><a href="./base/spacing.html#anchors">anchors</a></li>
								<li><a href="./base/spacing.html#anchors">anchors</a></li>
								<li><a href="./base/spacing.html#anchors">anchors</a></li>
								<li><a href="./base/spacing.html#anchors">anchors</a></li>
								<li><a href="./base/spacing.html#anchors">anchors</a></li>
								<li><a href="./base/spacing.html#anchors">anchors</a></li>
								<li><a href="./base/spacing.html#anchors">anchors</a></li>
							</ul>
						</li>
						<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
						<!-- $$$$$$$$$$ Typography $$$$$$$$$$ -->
						<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
						<li class="uk-parent">
							<a href="./base/typography.html">Typography <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./base/typography.html#default">Default Colors</a></li>
								<li><a href="./base/typography.html#anchors">anchors</a></li>
								<li><a href="./base/typography.html#anchors">anchors</a></li>
								<li><a href="./base/typography.html#anchors">anchors</a></li>
								<li><a href="./base/typography.html#anchors">anchors</a></li>
								<li><a href="./base/typography.html#anchors">anchors</a></li>
								<li><a href="./base/typography.html#anchors">anchors</a></li>
								<li><a href="./base/typography.html#anchors">anchors</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div>
				<div class=" uk-card uk-card-default uk-card-body">
					<h3 class="uk-card-title"><a href="./layouts/page-layouts.html">Layouts</a></h3>
					<ul class="uk-nav">
						<li class="uk-parent"><a href="./layouts/page-layouts.html">Page Layouts</a></li>
						<li class="uk-parent"><a href="./layouts/nested-layouts.html">Nested</a></li>
						<li class="uk-parent"><a href="./layouts/rows.html">Rows</a></li>
						<li class="uk-parent"><a href="./layouts/full-page.html">Full Page</a></li>
						<li class="uk-nav-divider"></li>
						<li><a href="./layouts/unused-layouts.html">Unused Layouts</a></li>
					</ul>
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-default uk-card-body">
					<h3 class="uk-card-title"><a href="./modules/home.html">Modules</a></h3>
					<ul class="uk-nav-default" uk-nav>
						<li class="uk-parent">
							<a href="https://www.google.com">Accordions <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./modules/accordions.html#accordions">Introduction</a></li>
								<li><a href="./modules/accordions.html#allClosed">All Closed</a></li>
								<li><a href="./modules/accordions.html#firstOpen">FirstOpen</a></li>
								<li><a href="./modules/accordions.html#allOpen">All Open</a></li>
							</ul>
						</li>
						<li class="uk-parent">
							<a href="https://www.google.com">Banners <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./modules/banners.html#bannersIntroduction">Introduction</a></li>
								<li><a href="./modules/banners.html#bannersAlert">Alert</a></li>
								<li><a href="./modules/banners.html#bannersCallout">Callout</a></li>
								<li><a href="./modules/banners.html#bannersError">Error</a></li>
								<li><a href="./modules/banners.html#bannersInformation">Information</a></li>
								<li><a href="./modules/banners.html#bannersnotice">Notice</a></li>
								<li><a href="./modules/banners.html#bannersSuccess">Success</a></li>
							</ul>
						</li>
						<li class="uk-parent">
							<a href="https://www.google.com">Blockquote <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
							</ul>
						</li>
						<li class="uk-parent">
							<a href="https://www.google.com">Code <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
							</ul>
						</li>
						<li class="uk-parent">
							<a href="https://www.google.com">Contact <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
							</ul>
						</li>
						<li class="uk-parent">
							<a href="https://www.google.com">correction-update & revision-notice <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./modules/correction-update.html"></a></li>
								<li><a href="./modules/revision-notice.html"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
							</ul>
						</li>
						<li class="uk-parent">
							<a href="https://www.google.com">Footnotes <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
							</ul>
						</li>
						<li class="uk-parent">
							<a href="https://www.google.com">Forms <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
							</ul>
						</li>
						<li class="uk-parent">
							<a href="https://www.google.com">Images <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
							</ul>
						</li>
						<li class="uk-parent">
							<a href="https://www.google.com">Lists <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
							</ul>
						</li>
						<li class="uk-parent">
							<a href="https://www.google.com">Page Titles <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
							</ul>
						</li>
						<li class="uk-parent">
							<a href="https://www.google.com">Tables <span uk-nav-parent-icon></span></a>
							<ul class="uk-nav-sub">
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
								<li><a href="./modules/"></a></li>
							</ul>
						</li>
					</ul>
					<li class="uk-parent">
						<a href="https://www.google.com">Tabs <span uk-nav-parent-icon></span></a>
						<ul class="uk-nav-sub">
							<li><a href="./modules/"></a></li>
							<li><a href="./modules/"></a></li>
							<li><a href="./modules/"></a></li>
							<li><a href="./modules/"></a></li>
							<li><a href="./modules/"></a></li>
							<li><a href="./modules/"></a></li>
							<li><a href="./modules/"></a></li>
							<li><a href="./modules/"></a></li>
							<li><a href="./modules/"></a></li>
							<li><a href="./modules/"></a></li>
						</ul>
					</li>
					</ul>
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-default uk-card-body">
					<h3 class="uk-card-title"><a href="./states/home.html">States</a></h3>
					<ul class="uk-nav">
						<li class="uk-parent">
							<a href=""></a>
							<ul class="uk-nav-sub">
								<li><a href=""></a></li>
								<li>
									<a href=""></a>
									<ul>…</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-default uk-card-body">
					<h3 class="uk-card-title"><a href="./themes/home.html">Themes</a></h3>
					<ul class="uk-nav">
						<li class="uk-parent">
							<a href=""></a>
							<ul class="uk-nav-sub">
								<li><a href=""></a></li>
								<li>
									<a href=""></a>
									<ul>…</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


</section>