h2 {
	padding: 0 !important;
	margin: 0 !important;
	font-size: 20pt !important;
}
.l-row {
	&.header {
		display: none;
	}
}
table {
	&.basic-table {
		&.selector {
			tbody {
				tr {
					td {
						background-color: #fff;
						&:first-child {
							.ico {
								display: none;
								float: left;
							}
						}
					}
				}
			}
		}
	}
}

.secondary {
	border-top: 4px solid #fff;
}

.g_container {
	border-top: 3px solid #fff !important;
}

.l-outer-wrapper,
.l-inner-wrapper {
	border: none !important;
	background-color: #fff !important;
	padding: 0 !important;
	margin: 0 !important;
	width: 100% !important;
}
header {
	height: 92px !important;
}
@media (min-width: 600px) {
	&.l-report-header-petroleum-weekly {
		& > .l-col {
			width: 100% !important;
		}
	}
}
