<div id="secondaryNavigation">
	<ul class="uk-nav uk-nav-default" uk-scrollspy-nav="closest: li; scroll: true">
		<li><a href="#bannersIntroduction">Introduction</a></li>
		<li><a href="#bannersAlert">Alert</a></li>
		<li><a href="#bannersCallout">Callout</a></li>
		<li><a href="#bannersError">Error</a></li>
		<li><a href="#bannersInformation">Information</a></li>
		<li><a href="#bannersnotice">Notice</a></li>
		<li><a href="#bannersSuccess">Success</a></li>
	</ul>
</div>

<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$ bannersIntroduction $$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="bannersIntroduction">
	<div class="eia-container">
		<h1 class="uk-h1 tm-heading-fragment">Banners</h1>
		<p class="uk-text-lead">Information and system notifications and messaging.</p>
		<h4 class="uk-h3 tm-heading-fragment">Purpose</h4>
		<p>Users need to be aware of important information related to the eia.gov website.</p>
		<!--
<h4 id="description-1">Description</h4>
<ul>
<p>System notifications appear in in the top right corner of the screen</p>
<p>They are usually triggered by events <em>unrelated</em> to the user&apos;s interactions</p>
<p>They can be closable and can have other action buttons or links.</p>
<p>Notifications with low importance (info or success) can close automatically after 20 seconds (if desired)</p>
<p>Notifications with high importance (warning or danger) should not close automatically, unless the situation has been resolved in some other way</p>
</ul>
-->
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$ Banners Alert $$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="bannersAlert">
	<div class="eia-container">
		<h2 class="uk-h1 tm-heading-fragment">Alert</h2>
		<p><code>.alert</code> notifications can be used for messages that likely require attention.</p>
		<!--
	h3 class=" uk-heading-small">Live Examples</h3>
		dl class="uk-description-list uk-description-list-divider">
		<dd></dd>
		<dd></dd>
		</dl>
		-->
		<!--

		dl class="uk-description-list uk-description-list-divider">
	<dt>Background color</dt>
	<dd>
		div class="uk-card uk-card-default uk-card-body eia-dark-blue-15 swatch"></div
		<div class="alert-banner-background-color" id="ColorExamples"></div>
	</dd>
	<dt>Link color</dt>
	<dd>
		div class="uk-card uk-card-default uk-card-body eia-dark-blue-15 swatch"></div
		<div class="alert-banner-link-color" id="ColorExamples"></div>
	</dd>
</dl>
-->
		<!-- Example -->
		<h3 class="uk-heading-small">Example</h3>
		<div class="eia-card">
			<div class="module-outer">
				<div class="module-inner">
					<div class="alert">
						<p class="eia-banners">
							The <strong>five boxing</strong> wizards jump quickly <a>jump quickly</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- HTML -->
		<h3 class="uk-heading-small">HTML</h3>
		<div class="uk-margin-medium">
			<pre><code class="language-html" id="BannersAlert">&lt;div class="alert"&gt;
  &lt;p&gt;The &lt;strong&gt;five boxing&lt;/strong&gt; wizards jump quickly &lt;a&gt;jump quickly&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;</code></pre>
		</div>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="cut" data-clipboard-target="#BannersAlert">
				Cut to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$ Banners Callout $$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="bannersCallout">
	<div class="eia-container">
		<h2 class="uk-h1 tm-heading-fragment">Callout</h2>
		<p><code>.callout</code> notifications can be used for messages that likely require attention.</p>
		<h3 class=" uk-heading-small">Live Examples</h3>
		<!--
	dl class="uk-description-list uk-description-list-divider">
	<dd><a href="https://www.eia.gov/uranium/marketing/">www.eia.gov/uranium/marketing/</a></dd>
	<dd></dd>
</dl>
-->
		<!--
	dl class="uk-description-list uk-description-list-divider">
	<dt>Background color</dt>
	<dd>
		<div class="callout-banner-background-color" id="ColorExamples"></div>
	</dd>
	<dt>Link color</dt>
	<dd>
		<div class="callout-banner-link-color" id="ColorExamples"></div>
	</dd>
</dl>
-->
		<!-- Example -->
		<h3 class="uk-heading-small">Example</h3>
		<div class="eia-card">
			<div class="module-outer">
				<div class="module-inner">
					<div class="call-out">
						<p class="eia-banners">
							The <strong>five boxing</strong> wizards jump quickly <a>jump quickly</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- HTML -->
		<h3 class="uk-heading-small">HTML</h3>
		<div class="uk-margin-medium">
			<pre><code class="language-html" id="BannersCallout">&lt;div class="call-out"&gt;
  &lt;p&gt;The &lt;strong&gt;five boxing&lt;/strong&gt; wizards jump quickly &lt;a&gt;jump quickly&lt;/a&gt;./p&gt;
&lt;/div&gt;</code></pre>
		</div>
		<!-- Copy Button -->
		<p> <button class="copy-element uk-button uk-button-primary" data-clipboard-action="cut" data-clipboard-target="#BannersCallout">
				Cut to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$    Banners Error   $$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="bannersError">
	<div class="eia-container">
		<h2 class="uk-h1 tm-heading-fragment">Error</h2>
		<p><code>.error</code> notifications can be used for critical messages that require immediate attention</p>
		<!-- Live Examples -->
		<h3 class=" uk-heading-small">Live Examples</h3>
		<!--
	dl class="uk-description-list uk-description-list-divider">
	<dd><a href="https://www.eia.gov/opendata/">Opendata Forgot Key modal</a></dd>
	<dd><a href="https://www.eia.gov/opendata/">Opendata Register modal</a></dd>
</dl>
-->
		<!-- Color Check --
<h3 class="uk-heading-small">Color Check</h3>
	dl class="uk-description-list uk-description-list-divider">
	<dt>Background color</dt>
	<dd>
		<div class="error-banner-background-color" id="ColorExamples"></div>
	</dd>
	<dt>Link color</dt>
	<dd>
		<div class="error-banner-link-color" id="ColorExamples"></div>
	</dd>
</dl>
-->
		<!-- Example -->
		<h3 class="uk-heading-small">Example</h3>
		<div class="eia-card">
			<div class="module-outer">
				<div class="module-inner">
					<div class="error">
						<p class="eia-banners">
							The <strong>five boxing</strong> wizards jump quickly <a>jump quickly</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- HTML -->
		<h3 class="uk-heading-small">HTML</h3>
		<div class="uk-margin-medium">
			<pre><code class="language-html" id="BannersError">&lt;div class="error"&gt;
  &lt;p&gt;The &lt;strong&gt;five boxing&lt;/strong&gt; wizards jump quickly &lt;a&gt;jump quickly&lt;/a&gt;./p&gt;
&lt;/div&gt;</code></pre>
		</div>
		<!-- Copy Button -->
		<p> <button class="copy-element uk-button uk-button-primary" data-clipboard-action="cut" data-clipboard-target="#BannersError">
				Cut to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$ BannersInformation $$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="bannersInformation">
	<div class="eia-container">
		<h2 class="uk-h1 tm-heading-fragment">Information</h2>
		<p><code>.info</code> notifications can be used for general messages that aren&apos;t particularly critical</p>
		<!-- Live Examples
	h3 class=" uk-heading-small">Live Examples</h3>
					dl class="uk-description-list uk-description-list-divider">
					<dd></dd>
					<dd></dd>
					</dl>
					-->
		<!-- Color Check --
<h3 class="uk-heading-small">Color Check</h3>
	dl class="uk-description-list uk-description-list-divider">
	<dt>Background color</dt>
	<dd>
		<div class="information-banner-background-color" id="ColorExamples"></div>
	</dd>
	<dt>Link color</dt>
	<dd>
		<div class="information-banner-border-color" id="ColorExamples"></div>
	</dd>
</dl>
-->
		<!-- Example -->
		<h3 class="uk-heading-small">Example</h3>
		<div class="eia-card">
			<div class="module-outer">
				<div class="module-inner">
					<div>
						<p class="eia-banners info">
							The <strong>five boxing</strong> wizards jump quickly <a>jump quickly</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- HTML -->
		<h3 class="uk-heading-small">HTML</h3>
		<div class="uk-margin-medium">
			<pre><code class="language-html" id="BannersInformation">&lt;div class="info"&gt;
  &lt;p&gt;The &lt;strong&gt;five boxing&lt;/strong&gt; wizards jump quickly &lt;a&gt;jump quickly&lt;/a&gt;.&lt;/p&gt;
&lt;/div&gt;</code></pre>
		</div>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="cut" data-clipboard-target="#BannersInformation">
				Cut to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$ Bannersnotice $$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="bannersnotice">
	<div class="eia-container">
		<h2 class="uk-h1 tm-heading-fragment">Notice</h2>
		<p><code>.notice</code> notifications can be used for general messages that aren&apos;t particularly critical</p>
		<!-- Live Examples -->
		<h3 class=" uk-heading-small">Live Examples</h3>
		<!--
	dl class="uk-description-list uk-description-list-divider">
	<dd><a href="https://www.eia.gov/petroleum/supply/weekly/">www.eia.gov/petroleum/supply/weekly/</a></dd>
	<dd><a href="https://www.eia.gov/opendata/excel/">www.eia.gov/opendata/excel/</a></dd>
</dl>
-->
		<!-- Color Check --
<h3 class="uk-heading-small">Color Check</h3>
	dl class="uk-description-list uk-description-list-divider">
	<dt>Background color</dt>
	<dd>
		<div class="notice-banner-background-color" id="ColorExamples"></div>
	</dd>
	<dt>Link color</dt>
	<dd>
		<div class="notice-banner-link-color" id="ColorExamples"></div>
	</dd>
</dl>
-->
		<!-- Example -->
		<h3 class="uk-heading-small">Example</h3>
		<div class="eia-card">
			<div class="module-outer">
				<div class="module-inner">
					<div class="notice">
						<p class="eia-banners">
							The <strong>five boxing</strong> wizards jump quickly <a>jump quickly</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- HTML -->
		<h3 class="uk-heading-small">HTML</h3>
		<div class="uk-margin-medium">
			<pre><code class="language-html" id="BannersNotice">&lt;div class="notice"&gt;
  &lt;p class="notice"&gt;The &lt;strong&gt;five boxing&lt;/strong&gt; wizards jump quickly &lt;a&gt;jump quickly&lt;/a&gt;.&lt;/p&gt;
&lt;/div&gt;</code></pre>
		</div>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="cut" data-clipboard-target="#BannersNotice">
				Cut to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">





	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$   Banners Success  $$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="bannersSuccess">
	<div class="eia-container">
		<h2 class="uk-h1 tm-heading-fragment">Success</h2>
		<p><code>.success</code> notifications can be used for positive messages that don&apos;t have a context to associate it with</p>
		<!-- Live Examples -->
		<h3 class=" uk-heading-small">Live Examples</h3>
		<!--
	dl class="uk-description-list uk-description-list-divider">
	<dd><a href="https://www.eia.gov/opendata/">www.eia.gov/opendata/ Forgot Key (modal)</a></dd>
	<dd><a href="https://www.eia.gov/opendata/">www.eia.gov/opendata/ Register modal (modal)</a></dd>
</dl>
-->
		<!-- Color Check --
<h3 class="uk-heading-small">Color Check</h3>
	dl class="uk-description-list uk-description-list-divider">
	<dt>Background color</dt>
	<dd>
		<div class="success-banner-background-color" id="ColorExamples"></div>
	</dd>
	<dt>Link color</dt>
	<dd>
		<div class="success-banner-link-color" id="ColorExamples"></div>
	</dd>
</dl>
-->
		<!-- Example -->
		<h3 class="uk-heading-small">Example</h3>
		<div class="eia-card">
			<div class="module-outer">
				<div class="module-inner">
					<div class="success">
						<p class="eia-banners">
							The <strong>five boxing</strong> wizards jump quickly <a>jump quickly</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- HTML -->
		<h3 class="uk-heading-small">HTML</h3>
		<div class="uk-margin-medium">
			<pre><code class="language-html" id="BannersSuccess">&lt;div class="success"&gt;
  &lt;p&gt;The &lt;strong&gt;five boxing&lt;/strong&gt; wizards jump quickly &lt;a&gt;jump quickly&lt;/a&gt;./p&gt;
&lt;/div&gt;</code></pre>
		</div>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="cut" data-clipboard-target="#BannersSuccess">
				Cut to clipboard
			</button>
		</p>
	</div>
</section>