<h1 class="uk-h1 tm-heading-fragment" id=" Blockquote">Blockquote</h1>
<p class="uk-text-lead"></p>
<!-- Example -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="eia-card">
	<blockquote>
		<div class="accent">
			<h2>Header Two</h2>
			<p>Aliquam ipsum metus, bibendum vel ipsum sed, lobortis fringilla sem:</p>
			<h3>Header Three</h3>
			<p>Ut quis diam <a>sed mi placerat</a> efficitur eu sed felis.</p>
			<ul class="contact">
				<li class="head">
					<h4>Contacts</h4>
				</li>
				<li class="contact">Robert Merriam</li>
				<li class="contact"><span class="label">Email:</span> <a href="mailto:Robert.Merriam@eia.gov">Robert.Merriam@eia.gov</a></li>
				<li class="contact"><span class="label">Phone:</span> <a href="tel:+12025864615">(202) 586-4615</a></li>
				<li class="title"><span class="label">Title:</span> Director, Office of Petroleum and Biofuels Statistics, Office of Energy Statistics.</li>
				<li class="address"><span class="label">Address:</span> U.S. Energy Information Administration<br />1000 Independence Ave., SW<br />Washington, DC 20585</li>
			</ul>
		</div>
	</blockquote>
</div>
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="Blockquote"></code></pre>
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#Blockquote">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>
</div>
</section>