<div id="secondaryNavigation">
	<ul class="uk-nav uk-nav-default" uk-scrollspy-nav="closest: li; scroll: true">
		<li><a href="#contactIntroduction">Introduction</a></li>
		<li><a href="#primaryColumnExampleOne">Primary Column Example One</a></li>
		<li><a href="#primaryColumnExampleTwo">Primary Column Example Two</a></li>
		<li><a href="#primaryColumnExampleThr">Primary Column Example Three</a></li>
		<li><a href="#SecondaryColumnExampleOne">Primary Column Example Three</a></li>
		<li><a href="#blockQuote">Block Quote Contact Example</a></li>
		<li><a href="#reportContactExampleOne">Report Contact Example Two</a></li>
		<li><a href="#reportContactExampleTwo">Report Contact Example Two</a></li>
	</ul>
</div>

<section id="contactIntroduction">
	<h1 class="uk-h1 tm-heading-fragment" id=" Contact">Contact</h1>
	<p class="uk-text-lead"></p>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$  primary Column Example One $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="primaryColumnExampleOne">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Primary Column Example One</h2>
		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="eia-card">
			<ul class="contact">
				<li class="head">
					<h4>Contacts</h4>
				</li>
				<li class="contact">Robert Merriam</li>
				<li class="contact">
					<span class="label">Email:</span> <a href="mailto:Robert.Merriam@eia.gov">Robert.Merriam@eia.gov</a>
				</li>
				<li class="contact">
					<span class="label">Phone:</span> <a href="tel:+12025864615">(202) 586-4615</a>
				</li>
				<li class="title">
					<span class="label">Title:</span> Director, Office of Petroleum and Biofuels Statistics, Office of Energy Statistics.
				</li>
				<li class="address">
					<span class="label">Address:</span> U.S. Energy Information Administration
					<br />
					1000 Independence Ave., SW
					<br />
					Washington, DC 20585
				</li>
			</ul>
		</div>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="PrimaryColumnExampleOne">&lt;ul class="contact"&gt;
	&lt;li class="head"&gt;
		&lt;h4&gt;Contacts&lt;/h4&gt;
	&lt;/li&gt;
	&lt;li class="contact"&gt;Robert Merriam&lt;/li&gt;
	&lt;li class="contact"&gt;
		&lt;span class="label"&gt;Email:&lt;/span&gt; &lt;a href="mailto:Robert.Merriam@eia.gov"&gt;Robert.Merriam@eia.gov&lt;/a&gt;
	&lt;/li&gt;
	&lt;li class="contact"&gt;
		&lt;span class="label"&gt;Phone:&lt;/span&gt; &lt;a href="tel:+12025864615"&gt;(202) 586-4615&lt;/a&gt;
	&lt;/li&gt;
	&lt;li class="title"&gt;
		&lt;span class="label"&gt;Title:&lt;/span&gt; Director, Office of Petroleum and Biofuels Statistics, Office of Energy Statistics.
	&lt;/li&gt;
	&lt;li class="address"&gt;
		&lt;span class="label"&gt;Address:&lt;/span&gt; U.S. Energy Information Administration
		&lt;br /&gt;
		1000 Independence Ave., SW
		&lt;br /&gt;
		Washington, DC 20585
	&lt;/li&gt;
&lt;/ul&gt;</code></pre>
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#PrimaryColumnExampleOne">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$  Primary Column Example Two $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="primaryColumnExampleTwo">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Primary Column Example Two</h2>
		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="eia-card">
			<ul class="contact">
				<li class="head">
					<h4>Contacts</h4>
				</li>
				<li class="contact">Robert Merriam</li>
				<li class="contact">
					<span class="label">Email:</span> <a href="mailto:Robert.Merriam@eia.gov">Robert.Merriam@eia.gov</a>
				</li>
				<li class="contact">
					<span class="label">Phone:</span> <a href="tel:+12025864615">(202) 586-4615</a>
				</li>
				<li class="title">
					<span class="label">Title:</span> Director, Office of Petroleum and Biofuels Statistics, Office of Energy Statistics.
				</li>
				<li class="list-spacer"></li>
				<li class="sub-head">Detailed, technical questions may be directed to:</li>
				<li class="contact">Daniel Walzer</li>
				<li class="contact">
					<span class="label">Email:</span> <a href="mailto:Daniel.Walzer@eia.gov">Daniel.Walzer@eia.gov</a>
				</li>
				<li class="contact">
					<span class="label">Phone:</span> <a href="tel:+12025863511">(202) 586-3511</a>
				</li>
				<li class="contact">
					<span class="label">Fax:</span> (202) 287-1944
				</li>
				<li class="foot">
					<a href="/about/contact/coal.php">Coal Data Contacts</a>
				</li>
			</ul>
		</div>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="Primary Column Example Two">&lt;ul class="contact"&gt;
	&lt;li class="head"&gt;
		&lt;h4&gt;Contacts&lt;/h4&gt;
	&lt;/li&gt;
	&lt;li class="contact"&gt;Robert Merriam&lt;/li&gt;
	&lt;li class="contact"&gt;
		&lt;span class="label"&gt;Email:&lt;/span&gt; &lt;a href="mailto:Robert.Merriam@eia.gov"&gt;Robert.Merriam@eia.gov&lt;/a&gt;
	&lt;/li&gt;
	&lt;li class="contact"&gt;
		&lt;span class="label"&gt;Phone:&lt;/span&gt; &lt;a href="tel:+12025864615"&gt;(202) 586-4615&lt;/a&gt;
	&lt;/li&gt;
	&lt;li class="title"&gt;
		&lt;span class="label"&gt;Title:&lt;/span&gt; Director, Office of Petroleum and Biofuels Statistics, Office of Energy Statistics.
	&lt;/li&gt;
	&lt;li class="list-spacer"&gt;&lt;/li&gt;
	&lt;li class="sub-head"&gt;Detailed, technical questions may be directed to:&lt;/li&gt;
	&lt;li class="contact"&gt;Daniel Walzer&lt;/li&gt;
	&lt;li class="contact"&gt;
		&lt;span class="label"&gt;Email:&lt;/span&gt; &lt;a href="mailto:Daniel.Walzer@eia.gov"&gt;Daniel.Walzer@eia.gov&lt;/a&gt;
	&lt;/li&gt;
	&lt;li class="contact"&gt;
		&lt;span class="label"&gt;Phone:&lt;/span&gt; &lt;a href="tel:+12025863511"&gt;(202) 586-3511&lt;/a&gt;
	&lt;/li&gt;
	&lt;li class="contact"&gt;
		&lt;span class="label"&gt;Fax:&lt;/span&gt; (202) 287-1944
	&lt;/li&gt;
	&lt;li class="foot"&gt;
		&lt;a href="/about/contact/coal.php"&gt;Coal Data Contacts&lt;/a&gt;
	&lt;/li&gt;
&lt;/ul&gt;</code></pre>
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#Primary Column Example Two">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$  Primary Column Example Three $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="primaryColumnExampleThree">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Primary Column Example Three</h2>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<ul class="contact">
			<li class="foot">
				<a href="/about/contact/coal.php">Coal Data Contacts</a>
			</li>
		</ul>

		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="PrimaryColumnExampleThree">&lt;ul class="contact"&gt;
	&lt;li class="foot"&gt;
		&lt;a href="/about/contact/coal.php"&gt;Coal Data Contacts&lt;/a&gt;
	&lt;/li&gt;
&lt;/ul&gt;</code></pre>
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#PrimaryColumnExampleThree">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$  Secondary Column $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="SecondaryColumnExampleOne">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Secondary Column</h2>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Example</div>
		<dl class="uk-description-list uk-description-list-divider">
			<dd><a href="https://wwwdev.eia.gov/outlooks/ieo/section_issue_aiso.php">https://wwwdev.eia.gov/outlooks/ieo/section_issue_aiso.php</a></dd>
		</dl>
		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="eia-card">
			<ul class="contact">
				<li class="head">
					<h4>About the author</h4>
				</li>
				<li class="author">Elizabeth Sendich</li>
				<li class="title">Lead Industry Economist/ Economist</li>
				<li class="list-spacer"></li>
				<li class="contact">
					<a href="mailto:Elizabeth.Sendich@eia.gov">Elizabeth.Sendich@eia.gov</a>
				</li>
				<li class="contact">
					<a href="tel:+1202586-4412">(202) 586-4412</a>
				</li>
			</ul>
			<p>Elizabeth Sendich, PhD, is Lead Industry Economist on the Macroeconomic Analysis Team. She helps maintain EIA&apos;s long-term production forecasts and enhances public understanding of important issues related to the industrial sector, including manufacturing, construction, mining, and agriculture. She is responsible for the integrated modeling of a diverse set of industries across the world and for analysis of topics important to the sector, such as trade, supply chains, and technology.</p>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="SecondaryColumn">&lt;ul class="contact"&gt;
	&lt;li class="head"&gt;
		&lt;h4&gt;About the author&lt;/h4&gt;
	&lt;/li&gt;
	&lt;li class="author"&gt;Elizabeth Sendich&lt;/li&gt;
	&lt;li class="title"&gt;Lead Industry Economist/ Economist&lt;/li&gt;
	&lt;li class="list-spacer"&gt;&lt;/li&gt;
	&lt;li class="contact"&gt;
		&lt;a href="mailto:Elizabeth.Sendich@eia.gov"&gt;Elizabeth.Sendich@eia.gov&lt;/a&gt;
	&lt;/li&gt;
	&lt;li class="contact"&gt;
		&lt;a href="tel:+1202586-4412"&gt;(202) 586-4412&lt;/a&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;Elizabeth Sendich, PhD, is Lead Industry Economist on the Macroeconomic Analysis Team. She helps maintain EIA&amp;apos;s long-term production forecasts and enhances public understanding of important issues related to the industrial sector, including manufacturing, construction, mining, and agriculture. She is responsible for the integrated modeling of a diverse set of industries across the world and for analysis of topics important to the sector, such as trade, supply chains, and technology.&lt;/p&gt;
</code></pre>
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#SecondaryColumn">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$  Block Quote $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="blockQuote">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Block Quote</h2>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Example</div>
		<ul>
			<li><a href="https://www.eia.gov/outlooks/ieo/section_issue_aiso.php">https://www.eia.gov/outlooks/ieo/section_issue_aiso.php</a></li>
		</ul>
		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="eia-card">
			<p>Elizabeth Sendich, PhD, is Lead Industry Economist on the Macroeconomic Analysis Team. She helps maintain EIA&apos;s long-term production forecasts and enhances public understanding of important issues related to the industrial sector, including manufacturing, construction, mining, and agriculture. She is responsible for the integrated modeling of a diverse set of industries across the world and for analysis of topics important to the sector, such as trade, supply chains, and technology.</p>
			<blockquote>long-term energy consumption projections are uncertain because of the rapid rate of change that is magnified by the size of the economy.</blockquote>
			<p>Elizabeth Sendich, PhD, is Lead Industry Economist on the Macroeconomic Analysis Team. She helps maintain EIA&apos;s long-term production forecasts and enhances public understanding of important issues related to the industrial sector, including manufacturing, construction, mining, and agriculture. She is responsible for the integrated modeling of a diverse set of industries across the world and for analysis of topics important to the sector, such as trade, supply chains, and technology.</p>
		</div>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="BlockQuote">&lt;p&gt;Elizabeth Sendich, PhD, is Lead Industry Economist on the Macroeconomic Analysis Team. She helps maintain EIA&amp;apos;s long-term production forecasts and enhances public understanding of important issues related to the industrial sector, including manufacturing, construction, mining, and agriculture. She is responsible for the integrated modeling of a diverse set of industries across the world and for analysis of topics important to the sector, such as trade, supply chains, and technology.&lt;/p&gt;
&lt;blockquote&gt;long-term energy consumption projections are uncertain because of the rapid rate of change that is magnified by the size of the economy.&lt;/blockquote&gt;
&lt;p&gt;Elizabeth Sendich, PhD, is Lead Industry Economist on the Macroeconomic Analysis Team. She helps maintain EIA&amp;apos;s long-term production forecasts and enhances public understanding of important issues related to the industrial sector, including manufacturing, construction, mining, and agriculture. She is responsible for the integrated modeling of a diverse set of industries across the world and for analysis of topics important to the sector, such as trade, supply chains, and technology.&lt;/p&gt;</code></pre>
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#BlockQuote">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$  Report Contact Example One $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="reportContactExampleOne">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Report Contact Example One</h2>
		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="eia-card">
			<p>Please comment by September 25, 2014.</p>
			<ul class="contact">
				<li class="head">
					<h4>Contact Survey Manager</h4>
				</li>
				<li class="contact">Marcela Rourk</li>
				<li class="contact">
					<span class="label">Email:</span> <a href="mailto:neal.davis@eia.gov">neal.davis@eia.gov</a>
				</li>
				<li class="contact">
					<span class="label">Phone:</span> <a href="tel:+12025866581">(202) 586-6581</a>
				</li>
				<li class="list-spacer"></li>
				<li class="head">
					<h4>More Natural Gas Notices</h4>
				</li>
				<li class="foot">
					<a href="/survey/notice/ngdownstreamforms2015.php">Changes to Downstream Natural Gas Survey forms for 2015</a>
				</li>
			</ul>
		</div>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="ReportContactExampleOne">&lt;p&gt;Please comment by September 25, 2014.&lt;/p&gt;
&lt;ul class="contact"&gt;
	&lt;li class="head"&gt;
		&lt;h4&gt;Contact Survey Manager&lt;/h4&gt;
	&lt;/li&gt;
	&lt;li class="contact"&gt;Marcela Rourk&lt;/li&gt;
	&lt;li class="contact"&gt;
		&lt;span class="label"&gt;Email:&lt;/span&gt; &lt;a href="mailto:neal.davis@eia.gov"&gt;neal.davis@eia.gov&lt;/a&gt;
	&lt;/li&gt;
	&lt;li class="contact"&gt;
		&lt;span class="label"&gt;Phone:&lt;/span&gt; &lt;a href="tel:+12025866581"&gt;(202) 586-6581&lt;/a&gt;
	&lt;/li&gt;
	&lt;li class="list-spacer"&gt;&lt;/li&gt;
	&lt;li class="head"&gt;
		&lt;h4&gt;More Natural Gas Notices&lt;/h4&gt;
	&lt;/li&gt;
	&lt;li class="foot"&gt;
		&lt;a href="/survey/notice/ngdownstreamforms2015.php"&gt;Changes to Downstream Natural Gas Survey forms for 2015&lt;/a&gt;
	&lt;/li&gt;
&lt;/ul&gt;</code></pre>
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#ReportContactExampleOne">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$  Report Contact Example Two $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="reportContactExampleTwo">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Report Contact Example Two</h2>
		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="eia-card">
			<p>Please send comments on the proposed information collection and WPSR methodology changes to:</p>
			<ul class="contact">
				<li class="head">
					<h4>Contact Survey Manager</h4>
				</li>
				<li class="contact">Sasha Abdalla</li>
				<li class="contact">
					<span class="label">Email:</span> <a href="mailto:Sasha.Abdalla@eia.gov">Sasha.Abdalla@eia.gov</a>
				</li>
				<li class="contact">
					<span class="label">Phone:</span> <a href="tel:+12022876323">(202) 287-6323</a>
				</li>
			</ul>
		</div>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="ReportContactExampleTwo">&lt;p&gt;Please send comments on the proposed information collection and WPSR methodology changes to:&lt;/p&gt;
&lt;ul class="contact"&gt;
	&lt;li class="head"&gt;
		&lt;h4&gt;Contact Survey Manager&lt;/h4&gt;
	&lt;/li&gt;
	&lt;li class="contact"&gt;Sasha Abdalla&lt;/li&gt;
	&lt;li class="contact"&gt;
		&lt;span class="label"&gt;Email:&lt;/span&gt; &lt;a href="mailto:Sasha.Abdalla@eia.gov"&gt;Sasha.Abdalla@eia.gov&lt;/a&gt;
	&lt;/li&gt;
	&lt;li class="contact"&gt;
		&lt;span class="label"&gt;Phone:&lt;/span&gt; &lt;a href="tel:+12022876323"&gt;(202) 287-6323&lt;/a&gt;
	&lt;/li&gt;
&lt;/ul&gt;</code></pre>
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#ReportContactExampleTwo">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>