<h1 class="uk-h1 tm-heading-fragment" id=" Contact">Contact</h1>
<p class="uk-text-lead"></p>

<h2 class="uk-h3 tm-heading-fragment">Primary Column Example One</h2>
<!-- Example -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="eia-card">
	<ul class="contact">
		<li class="head">
			<h4>Contacts</h4>
		</li>
		<li class="contact">Robert Merriam</li>
		<li class="contact">
			<span class="label">Email:</span> <a href="mailto:Robert.Merriam@eia.gov">Robert.Merriam@eia.gov</a>
		</li>
		<li class="contact">
			<span class="label">Phone:</span> <a href="tel:+12025864615">(202) 586-4615</a>
		</li>
		<li class="title">
			<span class="label">Title:</span> Director, Office of Petroleum and Biofuels Statistics, Office of Energy Statistics.
		</li>
		<li class="address">
			<span class="label">Address:</span> U.S. Energy Information Administration
			<br />
			1000 Independence Ave., SW
			<br />
			Washington, DC 20585
		</li>
	</ul>
</div>
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="LinksLinkLabelAria"></code></pre>
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#LinksLinkLabelAria">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>
</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">








		<h2 class="uk-h3 tm-heading-fragment">Primary Column Example Two</h2>
		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="eia-card">
			<ul class="contact">
				<li class="head">
					<h4>Contacts</h4>
				</li>
				<li class="contact">Robert Merriam</li>
				<li class="contact">
					<span class="label">Email:</span> <a href="mailto:Robert.Merriam@eia.gov">Robert.Merriam@eia.gov</a>
				</li>
				<li class="contact">
					<span class="label">Phone:</span> <a href="tel:+12025864615">(202) 586-4615</a>
				</li>
				<li class="title">
					<span class="label">Title:</span> Director, Office of Petroleum and Biofuels Statistics, Office of Energy Statistics.
				</li>
				<li class="list-spacer"></li>
				<li class="sub-head">Detailed, technical questions may be directed to:</li>
				<li class="contact">Daniel Walzer</li>
				<li class="contact">
					<span class="label">Email:</span> <a href="mailto:Daniel.Walzer@eia.gov">Daniel.Walzer@eia.gov</a>
				</li>
				<li class="contact">
					<span class="label">Phone:</span> <a href="tel:+12025863511">(202) 586-3511</a>
				</li>
				<li class="contact">
					<span class="label">Fax:</span> (202) 287-1944
				</li>
				<li class="foot">
					<a href="/about/contact/coal.php">Coal Data Contacts</a>
				</li>
			</ul>
		</div>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="LinksLinkLabelAria"></code></pre>
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#LinksLinkLabelAria">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">






		<h2 class="uk-h3 tm-heading-fragment">Primary Column Example Three</h2>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<ul class="contact">
			<li class="foot">
				<a href="/about/contact/coal.php">Coal Data Contacts</a>
			</li>
		</ul>

		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="Dilly">Code sample not ready yet.</code></pre>
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#Dilly">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">

		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="LinksLinkLabelAria"></code></pre>
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#LinksLinkLabelAria">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">






		<h2 class="uk-h3 tm-heading-fragment">Secondary Column</h2>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Example</div>
		<dl class="uk-description-list uk-description-list-divider">
			<dd><a href="https://wwwdev.eia.gov/outlooks/ieo/section_issue_aiso.php">https://wwwdev.eia.gov/outlooks/ieo/section_issue_aiso.php</a></dd>
		</dl>
		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="eia-card">
			<ul class="contact">
				<li class="head">
					<h4>About the author</h4>
				</li>
				<li class="author">Elizabeth Sendich</li>
				<li class="title">Lead Industry Economist/ Economist</li>
				<li class="list-spacer"></li>
				<li class="contact">
					<a href="mailto:Elizabeth.Sendich@eia.gov">Elizabeth.Sendich@eia.gov</a>
				</li>
				<li class="contact">
					<a href="tel:+1202586-4412">(202) 586-4412</a>
				</li>
			</ul>
			<p>Elizabeth Sendich, PhD, is Lead Industry Economist on the Macroeconomic Analysis Team. She helps maintain EIA&apos;s long-term production forecasts and enhances public understanding of important issues related to the industrial sector, including manufacturing, construction, mining, and agriculture. She is responsible for the integrated modeling of a diverse set of industries across the world and for analysis of topics important to the sector, such as trade, supply chains, and technology.</p>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="LinksLinkLabelAria"></code></pre>
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#LinksLinkLabelAria">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">






		<h2 class="uk-h3 tm-heading-fragment">Block Quote</h2>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Example</div>

		<ul>
			<li><a href="https://www.eia.gov/outlooks/ieo/section_issue_aiso.php">https://www.eia.gov/outlooks/ieo/section_issue_aiso.php</a></li>
		</ul>

		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="eia-card">
			<p>Elizabeth Sendich, PhD, is Lead Industry Economist on the Macroeconomic Analysis Team. She helps maintain EIA&apos;s long-term production forecasts and enhances public understanding of important issues related to the industrial sector, including manufacturing, construction, mining, and agriculture. She is responsible for the integrated modeling of a diverse set of industries across the world and for analysis of topics important to the sector, such as trade, supply chains, and technology.</p>
			<blockquote>long-term energy consumption projections are uncertain because of the rapid rate of change that is magnified by the size of the economy.</blockquote>
			<p>Elizabeth Sendich, PhD, is Lead Industry Economist on the Macroeconomic Analysis Team. She helps maintain EIA&apos;s long-term production forecasts and enhances public understanding of important issues related to the industrial sector, including manufacturing, construction, mining, and agriculture. She is responsible for the integrated modeling of a diverse set of industries across the world and for analysis of topics important to the sector, such as trade, supply chains, and technology.</p>
		</div>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="LinksLinkLabelAria"></code></pre>

		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#LinksLinkLabelAria">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">






		<h2 class="uk-h3 tm-heading-fragment">Primary Column Report Contact Example One</h2>
		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="eia-card">
			<p>Please comment by September 25, 2014.</p>
			<ul class="contact">
				<li class="head">
					<h4>Contact Survey Manager</h4>
				</li>
				<li class="contact">Marcela Rourk</li>
				<li class="contact">
					<span class="label">Email:</span> <a href="mailto:neal.davis@eia.gov">neal.davis@eia.gov</a>
				</li>
				<li class="contact">
					<span class="label">Phone:</span> <a href="tel:+12025866581">(202) 586-6581</a>
				</li>
				<li class="list-spacer"></li>
				<li class="head">
					<h4>More Natural Gas Notices</h4>
				</li>
				<li class="foot">
					<a href="/survey/notice/ngdownstreamforms2015.php">Changes to Downstream Natural Gas Survey forms for 2015</a>
				</li>
			</ul>
		</div>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="LinksLinkLabelAria"></code></pre>
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#LinksLinkLabelAria">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">






		<h2 class="uk-h3 tm-heading-fragment">Primary Column Report Contact Example Two</h2>
		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="eia-card">
			<p>Please send comments on the proposed information collection and WPSR methodology changes to:</p>
			<ul class="contact">
				<li class="head">
					<h4>Contact Survey Manager</h4>
				</li>
				<li class="contact">Sasha Abdalla</li>
				<li class="contact">
					<span class="label">Email:</span> <a href="mailto:Sasha.Abdalla@eia.gov">Sasha.Abdalla@eia.gov</a>
				</li>
				<li class="contact">
					<span class="label">Phone:</span> <a href="tel:+12022876323">(202) 287-6323</a>
				</li>
			</ul>
		</div>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="LinksLinkLabelAria"></code></pre>
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#LinksLinkLabelAria">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">


		<app-side-nav-modules></app-side-nav-modules>