<section>
	<h2 id="" class="uk-h3 tm-heading-fragment uk-margin-xlarge-top">EIA Branded Checkbox</h2>
	<h5>Checkboxes</h5>
	<p>A toggle checkbox that can only be one of two states: checked or unchecked. The value is only submitted by the form if the checkbox is checked.</p>
	<!-- Live Examples --
<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Examples</div>
<dl class="uk-description-list uk-description-list-divider">
	<dd><a [routerLink]="['/modules/']" [fragment]="'placeholder'">placeholder</a></dd>
</dl>
-->
	<!-- Example -->
	<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
	<div class="eia-card">
		<div class="l-row l-two-col-left-wide">
			<div class="primary l-col form-area">
				<ul class="checkbox-container">
					<li class="custom-checkbox">
						<input type="checkbox" name="elements" class="custom-checkbox-input" value="Item One" id="elementOne" />
						<label for="elementOne" class="custom-checkbox-label">
							<span class="custom-checkbox-label-inside"> Item One</span>
						</label>
					</li>
					<li class="custom-checkbox">
						<input type="checkbox" name="elements" class="custom-checkbox-input" value="Item Two" id="elementTwo" />
						<label for="elementTwo" class="custom-checkbox-label">
							<span class="custom-checkbox-label-inside"> Item Two</span>
						</label>
					</li>
				</ul>
			</div>
		</div>
		<div class="l-col"></div>
	</div>
	<!-- HTML -->
	<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
	<pre><code class="language-html" id="BrandedCheckbox"></code></pre>
	<!-- Copy Button -->
	<p>
		<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#BrandedCheckbox">
			<span uk-icon="copy"></span>Copy to clipboard
		</button>
	</p>
</section>
<section>
	<!-- %- include('./partials/branded-dropdown-select') % -->
</section>
<section>
	<!-- %- include('./partials/button') % -->
</section>
<section>
	<!-- %- include('./partials/checkbox-group') % -->
</section>
<section>
	<!-- %- include('./partials/date-picker') % -->
</section>
<section>
	<!-- %- include('./partials/disabled') % -->
</section>
<section>
	<!-- %- include('./partials/dropdown-select') % -->
</section>
<section>
	<!-- %- include('./partials/enctype') % -->
</section>
<section>
	<!-- %- include('./partials/fieldset') % -->
</section>
<section>
	<!-- %- include('./partials/form-label') % -->
</section>
<section>
	<!-- %- include('./partials/form-placeholder') % -->
</section>
<section>
	<!-- %- include('./partials/images') % -->
</section>
<section>
	<!-- %- include('./partials/label-and-input') % -->
</section>
<section>
	<!-- %- include('./partials/name') % -->
</section>
<section>
	<!-- %- include('./partials/no-validate') % -->
</section>
<section>
	<!-- %- include('./partials/radiobutton-group') % -->
</section>
<section>
	<!-- %- include('./partials/required') % -->
</section>
<section>
	<!-- %- include('./partials/stand-alone-checkbox') % -->
</section>
<section>
	<!-- %- include('./partials/target') % -->
</section>
<section>
	<!-- %- include('./partials/textarea-config') % -->
</section>
<section>
	<!-- %- include('./partials/textarea') % -->
</section>
<section>
	<!-- %- include('./partials/text-input') % -->
</section>
<section>
	<!-- %- include('./partials/text-input-config') % -->
</section>
<section>
	<!-- %- include('./partials/validation') % -->
</section>
<section>
	<!-- %- include('./partials/side-nav-modules') % -->
</section>
<section>