<div id="secondaryNavigation">
	<ul class="uk-nav uk-nav-default" uk-scrollspy-nav="closest: li; scroll: true">
		<li><a href="#introduction">Introduction</a></li>
		<li><a href="#basic">basic</a></li>
		<li><a href="#bulleted">bulleted</a></li>
		<li><a href="#unordered">unordered</a></li>
		<li><a href="#head">head</a></li>
		<li><a href="#foot">foot</a></li>
		<li><a href="#footnotes">footnotes-list</a></li>
		<li><a href="#seperator">seperator</a></li>
		<li><a href="#spacer">spacer</a></li>
		<li><a href="#highlight">highlight</a></li>
		<li><a href="#ordered">ordered</a></li>
		<li><a href="#calculatedNumbered">Calculated Numbered</a></li>
	</ul>
</div>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$  Introduction $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="introduction">
	<div class="eia-container">
		<h1 class="uk-h1 tm-heading-fragment">Lists</h1>
		<p class="uk-text-lead"></p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$  Introduction $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="introduction">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Basic List</h2>
		<p>Add <code>.basic-list</code> to the <code>ul</code> of any list to apply the responsive EIA style which consists of the spacing and padding.</p>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="uk-card uk-card-default uk-padding">
			<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
			<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
			<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
			<section id="example-basic">
				<div class="eia-container">

				</div>
			</section>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="basicList">&lt;ul class="basic"&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		&lt;/ul&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#basicList">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="introduction">
	<div class="eia-container">

	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="basic">
	<div class="eia-container">

	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="bulleted">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Bulleted List (forced)</h2>
		<p>Adding <code>.bulleted</code> to the <code>ul</code> of any list will <strong>force</strong> bullets to the responsive EIA unordered list.</p>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="uk-card uk-card-default uk-padding">
			<app-example-bulleted></app-example-bulleted>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="bulletedList">&lt;ul class="bulleted"&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		&lt;/ul&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#bulletedList">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="unordered">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Unordered List List</h2>
		<!-- p>Add <code>.unordered-list</code> to the <code>ul</code> of any list to apply the responsive EIA style which consists of the spacing and padding.</p -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="uk-card uk-card-default uk-padding">
			<ul class="eia">
				<li class="eia">Lorem ipsum dolor sit amet</li>
				<li class="eia">Lorem ipsum dolor sit amet</li>
				<li class="eia">Lorem ipsum dolor sit amet</li>
			</ul>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="unorderedList">&lt;ul"&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		&lt;/ul&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#unorderedList">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="head">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">List Head</h2>
		<p>Add <code>.head</code> to the <code>li</code> of any list item to apply <strong>bold</strong> to the font, and EIA styling based on the parent class of either <code>.primary</code>, <code>.primary-alt</code>, <code>.secondary</code>, <code>.secondary-alt</code>, or <code>.article</code>.</p>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="uk-card uk-card-default uk-padding">
			<app-example-head></app-example-head>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="listHead">&lt;ul class="basic"&gt;
		  &lt;li class="head"&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;&lt;a&gt;Lorem ipsum dolor sit amet&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#listHead">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="foot">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">List Foot</h2>
		<p>Add <code>.foot</code> to the <code>li</code> of any list item to apply <strong>bold</strong> to the font, and an <a>&rsaquo;</a> to the end of a link.</p>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="uk-card uk-card-default uk-padding">
			<app-example-foot></app-example-foot>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="listFoot">&lt;ul class="basic"&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li class="foot"&gt;&lt;a&gt;Lorem ipsum dolor sit amet&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#listFoot">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="footnotes-list">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Footnotes</h2>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="uk-card uk-card-default uk-padding">
			<ul class="footnotes eia">
				<li class="eia">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li class="eia">Donec lorem massa, semper nec eros a, lacinia porttitor nunc.</li>
				<li class="eia">Phasellus ex dolor, ultricies eu ornare ut, placerat non sapien.</li>
				<li class="eia">Suspendisse sagittis risus eu sem suscipit sodales.</li>
			</ul>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="FootnotesList">&lt;ul class="footnotes"&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/li&gt;
		  &lt;li&gt;Donec lorem massa, semper nec eros a, lacinia porttitor nunc.&lt;/li&gt;
		  &lt;li&gt;Phasellus ex dolor, ultricies eu ornare ut, placerat non sapien.&lt;/li&gt;
		  &lt;li&gt;Suspendisse sagittis risus eu sem suscipit sodales.&lt;/li&gt;
		&lt;/ul&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#FootnotesList">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="footnotes-ordered-list-superscript">
	<div class="eia-container">

	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="seperator">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">List Seperator</h2>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Example</div>
		<dl class="uk-description-list uk-description-list-divider">
			<dd></dd>
			<dd></dd>
		</dl>
		<p>Add <code>.list-seperator</code> to the <code>li</code> of any list to apply a space between the lists.</p>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="uk-card uk-card-default uk-padding">
			<ul class="basic eia">
				<li class="eia">Lorem ipsum dolor sit amet</li>
				<li class="eia">Lorem ipsum dolor sit amet</li>
				<li class="list-seperator"></li>
				<li class="eia">Lorem ipsum dolor sit amet</li>
				<li class="eia">Lorem ipsum dolor sit amet</li>
			</ul>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="basicList">&lt;ul class="basic"&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li class="list-seperator"&gt;&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		&lt;/ul&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#listSeperator">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="spacer">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">List Spacer</h2>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Example</div>
		<dl class="uk-description-list uk-description-list-divider">
			<dd></dd>
			<dd></dd>
		</dl>
		<p>Add <code>.list-spacer</code> to the <code>li</code> of any list to apply a space between the lists.</p>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="uk-card uk-card-default uk-padding">
			<ul class="basic eia">
				<li class="eia">Lorem ipsum dolor sit amet</li>
				<li class="eia">Lorem ipsum dolor sit amet</li>
				<li class="list-spacer"></li>
				<li class="eia">Lorem ipsum dolor sit amet</li>
				<li class="eia">Lorem ipsum dolor sit amet</li>
			</ul>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="basicList">&lt;ul class="basic"&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li class="list-spacer"&gt;&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		&lt;/ul&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#listSpacer">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="highlight">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Highlight</h2>
		<p>Add <code>.highlight</code> to the <code>ul</code> of any list item to apply <strong>bold</strong> to the font, and EIA styling.</p>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="uk-card uk-card-default uk-padding">
			<ul class="basic highlight eia">
				<li class="head eia">
					<h2>Lorem ipsum dolor sit amet</h2>
				</li>
				<li class="eia">Lorem ipsum dolor sit amet</li>
				<li class="eia">Lorem ipsum dolor sit amet</li>
			</ul>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="highlightList">&lt;ul class="highlight"&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		&lt;/ul&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#listHead">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="ordered">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Ordered List</h2>
		<p><code>ol</code> makes a numbered list.</p>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Example</div>
		<dl class="uk-description-list uk-description-list-divider">
			<dd></dd>
			<dd></dd>
		</dl>
		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="uk-card uk-card-default uk-padding">
			<ol class="eia">
				<li class="eia">Lorem ipsum dolor sit amet</li>
				<li class="eia">Lorem ipsum dolor sit amet</li>
				<li class="eia">Lorem ipsum dolor sit amet</li>
			</ol>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="orderedList">&lt;ol"&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		&lt;/ol&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#orderedList">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="calculated-numbered">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Calculated Numbered</h2>
		<p>Note adding the <code>.calculated-numbered</code> to the <code>&lt;ul"&gt;</code> will apply a sequential numerical pattern to the list.</p>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Example</div>
		<dl class="uk-description-list uk-description-list-divider">
			<dd></dd>
		</dl>
		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="uk-card uk-card-default uk-padding">
			<div class="primary">

			</div>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="calculatedNumbered">&lt;ul class="calculated-numbered"&gt;
		  &lt;li&gt;&lt;span class="number"&gt;1.1.1&lt;/span&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
		&lt;/ul&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#calculatedNumbered">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Ordered Numerical Footnotes</h2>
		<p>Note adding the <code>sup</code> to the footnotes class: <code>&lt;ol class="footnotes"&gt;</code> will apply a sequential numerical superscript to the footnotes.</p>
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Example</div>
		<dl class="uk-description-list uk-description-list-divider">
			<dd><a href="https://wwwdev.eia.gov/international/analysis/country/ECU/background">https://wwwdev.eia.gov/international/analysis/country/ECU/background</a></dd>
		</dl>
		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
		<div class="uk-card uk-card-default uk-padding">
			<ol class="sup footnotes eia">
				<li class="eia">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li class="eia">Donec lorem massa, semper nec eros a, lacinia porttitor nunc.</li>
				<li class="eia">Phasellus ex dolor, ultricies eu ornare ut, placerat non sapien.</li>
				<li class="eia">Suspendisse sagittis risus eu sem suscipit sodales.</li>
			</ol>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="OrderedFootnotes">&lt;ol class="sup footnotes"&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/li&gt;
  &lt;li&gt;Donec lorem massa, semper nec eros a, lacinia porttitor nunc.&lt;/li&gt;
  &lt;li&gt;Phasellus ex dolor, ultricies eu ornare ut, placerat non sapien.&lt;/li&gt;
  &lt;li&gt;Suspendisse sagittis risus eu sem suscipit sodales.&lt;/li&gt;
&lt;/ol&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#OrderedFootnotes">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="">
	<div class="eia-container">
		<div class="uk-card uk-card-default uk-padding">
			<div class="uk-text-default uk-text-normal uk-text-uppercase">Example Primary</div>
			<p><code>.primary</code></p>
			<div class="module-inner">
				<div class="l-row l-two-col-left-wide">
					<div class="l-col primary">
						<ul class="basic eia">
							<li class="head eia">
								<h2>Lorem ipsum dolor sit amet</h2>
							</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
						</ul>
					</div>
					<div class="l-col"><br /></div>
				</div>
			</div>
		</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="">
	<div class="eia-container">
		<div class="uk-card uk-card-default uk-padding">
			<div class="uk-text-default uk-text-normal uk-text-uppercase">Example Primary-Alt</div>
			<p><code>.primary-alt</code></p>
			<div class="module-inner">
				<div class="l-row l-two-col-left-wide">
					<div class="l-col primary-alt">
						<ul class="basic eia">
							<li class="head eia">
								<h2>Lorem ipsum dolor sit amet</h2>
							</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
						</ul>
					</div>
					<div class="l-col"><br /></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="">
	<div class="eia-container">
		<div class="uk-card uk-card-default uk-padding">
			<div class="uk-text-default uk-text-normal uk-text-uppercase">Example Secondary</div>
			<p><code>.secondary</code></p>
			<div class="module-inner">
				<div class="l-row l-two-col-left-wide">
					<div class="l-col"><br /></div>
					<div class="l-col secondary">
						<ul class="basic eia">
							<li class="head eia">
								<h2>Lorem ipsum dolor sit amet</h2>
							</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="">
	<div class="eia-container">
		<div class="uk-card uk-card-default uk-padding">
			<div class="uk-text-default uk-text-normal uk-text-uppercase">Example Secondary-Alt</div>
			<p><code>.secondary-alt</code></p>
			<div class="module-inner">
				<div class="l-row l-two-col-left-wide">
					<div class="l-col"><br /></div>
					<div class="l-col secondary-alt">
						<ul class="basic eia">
							<li class="head eia">
								<h2>Lorem ipsum dolor sit amet</h2>
							</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="">
	<div class="eia-container">
		<div class="uk-card uk-card-default uk-padding">
			<div class="uk-text-default uk-text-normal uk-text-uppercase">Article</div>
			<p><code>.article</code>.</p>
			<div class="module-inner">
				<div class="l-row l-two-col-left-wide">
					<div class="l-col article">
						<ul class="basic eia">
							<li class="head eia">
								<h2>Lorem ipsum dolor sit amet</h2>
							</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
							<li class="eia">Lorem ipsum dolor sit amet</li>
						</ul>
					</div>
					<div class="l-col"><br /></div>
				</div>
			</div>
		</div>
		<!-- HTML -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="listHead">&lt;div class="<code class="nohighlight"><mark>primary</mark></code>, <code>primary-alt</code> <code>secondary</code>, <code>.secondary-alt</code> or <code>.article</code>"&gt;
  &lt;ul class="basic"&gt;
    &lt;li class="head"&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
    &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
    &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#listHead">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>
	</div>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     Lists     $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->