<section id="columnHighlight">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Highlight</h2>
		<p>Add <code>.highlight</code> to the <code>ul</code> of any list item to apply <strong>bold</strong> to the font, and EIA styling.</p>
	</div>
</section>