<h1 class="uk-h1 tm-heading-fragment" id=" Revision Notice">Revision Notice</h1>
<p class="uk-text-lead"></p>
<!-- Example -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="eia-card">
	<a href="#revisionNotice" class="enlarge-content">Revision Notice</a>
	<div id="revisionNotice" style="display: none">
		<span class="date">Month xx, 20xx</span>
		<h2 class="eia">H2 Lorem Ipsum Dolor</h2>
		<p class="eia">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem massa, semper nec eros a, lacinia porttitor nunc. Phasellus ex dolor, ultricies eu ornare ut, placerat non sapien. Suspendisse sagittis risus eu sem suscipit sodales. Vivamus ligula turpis, aliquam et maximus vel, tempor sed lectus. Mauris quis posuere massa. Ut quis diam sed mi placerat efficitur eu sed felis. Aliquam ipsum metus, bibendum vel ipsum sed, lobortis fringilla sem. Vestibulum ut odio id nulla commodo dignissim. Proin a pharetra tellus.</p>
	</div>
</div>
<!-- HTML -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="revisionNotice">&lt;a href="#revisionNotice" class="enlarge-content"&gt;Revision Notice&lt;/a&gt;
&lt;div id="revisionNotice" style="display: none"&gt;
  &lt;span class="date"&gt;Month xx, 20xx&lt;/span&gt;
  &lt;h2&gt;H2 Lorem Ipsum Dolor&lt;/h2&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet.&lt;/p&gt;
&lt;/div&gt;</code></pre>
<!-- Copy Button -->
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#revisionNotice">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>
</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">

		<app-side-nav-modules></app-side-nav-modules>