<div class="tm-sidebar-right uk-visible@l">
	<div uk-sticky="offset: 160" class="uk-sticky uk-active uk-sticky-fixed" style="position: fixed; width: 200px; margin-top: 0px !important; top: 160px;">
		<ul class="uk-nav uk-nav-default tm-nav" uk-scrollspy-nav="closest: li; scroll: true">
			<li><a [routerLink]="['/modules/accordions/']" [fragment]="'Accordions'" uk-scroll>Accordions</a></li>
			<li><a [routerLink]="['/modules/']" [fragment]="'Banners'" uk-scroll>Banners</a></li>
			<!-- li><a [routerLink]="['/modules/']" [fragment]="'BannersFullWidth'" uk-scroll>XXXXX</a></li -->
			<li><a [routerLink]="['/modules/']" [fragment]="'Blockquote'" uk-scroll>XXXXX</a></li>
			<li><a [routerLink]="['/modules/']" [fragment]="'Code'" uk-scroll>XXXXX</a></li>
			<li><a [routerLink]="['/modules/']" [fragment]="'Contact'" uk-scroll>XXXXX</a></li>
			<li><a [routerLink]="['/modules/']" [fragment]="'CorrectionUpdate'" uk-scroll>XXXXX</a></li>
			<li><a [routerLink]="['/modules/']" [fragment]="'EnergyEducation'" uk-scroll>XXXXX</a></li>
			<li><a [routerLink]="['/modules/']" [fragment]="'Fancybox'" uk-scroll>XXXXX</a></li>
			<li><a [routerLink]="['/modules/']" [fragment]="'Footnotes'" uk-scroll>XXXXX</a></li>
			<li><a [routerLink]="['/modules/']" [fragment]="'Forms'" uk-scroll>XXXXX</a></li>
			<li><a [routerLink]="['/modules/']" [fragment]="'PageTitles'" uk-scroll>XXXXX</a></li>
			<li><a [routerLink]="['/modules/']" [fragment]="'ReportHeaders'" uk-scroll>XXXXX</a></li>
			<li><a [routerLink]="['/modules/']" [fragment]="'RevisionNotice'" uk-scroll>XXXXX</a></li>
			<li><a [routerLink]="['/modules/']" [fragment]="'Tabs'" uk-scroll>XXXXX</a></li>
			<li><a [routerLink]="['/modules/']" [fragment]="'Visualizations'" uk-scroll>XXXXX</a></li>
		</ul>
	</div>
</div>