<style>
	#Default:active {
		color: red;
	}

	#Basic:active {
		color: red;
	}

	#FullWidth:active {
		color: red;
	}

	#Caption:active {
		color: red;
	}

	#HeadDouble:active {
		color: red;
	}

	#RowHead:active {
		color: red;
	}

	#RowTotal:active {
		color: red;
	}

	#RowBold:active {
		color: red;
	}

	#RowIndent:active {
		color: red;
	}

	#RowSectionHead:active {
		color: red;
	}

	#RowSectionDivider:active {
		color: red;
	}

	#ColumnHighlight:active {
		color: red;
	}

	#ColumnDivider:active {
		color: red;
	}

	#ColumnAlign:active {
		color: red;
	}

	#ColumnHide:active {
		color: red;
	}

	#Foot:active {
		color: red;
	}

	#Footnotes:active {
		color: red;
	}

	#Stacked:active {
		color: red;
	}

	#RowSelected:active {
		color: red;
	}

	#HolidaySchedule:active {
		color: red;
	}

	.tertiary-table-nav {
		display: block;
	}
</style>
<div id="secondaryNavigation">
	<ul class="uk-nav uk-nav-default" uk-scrollspy-nav="closest: li; scroll: true">
		<li><a href="#introduction">Introduction</a></li>
		<li><a href="#basic">Basic Table</a></li>
		<li><a href="#full-width">Full Width</a></li>
		<li><a href="#caption">Captia>
		<li><a href="#double-head">Double Head</a></li>
		<li><a href="#row-head">Row-head</a></li>
		<li><a href="#row-total">Total</a></li>
		<li><a href="#row-bold">Bold</a></li>
		<li><a href="#row-indent">Indent</a></li>
		<li><a href="#row-section-head">Row Head</a></li>
		<li><a href="#row-Section-divider">Row (Horizontal) Divider</a></li>
		<li><a href="#column-highlight">Column Highlight</a></li>
		<li><a href="#column-divider">Column (Vertical) divider</a></li>
		<li><a href="#column-align">Column Align</a></li>
		<li><a href="#column-hide">Column Hide</a></li>
		<li><a href="#foot">tableFoot</a></li>
		<li><a href="#footnotes">table</a></li>
		<li><a href="#stacked">Stacked table</a></li>
		<li><a href="#row-selected">table</a></li>
		<li><a href="#holiday-schedule">table</a></li>
	</ul>
</div>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$  Introduction $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="introduction">
	<div class="eia-container">
		<h1 class="uk-h1 tm-heading-fragment">Introduction</h1>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     basic    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Basic Table</h3>
		<p><code>basic-table</code></p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     full-width    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Full Width</h3>
		<p><code>full-width</code></p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     caption    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Caption</h3>
		<p><code>caption</code></p>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$      section      $$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section>
	<div class="eia-container">
		<h2 class="eia-sub-heading uk-text-center">HEAD</h2>
		<p><code>&lt;head&gt;...&lt;/head&gt;</code></p>
		<ul class="uk-grid-small uk-child-width-1-2 uk-flex-center uk-child-width-1-4@s" uk-sortable="handle: .uk-card" uk-grid>
			<li>
				<div class="uk-card uk-card-default uk-card-body prototype-table">
					<div class="prototype-table-inside">
						<div class="prototype-table-cell active">
							<div class="prototype-column">head</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">1</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">2</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">3</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">4</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">5</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">6</div>
						</div>
						<div class="flex-break"></div>
						<div class="prototype-table-cell">
							<div class="prototype-column">1</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">2</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">3</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">4</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">5</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">6</div>
						</div>
						<div class="flex-break"></div>
						<div class="prototype-table-cell">
							<div class="prototype-column">foot</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     double-head    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Double Head</h3>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     row-head    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Row-head</h3>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$      section      $$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section>
	<div class="eia-container">
		<h2 class="eia-sub-heading uk-text-center">Table Rows</h2>
		<p><code>&lt;tbody&gt;...&lt;/tbody&gt;</code></p>
		<p><code>&lt;head&gt;...&lt;/head&gt;</code></p>
		<ul class="uk-grid-small uk-child-width-1-2 uk-flex-center uk-child-width-1-4@s" uk-sortable="handle: .uk-card" uk-grid>
			<li>
				<div class="uk-card uk-card-default uk-card-body prototype-table">
					<div class="prototype-table-inside">
						<div class="prototype-table-cell">
							<div class="prototype-column">head</div>
						</div>
						<div class="prototype-table-cell active">
							<div class="prototype-column">1</div>
						</div>
						<div class="prototype-table-cell active">
							<div class="prototype-column">2</div>
						</div>
						<div class="prototype-table-cell active">
							<div class="prototype-column">3</div>
						</div>
						<div class="prototype-table-cell active">
							<div class="prototype-column">4</div>
						</div>
						<div class="prototype-table-cell active">
							<div class="prototype-column">5</div>
						</div>
						<div class="prototype-table-cell active">
							<div class="prototype-column">6</div>
						</div>
						<div class="flex-break"></div>
						<div class="prototype-table-cell">
							<div class="prototype-column">1</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">2</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">3</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">4</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">5</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">6</div>
						</div>
						<div class="flex-break"></div>
						<div class="prototype-table-cell">
							<div class="prototype-column">foot</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     row-total    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Total</h3>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     row-bold    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Bold</h3>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     row-indent    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Indent</h3>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     row-section-head    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Row Head</h3>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     row-Section-divider    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Row (Horizontal) Divider</h3>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$      section      $$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section>
	<div class="eia-container">
		<h2 class="eia-sub-heading uk-text-center">Table Columns</h2>
		<p><code>&lt;tbody&gt;...&lt;/tbody&gt;</code></p>
		<ul class="uk-grid-small uk-child-width-1-2 uk-flex-center uk-child-width-1-4@s" uk-sortable="handle: .uk-card" uk-grid>
			<li>
				<div class="uk-card uk-card-default uk-card-body prototype-table">
					<div class="prototype-table-inside">
						<div class="prototype-table-cell">
							<div class="prototype-column">head</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">1</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column active">2</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">3</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column active">4</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">5</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column active">6</div>
						</div>
						<div class="flex-break"></div>
						<div class="prototype-table-cell">
							<div class="prototype-column">1</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column active">2</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">3</div>
						</div>
						<div class="prototype-table-cell active">
							<div class="prototype-column">4</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">5</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column active">6</div>
						</div>
						<div class="flex-break"></div>
						<div class="prototype-table-cell">
							<div class="prototype-column">foot</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$ column-highlight $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="columnHighlight">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Column Highlight</h2>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     column-divider    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Column (Vertical) divider</h3>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     column-align    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Column Align</h3>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     column-hide    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Column Hide</h3>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$      section      $$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section>
	<div class="eia-container">
		<h2 class="eia-sub-heading uk-text-center">FOOT</h2>
		<p><code>&lt;foot&gt;...&lt;/foot&gt;</code></p>
		<ul class="uk-grid-small uk-child-width-1-2 uk-flex-center uk-child-width-1-4@s" uk-sortable="handle: .uk-card" uk-grid>
			<li>
				<div class="uk-card uk-card-default uk-card-body prototype-table">
					<div class="prototype-table-inside">
						<div class="prototype-table-cell">
							<div class="prototype-column">head</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">1</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">2</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">3</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">4</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">5</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">6</div>
						</div>
						<div class="flex-break"></div>
						<div class="prototype-table-cell">
							<div class="prototype-column">1</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">2</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">3</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">4</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">5</div>
						</div>
						<div class="prototype-table-cell">
							<div class="prototype-column">6</div>
						</div>
						<div class="flex-break"></div>
						<div class="prototype-table-cell active">
							<div class="prototype-column">foot</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     foot    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="tableFoot">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Table Foot</h2>

	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     footnotes    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Footnotes</h3>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$      section      $$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section>
	<div class="eia-container">
		<h2 class="eia-sub-heading uk-text-center">Multiple Tables</h2>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     stacked    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
		<h3 class="uk-h3 tm-heading-fragment">Stacked</h3>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$      section      $$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section>
	<div class="eia-container">
		<h2 class="eia-sub-heading uk-text-center">custom tables</h2>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     row-selected    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$     holiday-schedule    $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="table">
	<div class="eia-container">
	</div>
</section>