<h3>LICENSES AND SOURCE CODE</h3>
<p>
  The visualization makes use of an EIA visualization JavaScript library, several free open source JavaScript libraries, a commercial open source JavaScript library, and EIA's data service. When embedding a visualization via the above code (an IFRAME to an eia.gov hosted web page), your use of these libraries is covered by EIA's licenses.
</p>
<p>
  The EIA visualization libary's source code is available on <a href="https://github.com/eiagov">github.com/eiagov</a>. Users are invited to fork the code and submit improvements and new features.
</p>