<section id="">
	<div class="eia-container">

		<h1 id="introduction" class="uk-h1 tm-heading-fragment">
			<%= title %>
		</h1>
		<p class="uk-text-lead"></p>
		<h2 class=" uk-h3 tm-heading-fragment">Header Logos</h2>
		<div class="eia-card header-logo">
			<h3 class="uk-h3 tm-heading-fragment uk-text-muted">Example</h3>
			<div class="logo-full-size">
				<span class="logo"></span>
			</div>

			<h3 class="uk-h3 tm-heading-fragment uk-text-muted">Shrunk Example</h3>
			<div class="logo-shrink">
				<span class="logo"></span>
			</div>
		</div>

	</div>
</section>
<section id="">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Header Logos Focus</h2>
		<!-- Example -->
		<div class="eia-card header-logo">
			<h3 class="uk-h3 tm-heading-fragment uk-text-muted">Example</h3>
			<div class="logo-full-size">
				<span class="logo focus"></span>
			</div>

			<h3 class="uk-h3 tm-heading-fragment uk-text-muted">Shrunk Example</h3>
			<div class="logo-shrink">
				<span class="logo focus"></span>
			</div>
		</div>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Beta Header Logos</h2>
		<div class="eia-card header-logo">
			<h3 class="uk-h3 tm-heading-fragment uk-text-muted">Example</h3>
			<div class="logo-full-size">
				<a class="logo beta"></a>
			</div>

			<h3 class="uk-h3 tm-heading-fragment uk-text-muted">Shrunk Example</h3>
			<div class="logo-shrink">
				<a class="logo beta"></a>
			</div>
		</div>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Beta Header Logos</h2>
		<div class="eia-card header-logo">
			<h3 class="uk-h3 tm-heading-fragment uk-text-muted">Example</h3>
			<div class="logo-full-size">
				<a class="logo beta focus"></a>
			</div>

			<h3 class="uk-h3 tm-heading-fragment uk-text-muted">Shrunk Example</h3>
			<div class="logo-shrink">
				<a class="logo beta focus"></a>
			</div>
		</div>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">
		<h2 class="uk-h3 tm-heading-fragment">Print Logo</h2>
		<div class="eia-card">
			<div class="uk-text-default uk-text-normal uk-text-muted">Example</div>
			<div class="logo-logo-white-background">
				<span class="print-logo"></span>
			</div>
		</div>
	</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">