@media (min-width: 1px) {
    .homepage {
        span {

            &.ico_down,
            &.ico_up {
                &:before {
                    content: " ";
                    height: 14px;
                    width: 12px;
                    display: inline-block;
                    position: relative;
                    margin-right: 3px;
                    top: 4px;
                    float: none;
                }
            }
        }

        .secondary {
            &.features {
                border-top: solid 4px #003c57;
                display: table;
                padding: 22px 0;
                background-color: @eia-blue-module-background;
                border-bottom: solid 1px shade(white, 10.2%);

                h2 {
                    .header-font;
                    font-size: 1.5rem * 1.2%;
                    margin: 0 22px 6px 22px;
                    padding: 0;
                    text-transform: none;
                    border: none;
                }

                &>div {
                    .left;
                    margin: 0;
                    -webkit-box-flex: 0;
                    -webkit-flex: 0 0 100%;
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                    clear: both;

                    &>div {
                        &>a {
                            display: block;
                            width: 100%;

                            img {
                                width: 100%;
                                background-size: cover;
                            }
                        }
                    }

                    ul {
                        padding: 0.5em 0 1em 0;

                        li {
                            padding: 0 22px;

                            //list-style: none;
                            &.head {
                                padding: 0 22px;
                                border-bottom: 0;

                                // start features specific
                                // start features specific
                                // start features specific
                                h3 {
                                    .font;
                                    margin: 0;
                                    padding: 0;
                                    font-size: 1rem * 1.2%;
                                    line-height: 1.1em;

                                    a {
                                        display: inline;
                                    }
                                }

                                // end features specific
                                // end features specific
                                // end features specific
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 480px) {

    // smartphones, Android phones, landscape iPhone
    .homepage {
        .secondary {
            &.features {
                padding: 22px;

                &>div {
                    margin-bottom: 16px;

                    &>div {
                        width: 33.333%;
                        .left;

                        &>a {
                            border: 4px solid #fff;
                            outline: 1px solid @eia-divider-color;
                        }
                    }

                    ul {
                        //width: 66.666%;
                        .left;
                    }
                }
            }
        }
    }
}

/*
@media (min-width: 600px) {
	.features {
		padding: 0 22px;
		h2 {
			color: blue;
		}
		&>div {
			&>div {
				&>a {
					width: 270px;
					height: 150px;
					display: block;
					.left;
					padding: 0;
					border: 4px solid #fff; 
					outline: 1px solid @eia-divider-color;
				}
			}
		}
	}
}
*/

// -------------------------
// | image | image | image |
//

@media (min-width: 600px) {
    .homepage {
        .secondary {
            &.features {
                h2 {
                    margin: 0 0 6px 0;
                }

                &>div {
                    -webkit-box-flex: 0;
                    -webkit-flex: 0 0 33.333333%;
                    -ms-flex: 0 0 33.333333%;
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;
                    width: 33.333333%;
                    clear: none;

                    &>div {
                        -webkit-box-flex: 0;
                        -webkit-flex: 0 0 100%;
                        -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                        max-width: 100%;
                        width: 100%;
                        clear: both;
                    }
                }

                &>div {

                    //	width: 195px;
                    ul {
                        li {
                            padding: 0;

                            &.head {
                                padding: 0;
                                margin: 8px 0 7px 0; // was 10px

                                h3 {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }

                &>div {
                    &:nth-child(2) {
                        padding-right: 22px;
                    }
                }

                &>div {
                    &:nth-child(3) {
                        padding: 0 11px;
                    }
                }

                &>div {
                    &:nth-child(4) {
                        padding-left: 22px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .homepage {
        .secondary {
            &.features {
                //overflow: hidden;
                margin: 0 0 26px;
                //margin: 0;
                padding: 22px 0 0 0;
                -moz-background-size: 100% 100%;
                -webkit-background-size: 100% 100%;
                background-size: 100% 100%;
                width: 100%;
                height: 300px;
                max-height: 300px;
                background: transparent url("/global/images/bg/features_bg.jpg") no-repeat top center;
                background-size: cover;

                h2 {
                    font-size: 1.5rem;
                    padding: 0 22px;
                }

                &>div {
                    width: 195px;

                    ul {
                        li {
                            padding: 0;

                            &.head {
                                padding: 0;
                            }
                        }
                    }
                }

                &>div {
                    &:nth-child(2) {
                        margin-left: 22px;
                        padding: 0;
                    }
                }

                &>div {
                    &:nth-child(3) {
                        margin-left: 34px; // 33
                        padding: 0;
                    }
                }

                &>div {
                    &:nth-child(4) {
                        margin-left: 34px; //  33
                        margin-right: 22px; //  33
                        padding: 0;
                    }
                }
            }
        }
    }
}