/* $$$$$       $$$$$ $$$$$$$$$$$$$$$ */
/*  $$$$$     $$$$$  $$$$$$$$$$$$$$$ */
/*   $$$$$   $$$$$   $$$$$           */
/*    $$$$$ $$$$$    $$$$$           */
/*     $$$$$$$$$     $$$$$$$$$$$$$$$ */
/*     $$$$$$$$$     $$$$$$$$$$$$$$$ */
/*    $$$$$ $$$$$              $$$$$ */
/*   $$$$$   $$$$$             $$$$$ */
/*  $$$$$     $$$$$  $$$$$$$$$$$$$$$ */
/* $$$$$       $$$$$ $$$$$$$$$$$$$$$ */
@media (min-width: 1px) {
    .homepage {
        .data-highlights {
            margin-top: 0.2em;
            border: none;

            .l-four-col-even {
                .l-col {
                    background-color: rgb(237, 247, 252);

                    width: 100%;

                    &:nth-child(1) {
                        margin-top: 0;
                        margin-left: 0;
                    }

                    ///////////////// break
                    &:nth-child(2) {
                        margin-top: 0.75em;
                        margin-left: 0;
                    }

                    ///////////////// break
                    &:nth-child(3) {
                        margin-top: 0.75em;
                        margin-left: 0;
                    }

                    ///////////////// break
                    &:nth-child(4) {
                        margin-top: 0.75em;
                        margin-left: 0;
                    }

                    ///////////////// break
                    &:nth-child(5) {
                        margin-top: 0.75em;
                        margin-left: 0;
                    }

                    ///////////////// break
                    &:nth-child(6) {
                        margin-top: 0.75em;
                        margin-left: 0;
                    }

                    ///////////////// break
                    &:nth-child(7) {
                        margin-top: 0.75em;
                        margin-left: 0;
                    }

                    ///////////////// break
                    &:nth-child(8) {
                        margin-top: 0.75em;
                        margin-left: 0;
                    }

                    ///////////////// break
                    &:nth-child(9) {
                        margin-top: 0.75em;
                        margin-left: 0;
                    }

                    ul {
                        padding: 0;

                        &:nth-child(1) {
                            margin: 1.5em 1em 0 1em;
                        }

                        &:nth-child(2) {
                            margin: 0 1em 1.5em 1em;
                            border-left: 2px solid #999;
                        }

                        li {
                            padding: 0;
                            margin: 0;
                            list-style: none;
                            width: 100%;
                        }
                    }

                    .date {
                        .date();
                        //font-size: 90%;
                        margin-bottom: 0.6em;
                        //color: @eia-black;
                        //font-style: italic;
                    }

                    .head {
                        color: #005f88;
                        font-weight: 600;
                        min-height: 60px;
                        line-height: 120%;
                    }

                    .amount {
                        padding-left: 0.5em;
                        padding-bottom: 0em;
                        font-weight: @bold; // 700
                        font-size: 160%;
                        color: @eia-black;
                    }

                    .measurement {
                        //font-size: 100%;
                        line-height: 1;
                        padding-left: 1em;
                        margin-bottom: 0.8em;
                        color: @eia-black;
                        //font-size: 100%;

                        //&.gallon {
                        font-size: 90%;
                        font-weight: @bold; // 700
                        //color: @eia-black;
                        //}

                        //&.tons {
                        //font-weight: @bold; // 700
                        //color: @eia-black;
                        //}

                        //&.mmbtu {
                        //font-weight: @bold; // 700
                        //color: @eia-black;
                        //}
                    }

                    .price {
                        margin-bottom: 0.45em;
                    }

                    .earlier {
                        display: flex;
                        flex-direction: row;
                        padding-left: 0.8em;

                        .nc {
                            padding-right: 3px;
                            height: 24px;
                            width: 20px;
                            padding-left: 0;
                        }

                        .ico {
                            padding-right: 3px;
                            height: 24px;
                            width: 20px;
                            padding-left: 0;

                            &.down-arrow {
                                &:before {
                                    width: 22px;
                                    height: 24px;
                                    margin-right: 0;
                                    top: 2px;
                                    right: 6px;
                                    bottom: 0;
                                    left: 0;
                                }
                            }

                            &.up-arrow {
                                &:before {
                                    width: 22px;
                                    height: 24px;
                                    margin-right: 0;
                                    top: 2px;
                                    right: 6px;
                                    bottom: 0;
                                    left: 0;
                                }
                            }


                        }

                        &.week {
                            margin-bottom: 0.7em;
                        }

                        &.year {}
                    }
                }
            }
        }
    }
}

/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$$     $$$$$$ */
/* $$$$$           $$$$$$$   $$$$$$$ */
/* $$$$$           $$$$$$$$ $$$$$$$$ */
/* $$$$$$$$$$$$$$  $$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$  $$$$$ $$$$$ $$$$$ */
/*          $$$$$  $$$$$  $$$  $$$$$ */
/*          $$$$$  $$$$$   $   $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */

@media (min-width: 480px) {

    .homepage {
        .data-highlights {

            .l-four-col-even {
                .l-col {
                    width: 48.5%;

                    ///////////////// break
                    &:nth-child(1) {
                        margin-top: 0;
                        margin-left: 0;
                    }

                    &:nth-child(2) {
                        margin-top: 0;
                        margin-left: 1%;
                    }

                    ///////////////// break
                    &:nth-child(3) {
                        margin-top: 0.75em;
                        margin-left: 0;
                    }

                    &:nth-child(4) {
                        margin-top: 0.75em;
                        margin-left: 1%;
                    }

                    ///////////////// break
                    &:nth-child(5) {
                        margin-top: 0.75em;
                        margin-left: 0;
                    }

                    &:nth-child(6) {
                        margin-top: 0.75em;
                        margin-left: 1%;
                    }

                    ///////////////// break
                    &:nth-child(7) {
                        margin-top: 0.75em;
                        margin-left: 0;

                    }

                    &:nth-child(8) {
                        margin-top: 0.75em;
                        margin-left: 1%;
                    }

                    ///////////////// break
                    &:nth-child(9) {
                        margin-left: 0;
                        margin-top: 0.75em;
                    }
                }
            }
        }
    }
}


/* $$$$$       $$$$$ */
/* $$$$$$     $$$$$$ */
/* $$$$$$$   $$$$$$$ */
/* $$$$$$$$ $$$$$$$$ */
/* $$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$ */
/* $$$$$ $$$$$ $$$$$ */
/* $$$$$  $$$  $$$$$ */
/* $$$$$   $   $$$$$ */
/* $$$$$       $$$$$ */
/* $$$$$       $$$$$ */

@media (min-width: 600px) {
    .homepage {
        .data-highlights {
            .l-four-col-even {
                place-content: flex-start;

                .l-col {
                    width: 32.666%;

                    ///////////////// start
                    &:nth-child(1) {
                        margin-top: 0;
                        margin-left: 0;
                    }

                    &:nth-child(2) {
                        margin-top: 0;
                        margin-left: 1%;
                    }

                    &:nth-child(3) {
                        margin-top: 0;
                        margin-left: 1%;
                    }

                    ///////////////// break
                    &:nth-child(4) {
                        margin-top: 0.75em;
                        margin-left: 0;
                    }

                    &:nth-child(5) {
                        margin-top: 0.75em;
                        margin-left: 1%;
                    }

                    &:nth-child(6) {
                        margin-top: 0.75em;
                        margin-left: 1%;
                    }

                    ///////////////// break
                    &:nth-child(7) {
                        margin-top: 0.75em;
                        margin-left: 0;
                    }

                    &:nth-child(8) {
                        margin-top: 0.75em;
                        margin-left: 1%;
                    }

                    &:nth-child(9) {
                        margin-top: 0.75em;
                        margin-left: 1%;
                    }
                }
            }
        }
    }
}

/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$ */



@media (min-width: 801px) {}



@media (min-width: 1025px) {

    .homepage {
        .data-highlights {
            .l-four-col-even {
                place-content: flex-start;

                .l-col {
                    width: 24.25%;

                    ///////////////// break
                    &:nth-child(1) {
                        margin-top: 0;
                        margin-left: 0;
                    }

                    &:nth-child(2) {
                        margin-top: 0;
                        margin-left: 1%;
                    }

                    &:nth-child(3) {
                        margin-top: 0;
                        margin-left: 1%;
                    }

                    &:nth-child(4) {
                        margin-top: 0;
                        margin-left: 1%;
                    }

                    ///////////////// break
                    &:nth-child(5) {
                        margin-top: 0.75em;
                        margin-left: 0;
                    }

                    &:nth-child(6) {
                        margin-top: 0.75em;
                        margin-left: 1%;
                    }

                    &:nth-child(7) {
                        margin-top: 0.75em;
                        margin-left: 1%;
                    }

                    &:nth-child(8) {
                        margin-top: 0.75em;
                        margin-left: 1%;
                    }

                    ///////////////// break
                    &:nth-child(9) {
                        margin-top: 0.75em;
                        margin-left: 0;
                    }
                }

                /*
				&>.l-col {
                    width: 25%;
                    margin-left: 1%;

                    &:nth-child(1) {
                        margin-top: 0;
                        margin-left: 0;
                    }

                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        margin-top: 0;
                    }

                    &:nth-child(5),
                    &:nth-child(9) {
                        margin-left: 0;
                    }
                }
				*/
            }
        }
    }
}