/* $$$$$       $$$$$ $$$$$$$$$$$$$$$ */
/*  $$$$$     $$$$$  $$$$$$$$$$$$$$$ */
/*   $$$$$   $$$$$   $$$$$           */
/*    $$$$$ $$$$$    $$$$$           */
/*     $$$$$$$$$     $$$$$$$$$$$$$$$ */
/*     $$$$$$$$$     $$$$$$$$$$$$$$$ */
/*    $$$$$ $$$$$              $$$$$ */
/*   $$$$$   $$$$$             $$$$$ */
/*  $$$$$     $$$$$  $$$$$$$$$$$$$$$ */
/* $$$$$       $$$$$ $$$$$$$$$$$$$$$ */
@media (min-width: 1px) {
    .homepage {
        .data-tools-apps-maps {
            .l-row {
                &.l-six-col-even {
                    &>.l-col {
                        width: 50%;
                    }
                }
            }



            .circle {
                //border-radius: 50%;
                //border: 3px solid silver;
                //width: 90px;
                //height: 90px;
                width: 80px;
                height: 80px;
                border-radius: 100px;
                border: 2px solid #ccc;
                //margin: 0 auto 20px auto;
                margin: 4px auto 10px auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-content: flex-end;
                overflow: hidden;

                &.crude-import-tracking-tool {
                    &:before {
                        background: url(/global/images/interactive/crude_import_tool.png) 59% 60%;
                        background-size: cover;
                        content: "";
                        display: block;
                        height: 75px;
                        width: 75px;
                    }
                }

                &.api-query-browser {
                    &:before {
                        background: url(/global/images/interactive/api.png) 59% 60%;
                        background-size: cover;
                        content: "";
                        display: block;
                        height: 75px;
                        width: 75px;
                    }
                }

                &.steo-data-browser {
                    &:before {
                        background: url(/global/images/interactive/steo.png) 59% 60%;
                        background-size: cover;
                        content: "";
                        display: block;
                        height: 75px;
                        width: 75px;
                    }
                }

                &.total-energy-data-browser {
                    &:before {
                        background: url(/global/images/interactive/totalenergy_mer.png) 59% 60%;
                        background-size: cover;
                        content: "";
                        display: block;
                        height: 75px;
                        width: 75px;
                    }
                }

                &.us-states-energy-portal {
                    &:before {
                        background: url(/global/images/interactive/us.png) 59% 60%;
                        background-size: cover;
                        content: "";
                        display: block;
                        height: 75px;
                        width: 75px;
                    }
                }

                &.us-energy-atlas {
                    &:before {
                        background: url(/global/images/interactive/atlas.png) 59% 60%;
                        background-size: cover;
                        content: "";
                        display: block;
                        height: 75px;
                        width: 75px;
                    }
                }
            }

            h3 {
                line-height: 110%;
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                color: @eia-508-link-color;
                font-weight: @regular; // 400
                min-height: 50px;
            }

            a {
                text-align: center;
                display: block;
                text-decoration: none;

                &:hover {
                    text-decoration: none;

                    h3 {
                        text-decoration: underline;
                    }
                }

            }
        }
    }
}

/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$$     $$$$$$ */
/* $$$$$           $$$$$$$   $$$$$$$ */
/* $$$$$           $$$$$$$$ $$$$$$$$ */
/* $$$$$$$$$$$$$$  $$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$  $$$$$ $$$$$ $$$$$ */
/*          $$$$$  $$$$$  $$$  $$$$$ */
/*          $$$$$  $$$$$   $   $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */

@media (min-width: 480px) {
    .homepage {}
}

/* $$$$$       $$$$$ */
/* $$$$$$     $$$$$$ */
/* $$$$$$$   $$$$$$$ */
/* $$$$$$$$ $$$$$$$$ */
/* $$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$ */
/* $$$$$ $$$$$ $$$$$ */
/* $$$$$  $$$  $$$$$ */
/* $$$$$   $   $$$$$ */
/* $$$$$       $$$$$ */
/* $$$$$       $$$$$ */

@media (min-width: 600px) {
    .homepage {}
}

/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$ */

@media (min-width: 801px) {
    .homepage {
        .l-row {
            &.l-six-col-even {
                &>.l-col {
                    width: 33.3%;
                }
            }
        }
    }
}



@media (min-width: 1025px) {
    .homepage {
        .data-tools-apps-maps {
            .l-row {
                &.l-six-col-even {
                    &>.l-col {
                        width: 16.6%;
                    }
                }
            }

            h3 {
                min-height: unset;
            }
        }
    }
}