/* $$$$$       $$$$$ $$$$$$$$$$$$$$$ */
/*  $$$$$     $$$$$  $$$$$$$$$$$$$$$ */
/*   $$$$$   $$$$$   $$$$$           */
/*    $$$$$ $$$$$    $$$$$           */
/*     $$$$$$$$$     $$$$$$$$$$$$$$$ */
/*     $$$$$$$$$     $$$$$$$$$$$$$$$ */
/*    $$$$$ $$$$$              $$$$$ */
/*   $$$$$   $$$$$             $$$$$ */
/*  $$$$$     $$$$$  $$$$$$$$$$$$$$$ */
/* $$$$$       $$$$$ $$$$$$$$$$$$$$$ */

@media (min-width: 1px) {



    .homepage {
        font-size: var(--base-font-size);

        .l-outer-wrapper {
            .l-inner-wrapper {
                &>.l-row {
                    //width: calc(100%-24px);
                    //margin-right: 12px;
                }
            }
        }

        h3 {
            //font-weight: @light; // 300
            font-size: 17.5px;
            line-height: 1.2;
            //font-weight: @light; // 300
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            //color: @eia-508-link-color;
            font-weight: 500;
        }

        button {
            &.primary {
                .link-button();
                .link-button-primary();
            }
        }

        //l-inner-wrapper >.l-row {
        //    padding-left: 0;
        //    padding-right: 0;
        //}
        //.today-in-energy,
        .data-highlights,
        .data-analysis-projections,
        .data-tools-apps-maps,
        .press-room,
        .energy-education {
            margin: 0 0 3em 0; // margin-bottom: 2em;
        }

        h2 {
            color: @eia-508-dark-grey;
            font-size: 135%;
            line-height: 100%;
            font-weight: @extraBold; // 800
            padding: 0 0 0 0;
            margin: 0 0 10px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            //justify-content: space-between;
            border-bottom: 1px solid @eia-508-dark-grey;
            padding: 0 0 6px;

            a {
                font-size: 60%;
                font-weight: 600;
                position: relative;
                top: 3px;
                text-transform: uppercase;

                &:after {
                    content: "\00a0\203A";
                }
            }
        }

        h3 {
            font-weight: 600;
            padding: 0 0 0 0;
            margin: 0 0 0 0;

            a {
                font-weight: @regular; // 400
            }
        }

        hr {
            .hard-return-solid();
        }
    }
}

/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$$     $$$$$$ */
/* $$$$$           $$$$$$$   $$$$$$$ */
/* $$$$$           $$$$$$$$ $$$$$$$$ */
/* $$$$$$$$$$$$$$  $$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$  $$$$$ $$$$$ $$$$$ */
/*          $$$$$  $$$$$  $$$  $$$$$ */
/*          $$$$$  $$$$$   $   $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */
/* $$$$$$$$$$$$$$  $$$$$       $$$$$ */

@media (min-width: 480px) {
    .homepage {}
}

/* $$$$$       $$$$$ */
/* $$$$$$     $$$$$$ */
/* $$$$$$$   $$$$$$$ */
/* $$$$$$$$ $$$$$$$$ */
/* $$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$ */
/* $$$$$ $$$$$ $$$$$ */
/* $$$$$  $$$  $$$$$ */
/* $$$$$   $   $$$$$ */
/* $$$$$       $$$$$ */
/* $$$$$       $$$$$ */

@media (min-width: 600px) {
    .homepage {}
}

/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$ */
/* $$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$ */

@media (min-width: 801px) {
    .homepage {}
}



@media (min-width: 1025px) {
    .homepage {

        .data-highlights,
        .data-analysis-projections,
        .data-tools-apps-maps,
        .press-room,
        .energy-education {
            margin: 0 0 4em 0; // margin-bottom: 2em;
        }

        .l-outer-wrapper {
            .l-inner-wrapper {
                >.l-row {
                    padding: 0 0 0 22px;
                    width: auto;
                }
            }
        }

        h2 {
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;

        }
    }
}