<app-display-us-states-menu></app-display-us-states-menu>
<div class="l-row l-full-width-col">
<div class="l-full-width-page s-analysis">
  <div class="l-row l-full-width-col">
    <div>
      <h2>State Energy Portal Features & Functionality</h2>
      <h3>Overview pages</h3>
      <p>Highlights the data and state information available with dynamic interactive infographics, quick facts, curated rankings, and state-specific Today in Energy articles. </p>

      <h3>Data dashboard with custom visualizations</h3>
      <p>State data available in fully customizable dashboards that allow users to:</p>
      <ul>
        <li>Use default visualizations or create custom dashboards.</li>
        <li>Add different state data series to create comparisons.</li>
        <li>Clone any chart to make an exact duplicate users can adjusted for side-by-side comparisons.</li>
        <li>Remove, search for, and add charts to add to the dashboard.</li>
        <li>Change chart sizes, chart types, placement, or the order on the dashboard.</li>
        <li>Click on the information icon to display description, notes and sources.</li>
        <li>Expand any chart to full screen with setting options, descriptions, notes and sources.</li>
        <li>Add static maps and an interactive U.S. Energy Mapping System, where mapping layers can be customized.</li>
      </ul>
      <h3>Rankings visualizations</h3>
      <p>Rankings are available in three different views -- heat map, data table, and a unique bubble chart.</p>

      <h3>Charting options</h3>
      <ul>
        <li>Chart types (line, bar, table) are available to switch </li>
        <li>Any available data series can be added for comparison of different states, U.S. total, additional sectors (where available) and/or regional data.</li>
        <li>Date selection for each dashboard chart is individually customizable.  The full series is always available in the full-screen mode.</li>
        <li>Choose options available to show five- and ten-year seasonal average.</li>
        <li>Selecting seasonal analysis in Chart Options will display individual lines for each year over the selected number of years for a time-series of data. </li>
        <li>Data indexing options available to show a line series as a percentage or 0.</li>
        <li>Change line charts in with Chart indexing to display a calculated percentage or magnitude change from the selected start date of a time-series</li>
      </ul>

      <h3>Dev tools</h3>
      <ul>
        <li>Embed a chart from a dashboard.</li>
        <li>Embed top three rankings widget on your website.</li>
        <li>Embed a state or U.S. infographic on your website.</li>
      </ul>  

      <h3>Download and export functions</h3>
      <ul>
        <li>Both data and charts are available in a standard range of download (or widget) options.</li>
        <li>Individual data series from one or many charts can be download as:  csv, json, or into EIA’s Excel or Google Sheets.  </li>
        <li>Add to downloads feature leverage s EIA’s Excel Add-in (or Google Sheets Add-on) tools to allow users to get updated EIA data within their own workbooks.</li>
        <li>One or more of the data series can be added with shopping-cart-like functionality to download all at one time.</li>
        <li>Each chart is also available to download as an image as pdf or png with appropriate credits.</li>
      </ul>

      <h3>U.S. energy mapping system enhancements included</h3>
      <ul>
        <li>Adjustments to layers and map customization are preserved in session.</li>
        <li>The selected state is highlighted and the surrounding states are greyed out.</li>
        <li>Table view under map that shows all the points on a selected map layer.</li>
        <li>The energy mapping system only shows the relevant layers pre-selected on each default dashboard.</li>
      </ul>
      
      <h3>SEDS data in the State Energy Portal</h3>
      <ul>
        <li>All SEDS data has been fully incorporated into the data dashboards and infographic.</li>
        <li>Links to SEDS-specific data are located in various locations to find SEDS quickly. </li>
      </ul>

      <h3>State Electricity Profiles in the State Energy Portal</h3>
      <ul>
        <li>All data, analysis, maps, and rankings from the existing State Energy Profiles have been integrated into the new Portal. </li>
        <li>EIA’s existing State Energy Profiles will remain available during the beta release.</li>
      </ul>
      
      <h2>Notes for users</h2>
      <ul>
        <li>When data are not available in a state-level series, the Portal will default to show regions, points, and other geographies deemed as most applicable to a state. Users may remove and/or select other geographies of interest to them in chart options.</li>
        <li>Once data are updated in the EIA API, new values will appear in the State Portal. Users may access the data source or related data products to check data updates/revisions.</li>
        <li>Data revisions are available by checking on-screen display, embedding charts, or refreshing data in the Microsoft Excel or Google Sheet Add-in tools. Data downloads via pdf, image, csv, json, and print will not reflect data revisions over time.</li>
        <li>Non-EIA data are subject to third-party's quality guidelines and availability. Additional data and revisions may be available since EIA last accessed the data.</li>
        <li>Where possible, the survey forms are used as primary sources.  The most current survey data are provided. For more information on previous survey forms and sources, use links to methodology and notes.</li>
        <li>See methodology and notes for survey process information, including design of frame, sample, and data processing.</li>
        <li>See related data products for published final statistics.  Description field may mention where additional energy sources or sectors are available for the data.</li>
        <li>See description text for key data considerations, such as revisions and quality considerations. Additional information is also available from links to methodology and notes.</li>
        <li>Seasonal analysis and chart indexing options are available in “Chart Options” for single line charts. Seasonal analysis will display individual lines for each year over the selected number of years for a time-series of data. Chart indexing will change the line chart to display a calculated percent or magnitude change from the selected start date of a time-series.</li>
        <li>If a U.S.-level series is not available for a chart, such as energy movements between states and Regional Transmission Organization electricity prices, the chart will not show on the pre-populated dashboards under U.S. Data table. To view these data series, users may select a state or add a visualization.</li>
        <li>When no data are available for a chart, a message will show indicating “no data to display”.  This message is not an error.</li>
      </ul>

      <h2>Known issues</h2>
      <h3>Technical </h3>
      <ul>
        <li>When user downloads charts as an image or pdf file, all source note text do not yet show. </li>
        <li>Charts contain all available data observations, but leave white space if too many observations are present between data availability. For example, the weekly propane and No. 2 heating oil prices chart does not show a line before mid-2000 because data were only available biweekly, not weekly.  </li>
        <li>The gasoline station chart does not display all historical values.</li>
        <li>The print version is currently only available per page through the browser.  </li>
        <li>In chart options, all-region maps are currently unavailable.</li>
        <li>Various display issues are occurring in MS Explorer; use Chrome for consistent experience. </li>
      </ul>
      
      <h3>Data content</h3>
      <ul>
        <li>The bubble charts on the Rankings page currently highlight the simple average of the published values on display. EIA does not publish this simple average is not published by EIA in any other source and is not necessarily the most useful indicator for comparing your state. EIA is asking input on alternative values for bubble charts:
            <ul>
              <li>For per capita metrics and prices, show the U.S. value EIA published in the sourced data products.  These values will reflect weighted, not simple, averages.</li>
              <li>For production and emissions series, remove average as not applicable to state-level data.</li>
            </ul>
        </li>
        <li>SEDS data are released by energy source as estimates become available. Until all estimates are available (within 18 months following the data year), users can use Chart Edit options to remove the most recent year or the data series that is unavailable. Users may also modify default bar charts to line charts for improved graphical display of the incomplete current data year.</li>
        <li>Infographics assume the value zero for values that are less than +0.05 trillion and greater than -0.05 trillion Btu. These values appear as “(s)” in the published SEDS source tables.</li>
        <li>The units provided for some data series include the acronym “Btu.” This acronym stands for British thermal units.</li>
        <li>Several users requested additional EIA state electricity data to be available in the Portal. Until all this data are available in EIA API format, users can access additional state-level electricity data via through EIA’s Detailed State Data and State Electricity Profiles pages.</li>
        <li>On each state’s Overview page, data sources for the energy indicator table are not yet provided in the new Portal. These data and sources are available on EIA’s State Energy Profiles. This state-level data is also available via the Data tab via charts and carousels. Data series published in a carousel are only provided at the state level in the Portal. See sources and related data products for U.S. or regional data series.</li>
        <li>Because EIA’s State Carbon Dioxide Emissions Data does not currently publish U.S. total value by sector and fuel, the State Portal does not include U.S. data series for emissions charts that allow users to filter by both sector and fuel. Such U.S. data series are available in an alternative data product, EIA’s Monthly Energy Review. Portal users may add the U.S. series to the five Portal charts that show U.S.-level emissions by either sector or fuel.</li>
        <li>EIA has improved data label conventions over time. As such, some petroleum product and natural gas data series follow a different labeling format in the EIA  API.  These different API formats are not available on the same chart at this time. Users may find the series of interest in an alternate State Portal chart or download data directly from related data products, as mentioned within the chart descriptions for these charts:
            <ul>
              <li>Dry natural gas production: U.S. series not available in Chart Options. Gross and marketed natural gas production by state and United States are available in the Portal in a separate chart.</li>
              <li>Natural gas international trade: Volumes and price data for imports and exports are available in four separate charts. Users may populate dashboards with these charts side by side for comparison.</li>
              <li>Natural gas used as plant, lease, and pipeline and distribution fuel: U.S. series are not available in Chart Options because all filter selection options have unique U.S. API codes.</li>
              <li>Natural gas plant processing: U.S. series are not available in Chart Options because the NGPL production, gaseous equivalent has a unique U.S. API code (NG.N9060US2.A).</li>
            </ul>
        </li>
        <li>EIA is only pulling state-level data for the number of gasoline stations from the U.S. Census Bureau.  As such, the chart and snapshot does not show on the default U.S. dashboard. </li>
      </ul>
    </div>
  </div>
</div>
</div>
<div class="push"></div>