.ico {
	/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
	/* ***** ***** ***** **** document icons *** ***** ***** ***** */
	/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
	&.pdf {
		&:before {
			.controls-icon(15px, 16px);
			.icon-file-type(pdf);
			display: inline-block;
			margin-bottom: -3px;
		}
		&.right {
			&:before {
				display: none;
			}
			&:after {
				.controls-icon(15px, 16px);
				.icon-file-type(pdf);
				display: inline-block;
				margin-bottom: -3px;
			}
		}
	}
	&.xls {
		&:before {
			.controls-icon(15px, 16px);
			.icon-file-type(xls);
			display: inline-block;
			margin-bottom: -3px;
		}
		&.right {
			&:before {
				display: none;
			}
			&:after {
				.controls-icon(15px, 16px);
				.icon-file-type(xls);
				display: inline-block;
				margin-bottom: -3px;
			}
		}
	}
	&.csv {
		&:before {
			.controls-icon(15px, 16px);
			.icon-file-type(csv);
			display: inline-block;
			margin-bottom: -3px;
		}
		&.right {
			&:before {
				display: none;
			}
			&:after {
				.controls-icon(15px, 16px);
				.icon-file-type(csv);
				display: inline-block;
				margin-bottom: -3px;
			}
		}
	}
	&.json {
		&:before {
			.controls-icon(15px, 16px);
			.icon-file-type(json);
			display: inline-block;
			margin-bottom: -3px;
		}
		&.right {
			&:before {
				display: none;
			}
			&:after {
				.controls-icon(15px, 16px);
				.icon-file-type(json);
				display: inline-block;
				margin-bottom: -3px;
			}
		}
	}
	&.ppt {
		&:before {
			.controls-icon(15px, 16px);
			.icon-file-type(ppt);
			display: inline-block;
			margin-bottom: -3px;
		}
		&.right {
			&:before {
				display: none;
			}
			&:after {
				.controls-icon(15px, 16px);
				.icon-file-type(ppt);
				display: inline-block;
				margin-bottom: -3px;
			}
		}
	}
	&.html {
		&:before {
			.controls-icon(15px, 16px);
			.icon-file-type(html);
			display: inline-block;
			margin-bottom: -3px;
		}
		&.right {
			&:before {
				display: none;
			}
			&:after {
				.controls-icon(15px, 16px);
				.icon-file-type(html);
				display: inline-block;
				margin-bottom: -3px;
			}
		}
	}
	&.doc {
		&:before {
			.controls-icon(15px, 16px);
			.icon-file-type(doc);
			display: inline-block;
			margin-bottom: -3px;
		}
		&.right {
			&:before {
				display: none;
			}
			&:after {
				.controls-icon(15px, 16px);
				.icon-file-type(doc);
				display: inline-block;
				margin-bottom: -3px;
			}
		}
	}
	&.image {
		&:before {
			.controls-icon(15px, 16px);
			.icon-file-type(image);
			display: inline-block;
			margin-bottom: -3px;
		}
		&.right {
			&:before {
				display: none;
			}
			&:after {
				.controls-icon(15px, 16px);
				.icon-file-type(image);
				display: inline-block;
				margin-bottom: -3px;
			}
		}
	}
	&.efile,
	&.interactive {
		&:before {
			.controls-icon(15px, 16px);
			.icon-interactive;
			display: inline-block;
			margin-bottom: -3px;
		}
		&.right {
			&:before {
				display: none;
			}
			&:after {
				.controls-icon(15px, 16px);
				.icon-interactive;
				display: inline-block;
				margin-bottom: -3px;
			}
		}
	}
	&.pedro {
		&:before {
			.controls-icon(15px, 16px);
			.icon-file-type(pedro);
			display: inline-block;
			margin-bottom: -3px;
		}
		&.right {
			&:before {
				display: none;
			}
			&:after {
				.controls-icon(15px, 16px);
				.icon-file-type(pedro);
				display: inline-block;
				margin-bottom: -3px;
			}
		}
	}
	&.zip {
		&:before {
			.controls-icon(15px, 16px);
			.icon-file-type(zip);
			display: inline-block;
			margin-bottom: -3px;
		}
		&.right {
			&:before {
				display: none;
			}
			&:after {
				.controls-icon(15px, 16px);
				.icon-file-type(zip);
				display: inline-block;
				margin-bottom: -3px;
			}
		}
	}
	&.api {
		&:before {
			.controls-icon(15px, 16px);
			.api-icon();
			display: inline-block;
			margin-bottom: -3px;
		}
		&.right {
			&:before {
				display: none;
			}
			&:after {
				.controls-icon(15px, 16px);
				.api-icon();
				display: inline-block;
				margin-bottom: -3px;
			}
		}
	}
	/*
	&.pdf,
	&.xls,
	&.json,
	&.csv,
	&.ppt,
	&.html,
	&.doc,
	&.image,
	&.interactive,
	&.efile,
	&.pedro,
	&.zip {
hi
		//}
	}
	*/
	&.icon-only {
		//margin-left: -3px;
		//margin-right: -3px;
		& > span {
			font-size: 0;
			text-indent: -9999px;
			line-height: 0;
			margin: 0;
		}
	}
	&.up-arrow,
	&.down-arrow {
		&:before {
			float: right;
			margin-right: 0;
			.controls-icon(12px, 14px);
			position: relative;
			top: 0;
		}
		span {
			font-size: 0;
			text-indent: -9999px;
			line-height: 0;
		}
	}
	/*
		&.xls {
			&:before {
				display: none;
			}
			&:after {
				.icon-file-type(xls);
				.controls-icon(15px, 16px);
				display: inline-block;
			}
		}
		&.csv {
			&:before {
				display: none;
			}
			&:after {
				.icon-file-type(csv);
				.controls-icon(15px, 16px);
				display: inline-block;
			}
		}
		&.json {
			&:before {
				display: none;
			}
			&:after {
				.icon-file-type(json);
				.controls-icon(15px, 16px);
				display: inline-block;
			}
		}
		&.ppt {
			&:before {
				display: none;
			}
			&:after {
				.icon-file-type(ppt);
				.controls-icon(15px, 16px);
				display: inline-block;
			}
		}
		&.html {
			&:before {
				display: none;
			}
			&:after {
				.icon-file-type(html);
				.controls-icon(15px, 16px);
				display: inline-block;
			}
		}
		&.doc {
			&:before {
				display: none;
			}
			&:after {
				.icon-file-type(doc);
				.controls-icon(15px, 16px);
				display: inline-block;
			}
		}
		&.image {
			&:before {
				display: none;
			}
			&:after {
				.icon-file-type(image);
				.controls-icon(15px, 16px);
				display: inline-block;
			}
		}
		&.efile,
		&.interactive {
			&:before {
				display: none;
			}
			&:after {
				.icon-interactive;
				.controls-icon(15px, 16px);
				display: inline-block;
			}
		}
		&.pedro {
			&:before {
				display: none;
			}
			&:after {
				.icon-file-type(pedro);
				.controls-icon(15px, 16px);
				display: inline-block;
			}
		}
		&.zip {
			&:before {
				display: none;
			}
			&:after {
				.icon-file-type(zip);
				.controls-icon(15px, 16px);
				display: inline-block;
			}
		}
	}
*/
}
.api-icon(@fill-color: @eia-green) {
	@icon-filter-svg: ~'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 65"><g id="icon-api"><path d="M23.84,27v-1.4a1.89,1.89,0,0,0,.65-.13.91.91,0,0,0,.37-.36,1.51,1.51,0,0,0,.22-.62,6.94,6.94,0,0,0,.05-1,8.07,8.07,0,0,1,.1-1.58,1.47,1.47,0,0,1,.38-.72,1.88,1.88,0,0,1,.81-.44,4.33,4.33,0,0,1,1.12-.1h.31v1.4a2.84,2.84,0,0,0-.83.07.54.54,0,0,0-.28.23,1.07,1.07,0,0,0-.08.51c0,.24,0,.71-.06,1.4a3.62,3.62,0,0,1-.15.94,1.92,1.92,0,0,1-.31.59,2.38,2.38,0,0,1-.59.49,2,2,0,0,1,.57.47,1.78,1.78,0,0,1,.34.64,5.58,5.58,0,0,1,.15,1c0,.65,0,1.07,0,1.25a1.12,1.12,0,0,0,.09.53.63.63,0,0,0,.29.24,2.8,2.8,0,0,0,.82.07V32h-.31a4.64,4.64,0,0,1-1.21-.12,1.74,1.74,0,0,1-.71-.42,1.41,1.41,0,0,1-.39-.73,6.3,6.3,0,0,1-.1-1.35,6.35,6.35,0,0,0-.1-1.4,1.18,1.18,0,0,0-.39-.68A1.46,1.46,0,0,0,23.84,27Z" fill="@{fill-color}"/><path d="M29,29.43V27.78h1.65v1.65Z" fill="@{fill-color}"/><path d="M32.36,29.43V27.78H34v1.65Z" fill="@{fill-color}"/><path d="M35.69,29.43V27.78h1.65v1.65Z" fill="@{fill-color}"/><path d="M42.43,27a1.83,1.83,0,0,0-.64.13.91.91,0,0,0-.37.36,1.51,1.51,0,0,0-.22.62,6.87,6.87,0,0,0-.05,1,8.2,8.2,0,0,1-.1,1.59,1.55,1.55,0,0,1-.38.73,1.92,1.92,0,0,1-.81.43,4.38,4.38,0,0,1-1.12.1h-.31V30.54a2.89,2.89,0,0,0,.82-.07.59.59,0,0,0,.28-.23,1.16,1.16,0,0,0,.1-.51c0-.24,0-.69,0-1.36a3.76,3.76,0,0,1,.16-1,2,2,0,0,1,.35-.62,2,2,0,0,1,.54-.45,2.37,2.37,0,0,1-.63-.55,2.33,2.33,0,0,1-.37-1,15.46,15.46,0,0,1-.1-1.81,1.51,1.51,0,0,0-.08-.59.48.48,0,0,0-.26-.22,2.88,2.88,0,0,0-.85-.08v-1.4h.31a4.69,4.69,0,0,1,1.21.12,1.55,1.55,0,0,1,.71.42,1.57,1.57,0,0,1,.39.73,6.36,6.36,0,0,1,.1,1.35,6.59,6.59,0,0,0,.09,1.4,1.3,1.3,0,0,0,.39.68,1.52,1.52,0,0,0,.8.23Z" fill="@{fill-color}"/><path d="M18.38,38.3h-1v8.42l-2.47,1.54a2.45,2.45,0,0,0-1.78-.76,2.5,2.5,0,1,0,2.5,2.5,2.45,2.45,0,0,0-.18-.9l2.93-1.82ZM13.13,51.5a1.5,1.5,0,1,1,1.5-1.5A1.5,1.5,0,0,1,13.13,51.5Z" fill="@{fill-color}"/><path d="M24.69,55.05V38.3h-1V55.05a2.5,2.5,0,1,0,1,0Zm-.5,4a1.5,1.5,0,1,1,1.5-1.5A1.5,1.5,0,0,1,24.19,59Z" fill="@{fill-color}"/><path d="M33,50.05V38.3H32V50.05a2.5,2.5,0,1,0,1,0Zm-.5,4A1.5,1.5,0,1,1,34,52.5,1.5,1.5,0,0,1,32.5,54Z" fill="@{fill-color}"/><path d="M41.31,55.05V38.3h-1V55.05a2.5,2.5,0,1,0,1,0Zm-.5,4a1.5,1.5,0,1,1,1.5-1.5A1.5,1.5,0,0,1,40.81,59Z" fill="@{fill-color}"/><path d="M51.88,47.5a2.46,2.46,0,0,0-1.79.76l-2.46-1.54V38.3h-1v9l2.92,1.82a2.44,2.44,0,0,0-.17.9,2.5,2.5,0,1,0,2.5-2.5Zm0,4a1.5,1.5,0,1,1,1.5-1.5A1.5,1.5,0,0,1,51.88,51.5Z" fill="@{fill-color}"/><path d="M51.49,38.3a5.07,5.07,0,0,0,4.28-2.24,10.83,10.83,0,0,0,1.73-5.89A10.68,10.68,0,0,0,50.56,20.1a9.81,9.81,0,0,0-.43-6,10.2,10.2,0,0,0-9-6.64,10,10,0,0,0-9.67,6.61A8.21,8.21,0,0,0,25,10.92a8.45,8.45,0,0,0-8.33,8.56c0,.31,0,.62,0,.93A10.6,10.6,0,0,0,7.5,31a10.82,10.82,0,0,0,1.89,6.13,2.71,2.71,0,0,0,2.23,1.14Z" fill="none" stroke="@{fill-color}" stroke-miterlimit="10" stroke-width="2"/></g></svg>';
	.inline-svg-code(@icon-filter-svg);
	background: @-inline-svg-url no-repeat center center;
}

.icon-file-type(@file-type, @base-fill-color: tint(@eia-black, 46.5%), @corner-fill-color: tint(tint(@eia-black, 46.5%), @icon-image-tint)) {
	.file-ext(@file-type);
	@icon-filter-svg: ~'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61.65 66.17"><polygon points="43.2 5.4 12.5 5.4 12.5 61.6 57.2 61.6 57.2 19.4 43.2 5.4" fill="@{base-fill-color}"/><polygon points="54.4 58.8 15.2 58.8 15.2 8.2 43.2 8.2 43.2 19.4 54.4 19.4 54.4 58.8" fill="#fff"/>@{icon-file-type}<rect x="4.16" y="12.34" width="33.28" height="14.5" fill="@{file-type-fill}"/><text transform="translate(11.08 23.24)" font-size="10" fill="#ffffff" font-family="Arial" font-weight="700" style="text-transform: uppercase">@{file-type}</text><polygon points="56.8 18.83 42.8 4.83 42.8 18.83 56.8 18.83" fill="@{corner-fill-color}"/></svg>';
	.inline-svg-code(@icon-filter-svg);
	background: @-inline-svg-url @-bg-defaults;
}

.icon-file-type-blank(@file-type, @base-fill-color: tint(@eia-black, 46.5%), @corner-fill-color: tint(tint(@eia-black, 46.5%), @icon-image-tint), @file-type-fill-inactive) {
	.file-ext(@file-type);
	@icon-filter-svg: ~'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61.65 66.17"><polygon points="43.2 5.4 12.5 5.4 12.5 61.6 57.2 61.6 57.2 19.4 43.2 5.4" fill="@{base-fill-color}"/><polygon points="54.4 58.8 15.2 58.8 15.2 8.2 43.2 8.2 43.2 19.4 54.4 19.4 54.4 58.8" fill="#fff"/>@{icon-file-type}<rect x="4.16" y="12.34" width="33.28" height="14.5" fill="@{file-type-fill-inactive}"/><text transform="translate(11.08 23.24)" font-size="10" fill="#ffffff" font-family="Arial" font-weight="700" style="text-transform: uppercase"> </text><polygon points="56.8 18.83 42.8 4.83 42.8 18.83 56.8 18.83" fill="@{corner-fill-color}"/></svg>';
	.inline-svg-code(@icon-filter-svg);
	background: @-inline-svg-url @-bg-defaults;
}

/*--- mix-in to generate the icon variable name from the file type variable ---*/
.file-ext(@code) {
	@-icon-file-type: "icon-@{code}";
	@icon-file-type: @@-icon-file-type;
	@-file-type-fill: "fill-@{code}";
	@file-type-fill: @@-file-type-fill;
}

/*--- variables with the svg code for the inside images for each file type ---*/
@icon-webinar: ~'<rect x="30.29" y="17.94" width="8.3" height="3.99" fill="@{light-fill-webinar}"/><rect x="40.6" y="17.94" width="8.31" height="3.99" fill="@{light-fill-webinar}"/><rect x="19.98" y="17.94" width="8.31" height="3.99" fill="@{light-fill-webinar}"/><rect x="30.29" y="24.43" width="8.3" height="3.99" fill="@{light-fill-webinar}"/><rect x="40.6" y="24.43" width="8.31" height="3.99" fill="@{light-fill-webinar}"/><rect x="19.98" y="24.43" width="8.31" height="3.99" fill="@{light-fill-webinar}"/><rect x="30.29" y="30.92" width="8.3" height="3.99" fill="@{light-fill-webinar}"/><rect x="40.6" y="30.92" width="8.31" height="3.99" fill="@{light-fill-webinar}"/><rect x="19.98" y="30.92" width="8.31" height="3.99" fill="@{light-fill-webinar}"/><rect x="30.29" y="37.41" width="8.3" height="3.99" fill="@{light-fill-webinar}"/><rect x="40.6" y="37.41" width="8.31" height="3.99" fill="@{light-fill-webinar}"/><rect x="19.98" y="37.41" width="8.31" height="3.99" fill="@{light-fill-webinar}"/><rect x="30.29" y="43.9" width="8.3" height="3.99" fill="@{light-fill-webinar}"/><rect x="40.6" y="43.9" width="8.31" height="3.99" fill="@{light-fill-webinar}"/><rect x="19.98" y="43.9" width="8.31" height="3.99" fill="@{light-fill-webinar}"/><rect x="30.29" y="50.4" width="8.3" height="3.99" fill="@{light-fill-webinar}"/><rect x="40.6" y="50.4" width="8.31" height="3.99" fill="@{light-fill-webinar}"/><rect x="19.98" y="50.4" width="8.31" height="3.99" fill="@{light-fill-webinar}"/>';
@light-fill-webinar: tint(@fill-webinar, @icon-image-tint);
@fill-webinar: @eia-green;
/*
@icon-xls: ~'<rect x="30.29" y="17.94" width="8.3" height="3.99" fill="@{light-fill-xls}"/><rect x="40.6" y="17.94" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="19.98" y="17.94" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="30.29" y="24.43" width="8.3" height="3.99" fill="@{light-fill-xls}"/><rect x="40.6" y="24.43" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="19.98" y="24.43" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="30.29" y="30.92" width="8.3" height="3.99" fill="@{light-fill-xls}"/><rect x="40.6" y="30.92" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="19.98" y="30.92" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="30.29" y="37.41" width="8.3" height="3.99" fill="@{light-fill-xls}"/><rect x="40.6" y="37.41" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="19.98" y="37.41" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="30.29" y="43.9" width="8.3" height="3.99" fill="@{light-fill-xls}"/><rect x="40.6" y="43.9" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="19.98" y="43.9" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="30.29" y="50.4" width="8.3" height="3.99" fill="@{light-fill-xls}"/><rect x="40.6" y="50.4" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="19.98" y="50.4" width="8.31" height="3.99" fill="@{light-fill-xls}"/>';
@light-fill-xls: tint(@fill-xls, @icon-image-tint);
@fill-xls: @eia-green;
*/
@icon-spreadsheet: ~'<rect x="30.29" y="17.94" width="8.3" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="30.29" y="24.43" width="8.3" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="40.6" y="24.43" width="8.31" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="19.98" y="24.43" width="8.31" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="30.29" y="30.92" width="8.3" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="40.6" y="30.92" width="8.31" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="19.98" y="30.92" width="8.31" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="30.29" y="37.41" width="8.3" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="40.6" y="37.41" width="8.31" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="19.98" y="37.41" width="8.31" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="30.29" y="43.9" width="8.3" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="40.6" y="43.9" width="8.31" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="19.98" y="43.9" width="8.31" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="30.29" y="50.4" width="8.3" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="40.6" y="50.4" width="8.31" height="3.99" fill="@{light-fill-spreadsheet}"/><rect x="19.98" y="50.4" width="8.31" height="3.99" fill="@{light-fill-spreadsheet}"/><polygon points="42.8 18.83 42.8 17.94 40.6 17.94 40.6 21.93 48.91 21.93 48.91 18.83 42.8 18.83" fill="@{light-fill-spreadsheet}"/>';
@light-fill-spreadsheet: tint(@fill-spreadsheet, @icon-image-tint);
@fill-spreadsheet: #d5d5d5;

@icon-xls: ~'<rect x="30.29" y="17.94" width="8.3" height="3.99" fill="@{light-fill-xls}"/><rect x="30.29" y="24.43" width="8.3" height="3.99" fill="@{light-fill-xls}"/><rect x="40.6" y="24.43" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="19.98" y="24.43" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="30.29" y="30.92" width="8.3" height="3.99" fill="@{light-fill-xls}"/><rect x="40.6" y="30.92" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="19.98" y="30.92" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="30.29" y="37.41" width="8.3" height="3.99" fill="@{light-fill-xls}"/><rect x="40.6" y="37.41" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="19.98" y="37.41" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="30.29" y="43.9" width="8.3" height="3.99" fill="@{light-fill-xls}"/><rect x="40.6" y="43.9" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="19.98" y="43.9" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="30.29" y="50.4" width="8.3" height="3.99" fill="@{light-fill-xls}"/><rect x="40.6" y="50.4" width="8.31" height="3.99" fill="@{light-fill-xls}"/><rect x="19.98" y="50.4" width="8.31" height="3.99" fill="@{light-fill-xls}"/><polygon points="42.8 18.83 42.8 17.94 40.6 17.94 40.6 21.93 48.91 21.93 48.91 18.83 42.8 18.83" fill="@{light-fill-xls}"/>';
@light-fill-xls: tint(@fill-xls, @icon-image-tint);
@fill-xls: @eia-green;

@icon-csv: ~'<rect x="20.32" y="31.25" width="28.93" height="3.99" fill="@{light-fill-csv}"/><rect x="20.32" y="37.74" width="28.93" height="3.99" fill="@{light-fill-csv}"/><rect x="20.32" y="44.24" width="28.93" height="3.99" fill="@{light-fill-csv}"/><rect x="20.32" y="50.73" width="28.93" height="3.99" fill="@{light-fill-csv}"/><rect x="20.32" y="24.76" width="28.93" height="3.99" fill="@{light-fill-csv}"/><rect x="20.32" y="18.27" width="28.93" height="3.99" fill="@{light-fill-csv}"/>';
@light-fill-csv: tint(@fill-csv, @icon-image-tint);
@fill-csv: tint(@eia-black, 46.5%);

@icon-pdf: ~'<path d="M32.79,22.86c-3-1.65-1.36,10.83,2.32,15.5,4.18,5.3,14.31,8.87,15.44,6.71,2.26-4.33-10.13-2.18-16-1.14-9.34,1.67-17.9,8.28-15.27,9.93C21.68,55.35,27.55,46,29.88,40.4,32.75,33.51,35.71,24.46,32.79,22.86Z" fill="none" stroke="@{light-fill-pdf}" stroke-miterlimit="10" stroke-width="2.44"/>';
@light-fill-pdf: tint(@fill-pdf, @icon-image-tint);
@fill-pdf: @eia-red;

@icon-json: ~'<path d="M26.2,52.1s-3.1-.6-3.1-5.7,0-9.2-4.6-9.2c4.6,0,4.6-4.1,4.6-9.2s3.1-5.6,3.1-5.6" fill="none" stroke="@{light-fill-json}" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.56"/><path d="M42.8,52.1s3.1-.6,3.1-5.7,0-9.2,4.6-9.2c-4.6,0-4.6-4.1-4.6-9.2s-3.1-5.6-3.1-5.6" fill="none" stroke="@{light-fill-json}" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.56"/><path d="M32,48.5a4.6,4.6,0,0,0,3.1-4.2h-.3a1.9,1.9,0,0,1-2.1-1.9,2,2,0,0,1,2.1-2.1c1.5,0,2.4,1.3,2.4,3.4a6.9,6.9,0,0,1-4.5,6.5Z" fill="@{light-fill-json}"/><path d="M32.6,32.2a2.1,2.1,0,1,1,4.1,0,2,2,0,0,1-2,2.1A2.1,2.1,0,0,1,32.6,32.2Z" fill="@{light-fill-json}"/>';
@light-fill-json: tint(@fill-json, @icon-image-tint);
@fill-json: shade(@eia-purple, 30%);

@icon-doc: ~'<rect x="20.3" y="31.3" width="28.9" height="3.99" fill="@{light-fill-doc}"/><rect x="20.3" y="37.7" width="28.9" height="3.99" fill="@{light-fill-doc}"/><rect x="20.3" y="44.2" width="28.9" height="3.99" fill="@{light-fill-doc}"/><rect x="20.3" y="50.7" width="28.9" height="3.99" fill="@{light-fill-doc}"/><rect x="20.3" y="24.8" width="28.9" height="3.99" fill="@{light-fill-doc}"/><rect x="20.3" y="18.3" width="28.9" height="3.99" fill="@{light-fill-doc}"/>';
@light-fill-doc: tint(@fill-doc, @icon-image-tint);
@fill-doc: shade(@eia-blue, 30%);

@icon-zip: ~'<rect x="20.3" y="31.3" width="28.9" height="3.99" fill="@{light-fill-zip}"/><rect x="20.3" y="37.7" width="28.9" height="3.99" fill="@{light-fill-zip}"/><rect x="20.3" y="44.2" width="28.9" height="3.99" fill="@{light-fill-zip}"/><rect x="20.3" y="50.7" width="28.9" height="3.99" fill="@{light-fill-zip}"/><rect x="20.3" y="24.8" width="28.9" height="3.99" fill="@{light-fill-zip}"/><rect x="20.3" y="18.3" width="28.9" height="3.99" fill="@{light-fill-zip}"/>';
@light-fill-zip: tint(@fill-zip, @icon-image-tint);
@fill-zip: shade(@eia-brown, 30%);

@icon-pedro: ~'<rect x="20.3" y="31.3" width="28.9" height="3.99" fill="@{light-fill-pedro}"/><rect x="20.3" y="37.7" width="28.9" height="3.99" fill="@{light-fill-pedro}"/><rect x="20.3" y="44.2" width="28.9" height="3.99" fill="@{light-fill-pedro}"/><rect x="20.3" y="50.7" width="28.9" height="3.99" fill="@{light-fill-pedro}"/><rect x="20.3" y="24.8" width="28.9" height="3.99" fill="@{light-fill-pedro}"/><rect x="20.3" y="18.3" width="28.9" height="3.99" fill="@{light-fill-pedro}"/>';
@light-fill-pedro: tint(@fill-pedro, @icon-image-tint);
@fill-pedro: shade(@eia-blue, 30%);

@icon-html: ~'<rect x="33.4" y="30.1" width="2.9" height="24.84" transform="translate(13.7 -8.2) rotate(16.7)" fill="@{light-fill-html}"/><polygon points="43.7 33.9 41.7 36 48.3 42.4 41.7 49 43.8 51.1 52.4 42.4 52.4 42.4 43.7 33.9" fill="@{light-fill-html}"/><polygon points="25.9 33.9 27.9 36 21.4 42.4 27.9 49 25.8 51.1 17.3 42.4 17.2 42.4 25.9 33.9" fill="@{light-fill-html}"/>';
@light-fill-html: tint(@fill-html, @icon-image-tint);
@fill-html: shade(@eia-purple, 30%);

@icon-ppt: ~'<path d="M34.6,31.3V21.4a9.9,9.9,0,1,0,9.9,9.9Z" fill="@{light-fill-ppt}"/><path d="M46.7,29.1a9.9,9.9,0,0,0-9.9-9.9v9.9Z" fill="@{light-fill-ppt}"/><rect x="20.3" y="44.2" width="28.9" height="3.99" fill="@{light-fill-ppt}"/><rect x="20.3" y="50.7" width="28.9" height="3.99" fill="@{light-fill-ppt}"/>';
@light-fill-ppt: tint(@fill-ppt, @icon-image-tint);
@fill-ppt: shade(@eia-orange, 30%);

@icon-image: ~'<polygon points="19.3 41 29.2 28.6 47.3 52.5 39.9 36.9 42.4 33.6 51.4 45.1 51.4 54.2 19.3 54.2 19.3 41" fill="@{light-fill-image}"/><circle cx="44.7" cy="27.6" r="3.5" fill="@{light-fill-image}"/>';
@light-fill-image: tint(@fill-image, @icon-image-tint);
@fill-image: @eia-blue;

.icon-interactive(@fill-color: @eia-blue, @fill-color-lt: tint(@eia-blue, 40%)) {
	@icon-filter-svg: ~'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 14"><g id="icon-interactive"><path d="M4.11,3.85c-.1-.09-.18-.05-.18.09v7.15c0,.13.08.18.19.1l1.47-1.14a.18.18,0,0,1,.29.07L7.5,13.57a.24.24,0,0,0,.32.12l1.33-.62a.24.24,0,0,0,.11-.32L7.64,9.29A.17.17,0,0,1,7.77,9l1.78-.39c.13,0,.15-.11,0-.2Z" fill="@{fill-color}"/><path d="M4.18,2.43a.35.35,0,0,1-.35-.34V.63A.35.35,0,0,1,4.18.29a.34.34,0,0,1,.34.34V2.09A.34.34,0,0,1,4.18,2.43Z" fill="@{fill-color-lt}"/><path d="M6,3a.39.39,0,0,1-.25-.1.36.36,0,0,1,0-.49l1-1a.35.35,0,0,1,.49.49l-1,1A.39.39,0,0,1,6,3Z" fill="@{fill-color-lt}"/><path d="M7.46,4.73H6a.34.34,0,0,1-.34-.34A.35.35,0,0,1,6,4H7.46a.35.35,0,0,1,.34.35A.34.34,0,0,1,7.46,4.73Z" fill="@{fill-color-lt}"/><path d="M2.5,3a.39.39,0,0,1-.25-.1l-1-1a.35.35,0,0,1,.49-.49l1,1a.34.34,0,0,1,0,.49A.37.37,0,0,1,2.5,3Z" fill="@{fill-color-lt}"/><path d="M2.13,4.63H.68a.35.35,0,0,1-.35-.34.35.35,0,0,1,.35-.35H2.13a.35.35,0,0,1,.35.35A.35.35,0,0,1,2.13,4.63Z" fill="@{fill-color-lt}"/><path d="M1.81,7.45a.32.32,0,0,1-.24-.11.33.33,0,0,1,0-.48l1-1a.33.33,0,0,1,.48,0,.34.34,0,0,1,0,.49l-1,1A.32.32,0,0,1,1.81,7.45Z" fill="@{fill-color-lt}"/></g></svg>';
	.inline-svg-code(@icon-filter-svg);
	background: @-inline-svg-url @-bg-defaults;
}
