//container mixin defaults for adding icon via ::before or ::after
.controls-icon(@icon-width: 30px, @icon-height: 30px) {
    content: " ";
    height: @icon-height;
    width: @icon-width;
    display: block;
}


.nav-bar-icon(@icon-width: 55px, @icon-height: 55px) {
    content: " ";
    height: @icon-height;
    width: @icon-width;
    display: block;
    border: 1px solid @eia-green;
    border-radius: 100%;
    background-size: 68%;
}

// -mixin for encoding the svg-------------*/

.inline-svg-code(@code ) {
    @-svg-code: escape(~"@{code}");
    @-inline-svg-code: ~"data:image/svg+xml,@{-svg-code}";
    @-inline-svg-url: ~"url('@{-inline-svg-code}')";
    @-bg-defaults: ~"no-repeat center center";
}

// -new mixins for changing EIA logomark color between single color and full color---------------------*/
.logomark-color(solid, @color) {
    @bottom-swoosh: @color;
    @logo-text-color: @color;
}

.logomark-color(full, @color) {
    @bottom-swoosh: @eia-blue;
    @logo-text-color: @color;
}

/* -mixins for changing EIA logomark color between single color and full color---------------------*/
/*.logomark-color(solid, @color) {
	@top-swoosh: @color;
	@middle-swoosh: @color;
	@bottom-swoosh: @color;
	@logo-text-color: @color;
}
.logomark-color(full, @color) {
	@top-swoosh: @eia-yellow;
	@middle-swoosh: @eia-green;
	@bottom-swoosh: @eia-blue;
	@logo-text-color: @color;
}
*/