<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="eia-card">
	<div class="image-container">
		<img src="/assets/images/gasoline_prices.jpg" alt="Gas Prices" class="responsive" />
	</div>
</div>