<h1>Images</h1>
<p class="uk-text-lead"></p>


<div class="uk-text-default uk-text-normal uk-text-uppercase">Alt tags best practices</div>
<div class="uk-section uk-section-muted uk-padding">
	<h3 id="people-with-disabilities" class="uk-h3 tm-heading-fragment"><span class="uk-label uk-label-danger">ACCESSIBILITY REQUIREMENT</span></h3>
	<p>
		All image tags must have <code>alt</code> Attributes. If an image does not have an alt attribute, a screen reader may announce the image&apos;s src attribute instead. So, all images must have an alt attribute. When an image does not have alt text, provide a null alt attribute, like so:
	</p>
	<p>
		Understanding what makes good <code>alt</code> text is subtle and important. It should be brief: less than 250 characters. It should convey the purpose of the image, not describe the image. When writing <code>alt</code> text, consider what details the author thought was most important. The same image can have quite different <code>alt</code> text depending on its context. Consult the content editor slides at the top of the page for more examples.
	</p>
	<strong>Some other best practices include:</strong>
	<ul class="bullet">
		<li>Avoid “image of”, “photo of”, etc, unless the medium is particularly important.</li>
		<li>
			Avoid using the title attribute in lieu of <code>alt</code> text. Keyboard-only users or mobile users may never see the title.
		</li>
		<!--  <li>Image links should describe the purpose of the link, and must never describe the image.</li>  -->
		<!--  <li>Decorative images should have blank or empty <code>alt</code> text</li>  -->
		<!--  <li>Complex images, like charts or graphs, should have long description located near the image. The image&apos;s <code>alt</code> text should describe where the close by image is.</li>  -->
		<!--  <li>Posters, flyers, and the like must have the same information presented in nearby text/</li>  -->
	</ul>
</div>