<div class="uk-section uk-section-muted uk-padding">
	<h3 id="people-with-disabilities" class="uk-h3 tm-heading-fragment"><span class="uk-label uk-label-danger">ACCESSIBILITY REQUIREMENT</span></h3>
	<p><strong>Hiding Decorative Images from Assistive Technology</strong></p>
	<p>Images that have no function or information content whatsoever are decorative images. These images can include stock photos included just for “eye candy.” Such images should be hidden from assistive technologies.</p>
	<p>Decorative images can be hidden from screen readers in multiple ways:</p>
	<ul>
		<li>
			using a null <code>alt</code> attribute
		</li>
		<li>
			using ARIA <code>role="presentation"</code>
		</li>
		<li>using a CSS background image</li>
	</ul>
</div>