<div class="uk-text-default uk-text-normal uk-text-uppercase">Image Figure and Figure Caption</div>
<div class="uk-section uk-section-muted uk-padding">
	<h3 id="people-with-disabilities" class="uk-h3 tm-heading-fragment"><span class="uk-label uk-label-danger">ACCESSIBILITY REQUIREMENT</span></h3>
	<p>The <code>&lt;figure&gt;</code> and <code>&lt;figcaption&gt;</code> to associate visible text with an image. When using&nbsp;<code>&lt;figure&gt;</code> and <code>&lt;figcaption&gt;,</code> the <code>alt</code> attribute can be more minimal, and the <code>&lt;figcaption&gt;</code> can be more expressive. The <code>&lt;figure&gt;</code> and <code>&lt;figcaption&gt;</code> elements can be used for groups of images, as well.</p>
</div>