<!-- Example -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="eia-card">
	<figure>
		<img src="../../assets/images/main.png" alt="Bab el-Mandeb Strait" />
		<figcaption>The Bab el-Mandeb Strait</figcaption>
	</figure>
</div>
<!-- HTML -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="Dilly">Code sample not ready yet.</code></pre>
<!-- Copy Button -->
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#Dilly">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>