<h2 class="uk-heading-small">Image Frame</h2>
<p>Add <code>.frame</code> to the <code>img</code> of any image to apply border.</p>


<h2 class="uk-heading-small">Image Frame</h2>
<p>Add <code>.frame</code> to the <code>img</code> of any image to apply border.</p>
<!-- Example -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">Image with a Frame Example</div>
<div class="eia-card">
	<img src="https://www.eia.gov/global/images/kids_promos/kids-standard.png" alt="Bab el-Mandeb Strait" class="frame" />
</div>
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<pre><code class="language-html" id="ImageFrame">&lt;!-- &lt;div class="image-container"&gt; --&gt;
&lt;!-- &lt;a href="https://www.eia.gov/global/images/kids_promos/kids-standard.png" class="enlarge-image"&gt;
&lt;img src="https://www.eia.gov/global/images/kids_promos/kids-standard.png" alt="" class="frame" /&gt;
&lt;!-- &lt;/a&gt; --&gt;
&lt;!-- &lt;/div&gt; --&gt;</code></pre>
<!-- Copy Button -->
<p>
	<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#ImageFrame">
		<span uk-icon="copy"></span>Copy to clipboard
	</button>
</p>
</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">



		<h2 class="uk-heading-small">Responsive Image Frame</h2>
		<p>Add <code>.frame .responsive</code> to the <code>img</code> of any image to apply border.</p>
		<!-- Example -->
		<div class="uk-text-default uk-text-normal uk-text-uppercase">Responsive Image with a Frame Example</div>
		<div class="eia-card">
			<div class="l-row l-two-col-right">
				<div class="l-col">
					<div class="image-container">
						<img src="/assets/images/kids_promos/kids-standard.png" alt="Bab el-Mandeb Strait" class="responsive frame" />
					</div>
				</div>
			</div>
		</div>

		<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
		<pre><code class="language-html" id="ImageFrame">&lt;!-- &lt;div class="image-container"&gt; --&gt;
&lt;!-- &lt;a href="/global/images/kids_promos/kids-standard.png" class="enlarge-image"&gt;
&lt;img src="/global/images/kids_promos/kids-standard.png" alt="" class="responsive frame" /&gt;
&lt;!-- &lt;/a&gt; --&gt;
&lt;!-- &lt;/div&gt; --&gt;</code></pre>
		<!-- Copy Button -->
		<p>
			<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#ImageFrame">
				<span uk-icon="copy"></span>Copy to clipboard
			</button>
		</p>