<h2 class="uk-heading-small">Image&nbsp;Guidelines</h2>
<p>To learn more about images, consider the following external resources:</p>
<ul>
	<li>
		<a href="https://www.w3.org/WAI/tutorials/">
			Image Concepts (Web Accessibility Tutorials)</a>
	</li>
	<li>
		<a href="https://www.w3.org/WAI/tutorials/decision-tree/">
			An <code>alt</code> Decision Tree (Web Accessibility Tutorials)</a>
	</li>
	<li>
		<a href="https://webaim.org/techniques/alttext/">
			Alternative Text (WebAIM)</a>
	</li>
	<li>
		<a href="http://accessibility.psu.edu/imageshtml/">
			Image <code>alt</code> Tag Tips for HTML (Penn State)</a>
	</li>
	<li>
		<a href="http://accessibility.psu.edu/charts/">
			Charts &amp; Accessibility (Penn State)</a>
	</li>
</ul>