<div class="tm-sidebar-right uk-visible@l">
	<div uk-sticky="offset: 160" class="uk-sticky uk-active uk-sticky-fixed" style="position: fixed; width: 200px; margin-top: 0px !important; top: 160px;">
		<ul class="uk-nav uk-nav-default tm-nav" uk-scrollspy-nav="closest: li; scroll: true">
			<li><a [routerLink]="['/modules/images/']" [fragment]="'alt-tags-example'" uk-scroll>alt-tags-example</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'accessible-label-intro'" uk-scroll>accessible-label-intro</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'alt-tags-best-practice'" uk-scroll>alt-tags-best-practice</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'accessible-label-example'" uk-scroll>accessible-label-example</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'figure-accessibility'" uk-scroll>figure-accessibility</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'figure'" uk-scroll>figure</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'decorative-images-accessibility'" uk-scroll>decorative-images-accessibility</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'developer-best-practives'" uk-scroll>developer-best-practives</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'long-description'" uk-scroll>long-description</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'descriptions-example'" uk-scroll>descriptions-example</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'frame'" uk-scroll>frame</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'guidelines'" uk-scroll>guidelines</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'textual-images'" uk-scroll>textual-images</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'hi-definition'" uk-scroll>hi-definition</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'how-people-interact-accessibility'" uk-scroll>how-people-interact-accessibility</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'intro-example'" uk-scroll>intro-example</a></li>
			<li><a [routerLink]="['/modules/images/']" [fragment]="'svg-accessibility'" uk-scroll>svg-accessibility</a></li>
		</ul>
	</div>
</div>