Long Description Best Practices

<p>Whenever a page presents images and other non-text content, it should present text alternatives. These text alternatives provide the same information presented by the image.</p>
<p>
	The most common form text alternative is <code>alt</code> text. <code>alt</code> text is a brief label contained in the HTML code for the image. Content editors can generally provide <code>alt</code> text at the same time they upload images into websites. Screen readers read <code>alt</code> text aloud, and browsers pages <code>alt</code> text when images fails to load.
</p>
<p>
	Long descriptions are lengthier amounts of text provided nearby the image, such as in the next paragraph. Long descriptions are helpful when a brief <code>alt</code> text is not enough to convey information, such as in a complex chart or graph.
</p>
<p>
	(Developers and content editors should avoid using the <code>longdesc</code> HTML attribute altogether. Confusingly, long descriptions never should be provided directly in the <code>longdesc</code>.)
</p>
<p>Example of the same image and how it scales in different width columns</p>