<div class="uk-section uk-section-muted uk-padding">
	<h3 id="people-with-disabilities" class="uk-h3 tm-heading-fragment"><span class="uk-label uk-label-danger">ACCESSIBILITY</span> SVG Accessibility</h3>
	<p>Implementing images as SVGs can solve accessibility challenges related to pixelated images and zooming. However, ensuring that SVG images are accessible requires some extra care.</p>
	<p>SVG images implemented as <code>&lt;img&gt;</code> tags should also include the <code>role="image"</code>&nbsp;attribute.</p>
	<p>SVG images implemented using the <code>&lt;svg&gt;</code> element should include the <code>&lt;title&gt;</code> and <code>&lt;desc&gt;</code>.</p>
	<p>References for SVG accessibility:</p>
</div>
<ul>
	<li><a href="https://developer.paciellogroup.com/blog/2013/12/using-aria-enhance-svg-accessibility/">Using ARIA to enhance SVG accessibility (The Paciello Group)</a></li>
	<li><a href="https://simplyaccessible.com/article/7-solutions-svgs/">7 solutions for creating more accessible SVGs (Simply Accessible)</a></li>
	<li><a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Element/title">The <code>&lt;title&gt;</code> element (Mozilla)</a></li>
	<li><a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Element/desc">The <code>&lt;desc&gt;</code> element (Mozilla)</a></li>
</ul>