.primary-alt,
.primary {
    font-size: @baseFontSize;
    margin-bottom: 2em;

    h1 {
        .primary-h1();
    }

    :not(.accordion) {
        h3 {
            font-size: 160%;
            font-weight: @bold; // 700
            line-height: 1.25;
            //text-transform: uppercase;
            margin: 1em 0 0 0;
        }
    }

    h4 {
        .primary-h4;

        span {
            float: right;

            &.alert {
                color: @eia-red;
                font-weight: @bold; // 700
                font-size: @xSmall; // 12 pixels
                //text-transform: uppercase;
            }
        }
    }

    h5 {
        .primary-h5;
    }

    /*
	moving to shared
	p {
        &.foot {
            line-height: 1.4;
            font-size: @xSmall; // 12 pixels
            vertical-align: top;
            width: 100%;
            margin-top: 10px;

            a {
                font-weight: @bold; // 700

                &:after {
                    content: "\00a0\203A";
                }

                &.ico {
                    vertical-align: top;
                    margin-top: 10px;

                    &:before {
                        margin-right: 6px;
                    }
                }
            }
        }
    }
	*/
    /* move to bullets
	.primary-alt,
  .primary {
      ul {
          &.bullet {
              margin-left: 0;
          }
      }
	}
*/

    /* analysis
ul {
&.presentations {
li {
&.date {
.italic;
}
}
}
}
*/
}



.primary {
    h2 {
        .primary-h2();

        &.alt {
            border-bottom: none;
            display: inline-block;
        }
    }
}

.primary-alt {
    h2 {
        .primary-h2();

        &:first-child {
            padding: 0;
        }
    }

}

.primary {
    &.alt-overview {
        h1 {
            margin-bottom: 0px;
        }

        >ul {
            border-bottom: 1px dashed @eia-dash-color;
            margin: 0;
            padding: 14px 0;

            &:last-child,
            &:has(+ h1) {
                border-bottom: none;
            }
        }

        .ico {
            &.interactive {
                margin-left: 0.25em;
            }
        }

        .expand-collapse-container {
            //color: @eia-508-dark-grey;
            font-weight: @bold; // 700

            .ico {
                cursor: default;

                &.interactive {
                    &:before {
                        margin-right: 0.25em;
                        height: 20px;
                    }
                }
            }
        }

        a {
            &.ico {
                &:before {
                    margin-right: 3px;
                    margin-bottom: 0;
                    top: 2px;
                    position: relative;
                }
            }
        }
    }
}