.secondary-alt {
    border-top: 4px solid @eia-green;
    margin-bottom: 2em
}

.secondary {
    border-top: 4px solid @eia-blue;
    margin-bottom: 2em
}

.secondary-alt,
.secondary {
    .head {
        margin-left: 0;
    }

    .tab-content {
        &>p,
        &>ul,
        &>ol,

        &>h2,
        &>h3,
        &>h4,
        &>h5,

        img {
            margin: 0 0 0 6px;
        }
    }

    /* ************ ************ ************ */

    /* ************ ************ ************ */
    .accordion {
        &:first-child {
            border-top: 22px solid #fff;
        }
    }

    /* ************ ************ ************ */

    /* ************ ************ ************ */
    .tabs {
        &:first-child {
            border-top: 22px solid #fff;
        }
    }

    h1 {
        line-height: 1.25;
        padding: 1em 0 0 0;
    }

    h4,
    h5,
    ul {
        li {
            &.sub-head {
                margin-top: 14px;
                margin-bottom: 8px;
                line-height: 1.3em;
                font-size: var(--med); // 14 pixels
                font-weight: 600;

            }

            &.description {
                margin-top: 8px;
                margin-bottom: 8px;
                font-size: var(--med); // 14 pixels

            }

            &.image {
                img {
                    width: 100%;
                }

                margin-bottom: 1em;
            }

            &.icon {
                width: 100%;
                display: table;
                padding: 0 0 5px 0;

                span {
                    &.formats {
                        display: table-cell;
                        white-space: nowrap;
                        height: 12px;
                        position: relative;
                        top: 3px;

                        a {
                            border-left: 1px solid @eia-divider-color;
                            margin-left: 5px;
                            padding-left: 5px;
                            float: right;
                        }
                    }
                }

                a {
                    display: table-cell;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;

                        .ico {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    &>.tabs,
    &>.accordion,
    &>p,
    &>img,
    &>ul {
        padding-left: 6px;
        padding-right: 6px;

        &.icon-list {
            margin-top: 1em;
        }

        &>li {
            margin-left: 0;

            &>ul {
                &>li {
                    //margin-left: 0; // breaks on secondary-alt
                }
            }

            &.head {
                margin-bottom: 0.78rem;
                //width: 100%;
                //display: block;

                h2 {



                    font-size: 1.4rem;
                    line-height: 1.3em;
                    padding: 0;
                    margin: .25em 0 0 0; // 4px 0 0 0

                    .ico {
                        float: left;
                        margin: 8px 8px 0 0;

                        &.interactive {
                            span {
                                display: none;
                            }

                            &:before {

                            //    .controls-icon(40px, 43px);
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

        }
    }
}

.no-sub-navigation {
    .l-two-col-right-narrow {
        margin: 3em 0 0 0;

        .l-col {
            &:last-child {
                .secondary {
                    border-top: 4px solid @eia-blue;
                }
            }
        }
    }
}