table {
    &[class*="basic"] {
        thead {
            z-index: 20;
            th {
                font-size: var(--sm);
                font-weight: 650;
            }
        }
        tbody {
    tr>* {
        font-size: var(--sm);
    }
}
    }
    .outlooks {
        h2 {
            font-size: 1rem
        }
    }
    p {
        color: @eia-508-dark-grey;
        font-size: var(--med);
        line-height: 1.6;
    }
}

