@media (min-width: 1px) {

    .l-row {
        &.l-three-col-even {
            &.energy-outlook-page-foot {
                padding: 0;
            }
        }
    }

    .energy-outlook-page-foot {
        margin: 3em 0;
        min-height: 250px;

        .l-col {
            margin-bottom: 2em;

            h2 {
                color: @eia-dark-grey;
                font-size: var(--lrg);
                border-bottom: 1px solid @eia-dark-grey;
                padding: 0 0 3px 0;
                margin: 0 0 8px 0;

                &:before {
                    display: none;
                }
            }

            .form-container {
                padding-top: 3px;
            }

            fieldset {
                display: table;
                border: 1px solid @eia-blue;
                background-color: @eia-white;
            }

            ul {
                padding: 1em;
                font-size: var(--lrg);

                li {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    ul {
                        padding: 0 0 0 16px;

                        li {
                            list-style-type: disc;
                        }
                    }
                }
            }

            border-bottom: none;
            border-bottom-color: transparent;

            h1 {
                border-bottom: 1px dashed silver;
                padding-top: 6px;
                font-weight: 400;
                margin-bottom: 0;
                margin-bottom: 4px;

                &:before {
                    display: none;
                }
            }
        }
    }

    //h1 {}

    //}
    //}

}


@media (min-width: 801px) {
    .energy-outlook-page-foot {
        background-color: #f4f4f4;
        background-image: url(/outlooks/images/energy-outlook-foot.jpg);
        background-position: 94% 100%;
        background-repeat: no-repeat;
        border-top: 3px solid @eia-blue;
        min-height: 200px;

        h2 {
            font-size: var(--lrg);
        }
    }
}

@media (min-width: 1025px) {

    //.l-row {
    //    &.l-three-col-even {
    //        &
    .energy-outlook-page-foot {
        border-bottom: none;
        border-bottom-color: transparent;

        .l-col {
            width: 33.333%;
            margin-bottom: 0;

            .form-container {
                padding-top: 3px;
            }

            fieldset {
                display: table;
                border: 1px solid @eia-blue ;
                background-color: @eia-white;
            }

            &:first-child {
                background-color: @eia-blue-module-background;
            }

            ul {

                padding: 1em;

                li {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    ul {

                        padding: 0 0 0 16px;

                        li {
                            list-style-type: disc;
                        }
                    }
                }
            }

            border-bottom: none;
            border-bottom-color: transparent;

            h1 {
                &:before {
                    display: none;
                }
            }
        }
    }
}