<div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s" uk-grid>
	<ng-container *ngFor="let i of iconList; let _i = index">
		<div>
			<h2 class="uk-h2">{{ i.name | uppercase }}</h2>
			<p>Add <code>.{{ i.name }}</code> to an anchor tag with the class of <code>.ico</code>.</p>
			<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
			<div class="eia-card">
				<a ngClass="ico {{ i.name }}">
					<span>{{ i.name | uppercase }}</span>
				</a>
			</div>

			<!-- HTML -->
			<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
			<pre><code class="language-html" id="{{ i.name }}">&lt;a class="eia ico {{ i.name }}"&gt;
  &lt;span&gt;{{ i.name | uppercase }}&lt;/span&gt;
&lt;/a&gt;</code></pre>
			<!-- Copy Button -->
			<p>
				<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" attr.data-clipboard-target="#{{i.name}}">
					<span uk-icon="copy"></span>Copy to clipboard
				</button>
			</p>
		</div>

	</ng-container>
</div>
<app-icons-side-nav></app-icons-side-nav>