<h1 class="uk-h1 tm-heading-fragment">Icons</h1>
<p class="uk-text-lead"></p>
<a [routerLink]=" ['/base/icons/']" [fragment]="'lists'">Lists</a>
<!--
	h2 class="uk-h2 tm-heading-fragment"><a routerLink="/base/icons/file-types" routerLinkActive="uk-active">File Types</h2>
<h3 class="uk-h3 tm-heading-fragment">Example</h3>
<div class="eia-card">
	<a class="eia ico pdf">
		<span>PDF</span>
	</a>
</div>
<h2 class="uk-h2 tm-heading-fragment"><a routerLink="/base/icons/grid" routerLinkActive="uk-active">Grid</h2>
<div class="eia-card">
	<span class="eia ico grid-column"><span>GRID-COLUMN</span></span>
</div>
<h2 class="uk-h2 tm-heading-fragment"><a routerLink="/base/icons/informative" routerLinkActive="uk-active">Informative</h2>
<div class="eia-card">
	<span class="eia ico help"><span>help</span></span>
</div>
<h2 class="uk-h2 tm-heading-fragment"><a routerLink="/base/icons/lists" routerLinkActive="uk-active">Lists</h2>
<div class="eia-card">
	<span class="eia ico grid-column"><span>GRID-COLUMN</span></span>
</div>
<h2 class="uk-h2 tm-heading-fragment"><a routerLink="/base/icons/navigation" routerLinkActive="uk-active">Navigation</h2>
<div class="eia-card">
	<span class="ico-menu analysis-projections-icon"><span>analysis projections</span></span>
</div>
<h2 class="uk-h2 tm-heading-fragment"><a routerLink="/base/icons/opendata" routerLinkActive="uk-active">Opendata</h2>
<div class="eia-card">
	<span class="ico-menu open-data-icon"><span></span></span>
</div>
<h2 class="uk-h2 tm-heading-fragment"><a routerLink="/base/icons/social" routerLinkActive="uk-active">Social</h2>
<div class="eia-card">
	<span class="eia ico facebook"><span>facebook</span></span>
</div>
<h2 class="uk-h2 tm-heading-fragment"><a routerLink="/base/icons/tables" routerLinkActive="uk-active">Tables</h2>
<div class="eia-card">
	<span class="eia ico grid-column"><span>GRID-COLUMN</span></span>
</div>
<h2 class="uk-h2 tm-heading-fragment"><a routerLink="/base/icons/weekly" routerLinkActive="uk-active">Weekly</h2>
<div class="eia-card">
	<span class="eia ico grid-column"><span>GRID-COLUMN</span></span>
</div
-->

<h2 id="home" class="uk-h3 tm-heading-fragment"><a></a>Home</h2>
<app-icons-home></app-icons-home>
<hr class="uk-margin-large">
<h2 id="fileTypes" class="uk-h3 tm-heading-fragment"><a></a>File Types</h2>
<app-file-types></app-file-types>
<hr class="uk-margin-large">
<h2 id="grid" class="uk-h3 tm-heading-fragment"><a></a>Grid</h2>
<app-grid></app-grid>
<hr class="uk-margin-large">
<h2 id="informative" class="uk-h3 tm-heading-fragment"><a></a>Informative</h2>
<app-informative></app-informative>
<hr class="uk-margin-large">
<h2 id="lists" class="uk-h3 tm-heading-fragment"><a></a>Lists</h2>
<app-list-icons></app-list-icons>
<hr class="uk-margin-large">
<h2 id="navigation" class="uk-h3 tm-heading-fragment"><a></a>Navigation</h2>
<app-navigation></app-navigation>
<hr class="uk-margin-large">
<h2 id="opendata" class="uk-h3 tm-heading-fragment"><a></a>Opendata</h2>
<app-opendata></app-opendata>
<hr class="uk-margin-large">
<h2 id="social" class="uk-h3 tm-heading-fragment"><a></a>Social</h2>
<app-social></app-social>
<hr class="uk-margin-large">
<h2 id="tables" class="uk-h3 tm-heading-fragment"><a></a>Tables</h2>
<app-table-icons></app-table-icons>
<hr class="uk-margin-large">
<h2 id="weekly" class="uk-h3 tm-heading-fragment"><a></a>Weekly</h2>
<app-weekly></app-weekly>
<hr class="uk-margin-large">

<app-icons-side-nav></app-icons-side-nav>