<div *ngFor="let i of iconList">
	<h1 class="uk-h1 tm-heading-fragment" id=" {{ i.name }}">{{ i.name | uppercase }}</h1>
	<p class="uk-text-lead"></p>
	<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>



	<div class="eia-card">
		<div class="uk-card-header">
			<h3 class="uk-card-title">Icon on Anchor</h3>
		</div>
		<div class="uk-card-body">
			<p><a ngClass="ico {{ i.name }}">
					<span></span>
				</a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
		</div>
	</div>
	<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
	<div>
		<pre><code class="language-html" id="anchor-{{ i.name }}">&lt;p&gt;
  &lt;a class="eia ico {{ i.name }}"&gt;
    &lt;span&gt;&lt;/span&gt;
  &lt;/a&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.&lt;/p&gt;</code></pre>
	</div>
	<p>
		<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" attr.data-clipboard-target="#anchor-{{i.name}}">
			<span uk-icon="copy"></span>Copy to clipboard
		</button>
	</p>
	<div class="eia-card">
		<div class="uk-card-header">
			<h3 class="uk-card-title">Stand Alone</h3>
		</div>
		<div class="uk-card-body">
			<p><span ngClass="ico {{ i.name }}">
					<span></span>
				</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
		</div>
	</div>
	<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
	<div>
		<pre><code class="language-html" id="anchor-{{ i.name }}">&lt;p&gt;
  &lt;a class="eia ico {{ i.name }}"&gt;
    &lt;span&gt;&lt;/span&gt;
  &lt;/a&gt;
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.&lt;/p&gt;</code></pre>
	</div>
	<p>
		<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" attr.data-clipboard-target="#{{i.name}}">
			<span uk-icon="copy"></span>Copy to clipboard
		</button>
	</p>
</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">
	</div>