<div *ngFor="let i of iconList">
	<h1 class="uk-h1 tm-heading-fragment" id=" {{ i.name }}">{{ i.name | uppercase }}</h1>
	<p class="uk-text-lead"></p>
	<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>

	<div class="eia-card">
		<a ngClass="ico-menu { i.name }"></a>
	</div>

	<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
	<div class="uk-margin-medium">
		<pre><code class="language-html" id="{{ i.name }}">&lt;a class="ico-menu {{ i.name }}"&gt;&lt;/a&gt;
		  </code></pre>
	</div>
	<p>
		<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" attr.data-clipboard-target="#{{i.name}}">
			<span uk-icon="copy"></span>Copy to clipboard
		</button>
	</p>
</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">
	</div>