h2 {
    &.eia-sub-heading {
        font-weight: 900;
        font-size: 8em;
        -webkit-text-shadow: 0 .3rem .9rem rgba(0, 0, 0, .4);
        text-shadow: 0 0.3rem 0.9rem rgba(0, 0, 0, .4);
        letter-spacing: -3px;
        font-family: 'Source Sans Pro', sans-serif;
        text-shadow: -1px 1px 8px rgba(0, 0, 0, .8);
        text-transform: uppercase;
        text-align: center
    }
}