<a href="#page-content" class="eia-accessibility">Skip to page content</a>
<div id="user-states-header-menu" class="sub-navigation tools">
  <div class="left">
    <ul class="left-nav">
      <li routerLinkActive="active"><a routerLink="/overview">Overview</a></li>
      <li routerLinkActive="active" class="dropdown dropdown-data">
        <a routerLink="/data" [ngClass]="!isTerritory ? 'dropbtn':''">Data@if (!isTerritory) {
          <span class="ico sort-up"></span>
        }</a>

        <div class="dropdown-data-content dropdown-content">
          <app-dasboard-menu
            [ShowDescription] = false
          ></app-dasboard-menu>
        </div>
      </li>
      <li routerLinkActive="active"><a routerLink="/rankings">Rankings</a></li>
    </ul>
  </div>
  <div class="right">
    <ul>
      <li><a routerLink="/how-to">How To</a></li>

      <app-print-dashboard></app-print-dashboard>
    </ul>
  </div>
</div>
<div id="page-content"></div>