<h1 class="uk-h1 tm-heading-fragment">Layout Row Examples</h1>
<p class="uk-text-lead">When a column layout is nested within another column layout, the nested colums have no right space on the last column.</p>
<h2 class=" uk-h3 tm-heading-fragment">Single Columns</h2>
<p>No left or right space by adding <code>header</code> to the <code>l-row</code> tag.</p>

<a class="prototype-link l-two-col-even" href="/style-guide/layouts/nested-layouts#l-two-col-even">
	<div class="prototype-thumb">
		<div class="prototype-column-container w50">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w50">
			<div class="prototype-column"></div>
		</div>
	</div>
</a>
<a class="prototype-link l-three-col-even" href="/style-guide/layouts/nested-layouts#l-three-col-even">
	<div class="prototype-thumb">
		<div class="prototype-column-container w33">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w33">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w33">
			<div class="prototype-column"></div>
		</div>
	</div>
</a>
<a class="prototype-link l-four-col-even" href="/style-guide/layouts/nested-layouts#l-four-col-even">
	<div class="prototype-thumb">
		<div class="prototype-column-container w25">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w25">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w25">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w25">
			<div class="prototype-column"></div>
		</div>
	</div>
</a>
<a class="prototype-link l-five-col-even" href="/style-guide/layouts/nested-layouts#l-five-col-even">
	<div class="prototype-thumb">
		<div class="prototype-column-container w20">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w20">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w20">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w20">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w20">
			<div class="prototype-column"></div>
		</div>
	</div>
</a>
<a class="prototype-link l-six-col-even" href="/style-guide/layouts/nested-layouts#l-six-col-even">
	<div class="prototype-thumb">
		<div class="prototype-column-container w16">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w16">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w16">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w16">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w16">
			<div class="prototype-column"></div>
		</div>
		<div class="prototype-column-container w16">
			<div class="prototype-column"></div>
		</div>
	</div>
</a>