@media (min-width: 1px) {
    .l-ng {
        .ico {
            display: inline-block;
            cursor: pointer;
            font-size: 0;
            padding-left: 6px;

            &.options,
            &.info,
            &.download {
                &:before {
                    //content: "";
                    //.controls-icon(20px, 20px);
                    height: 20px;
                    width: 20px;
                    display: inline-block;
                    margin: 0 6px 0 0;
                    position: relative;
                    top: unset;
                }
            }

            &.info {
                &:before {
                    .icon-info(@fill-color: @eia-dark-grey);
                }

                &:hover {
                    &:before {
                        .icon-info(@fill-color: @eia-blue);
                    }
                }
            }

            &.options {
                &:before {
                    .icon-options(@fill-color: @eia-dark-grey);
                }

                &:hover {
                    &:before {
                        .icon-options(@fill-color: @eia-blue);
                    }
                }
            }

            &.download {
                &:before {
                    .icon-download(@fill-color: @eia-dark-grey);
                }

                &:hover {
                    &:before {
                        .icon-download(@fill-color: @eia-blue);
                    }
                }
            }
        }
    }
}