@media (min-width: 1px) {
    .l-ng {
        .contextmenu {
            >div {
                >div {
                    cursor: pointer;
                    padding: 0 12px 3px 12px;
                    background: none;
                    color: rgb(0, 126, 181);
                    font-size: 0.8rem;
                    font-weight: bold;

                    &:nth-child(1) {
                        cursor: pointer;
                        padding: 6px 12px 0 12px;
                        background: none;
                        color: rgb(0, 126, 181);
                        font-size: 0.8rem;
                        font-weight: bold;
                    }

                    hr {
                        height: 1px;
                        margin: 0.5em 0;
                    }
                }
            }
        }

        .l-border-top {
            border-top: 4px solid #0096d7;

            h2 {
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 1.2;
                padding: .25em 0 0;
                text-decoration: none;

                &:before {
                    background-color: #70d4ff;
                    content: "";
                    display: inline-block;
                    height: 1rem;
                    height: 1.12rem;
                    margin-right: 4px;
                    margin-top: 4px;
                    margin-top: .21rem;
                    transform: skew(-20deg, 0deg);
                    width: 6px
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .l-ng {
        .l-border-top {
            h2 {
                &:before {
                    margin-left: -10px
                }
            }
        }
    }
}