/*
.hljs-punctuation,
.hljs-quote {
	color: #8e908c;
}
.hljs-etc {
	color: #333;
}
.hljs-comment {
	color: #666;
}
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
	color: @eia-red;
}
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
	color: @eia-blue;
}
.hljs-attribute {
	color: @eia-yellow;
}

// Tomorrow Green 
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
	color: @eia-dark-blue;
}

// Tomorrow Blue 
.hljs-title,
.hljs-section {
	color: @eia-dark-blue;
}

// Tomorrow Purple 
.hljs-keyword,
.hljs-selector-tag {
	color: @eia-purple;
}

.hljs {
	color: #477326;
	//color: #416a23;
	padding: 0.5em;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: @bold; // 700
}
*/