/*
.form-area {
    display: flex;
    background-color: #fafafa;
    padding: 30px;

    .l-two-col-left-narrow {
        margin: 0 0 1em 0;
    }

    label {
        font-size: var(--med); // 14 pixels
        //font-size: var(--lrg); // 15 pixels
        color: #333;

        .required {
            color: @eia-red;
        }
    }
    input {

        &[type="password"],
        &[type="text"],
        &[type="email"],
        &[type="number"] {
            border: 1px solid #bbb; // #aaa;
            padding: 3px;
            width: 100%;
        }
    }

    textarea,
    select {
        border: 1px solid #bbb; // #aaa;
        padding: 5px 3px;
        width: 100%;
    }

    input {

        &[type="password"],
        &[type="text"],
        &[type="email"],
        &[type="number"],
        &[type="checkbox"],
        &[type="radio"] {
            margin: 0 0 0 0;
            color: #555;
            font-size: var(--med); // 14 pixels
        }
    }

    textarea,
    select {
        margin: 0 0 0 0;
        color: #555;
        font-size: var(--med); // 14 pixels
        width: 100%;
    }

    textarea {
        &.terms-of-service {
            //width: 100%;
            min-height: 300px;
            color: #555;
            background-color: #fafafa;
        }

        &.reason {
            min-width: 60%;
            min-height: 40px;
            font-size: var(--med); // 14 pixels
            //font-size: var(--lrg); // 15 pixels
            font-family: -apple-system, system-ui;
            color: #ccc;
        }
    }

    input {

        &[type="password"],
        &[type="text"],
        &[type="email"],
        &[type="number"],
        &[type="checkbox"],
        &[type="radio"] {
            &:invalid {
                border: 1px solid @eia-red;
            }

            &:invalid {
                &:required {
                    border: 1px solid #bbb; // #aaa;
                    margin: 0 0 0 0;
                    color: #333;
                    font-size: var(--med); // 14 pixels
                    //font-size: var(--lrg); // 15 pixels
                }
            }

            &:valid {
                border: 1px solid #bbb; // #aaa;
                margin: 0 0 0 0;
                color: #555;
                font-size: var(--med); // 14 pixels
                //font-size: var(--lrg); // 15 pixels
            }
        }

        &.date-selector {
            float: left;

            &.day,
            &.month,
            &.quarter,
            &.year {
                width: 25%;
            }
        }
    }
}
*/

@media (min-width: 1px) {
    .form-divider {
        border-left: 2px solid @eia-green; // #5e9c30;
        float: right;
        margin-top: 0;
        padding: 11px 0 0 11px;
        width: 192px;
    }

    // could be 320px - smartphones, portrait iPhone, portrait 480x320 phones (Android)
    .l-report-header-opendata {
        border-bottom: solid 1.5px @eia-green; // #5e9c30;

        .see-all {
            height: 30px;
        }

        &~div {
            &.l-row {
                margin-top: 36px;
            }
        }
    }

    .api-call-out {
        display: flex;
        padding: 0;
        margin: 0;
        background-color: #eee;

        ul {
            list-style: none;
            width: 96%;
            //display: flex;
            padding: 0 2%;
            margin: 0;

            li {
                float: left;
                padding: 0;
                margin: 0;
                font-size: 1em;
                width: 100%;
                padding: 0;

                p {
                    margin: 20px 0 0 0;
                    font-size: 1em;
                }
            }
        }

        a {
            &.api-button {
                margin: 20px 0 0 0;
            }
        }
    }

    /*
	.microsoft-excel-add-in-button {
		display: inline-block;
		margin: 0.75em 0 1em 0;
		padding: 0;
		cursor: pointer;
		width: 100%;
		background: white;
		box-shadow: 1px 1px 1px 0 rgb(89 87 87 / 50%);
		border-radius: 1px;
		border: 0;
		background: @eia-blue;
		&:before {
			float: left;
			margin: 0 10px;
		}
		& > span {
			text-decoration: none;
			font-weight: @bold; // 700
			color: #fff;
			white-space: nowrap;
			padding: 13px 0 0 0;
			font-size: 1.3em;
			text-transform: uppercase;
			display: block;
			&:after {
				content: "\00a0\203A";
			}
		}
		&:hover {
			text-decoration: none;
			background-color: @eia-green; // #5f9732;
			& > span {
				text-decoration: underline;
				//color: #fff;
				//float: right;
				//padding: 13px 50px 0 0;
			}
		}
	}
	*/
    .success,
    .notice,
    .error {
        margin: 1em 0 2em 0;
    }

    p {
        &.browse-the-api {
            span {
                display: inline-block;
                margin: 12px 1em 0 0
            }
        }
    }

    .eia-button-shared() {
        display: inline-block;
        padding: 10px;
        border-radius: 1px;
        font-weight: @bold; // 700
        background: @eia-blue;
        color: @eia-white;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        line-height: 20px;
        cursor: pointer;
        font-size: 1.1em;
        text-transform: uppercase;
        border: none;

        &:hover {
            background-color: @eia-green;
            text-decoration: none;
            padding: 10px;
            border-bottom: none;
            color: @eia-white;
        }
    }

    a {
        &.browse-the-api {
            margin: 0.75em 0 1em 0;
            .eia-button-shared();
            width: 100%;

            &:after {
                content: "\00a0\203A";
            }
        }
    }

    .api-button {
        margin: 0.75em 0 .5em 0;
        .eia-button-shared();
        width: 100%;

        &:after {
            content: "\00a0\203A";
        }
    }

    /*
.fake-tabs {
& > ul {
li {
&.tab-nav-active {
a {
color: @eia-508-link-color;
//text-decoration: none;
&:hover {
color: @eia-508-link-color;
//	text-decoration: none;
}
}
}
}
}
}
*/
    /* ********** side-content-register.inc ********** */
    /* ********** side-content-register.inc ********** */
    /* ********** side-content-register.inc ********** */

    li {
        &.api-icon {
            h4 {
                width: 192px;
                float: right;
                margin-top: 0;
                border-left: 2px solid @eia-green;
                padding: 11px 0 0 11px;
                height: 55px;
            }

        }
    }

    /* ********** /excel/index.php ********** */
    /* ********** /excel/index.php ********** */
    /* ********** /excel/index.php ********** */
    .ico {
        &.api-key {
            display: inline-block;

            span {
                position: absolute;
                left: -10000px;
                top: auto;
            }

            &:before {
                display: inline-block;
                top: 5px;
                position: relative;
            }
        }
    }
}

@media (min-width: 1px) {
    .opendata-navigation {
        margin: -1px !important;
        display: flex;
        align-items: flex-end;
        flex-direction: row;

        a {
            flex-grow: 4; // space evenly
        }

        span {
            font-size: var(--xsm); // 12 pixels
        }

    }
}

@media (min-width: 480px) {
    .opendata-navigation {

        span {
            font-size: var(--xsm); // 12 pixels
        }

    }

}

@media (min-width: 600px) {

    // min-width: 600px)"; // mobile panorama
    //.l-report-header-opendata {
    //padding: 0 !important;
    //margin: 0 22px !important;
    //width: 914px;
    //}

    .opendata-navigation {
        span {
            font-size: 1em;
        }
    }

    .api-call-out {
        ul {
            li {
                width: 60%;

                &.api {
                    width: 15%;
                }

                &:last-child {
                    width: 25%;
                }
            }
        }
    }
}

@media (min-width: 801px) {
    .opendata-navigation {
        //a {
        //width: 25%;
        //}

        span {
            font-size: var(--xsm); // 12 pixels
        }


    }

    a {
        &.browse-the-api {
            margin: 0 1em 0 0;
            width: auto;
            float: left;
        }
    }
}