@media (min-width: 1px) {
    a[name] {
        scroll-margin-top: 50px;
        /* 56px (shrink height 50 + 10px = 60px) */
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: @headerMobileHeight *1px;
        background-color: @eia-darker-blue;
        transition: all 0.3s ease-in-out;
        z-index: 999;

        input[type="text"],
        textarea {
            margin: 0;
        }

        &.show-search-panel {
            transition: all 0.3s ease-in-out;
            height: (@headerMobileHeight + @HeaderFullWidthHeight) *1px; // 40 + 40 = 80
        }

        &.hide-search-panel {
            transition: all 0.3s ease-in-out;
            height: @headerMobileHeight * 1px; // 40
        }

        .print {
            display: none;
        }
        .primary-navigation {
            position: relative;
            display: flex;
            justify-content: space-between;
            a {
                &.logo {
                    padding: 0 8px;
                    transition: all 0.3s ease-in-out;
                    &:before {
                        .controls-icon(44px, 35px);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
            h1 {
                border: none;
                display: none;
            }
            > ul {
                display: none;
            }
            .nav-mobile {
                display: flex;
                flex-direction: row-reverse;
                margin-right: 8px;

                .menu-toggle {
                    height: 20px;
                    margin: 12px 1em 10px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        color: @eia-greyish-blue;
                        font-size: 1rem;
                        margin: 0;
                        position: relative;
                    }

                    .toggle-bar {
                        background-color: @eia-greyish-blue;
                        height: 2px;
                        width: 21px;
                        border-radius: 2px;
                        margin: 4px 6px;
                    }
                }
            }
        }
    }

    /* ************ ************ ************ */
    /* ************ *** BETA *** ************ */
    /* ************ ************ ************ */
    .l-body-wrapper {
        &.beta {
            header {
                .primary-navigation {
                    a {
                        &.logo {
                            &:before {
                                .controls-icon(50px, 40px);
                                .icon-eia-logomark;
                                float: left;
                            }
                        }

                        &.beta {
                            &:after {
                                .controls-icon(60px, 30px);
                                float: left;
                                margin: 11px 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media (min-width: 1025px) {
    a[name] {
        scroll-margin-top: 60px;
        /* 56px (shrink height 50 + 10px = 60px) */
    }

    header {
        height: @headerHeight *1px; // 94

        &.show-search-panel {
            height: (@headerHeight + @searchPanelHeight) *1px; // 94 + 40 = 134px;
        }

        &.hide-search-panel {
            height: @headerHeight *1px; // 94
        }

        .primary-navigation {
            width: @defaultPageWidth;
            padding: 0 17px; // 990 - 32 = 956
            height: @headerHeight *1px; // 94
            margin: 0 auto;

            .nav-mobile {
                display: none;
            }

            >ul {
                display: flex;
                align-items: center;
                padding: 0;
                margin: 55px 0 7px 0;
                transition: all 0.3s ease-in-out;
                line-height: 1.5;

                >li {
                    display: block;
                    margin: 0;
                    padding: 0;
                    border-right: 1px solid #809ca9;
                    border-left: 1px solid #001c29;

                    &:hover {
                        background-color: @eia-blue;

                        i {
                            color: @eia-white;
                        }
                    }

                    &:nth-child(1),
                    &:nth-child(6) {
                        border-left: none;
                    }

                    &:nth-child(5),
                    &:nth-child(6) {
                        border-right: none;
                    }

                    >div {
                        font-size: @xLarge;
                        color: @eia-white;
                        text-decoration: none;
                        padding: 2px 10px 2px 8px;
						cursor: pointer;
flex-direction: row;
        align-items: center;
						&:before {
							content: '\002B';
							//font-family: "Jost", sans-serif;
							font-weight: 700;
							color: @eia-yellow;
							font-size: 18px;
							margin-right: 6px;
                    	}
						&.search-menu-toggle {
							&:before {
								display: none;	
							}
						}
                    }

                    &.search-toggle-button {
                        &:hover {
                            background-color: transparent;
                        }

                        div {
                            &:focus {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }

            a {
                &.logo {
                    padding: 0 13px;

                    &:before {
                        .controls-icon(302px, 101px);
                        .icon-logo;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }

        &.shrink {
            height: @headerShrunkHeight *1px;

            .primary-navigation {
                height: @headerShrunkHeight *1px;

                a {
                    &.logo {
                        padding: 0 0 0 16px;
                        margin: 5px 250px 5px 0;

                        &:before {
                            .controls-icon(50px, 40px);
                            .icon-eia-logomark;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }

                > ul{
                    margin: 12px 0;
                }

                .nav-mobile {
                    display: none;
                }
            }

            &.show-search-panel {
                transition: all 0.3s ease-in-out;
                height: (@headerShrunkHeight + @searchPanelHeight) *1px; // 50 + 40 = 90;
            }

            &.hide-search-panel {
                transition: all 0.3s ease-in-out;
                height: (@headerShrunkHeight) *1px; // 90
            }
        }
    }

    .l-body-wrapper {
        &.l-full-page {
            header {
                height: @HeaderFullWidthHeight *1px;

                &.show-search-panel {
                    transition: all 0.3s ease-in-out;
                    height: (@HeaderFullWidthHeight + @searchPanelHeight) *1px; // 50 + 40 = 90;
                }

                &.hide-search-panel {
                    transition: all 0.3s ease-in-out;
                    height: (@headerShrunkHeight) *1px; // 90
                }

                .primary-navigation {
                    height: @HeaderFullWidthHeight *1px;
                    width: 100%;

                    a {
                        &.logo {
                            padding: 0 0 0 13px;
                            margin: 5px 50px 5px 0;

                            &:before {
                                .controls-icon(50px, 40px);
                                .icon-eia-logomark;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }

                    > ul{
                        margin: 12px 0;
                    }
                }
            }
        }
    }

    /* ************ ************ ************ */
    /* ************ *** BETA *** ************ */
    /* ************ ************ ************ */
    .l-body-wrapper {
        &.beta {
            header {
                .primary-navigation {
                    a {
                        &.logo {
                            padding: 0;
                            margin: 0 31px 0 16px;

                            &:before {
                                .controls-icon(95px, 95px);
                                padding: 0;
                                margin: 0;
                                transition: all 0.3s ease-in-out;
                            }
                        }

                        &.beta {
                            &:after {
                                .controls-icon(130px, 65px);
                                margin-top: 26px;
                                padding: 0;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                }

                &.shrink {
                    .primary-navigation {
                        a {
                            &.logo {
                                margin: 0 146px 0 16px;

                                &:before {
                                    .controls-icon(50px, 50px);
                                    transition: all 0.3s ease-in-out;
                                }
                            }

                            &.beta {
                                &:after {
                                    .controls-icon(60px, 30px);
                                    transition: all 0.3s ease-in-out;
                                    margin: 16px 0 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}