.ico-menu {
    width: auto;
    float: left;
    line-height: 0;
    padding: 0;

    &.analysis-projections-icon {
        &:before {
            background-position: 60% 70%;
        }
    }

    &.environment-icon {
        &:before {
            background-position-y: 45%;
        }
    }

    &.coal-icon {
        &:before {
            background-position-y: 45%;
        }
    }

    &.eia-glossary-icon {
        &:before {
            background-position-y: 45%;
            background-position-x: 67%;
        }
    }

    &.maps-icon {
        &:before {
            background-size: 100% 100%;
        }
    }

    &.international-icon {
        &:before {
            background-size: 100% 100%;
        }
    }

    &.regional-icon {
        &:before {
            background-size: 100% 100%;
        }
    }
}

/*-Close Icon --------------------------*/

i {
    &.close-menu {
        display: none;
    }
}

/*
.ico-menu {


    &.facebook,
    &.twitter,
    &.youtube,
    &.flickr,
    &.linkedin,
    &.email,
    &.rss {
        display: inline-block;
        &:before {
            //.controls-icon(40px, 40px);
        }

        font-size: 0;
        text-indent: -9999px;
    }
}
	*/

@media (min-width: 1px) {
    .section-tabs {
        border-radius: 0;
        background-color: @eia-white;
        //outline: none;
        padding: 0;
        margin: 0;

        /* ************ ************ ************ */
        /* ************ *** TABS *** ************ */
        /* ************ ************ ************ */

        .tabs-wrapper {
            background: @eia-darker-blue;
            min-height: 95px;
            border: none;
            padding: 1em 0 1em 1em;
            display: flex; // added
            //flex-direction: row; // added
            //justify-content: space-evenly; // added
            flex-wrap: wrap;
            align-items: center; // added

            ul {
                //width: 90%;
                margin: 0;
                padding: 0;
                //list-style-type: none;
                display: flex; // added
                flex-direction: row; // added
                //justify-content: space-evenly; // removed by miroslava
                align-items: flex-start;
                flex-wrap: wrap;

                li {

                    //display: inline-block; // removed due to flex
                    list-style-type: none; // added due to flex
                    border-bottom-width: 0 !important;
                    padding: 0;
                    border: 0;
                    box-sizing: border-box;
                    position: relative;
                    //padding-right: 10px; // removed due to flex
                    margin-right: 10px; // removed due to flex

                    a {
                        display: block;
                        color: @eia-white;
                        font-size: 1.2rem;
                        font-weight: @semiBold;
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                        }



                        &:before {
                            box-sizing: inherit;
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            transform-origin: center;
                            box-shadow: 0 7px 0 -2px @eia-yellow;
                            transform: scale3d(0, 1, 1);
                            // shrink only width
                            transition: transform 0.05s;
                        }

                        &:hover {
                            &:before {
                                transform: scale3d(1, 1, 1);
                                // show full-size
                                transition: transform 0.05s;
                            }
                        }
                    }


                    &.primary-nav-active {
                        a {
                            &:before {
                                transform: scaleX(1);
                                box-shadow: 0 7px 0 -2px #ffc702;


                                &:hover {
                                    transform: none !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .sources-uses,
        .topics,
        .geography,
        .tools,
        .learn,
        .news {

            &.right,
            &.left {
                border: none;
                margin: 0 6% 0 3%;
                width: 91%;
                margin: 0 6% 0 3%;
                box-sizing: border-box;

                &>div {
                    margin: 0;
                    padding: 1em 0;
                    width: 100%;
                }
            }

            /*
            &.right {
			    border: none;
                margin: 0 6% 0 3%;
                width: 91%;

                &>div {
                    margin: 0;
                    padding: 1em 0;
                    width: 100%;
                }
            }
			*/
        }

        .a-z-bottom {
            border: none;
            padding: 1em 0;
        }
    }

    /* ************ ************ ************ */
    /* ************ *** MENU *** ************ */
    /* ************ ************ ************ */
    .nav-menu {
        border-bottom: 1px solid shade(white, 17%);
        //display: table;
        min-height: 100px;
        clear: both;
        position: relative;
        width: 100%;

        a[href*=".com"]:after,
        a[href^="http:"]:after,
        a[href^="https:"]:after {
            display: none;
        }

        a {
            //color: @eia-508-link-color;
            text-decoration: none;
        }

        i {
            position: absolute;
        }

        h3 {
            display: block;
            margin: 0 0 0 80px;
            text-transform: none;
            font-size: 1.25rem;
            font-weight: @semiBold;
            display: block;

            //border-top: none;
            //padding: 0;

            a {
                font-size: 1.25rem;
                font-weight: @semiBold;
                text-transform: none;

                &:after {
                    content: "\00a0\203A";
                }
            }
        }

        p {
            display: block;
            margin: 0 0 0 80px;
            font-size: var(--med); // 14 pixels
            line-height: 1.4;
            color: #7d7d7d;

            a {
                position: relative;

                i {
                    position: relative;
                }
            }
        }

        ul {
            margin: 8px 0 8px 56px;
            padding-left: 40px;
            overflow: hidden;
            //list-style-type: disc;

            li {
                line-height: 1.6;
                font-size: var(--med); // 14 pixels
                cursor: pointer;
                list-style-type: disc;

                a {

                    //text-decoration: none;
                    //color: @eia-508-link-color;
                    //display: block;
                    &:after {
                        content: "\00a0\203A";
                    }

                    //&:hover {
                    //    text-decoration: none;
                    //}
                }
            }
        }

        /* $$$$$$$$$$$$$$$ energy explained $$$$$$$$$$$$$$$ */

        &.energy-explained {
            display: inline-block;
            width: 100%;

            .energy-explained-list {
                &.left {
                    float: left;
                    margin: 8px 0 0 0;
                    //margin: 8px 0 0 60px;
                    clear: both;
                }

                &.right {
                    float: left;
                    //margin: 0 0 8px 60px;
                    margin: 0 0 8px 0;
                }
            }
        }

        /* $$$$$$$$$$$$$$$ FAQ $$$$$$$$$$$$$$$ */
        &.faq {
            display: inline-block;
            width: 100%;

            .faq-list {
                &.left {
                    float: left;
                    //margin: 8px 0 0 60px;
                    margin: 8px 0 0 0;
                    clear: both;
                }

                &.right {
                    float: left;
                    //margin: 0 0 8px 60px;
                    margin: 0 0 8px 0;
                    //margin-left: 60px;
                }
            }
        }

        /* $$$$$$$$$$$$$$$ energy-kids $$$$$$$$$$$$$$$ */
        &.energy-kids {
            a {
                padding: 0;
                width: 100%;
                display: block;

                svg {
                    path {
                        fill: @eia-light-blue;
                    }
                }

                &:hover {
                    svg {
                        path {
                            fill: @eia-blue;
                        }
                    }
                }
            }
        }

        /* $$$$$$$$$$$$$$$ follow us $$$$$$$$$$$$$$$ */
        &.follow-us {
            p {
                margin: 8px 0 0 74px;
            }
        }

        /* $$$$$$$$$$$$$$$ what's new $$$$$$$$$$$$$$$ */
        &.whats-new {

            //  ul {
            li {

                //display: list-item; /* This has to be "list-item"                                               */
                //list-style-type: disc;
                &.date {
                    margin-top: -6px;
                    list-style-type: none;
                    font-style: italic;
                    color: @eia-508-dark-grey; // was tint(@eia-black, 46.4%);
                }

                &.foot {
                    list-style-type: none;
                }
            }

            //  }
        }

        /* $$$$$$$$$$$$$$$ upcoming $$$$$$$$$$$$$$$ */
        &.upcoming {
            h2 {
                display: none;
            }

            h5 {
                b {
                    display: none;
                }
            }

            ol {
                padding: 0 0 0 22px;
            }

            h5 {
                line-height: 1.6;
                font-size: var(--med); // 14 pixels
                cursor: pointer;
                margin: 0 0 0 0;
                display: list-item;
                /* This has to be "list-item" */
                list-style-type: disc;

                /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
                // list-style-position: inside; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
                &:last-child {
                    display: none;
                }

                a {
                    //text-decoration: none;
                    //color: @eia-508-link-color;
                    display: block;

                    &:after {
                        content: "";
                    }
                }
            }
        }

        /* $$$$$$$$$$$$$$$ reports $$$$$$$$$$$$$$$ */
        &.reports {
            .tags-search {
                position: absolute;
                max-height: 150px;
                overflow-y: auto;
                z-index: 99;
                width: 250px;
                background-color: @eia-white;
                border: 1px solid #aaa;
            }

            .header-bookshelf-search-form {
                .fancybox__content :focus {
                    box-shadow: none;
                    outline: none !important;
                }

                .fancybox__container :focus {
                    box-shadow: none !important;
                    //, 0 0 0 2px var(--fancybox-accent-color, rgba(1, 210, 232, .94));
                }
            }




            #header-tags-search {
                ul {
                    margin: 0;
                    padding: 5px;
                    //border: 1px solid #aaa;
                    background-color: white;
                    background-image: none;
                    .font;
                    list-style-type: none;

                    .option {
                        &:hover {
                            cursor: pointer;
                            color: @eia-508-link-color;
                        }
                    }
                }
            }
        }

        /* $$$$$$$$$$$$$$$ ENERGY KIDS $$$$$$$$$$$$$$$ */
        &.a-z-index {
            //width: 94%;
            //margin: 0 3%;
            width: 91%;
            margin: 0 6% 0 3%;
            padding: 1em 0 2em 0;
            border-bottom: none;

            .a-z-list {
                position: relative;
                display: block;
                margin-left: 80px;
                overflow-wrap: break-word;
                color: @eia-dark-grey;
                line-height: 1.6;
                font-size: var(--med); // 14 pixels

                a {
                    display: inline-block;
                    font-weight: @regular; // 400
                    padding: 5px;
                    cursor: pointer;
                    //color: @eia-508-link-color;
                }
            }
        }

        /* $$$$$$$$$$$$$$$ forms $$$$$$$$$$$$$$$ */
        .form-wrapper {
            margin: 6px 0 0 80px;
            display: block;
            width: 250px;
            position: relative;

            input[type="text"],
            textarea {
                margin: 0;
                font-size: var(--med); // 14 pixels
                width: 250px;
            }

            input {
                &.fancy-search-box {
                    padding: 2px;
                }
            }

            textarea {
                &.fancy-search-box {
                    width: 250px;
                    height: auto;
                }
            }

            button {
                &.search-submit {
                    text-indent: -9999px;
                    position: absolute;
                    top: 2px;
                    right: -30px;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    /*
	.global-nav {
        top: 40px;
    }
	*/

    /* ************ ************ ************ */
    /* ************ *** MENU *** ************ */
    /* ************ ************ ************ */
    .nav-menu {
        &.energy-explained {
            .energy-explained-list {
                &.left {
                    float: left;
                    width: 42%;
                    margin: 8px 0;
                    //margin: 8px 0 8px 60px;
                    clear: none;
                }

                &.right {
                    float: right;
                    width: 42%;
                    margin: 8px 0;
                    clear: none;
                }
            }
        }

        &.faq {
            .faq-list {
                &.left {
                    float: left;
                    width: 42%;
                    //margin-left: 60px;
                    clear: none;
                }

                &.right {
                    float: right;
                    width: 42%;
                    //margin-left: 0;
                    clear: none;
                }
            }
        }
    }
}

@media (min-width: 801px) {}

@media (min-width: 1025px) {


    /* ************ ************ ************ */
    /* *********** move to modals *********** */
    /* ************ ************ ************ */
    .archive {
        &.fancybox__content {
            .carousel__button {
                &.is-close {
                    right: 0 !important;
                    top: 0 !important;
                }
            }
        }
    }

    /* ************ ************ ************ */
    /* *********** move to modals *********** */
    /* ************ ************ ************ */
    .section-tabs {
        .tabs-wrapper {
            ul {
                li {
                    margin: 15px 24px 5px;

                    //a {
                    //font-size: 1.2rem;
                    //font-weight: @semiBold;
                    //}
                }
            }
        }

        .sources-uses,
        .topics,
        .geography,
        .tools,
        .learn,
        .news {
            &.left {
                width: 50%;
                margin: 0 0 1em 0;
                padding: 0;
                border-right: 1px solid shade(white, 17%);
                float: left;

                &>div {
                    width: 90%;
                    margin: 0 5%;
                    padding: 1em 0;
                }
            }

            &.right {
                width: 50%;
                margin: 0 0 1em 0;
                padding: 0;
                float: right;

                >div {
                    width: 90%;
                    margin: 0 5%;
                    padding: 1em 0;
                }
            }
        }

        .a-z-bottom {
            border: none;
        }

    }

    //}

    /* ************ ************ ************ */
    /* ************ *** MENU *** ************ */
    /* ************ ************ ************ */
    .nav-menu {
        width: 980px;

        &:last-child {
            border-bottom: none;
        }

        /* $$$$$$$$$$$$$$$ energy kids $$$$$$$$$$$$$$$ */
        &.energy-kids {
            a {
                &.energy-kids {
                    float: right;
                }
            }
        }

        /* $$$$$$$$$$$$$$$ A-Z $$$$$$$$$$$$$$$ */
        &.a-z-index {
            width: 95%;
            margin: 0 2.5%;
            padding: 1em 0 2em 0;
            border-top: 1px solid shade(white, 17%);
            border-bottom: none;

            p {
                margin-bottom: 5px;
            }

            .a-z-list {
                font-size: var(--xlrg);
                margin-top: 10px;

                a {
                    padding: 0 4px;
                }
            }
        }
    }
}




.navigation-modal {
    &.fancybox__container {
        &.is-animated[aria-hidden="false"] {
            //text-align: left; // codepen only

            .fancybox__nav {
                display: none;
            }

            /*
      .fancybox__carousel {
        .fancybox__viewport {
 
        /*.fancybox__track {
         border: 10px solid blue !important;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          }
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      //.fancybox__caption,
      //.fancybox__nav,
      //.carousel__dots,
 
      /*
    .carousel__button {
    .is-close {
      animation: .15s ease backwards fancybox-fadeIn;
    }
   }
    */
        }
    }
}




.fancybox__toolbar {
    display: none !important;
}

.fancybox__content {
    margin: 0;
    padding: 0;

    &.fancybox__chart {
        margin: 0;
        padding: 20px;
    }
}

.close {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Ccircle cx='18' cy='18' r='16.5' fill='%230096d7'/%3E%3Cpath fill='%23fff' d='M25.8 22.7 21.1 18l4.7-4.7-3.1-3.1-4.7 4.7-4.7-4.7-3.1 3.1 4.7 4.7-4.7 4.7 3.1 3.1 4.7-4.7 4.7 4.7 3.1-3.1z'/%3E%3C/svg%3E") no-repeat 50%;
    content: " ";
    display: block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: 0;
    position: absolute;
    right: -15px;
    text-indent: -9999px;
    top: -15px;
    z-index: 8040;
    right: -15px;
    top: -15px;
}

.nav-primary {
    display: table;
    //float: left;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 20px auto;

    li {
        border-left: 1px solid #001c29;
        border-right: 1px solid #809ca9;
        display: block;
        float: left;
        margin: 0;
        padding: 0;

        a {
            color: #333;
            display: block;

            font-size: var(--xlrg);
            font-weight: @regular; // 400
            padding: 2px 15px 2px 12px;
            text-decoration: none;
        }
    }
}

@media (min-width: 480px) {}

@media (min-width: 600px) {}

@media (min-width: 801px) {}

@media (min-width: 1025px) {


    .carousel {
        .carousel__dots {
            width: 980px;
        }

        .carousel__viewport {
            width: 980px;
        }

        .carousel__slide {
            width: 980px;
        }
    }
}