.social-sticker() {
    .ico-sticker {
        display: none;
        background-color: @eia-blue;

        &.facebook {
            &:before {
                //.controls-icon(39px, 42px);
                top: -3px;
                right: 2px;
                position: relative;
                display: block;
            }
        }

        &.twitter {
            &:before {
                //.controls-icon(39px, 42px);
                position: relative;
                display: block;
            }
        }

        //}
        //@media (min-width: 1px) {


        //@media (min-width: 1025px) {
        #sticker {
            display: block;
            overflow: hidden;
            margin: 0 0 0 0 !important;
            width: 42px !important;
            height: 84px !important;
            //	ease-in: when things are moving out.
            //	ease-out: when things are moving in.
            transition: 0.25s;
            transition-timing-function: ease-out;
            float: right;
            //box-sizing: border-box;

            &.hover {
                width: 135px !important;
                transition-timing-function: ease-in;
                transition: 0.2s;
            }

            &.positionable {
                position: absolute;
                display: block;
            }

            .link-social {
                margin: 0;
                height: 39px;

                .link-twitter {
                    margin: 8px 58px 0 0;
                }

                .link-facebook {
                    margin: 8px 38px 0 0;
                }
            }

            .social {
                position: relative;
                //			width: 160px;
                margin: 0;
                padding: 0;
                float: none;

                li {
                    clear: left;
                    margin-bottom: 2px;
                    height: 39px;
                    background: #F6F6F6;
                    display: block;
                    position: relative;
                    overflow: hidden;
                    width: 160px;

                    a {
                        float: right;
                    }

                }
            }
        }


        //div {
        .addthis_toolbox {
            float: right;
        }

    }
}

.social-sticker-laptop() {
    .ico-sticker {
        display: inline-block;
    }
}