<h3>Open an iFrame in a modal window</h3>
<div class="uk-text-default uk-text-normal uk-text-uppercase">Live Example</div>
<dl class="uk-description-list uk-description-list-divider">
	<dd><a href="/opendata/">Opendata</a></dd>
</dl>
<!-- Example -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">Example</div>
<div class="eia-card">
	<div uk-alert>
		<a class="uk-alert-close" uk-close></a>
		<h3>Notice</h3>
		<p>This is not a working demo.</p>
	</div>

	<div class="secondary-alt">
		<ul class="basic">
			<li class="head api-icon">
				<span class="eia ico api"><span>API Icon</span></span>
				<h2>Application Programming Interface (API)</h2>
			</li>
			<li class="align-center">
				<h4>Access EIA data how you need it</h4>
			</li>
			<li><a href="iframe.php" class="api-button iframe" data-fancybox>Register</a></li>
			<li><a>
					<!--  href="forgot-key.php" class="iframe" -->Forgot API Key
				</a></li>
			<li>Registration and compliance with the <a>
					<!--  href="terms-of-service.php" class="iframe" -->API Terms of Service Agreement
				</a> help EIA monitor usage and ensure service availability. EIA data is provided free of charge and should be used in compliance with our <a href="/about/copyrights_reuse.php">Copyrights and Reuse Policy</a>.</li>
		</ul>
	</div>

</div>
<!-- HTML -->
<div class="uk-text-default uk-text-normal uk-text-uppercase">HTML</div>
<div class="uk-margin-medium">

	<pre><code class="language-html" id="ModaliFrame">
        &lt;a href="iframe.php" class="lframe"&gt;Register&lt;/a&gt;</code></pre>
	<!-- Copy Button -->
	<p>
		<button class="copy-element uk-button uk-button-primary" data-clipboard-action="copy" data-clipboard-target="#ModaliFrame">
			<span uk-icon="copy"></span>Copy to clipboard
		</button>
	</p>
</div>
</section>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$      dilly      $$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<section id="dilly">
	<div class="eia-container">