.carousel {

    &.energy-outlook,
    &.multi,
    &.home {
        opacity: 0;

        &.visible {
            visibility: visible;



            opacity: 1;
            transition: opacity 2s;
            -webkit-transition: opacity 2s;
        }
    }
}


.main_col {
    .carousel.blue_top {
        .thumbs {
            width: 100%;
            height: 30px;
            text-align: center;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}