@eia-lt-green: #bed5ad;
@eia-green: #5d9732;
@eia-blue: #189bd7;
@eia-lt-gray: #cccccc;
@eia-dk-gray: #333333;
@eia-dark-grey: #333333;
@eia-red: #a33340;
@eia-purple: #513c7a;
@hc-no-data: #60606a;
@fontWeightBold: 700;

.bold(@fontWeightBold: 700) {
	font-weight: @fontWeightBold;
}

@import "icons";

//container mixin defaults for adding icon via ::before or ::after
.browse-by-icon(@icon-width: 100px, @icon-height: 100px) {
	content: ' ';
	float: left;
	height: @icon-height;
	width: @icon-width;
	display: block;
	margin: 0 auto;
}

.controls-icon(@icon-width: 30px, @icon-height: 30px, @right-space: 6px, @i-float: left) {
	content: ' ';
	float: @i-float;
	height: @icon-height;
	width: @icon-width;
	display: block;
	margin-right: @right-space;
}

/***temporary style; currently missing in global css base styles**********/
.l-full-width-page,
.blue-template {
	/*color: @eia-dk-gray;*/
}

.sub-navigation .left ul.left-nav>li {
	span.ico {
		/*margin-left: 4px;*/
	}

	.dropdown-data-content {
		min-width: 450px;

		.l-row.l-three-col-even {
			padding-left: 0;
			box-sizing: content-box;

			.l-one-third-col {
				padding-right: 22px;
				width: 33.333%;

				&:last-child {
					padding-right: 0;
				}
			}
		}

		h4 {
			margin: 12px 0 6px 0;
			padding-bottom: 2px;
			border-bottom: 1px solid #d8d8d8;
			font-size: .9375rem;
			font-weight: 700;
		}
	}
}

/*************************************************************************/


iframe {
	border: none;
}

.clearAll {
	clear: both;
}

.text-right {
	text-align: right;
}

.title-banner {
	min-height: 123px;
	height: auto;
	border-bottom: solid 1px #ededee;

	h1 {
		float: none;
		padding: .2em 0 0 0;
	}

	&.bg_pub_states_tall {
		&.us-level h1 {
			padding-top: 0.775em;
		}
	}

	.us-return {
		font-size: 10px;
		text-transform: uppercase;
	}
}

.state-ranking-detailed-data {
	width: 100%; // 540px;
	min-height: 20px;
}

.apply-date-range {
	top: -6px;
}

.blue-template,
.l-full-width-page {
	.ico {
		margin-left: 0px;

		span {
			font-style: normal;
			position: relative;
			left: auto;
		}

		.edit-edit {
			&:before {
				.icon-press-room();
				.controls-icon(20px, 20px);
			}
		}

		&.reset {
			color: @eia-red ;
			text-transform: uppercase;

			&:before {
				.icon-reset();
				.controls-icon(20px, 20px, 0px);
			}
		}

		&.save {
			color: @eia-green ;
			text-transform: uppercase;

			&:before {
				.icon-submit-check();
				.controls-icon(20px, 20px);
			}
		}

		&.remove {
			&:before {
				.icon-remove();
				.controls-icon(20px, 20px);
			}
		}

		&.cancel {
			&:before {
				.icon-cancel();
				.controls-icon(20px, 20px);
			}
		}

		&.chart {
			span {
				font-size: 10.5pt;
				line-height: 1.15em;
			}

			&:before {
				.icon-line-chart(@eia-blue);
				.controls-icon(30px, 30px);
			}
		}

		&.heat-map {
			span {
				font-size: 10.5pt;
				line-height: 1.15em;
			}

			&:before {
				.icon-states(@eia-blue);
				.controls-icon(30px, 30px);
			}
		}

		&.detailed-data {
			span {
				font-size: 10.5pt;
				line-height: 1.15em;
			}

			&:before {
				.icon-table(@eia-blue);
				.controls-icon(30px, 30px);
			}
		}

		&.fullscreen {
			span {
				display: none;
			}

			&:before {
				.icon-full-screen(@eia-dk-gray);
				.controls-icon(18px, 18px, 0px);
			}

			&:hover {
				&:before {
					.icon-full-screen(@eia-blue);
				}
			}
		}

		&.chart-options {
			span {
				display: none;
			}

			&:before {
				.icon-options(@eia-dk-gray);
				.controls-icon(18px, 18px, 0px);
			}

			&:hover {
				&:before {
					.icon-options(@eia-blue);
				}
			}
		}

		&.clone {
			span {
				display: none;
			}

			&:before {
				.icon-clone();
				.controls-icon(20px, 20px, 0px);
			}

			&:hover {
				&:before {
					.icon-clone(@eia-blue, tint(@eia-blue, 40%));
				}
			}
		}

		&.info {
			span {
				display: none;
			}

			&:before {
				.icon-info(@eia-dk-gray);
				.controls-icon(20px, 20px, 0px);
				top: 0px;
			}

			&:hover {
				&:before {
					.icon-info(@eia-blue);
				}
			}
		}

		&.add-to-download {
			span {
				display: none;
			}

			&:before {
				.icon-download(@eia-dk-gray);
				.controls-icon(20px, 20px, 0px);
			}

			&:hover,
			&.active {
				&:before {
					.icon-download(@eia-blue);
				}
			}
		}

		&.download {
			&:before {
				.icon-download();
				.controls-icon(20px, 20px);
			}
		}

		&.edit-dashboard {
			&.enable {
				span {
					margin-top: 2px;
				}

				&:before {
					.icon-unlock();
					.controls-icon(20px, 20px);
				}
			}

			&.disable {
				span {
					margin-top: 2px;
				}

				&:before {
					.icon-lock();
					.controls-icon(20px, 20px);
				}
			}
		}

		&.add-chart {
			span {
				margin-top: 2px;
			}

			&:before {
				.icon-add-chart(@eia-blue);
				.controls-icon(20px, 20px);
			}
		}

		&.compare {
			span {
				margin-top: 2px;
			}

			&:before {
				.icon-compare(@eia-blue);
				.controls-icon(20px, 20px);
			}
		}

		&.question {
			&:before {
				.icon-help(@eia-blue);
				.controls-icon(16px, 16px, 0px);
			}
		}
	}
}

/*---adjustment to vertically align the icons with the text-------*/
.dashboard-controls-container {
	.ico {
		position: relative;
		top: 2px;
	}
}

.chart-controls {

	.download {
		&:before {
			.icon-download(@eia-dark-grey);
		}

		&:hover {
			&:before {
				.icon-download(@eia-dark-grey);
			}
		}

		span {
			display: none;
		}
	}
}

/*** Edit Overlay ***/
.viz-edit-dashboard-overlay {
	opacity: .8;
	width: 95%;
	height: 90%;
	background-color: #ffffff;
	position: absolute;
	z-index: 1000;
}

p-checkbox {
	width: 100%;
	float: left;
	clear: both;

	.ui-chkbox {
		float: left;
	}

	label {
		margin-left: 23px;
		display: table;
	}
}

#rankingChartContainer .outerChartContainer {
	border-top: 1px dotted #666666;
	padding-top: 10px;
}

.rank-value {
	padding-right: 12px;
}

.controls-button() {
	padding: 4px 10px 4px 10px;

	&:hover {
		background-color: @lt_blue;
	}
}

.remove-list-style() {
	list-style: none;
	padding: 0px;
}

.button-defaults() {
	background: none;
	border: none;
	color: @eia-blue;
	cursor: pointer;
	position: relative;

	&:focus {
		outline: none;
	}

	&:hover {
		text-decoration: underline;
	}
}

.l-full-width-col,
.state-tab .l-row {
	&>h1 {
		padding-top: 0px;
	}
}

.blue-template {
	h1 {
		border-bottom: none;
	}

	a {
		&[type="modal"] {
			cursor: pointer;
		}
	}

	.l-full-width-col {
		padding: 0 10px;

		>.l-row {
			border-top: 2px solid @eia-blue;
		}
	}

	&:first-of-type {
		margin-top: 0px;
	}

	&.subsection {
		border-top-width: 1px;
	}

	.infographic {
		margin-top: 22px;
	}

	.quick-facts {
		padding-bottom: 1em;

		ul {
			column-count: 2;
			column-gap: 70px;
			padding-left: 20px;
			margin-bottom: 1em;

			@media (max-width: 450px) {
				column-count: 1;
			}

			li {
				margin-bottom: 12px;
				line-height: 1.2;
				list-style: disc;
			}
		}
	}

	.report_feature {
		h1 {
			span {
				font-size: 14px;

				&.right {
					float: right;

					@media (max-width: 450px) {
						float: none;
						display: block;
					}
				}
			}
		}

		.l-row.l-three-col-even {
			@media (max-width: 450px) {
				flex-wrap: wrap;
			}

			.l-col {
				width: 33%;
				padding-right: 22px;

				@media (max-width: 450px) {
					width: 100%;
					padding-right: 0px;
					padding-bottom: 20px;
				}

				&:last-child {
					padding-right: 0px;
				}
			}
		}

		img {
			border-top: 4px solid @eia-green;
			border-bottom: 1px solid @eia-green;
			/*float:left;*/
		}

		a {
			h3 {
				color: @eia-blue;
				font-size: 14px;
				font-weight: normal;
				text-transform: none;
				line-height: 1.3em;
				border-bottom: none;
				margin-bottom: 0px !important;
				padding: 6px 0;
				float: left;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.title-only {
			h3 {
				padding: 6px 0 6px 0;
				border-top: 1px dashed #cccccc;
			}
		}
	}

	.browse {
		.l-four-col {
			display: flex;
			padding-bottom: 30px;

			@media (max-width: 450px) {
				flex-wrap: wrap;
			}

			.l-col {
				min-height: 128px;
				border-left: 1px solid @eia-lt-gray;
				font-size: 1.5em;
				padding: 0 36px;

				@media (max-width: 768px) {
					width: 25%;
				}

				@media (max-width: 450px) {
					width: 33%;
					padding: 0px;
					text-align: center;
				}

				a,
				a:link,
				.list-header {
					font-weight: normal;
				}

				&.ico-states a,
				&.ico-sources a,
				&.ico-activities a,
				.list-header {
					color: @eia-dk-gray;
					font-weight: 600;
					font-size: 20px;

					@media (max-width: 768px) {
						font-size: 18px;
					}

					@media (max-width: 450px) {
						font-size: 16px;
					}

					&:hover {
						color: @eia-blue;
						text-decoration: none;
					}
				}

				.list-header {
					padding-bottom: 5px;

					&:hover {
						color: @eia-dk-gray;
					}
				}

				&:first-child {
					border-left: none;
					padding-left: 0px;
				}

				&:last-child {
					width: 33%;

					@media (max-width: 768px) {
						text-align: left;
						padding-left: 40px;
					}

					@media (max-width: 450px) {
						width: 100%;
						text-align: left;
						border-left: none;
						padding-left: 0px;
						padding-top: 20px;
					}
				}

				&.ico-states {

					a {
						span {
							.browse-by-icon();
							float: none;
							.icon-states();
						}

						&:hover span {
							.icon-states(@eia-blue);
						}
					}
				}

				&.ico-sources {
					span {
						.browse-by-icon();
						float: none;
						.icon-sources();
					}

					&:hover span {
						.icon-sources(@eia-blue, tint(@eia-blue, 60%));
					}
				}

				&.ico-activities {
					span {
						.browse-by-icon();
						float: none;
						.icon-activities();
					}

					&:hover span {
						.icon-activities(@eia-blue, tint(@eia-blue, 60%));
					}
				}
			}

			ul {
				.remove-list-style();

				@media (max-width: 450px) {
					list-style: disc;
					margin-left: 14px;
				}

				li {
					font-size: 14px;
					line-height: 1.4;
					font-style: normal;
				}
			}
		}
	}

	.map-list-toggle {
		.remove-list-style();
		margin: 22px 0 22px 0;
		min-height: 40px;

		li {
			float: left;
			text-transform: uppercase;
			margin: 6px;
			padding-bottom: 6px;

			a {
				font-size: 1.0em;
				opacity: 0.6;
				line-height: 1.1;
				display: inline-block;

				&:hover {
					text-decoration: none;
					opacity: 1.0;
				}
			}

			&.ico-indicator {

				&-right,
				&-left {
					padding: 0px;
					margin: 6px 14px 0px 14px;
					width: 3px;
					height: 32px;
					background-color: @eia-blue;
				}

				&-right::after {
					.controls-icon(14px, 14px);
					padding-right: 0px;
					position: relative;
					left: -1px;
					top: 26%;
					.icon-arrowhead-right();
				}

				&-left::before {
					.controls-icon(14px, 14px);
					padding-right: 0px;
					position: relative;
					left: -11px;
					top: 26%;
					.icon-arrowhead-left();
				}
			}

			&.ico-list {
				&.active {
					border-bottom: 3px solid @eia-blue;

					&::before {
						.icon-list(@eia-blue, 1.0);
					}

					a {
						opacity: 1.0;
					}

				}

				&::before {
					.controls-icon(28px, 28px);
					.icon-list();
					position: relative;
					top: 1px;
				}
			}

			&.ico-us-map {
				&.active {
					border-bottom: 3px solid @eia-blue;

					&::before {
						.icon-us(@eia-blue, 1.0);
					}

					a {
						opacity: 1.0;
					}
				}

				&::before {
					.controls-icon(28px, 28px);
					.icon-us();
					position: relative;
					top: 1px;
				}
			}

			&:hover {
				border-bottom: 3px solid @eia-blue;
				cursor: pointer;

				&.ico-list {
					&::before {
						.icon-list(@eia-blue, 1.0);
					}
				}

				&.ico-us-map {
					&::before {
						.icon-us(@eia-blue, 1.0);
					}
				}

				a {
					opacity: 1.0;
				}
			}
		}
	}
}

p-dialog {
	.l-row {
		border-top: none;
		padding: 0;

		.l-col {
			margin-top: 0;

			ul {
				.remove-list-style();

				li {
					a {
						display: block;
						color: @eia-blue;
						padding: 4px 8px;

						&:hover,
						&.active {
							background-color: @eia-blue;
							color: #ffffff !important;
						}
					}
				}

				&.all-charts {
					li {
						&:hover {
							background-color: transparent;

							a {
								color: @eia-blue;
							}
						}

						ul {
							li:hover {
								background-color: @eia-blue;

								a {
									color: #ffffff;
								}
							}
						}
					}
				}
			}

			&.add-chart-list {
				max-height: 600px;
				overflow-y: auto;
				padding-right: 6px;

				h2 {
					font-size: 16px;
					font-weight: bold;
				}

				+.l-two-col {
					padding: 0px 0px 0px 22px;
				}

				>div {
					margin-top: 10px;
				}
			}
		}

		&.download-list {
			padding-right: 0;

			a {
				color: @eia-blue;
			}

			ul {
				.remove-list-style();
				width: 100%;
				clear: all;
				max-height: 350px;
				overflow-y: auto;
				display: block;

				li {
					font-size: .8em;
					margin-bottom: 10px;
					width: 100%;
					clear: all;
					display: table;

					button {
						.button-defaults();

						&.remove {
							.controls-icon(12px, 12px, 3px);
							.icon-cancel();
							display: inline-block;
							margin-left: 0px;
							position: relative;

							&:hover {
								.icon-cancel(@eia-blue, 1);
							}
						}
					}

					a {
						float: left;
						margin-left: 2px;
						width: 95%;
					}

					div {
						float: left;
						margin-left: 18px;
					}
				}
			}

			fieldset {
				border-top: 1px solid @eia-lt-gray;
				border-right-width: 0;
				border-left-width: 0;
				border-bottom-width: 0;
				width: 100%;
				padding: 20px 0 0 0;
				margin: 10px 0;

				label {
					clear: both;
					margin: 0 0 0 0;
					.bold;
					border: 0;
					clear: both;
					margin-top: 8px;
					color: @eia-dk-gray;
				}

				select {
					&.select-download-menu {
						margin: 0;
						padding: 4px;
						color: @eia-dk-gray;
						display: inline-block;
					}
				}

				a {
					margin-left: 12px;
				}
			}

			hr {
				padding-top: 10px;
				background: none;
				border-bottom: 1px solid #cccccc;
			}

			.download-button {
				clear: both;

				a {
					padding: 4px 8px;

					&[href^="http:"] {
						background: none;
					}

					&:hover {
						background-color: tint(@eia-blue, 90%);
					}
				}
			}
		}
	}
}

//}
.s-overview {
	&.blue-template {
		.l-row {
			padding-bottom: 2em;
			padding-left: 22px;
			padding-right: 22px;

			button {
				.button-defaults();
				padding: 0px 0px;
				margin: 4px 0px 0px 10px;

				&.right {
					float: right;
					position: relative;

					.ico span {
						margin-left: 0px;
						text-transform: uppercase;
						position: relative;
						top: 2px;
						left: auto;

						&:hover {
							text-decoration: none;
						}
					}
				}

				&:focus {
					outline: none;
				}
			}

			h1 {
				margin: 20px 0px 10px 0px;
			}
		}

		>.l-row {
			padding-bottom: 0px;
		}
	}
}

.s-analysis {
	h2 {
		font-size: 16px;
		font-weight: bold;
	}
}

.choose-state-popup {
	cursor: pointer;
	.button-defaults();
	padding: 4px 10px;
	margin-top: 4px;
	background-color: #7496a6;
	color: #ffffff;

	&:hover {
		background-color: #DEF2F9;
		color: #003975;
	}

}

.state-selector {
	.l-full-width-col {
		>h1 {
			display: none;
		}

		.l-row {
			border-top: none;
		}

		.us-map {
			width: 100%;

			@media (max-width: 768px) {
				height: 400px;
			}

			@media (max-width: 450px) {
				height: 250px;
			}
		}

		.map-list-toggle {
			margin-top: 0px;
		}
	}
}

.overview-profile-table.basic-table {
	border: none;
	margin-bottom: 20px;

	tr {
		border-bottom: 1px dashed #cccccc;

		.subheader {
			border-bottom: 2px solid @eia-blue;
			border-top: none;
			background: #ffffff;
			font-weight: bold;
			line-height: 20px;
			padding-top: 20px;
		}

		&:nth-child(2) {
			td {
				padding-top: 0px;
			}
		}

		&.sep-table-level-1 {
			display: none;
		}

		td {
			border-top: none;
			border-bottom: 1px dashed #cccccc;

			&.indent {
				padding-left: 20px;

				&.bullet::before {
					content: '\00BB\000A0';
					display: inline;
				}
			}
		}
	}
}

.notes-sources {
	h2 {
		margin-bottom: 10px;
		font-size: 1.5rem;
	}

	.note-section {
		border-top: 2px solid @eia-blue;
		border-bottom: 1px solid @eia-blue;
		padding-top: 6px;
		margin-bottom: 36px;

		.note-subsection {
			display: flex;
			flex-flow: row wrap;
			padding-top: 10px;

			h3 {
				flex-basis: 100%;
				padding-bottom: 4px;
				border-bottom: 1px dashed @eia-blue;
				text-transform: uppercase;
			}

			p {
				margin-bottom: 6px;
				line-height: 1.1;
			}

			h4 {
				&:extend(.notes-sources .note-section .note-subsection p);
				font-style: italic;
				font-weight: normal;
			}

			.alternate h4 {
				font-weight: bold;
			}

			>div {
				border-bottom: 1px dashed #cccccc;
				padding: 6px 10px 0px 20px;

				&:nth-child(2n) {
					flex-basis: 25%;
				}

				&:nth-child(2n+1) {
					flex-basis: 75%;
				}

				&:nth-last-child(-n+2) {
					border-bottom: 1px solid @eia-blue;
				}
			}

			&:last-child {
				div:nth-last-child(-n+2) {
					border-bottom: none;
				}
			}
		}
	}
}

.download-pop .ui-dialog {
	max-width: 900px;
}

.list-container {
	margin-top: 30px;
}

.l-six-column,
.l-one-column {
	float: left;

	@media (max-width: 450px) {
		width: 100%;
	}

	h3 {
		margin-bottom: 12px;
		border-bottom: 1px solid @eia-lt-gray;
		font-size: 16px;
		font-weight: bold;
	}

	ul {
		float: left;
		list-style: none;
		padding: 0 12px 0 0;

		@media (max-width: 768px) {
			padding-right: 22px;
		}

		@media (max-width: 450px) {
			width: 50%;
		}

		a {
			font-size: .8rem;
			line-height: 18px;
		}
	}
}

.l-six-column {
	margin-right: 22px;

	@media (max-width: 768px) {
		margin-right: 0px;
		margin-bottom: 20px;
	}
}

.territory-container {
	min-height: 120px;
	position: relative;
	top: -180px;
	float: right;
	font-size: .8rem;
	line-height: 18px;

	@media (max-width: 768px) {
		float: none;
		top: 0px;
	}

	@media (max-width: 450px) {
		display: block;
	}

	>div {
		border-left: 3px solid @eia-blue;
		padding-left: 8px;

		ul {
			padding-left: 0px;
			list-style: none;

			&:first-child {
				margin-bottom: 10px;
			}
		}

		h4 {
			font-weight: bold;
		}
	}
}

.us-map {
	width: 90%;
	height: 500px;
}

/*** Data Tab ***/
.data-tab.l-row {
	.column-header {
		font-size: 1.625rem;
		font-weight: 700;
		margin-bottom: 10px;
	}

	&.l-two-col-right-narrow {
		div.l-two-col {
			width: 50%;
			padding-left: 22px;

			&:first-child {
				padding-right: 22px;
				padding-left: 0;
				border-right: 1px solid #cccccc;
			}
		}
	}

	.ico-style(@right-space: 0px) {
		border: 1px solid @eia-green;
		border-radius: 100%;
		margin: 0px @right-space 12px 0px;
		background-size: 68%;
	}

	.l-row {
		border-top: 2px solid @eia-blue;
		padding-top: 1.5em;

		.ico- {
			&petroleum {
				.controls-icon(46px, 46px);
				.icon-petroleum();
				.ico-style();
			}

			&coal {
				.controls-icon(46px, 46px);
				.icon-coal();
				.ico-style();
			}

			&natural-gas {
				.controls-icon(46px, 46px);
				.icon-natural-gas();
				.ico-style();
			}

			&electricity {
				.controls-icon(46px, 46px);
				.icon-electricity();
				.ico-style();
			}

			&renewable {
				.controls-icon(46px, 46px);
				.icon-renewable();
				.ico-style();
			}

			&nuclear {
				.controls-icon(46px, 46px);
				.icon-nuclear();
				.ico-style();
			}

			&total-energy {
				.controls-icon(46px, 46px);
				.icon-total-energy();
				.ico-style();
			}

			&consumption {
				.controls-icon(46px, 46px);
				.icon-consumption();
				.ico-style();
			}

			&prices {
				.controls-icon(46px, 46px);
				.icon-markets-finance();
				.ico-style();
			}

			&reserves {
				.controls-icon(46px, 46px);
				.icon-basins();
				.ico-style();
				background-size: 110%;
			}

			&storage {
				.controls-icon(46px, 46px);
				.icon-storage();
				.ico-style();
			}

			&movements {
				.controls-icon(46px, 46px);
				.icon-movements();
				.ico-style();
			}

			&production {
				.controls-icon(46px, 46px);
				.icon-production();
				.ico-style();
			}
		}

		.section {
			float: left;
			width: 86%;
			width: 75%;
			padding-bottom: 1.5em;
			margin: 0px 0px 0px 12px;

			h2 {
				line-height: 20px;
				padding-bottom: 5px;

				a {
					line-height: 20px;
					font-size: 20px;
				}
			}

			p {
				font-size: 0.80rem;
				margin-bottom: 0px;
			}
		}
	}

	.ico-create-dashboard {
		.controls-icon(46px, 46px);
		.icon-create-dashboard();
		.ico-style(10px);
	}

	.l-narrow-col {
		.secondary {
			border-top-width: 2px;

			ul {
				li {
					line-height: 1.6;
				}

				&.list-items {
					li {
						list-style: none;
						margin-left: 0;
						padding-bottom: 0.5em;
					}
				}
			}
		}

		.secondary-alt {
			border-top: none;
			height: 52px;

		}
	}
}

/*** Dashboard Set ***/
.dashboard {
	&.blue-template {
		.l-row {
			border-top: none;
			padding: 0px 22px;

			.l-full-width-col {
				padding: 0px;
				border-top: 2px solid @eia-blue;

				h3 {
					font-size: 14px;
					padding: 10px 0 6px 0;
					display: block;
					clear: both;
					border-bottom: solid 1px #dadada;
					text-transform: uppercase;
					margin: 0.5em 0 0 0;

					&.dashboard-title {
						position: -webkit-sticky;
						position: sticky;
						top: 50px;
						z-index: 150;
						background: #ffffff;
					}
				}
			}
		}
	}

	.dashboard-controls-container {
		position: -webkit-sticky;
		position: sticky;
		top: 83px;
		z-index: 150;
		background: #ffffff;
		border-bottom: 1px solid @eia-blue;
		margin-bottom: 12px;
		padding: 8px 0;

		select {
			position: relative;
			top: 0;
			margin: 0 20px 0 0;
		}

		button {
			.button-defaults();
			padding: 4px 6px;

			&:hover {
				background-color: tint(@eia-blue, 90%);
				text-decoration: none;
			}
		}

		button.right {
			float: right;
		}

		.tooltip {
			font-size: .8em;
		}

		.download {
			&:hover {
				&:before {
					.icon-download(@eia-blue; );
				}
			}
		}
	}

	.dasboard-gridster-main-container {
		box-sizing: border-box;

		@media (max-width: 450px) {
			height: auto !important;
		}

		gridster {
			background: transparent;

			.sep-chart-container {
				min-height: 400px;
			}

			&.fixed.ng-star-inserted.display-grid {
				background-color: tint(@eia-blue, 60%);
			}

			@media (max-width: 450px) {
				&.mobile gridster-item {
					height: auto !important;
				}
			}

			.gridster- {
				&column {
					border-color: @eia-blue;
				}

				&row {
					border-color: @eia-blue;
				}
			}

			.dashboard-gridster-item-header {
				.right {
					float: right;
					font-size: 0;
				}

				button {
					.button-defaults();
					padding: 0px 0px;
					margin: 0px 0px 0px 10px;

					&:focus {
						outline: none;
					}

					&:hover {
						text-decoration: none;
					}

					&.drag-handler {
						cursor: move;
						.controls-icon(18px, 18px);
						.icon-move();
					}

					&.remove {
						.controls-icon(18px, 18px);
						.icon-cancel();
						float: right;
						margin-left: 6px;

						&:hover {
							.icon-cancel(@eia-blue, 1);
						}
					}
				}

				.add-to-downloads-menu {
					position: absolute;
					z-index: 5;
					background: #ffffff;
					border: 1px solid #cccccc;
					opacity: 1;
					width: 150px;
					padding: 16px 10px;
					right: 14px;
					list-style: none;

					li {
						padding: 4px 0;

						button {
							text-align: left;
						}

						&:hover {
							background-color: tint(@eia-blue, 90%);

							button {
								text-decoration: underline;
							}
						}

						&.disabled,
						button:disabled {
							color: #cccccc;
							cursor: inherit;

							&:hover {
								background-color: transparent;

								button {
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
	}

	.dashboard-chart-outer-container {
		padding: 13px;
		border: 1px solid #cccccc;
	}

	.null-data {
		font-size: 12px;
		/*pixels so we match the HighCharts styling*/
		font-weight: bold;
		color: @hc-no-data;
		text-align: center;
		padding: 22% 0 10% 0;
	}

	.drag-overlay-container {
		position: absolute;
		top: 1px;
		left: 0px;
		padding: 14px;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.8);
		z-index: 1;

		.delete-handler {
			position: relative;
			border: none;
			line-height: 20px;
			.icon-cancel();
			.controls-icon(30px, 30px, 0px, right);

			span {
				display: none;
			}

			&:hover {
				cursor: pointer;
				.icon-cancel(@eia-blue, 1);
			}
		}

		.drag-overlay-controls {
			display: flex;
			width: 100%;
			height: 92%;

			.drag-handler {
				.icon-move();
				.controls-icon(50%, 50%, 0px, none);
				position: relative;
				margin: auto;
				text-indent: -2000px;
				border: none;

				&:hover {
					cursor: move;
					.icon-move(#ffffff, @eia-green, 1);
				}
			}
		}
	}

	.create-custom-container {
		display: flex;
		width: 100%;
		height: 100%;

		.create-custom {
			margin: auto;
			color: @eia-blue;

			span {
				font-weight: bold;
				margin: auto;
				display: block;
				text-align: center;
			}

			.plus {
				.icon-plus();
				.controls-icon(150px, 150px, 0px, none);
				margin-bottom: 20px;
			}

			&:hover {
				cursor: pointer;
				text-decoration: underline;

				.plus {
					.icon-plus(@eia-blue, 1);
				}
			}
		}
	}

	.other-resources-container {
		border-top: 2px solid @eia-blue;
		padding-bottom: 15px;

		h1 {
			margin-bottom: 10px;
		}
	}
}

.dashboard-notes-sources {
	.primary {
		>ul {
			>li {
				ul.bullet {
					margin-left: 0px;
				}

				&.head {
					margin-top: 14px;
					padding-top: 6px;
					border-top: 1px solid @eia-dk-gray;

					&:first-child {
						margin-top: 0px;
					}
				}
			}
		}
	}
}

.sep-display-header {
	white-space: nowrap;
}

.iframe-title {
	font-family: jost, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	padding: 10px 5px;
}

.viz-static-images-header {
	height: 47px;
}

.viz-static-images-container {
	width: 100%;
}

img.centered {
	display: block;
	margin: auto auto;
}

/*********ng-prime style overrides*******/
body .section-tabs {
	.ui-widget-content {
		border: none;
		/*theme.css is adding a border to the global nav; this removes it*/
	}

	.ui-corner-bottom {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.dashboard.blue-template {
	.ui-dialog {
		.ui-dialog-titlebar {
			margin-bottom: 1em !important;
		}

		.ui-dialog-content {
			margin-top: 0px;

			.l-row {
				padding: 0px;
			}

			a {
				cursor: pointer;
			}
		}
	}

	p-dialog {
		.ui-dialog-content {
			.l-full-width-page {
				.l-row {
					padding-left: 0px;
				}

				.l-full-width-col {
					padding-right: 0px;

					>h1 {
						display: none;
					}

					.map-list-toggle {
						margin: 12px 0 0 0;
					}
				}
			}
		}
	}
}

/*** Snap Shot ***/
.snapshot {
	text-align: center;
	min-height: 269px;

	.snap-content {
		text-align: left;

		.snap-value {
			font-size: 56px;
			color: @eia-blue;
			margin-top: -5px;
		}
	}

	.snap-units {
		font-size: 18px;
		text-align: left;
		display: block;
		width: 100%;
		font-size: 1.5em;
		margin-top: -5px;
		text-transform: lowercase;
	}

	.snapshot-date {
		text-align: left;
		padding-top: 10px;
		margin-top: 10px;
		color: tint(@eia-dk-gray, 40%);
		border-top: 1px dashed @eia-lt-gray;
		font-size: 1.25em;
		font-weight: bold;
	}

	h4 {
		font-weight: bold;
		font-size: 16px;
		text-align: left;
	}

	h2 {
		margin-top: -5px;
	}
}

/*** Successful Add Message ***/
@keyframes flash-in {
	0% {
		background-color: #ffffff;
	}

	100% {
		background-color: tint(@eia-blue, 90%);
	}
}

.ui-growl {
	top: 40%;
	left: 50%;
	background-color: #ffffff;

	&-item {
		background-color: tint(@eia-blue, 90%);
		animation-name: flash-in;
		animation-duration: 2s;
	}

	&-message {
		margin-left: 4.5em;
		margin-top: 0.1em;
		color: @eia-blue;
	}
}

.ui-growl .ui-growl-message-success {
	color: @eia-blue;
}

.ui-growl-title {
	padding-top: 8px;
}

/*** Today In Energy, Other Resources ***/
.other-resources-container,
.today-in-energy-container {
	ul {
		padding-left: 20px;

		li {
			margin-bottom: 5px;
			list-style: disc;
		}
	}
}

.overview-rankings,
.other-resources-container,
.today-in-energy-container,
.quick-facts {
	a {
		font-size: 0.875rem;
	}
}

.toggle-ranking {
	font-size: 1em;
	color: @eia-blue;

	&:hover {
		cursor: pointer;
	}
}

/*** Rankings Tab ***/
.rankings {
	font-size: .8em;
	margin-top: 0;

	strong {
		font-family: jost, sans-serif;
	}

	span {
		float: none;
		font-family: jost, sans-serif;
	}

	button {
		.button-defaults();
	}

	.controls-container {
		margin-bottom: 12px;
		border-bottom: 1px solid @eia-blue;

		select {
			margin: 0px;
		}

		button {
			padding: 4px 2px;
			margin: 4px 6px -2px 6px;

			&:hover {
				background-color: tint(@eia-blue, 90%);
				text-decoration: none;
				border-bottom: 3px solid;
			}

			&.active {
				border-bottom: 3px solid;
			}

			.ico {
				display: block;
				margin-left: 0px;
				color: @eia-blue;

				span {
					text-indent: 0;
					display: block;
					padding: 5px 10px;
					margin-left: 0px;
					text-transform: uppercase;
				}

				&::before {
					float: none;
					margin: auto;
				}
			}
		}
	}

	#states-rankings-category-menu {
		padding: 10px 0px 10px 0px;

		&+div {
			margin-top: 10px;
		}
	}

	.rankings-map {
		width: 60%;
		height: 400px;

		@media (max-width: 768px) {
			width: 100%;
		}

		@media (max-width: 450px) {
			width: 100%;
			height: 250px;
		}
	}

	.rank-value {
		float: left;
		width: 70px;
		text-align: right;
	}

	.rank-bar {
		float: left;
		background-color: @eia-blue;
		position: relative;
		top: 5px;
	}

	.rankings-chart {
		margin-bottom: 22px;
	}

	.heat-map-position {
		min-width: 30%;
		padding-left: 44px;

		h2 {
			border-bottom: 1px solid @eia-dk-gray;
			padding-bottom: 5px;
			margin-bottom: 5px;
		}

		span {
			font-size: 14px;
			position: relative;
			top: -5px;
			padding-left: 5px;
		}
	}

	h2 {
		font-size: 1.25rem; // 32px
		font-weight: normal;
		color: #333;
		margin: 0 0 .5em 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
	}

	.ico.info {
		&:before {
			.icon-info();
			.controls-icon(20px, 20px, 4px);
			top: -4px;
		}
	}

	a[type='text'] {
		cursor: pointer;
	}

	.primary {
		>ul {
			>li {
				ul.bullet {
					margin-left: 0px;
				}

				&.head {
					margin-top: 14px;
					padding-top: 6px;
					border-top: 1px solid @eia-dk-gray;

					&:first-child {
						margin-top: 0px;
					}
				}
			}
		}
	}

	.notation {
		font-size: 1rem;
		padding-bottom: 5px;
	}
}

/*** Angular Table Control ***/
.ag-theme-balham {
	font-family: jost, sans-serif;
	width: 100%;
	height: 100%;

	.ag-root {
		border: none;
	}

	.ag-header-cell-label,
	.ag-header-group-cell-label {
		font-family: jost, sans-serif;
		font-weight: bold;
		color: @eia-dk-gray;
	}

	.ag-header-container,
	.ag-header,
	.ag-header-row,
	.ag-row-odd {
		background-color: #ffffff;
	}

	.ag-header-container,
	.ag-header {
		border-bottom: none;
	}

	.ag-header-row {
		border-bottom: none;

		&:last-child {
			border-bottom: 2px solid @eia-blue;
		}
	}

	.ag-row {
		border-bottom: 1px dashed #cccccc;
	}
}

span.ag-header-icon.ag-header-cell-menu-button {
	float: right;
}

#rankingChartContainer {
	width: 100%;
	padding-bottom: 30px;
	margin-top: 10px;
}

#stateRankingsMapContainer {
	width: 100%;
	display: flex;
	padding-bottom: 30px;
	margin-top: 10px;

	@media (max-width: 450px) {
		flex-wrap: wrap;
	}
}

.chart-options,
.chart-fullscreen {
	h1 {
		padding-top: 10px;
		margin-bottom: 10px;
	}

	.l-row .notes {
		padding: 12px 0px 12px 0px;

		div {
			padding-right: 0px;
		}

		p {
			font-size: 1.0em;
			margin-top: 12px;
		}

		ul {
			margin: 12px 0px 0px 0px;
		}
	}

	.chart-filter-options {
		position: absolute;
		top: 62px;

		.ico.chart-options-large {
			&:before {
				.icon-options(@eia-dk-gray);
				.controls-icon(24px, 24px, 0px);
			}
		}

		&:hover {
			cursor: pointer;

			.ico.chart-options-large {
				&:before {
					.icon-options(@eia-blue);
				}
			}

			.ico.arrow:before {
				color: @eia-blue;
			}
		}
	}
}

.chart-options {
	.dashboard-chart-container {
		float: left;
		width: 62%;
		padding-right: 22px;
	}

	.chart-filter-options {
		right: calc(36% - 36px);

		.ico.arrow:before {
			content: '\203A';
			font-size: 50px;
			line-height: 0.3;
			color: @eia-lt-gray;
			padding-right: 24px;
			width: 20px;
			height: 24px;
			display: block;
			float: left;
		}
	}

	.filters-outer-container {
		float: right;
		width: 36%;
		margin-left: 0;
		padding-right: 0;

		border-left: 1px solid @eia-lt-gray;

		.filters-container {
			padding-top: 40px;
			max-height: 75vh;
			display: flex;
			flex-flow: column wrap;
			overflow-x: auto;

			a.region-info[type="button"] {
				-webkit-appearance: inherit;
				cursor: pointer;
				display: inline-block;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				border: 1px solid @eia-blue;

				&:hover {
					background-color: tint(@eia-blue, 90%);
				}

				.ico.question:before {
					float: none;
					display: inline-block;
					position: relative;
					top: 1px;
					left: 1px;
				}
			}
		}

		.filter-item-nav {
			margin-left: 14px;

			button {
				.ico.reset {
					&::before {
						.icon-reset();
						.controls-icon(30px, 30px, 0px, left);
					}

					span {
						color: @eia-red ;
						font-size: 1.0rem;
						font-weight: bold;
						text-transform: uppercase;
						position: relative;
						top: 10px;
					}
				}

				&:hover {
					cursor: pointer;

					.reset {
						span {
							text-decoration: underline;
						}

						&::before {
							.icon-reset(@eia-red, 1);
						}
					}
				}
			}

			&.apply-all-charts {
				padding: 20px 8px;
				font-size: 1em;
				border-top: 1px solid @eia-lt-gray;

				.ui-chkbox .ui-chkbox-box {
					width: 1.125em;
					height: 1.125em;
					line-height: 1.125em;
				}
			}
		}
	}
}

.chart-fullscreen {
	.dashboard-chart-container {
		padding-right: 60px;
	}

	.chart-filter-options {
		right: 18px;

		.ico.chart-options-large:before {
			padding-left: 12px;
		}

		.ico.arrow:before {
			content: '\2039';
			font-size: 50px;
			line-height: 0.3;
			color: @eia-lt-gray;
			border-right: 1px solid @eia-lt-gray;
			padding-right: 2px;
			width: 20px;
			height: 24px;
			display: block;
			float: left;
		}
	}
}

/*** End Angular Chart ***/
/*---primeng overrides-----------------------------*/
body {
	.ui-dialog {
		.ui-dialog {

			&-titlebar,
			&-content {
				margin: 2em;
				padding: 0;
			}

			&-titlebar {
				border-bottom: none;

				.ui-dialog-title {
					color: @eia-dk-gray;
					font-size: 1.75em;
					font-family: jost, sans-serif;
				}
			}
		}
	}

	.ui-dialog {
		@media (max-width: 1000px) {
			min-width: 100vw !important;
		}
	}

	.ui-widget,
	.ui-widget .ui-widget,
	.ui-widget input,
	.ui-widget select,
	.ui-widget textarea,
	.ui-widget button {
		color: @eia-dk-gray;
		font-family: jost, sans-serif;
		font-weight: normal;
	}

	.ui-chkbox .ui-chkbox-box {
		background-image: none;
		background-color: #ffffff;
		border: 1px solid @eia-blue;
		border-radius: 0px;

		&.ui-state-active {
			background-color: #ffffff;
			border: 1px solid @eia-blue;
			border-radius: 0px;
		}

		&:not(.ui-state-disabled):not(.ui-state-active):hover {
			border: 1px solid @eia-blue;
			background-color: tint(@eia-blue, 60%);
		}
	}

	.ui-radiobutton .ui-radiobutton-box {
		background-image: none;
		background-color: #ffffff;
		border: 1px solid @eia-blue;

		&.ui-state-active {
			background-color: #ffffff;
			border: 1px solid @eia-blue;

			.ui-radiobutton-icon {
				top: 0px;

				&.fa-circle {
					padding: 0% 25%;

					&:before {
						content: "\f111";
						color: @eia-blue;
					}
				}
			}
		}

		&:not(.ui-state-disabled):not(.ui-state-active):hover {
			border: 1px solid @eia-blue;
			background-color: tint(@eia-blue, 60%);
		}
	}

	.fa-check:before {
		content: "\f00c";
		color: @eia-blue;
	}

	.ui-chkbox-label {
		color: @eia-dk-gray;
		font-family: jost, sans-serif;
		font-weight: normal;
		cursor: pointer;
	}

	.ui-label-disabled {
		color: @eia-lt-gray;
	}
}

.ranking-scatter-chart text.undefinedyaxis-title {
	fill: black !important;
}

/*** Chart Options Styles ***/
.filter-item-container {
	width: 45%;
	float: left;
	margin: 0 0 20px 22px;

	.filter-item-header {
		border-bottom: 1px solid #333333;
		margin-bottom: 10px;
		font-size: 16px;
	}

	.filter-item-content {
		max-height: 200px;
		overflow-y: auto;

		p-checkbox,
		p-radiobutton {
			//display: block;
			padding-bottom: 4px;
		}

		h4 {
			margin-bottom: 4px;
		}

		a {
			cursor: pointer;
		}
	}

	label {
		font-weight: normal;
	}
}

.filter-item-nav {
	clear: both;
	padding: 8px 0;
	font-size: .8em;

	button {
		.button-defaults();
		text-decoration: none;

		.plus {
			&::before {
				.icon-plus(@eia-green);
				.controls-icon(20px, 20px, 0px, left);
			}

			span {
				color: @eia-green ;
				position: relative;
				top: 3px;
			}
		}

		&:hover {
			cursor: pointer;

			.plus {
				span {
					text-decoration: underline;
				}

				&::before {
					.icon-plus(@eia-green, 1);
				}
			}
		}

		.reset {
			&::before {
				.icon-reset(@eia-red);
				.controls-icon(20px, 20px, 0px, left);
			}

			span {
				color: @eia-red ;
				position: relative;
				top: 3px;
			}
		}

		&:hover {
			cursor: pointer;

			.reset {
				span {
					text-decoration: underline;
				}

				&::before {
					.icon-reset(@eia-red, 1);
				}
			}
		}

		.ico.save {
			&::before {
				.icon-submit-check(@eia-green);
				.controls-icon(30px, 30px, 0px, left);
			}

			span {
				color: @eia-green ;
				font-size: 1.0rem;
				font-weight: bold;
				position: relative;
				top: 10px;
			}
		}

		&:hover {
			cursor: pointer;

			.save {
				text-decoration: underline;

				&::before {
					.icon-submit-check(@eia-green, 1);
				}
			}
		}

		.ico.cancel {
			&::before {
				.icon-cancel(@eia-blue);
				.controls-icon(30px, 30px, 0px, left);
			}

			span {
				color: @eia-blue;
				font-size: 1.0rem;
				font-weight: bold;
				text-transform: uppercase;
				position: relative;
				top: 10px;
			}
		}

		&:hover {
			cursor: pointer;

			.cancel {
				span {
					text-decoration: underline;
					color: @eia-blue;
				}

				&::before {
					.icon-cancel(@eia-blue, 1);
				}
			}
		}
	}

	&.add-chart {
		display: flex;
		align-items: center;

		input {
			margin-left: 4px;
		}
	}
}

.download-dropdown-container {
	float: right;
	margin-top: 10px;

	.download-dropdown {
		color: @eia-dk-gray;
		background: transparent;
		border: none;

		.add-to-download {
			&:before {
				.icon-download(@eia-dk-gray);
				.controls-icon(20px, 20px, 6px);
			}
		}
	}

	&:hover {
		.download-dropdown {
			color: @eia-blue;
			cursor: pointer;

			.add-to-download::before {
				.icon-download(@eia-blue);
			}
		}
	}

	.add-to-downloads-menu {
		position: absolute;
		z-index: 999;
		background: #ffffff;
		border: 1px solid #cccccc;
		width: 250px;
		padding: 16px 10px;
		list-style: none;
		margin-left: 0;

		li {
			width: 100%;

			button {
				background: transparent;
				border: 0 solid;
				width: 100%;
				text-align: left;
				color: @eia-blue;
				padding: 5px;

				&:hover {
					cursor: pointer;
					background: tint(@eia-blue, 90%);
				}
			}

			&.disabled,
			button:disabled {
				color: #cccccc;
				cursor: inherit;

				&:hover {
					background-color: transparent;

					button {
						text-decoration: none;
					}
				}
			}
		}
	}

	hr {
		margin: .5rem 0;
	}
}

.sep-ag-grid .ag-theme-balham {
	width: 100%;
	height: 100%;

	.ag-root {
		padding-top: 0px !important;
	}
}

#display-eia-ag-grid-profile div.ag-header-viewport {
	display: none !important;
}

#edit-dashboard-container div.ui-sidebar-active {
	overflow-y: scroll;

	.l-row {
		padding: 0px;
	}
}

.ui-sidebar-close {
	display: none;
}

.ui-dialog-titlebar-close {
	display: none;
}

.dialog-box-edit-close {
	float: right;
}

.dialog-box-download-close {
	position: absolute;
	right: -20px;
	top: -15px;
	padding-top: 0px;

	.ico {
		&.close {
			.icon-cancel();
			.controls-icon(30px, 30px, 0px, none);

			&:hover {
				.icon-cancel(@eia-blue, 1);
			}
		}
	}
}

/*** End Chart Options Styles ***/

/*** Sub Navigation Components  ***/
.sub-navigation {
	.right {
		margin-top: 0;
		background-color: #7496a6;
		padding-right: 14px;
		margin-right: 0px !important;

		ul {

			li {
				height: 30px;
				border-left: 1px solid #A3B6BF;
				float: left;
				display: inline-block;

				a {
					color: #ffffff;
					font-size: 0.858em;
					margin-right: 0;
					display: inline-block;
					padding: 7px 8px 7px 8px;
				}
			}

			li:hover {
				background-color: #DEF2F9;
				cursor: pointer;

				a {
					color: #003975;
					text-decoration: underline;
				}
			}
		}
	}

	.left {
		ul.left-nav {
			>li.disabled {
				pointer-events: none;
				cursor: default;

				a {
					color: #999999 !important;
				}
			}
		}
	}
}

/*** End Sub Navigation Components ***/

.icon-mark-circle {
	.icon-submit-check();
	.controls-icon(30px, 30px, 0px, none);

	span {
		display: none;
	}

	&:hover {
		.icon-submit-check(@eia-green, 1);
	}
}

.icon-cross-circle {
	.icon-cancel();
	.controls-icon(30px, 30px, 0px, none);

	span {
		display: none;
	}

	&:hover {
		.icon-cancel(@eia-blue, 1);
	}
}

.text-right .ag-header-group-cell-label {
	display: grid;
	justify-content: right;
}

.text-right .ag-header-cell-label {
	display: grid;
	justify-content: right;
}

/*** Carousel Tables ***/
.carousel-table .ui-table {
	max-height: 250px;
	min-height: 250px;
	overflow-y: auto;
}

.carousel-dashboard .ui-carousel {
	max-height: 250px;
	min-height: 220px;
	overflow-y: auto;

	.ui-carousel-page-links .ui-carousel-page-link.fa-circle-o,
	.ui-carousel-button {
		color: @eia-dk-gray;
		text-decoration: none;

		&:hover {
			color: @eia-blue;
			text-decoration: none;
		}

		&.fa-dot-circle-o:hover {
			color: @eia-dk-gray;
			cursor: default;
		}
	}
}

p-table.carousel-table .ui-table .ui-table-caption.ui-widget-header {
	padding: 0;
	color: #333333;
	border: 0px solid;
	padding-top: 13px;
}

p-table.carousel-table .ui-table .ui-table-caption.ui-widget-header h4 {
	text-align: left;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
}

/*** End Carousel Tables ***/

/***infographic**********************/
.s-overview.blue-template .l-row {
	@box-margin: 6px;

	.us-infographic-container {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		clear: none;
		background-color: #ffffff;
		/*this is here so the infographic exports with a white background instead of transparent*/
		padding-left: 0px;
		margin: 26px -@box-margin 0px -@box-margin;
		width: 100%;

		h1 {
			font-weight: bold;
			font-size: 1.8em;
			margin: 10px @box-margin 6px @box-margin;
			flex-basis: 100%;
		}

		>h2 {
			font-weight: normal;
			margin: 0px @box-margin 10px @box-margin;
			flex-basis: 100%;
		}

		polygon {
			stroke: #cccccc;

			&[id$='-1'] {
				&.category {
					&1 {
						fill: tint(@eia-blue, 80%);
					}

					&2 {
						fill: tint(@eia-blue, 40%);
					}

					&3 {
						fill: @eia-blue;
					}

					&4 {
						fill: shade(@eia-blue, 40%);
					}
				}
			}

			&[id$='-2'] {
				&.category {
					&1 {
						fill: tint(@eia-green, 80%);
					}

					&2 {
						fill: tint(@eia-green, 40%);
					}

					&3 {
						fill: @eia-green;
					}

					&4 {
						fill: shade(@eia-green, 40%);
					}
				}
			}

			&.noCategory {
				fill: #cccccc;
			}
		}

		@media (max-width: 768px) {
			.l-two-col-right-narrow {
				.l-col {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					margin: 0px 6px;
				}
			}
		}

		.legend {
			list-style: none;
			padding: 0px;
			margin-top: 20px;

			@media (max-width: 768px) {
				padding-right: 40px;
			}

			li {
				display: flex;
				align-items: center;

				&.head {
					font-weight: bold;
				}
			}

			svg {
				width: 30px;
				height: 30px;
				margin: 2px 6px 2px 0px;

				polygon.noCategory {
					fill: #f9f9f9;
				}
			}
		}

		svg {
			text {
				font-size: 24px;
				fill: #333333;
				font-family: jost, Arial, Helvetica, sans-serif;
				font-weight: 700;
			}

			circle {
				fill: #ffffff;
				r: 22;
			}

			a:hover {
				text-decoration: none;
				cursor: pointer;

				text {
					fill: #ffffff;
				}

				circle {
					fill: tint(@eia-purple, 30%);
					stroke: #ffffff;
					r: 26;
				}
			}
		}

		.info-col {
			padding: 10px;
			margin: @box-margin;
			border-top: 2px solid @eia-green;
			flex-basis: 15.15%;

			.overview-state-outline {
				display: flex;
				justify-content: center;
				margin-bottom: 10px;

				svg {
					height: 50px;

					polygon,
					path {
						fill: @eia-blue;
						stroke: @eia-blue;
						stroke-width: 1;
					}
				}
			}

			hr {
				margin: 10px 0px;
				background-color: none;
				border-top: 1px solid;
			}

			h2 {
				border-bottom: 1px solid #cccccc;
				padding-bottom: 6px;
				margin-bottom: 6px;
			}

			h3 {
				font-weight: normal;
				margin-top: 6px;
			}

			h4 {
				font-size: 1.5rem;
				font-weight: normal;
				color: @eia-blue;
			}
		}

		.svg-scaler {
			position: relative;
			height: 0;
			width: 73%;

			@media (max-width: 768px) {
				width: 100%;
				max-height: 400px;
			}

			@media (max-width: 450px) {
				width: 100%;
				max-height: 250px;
			}

			svg {
				position: absolute;
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
			}
		}
	}

	.infographic-container {
		padding-top: 10px;
		background-color: #ffffff;
		/*this is here so the infographic exports with a white background instead of transparent*/
	}

	.infographic-1 {
		clear: both;

		hr {
			height: 0px;
			border-top: 2px solid #d4d4d4;
			margin-top: 0.3em;
			clear: none;
		}

		.l-row {
			border-top: none;
			clear: none;
			padding-bottom: 1em;

			h1 {
				font-weight: bold;
				font-size: 3.0em;
				margin-bottom: 0;
				/*padding-top: 0.75em;*/
			}

			h2 {
				font-size: 1.2em;
				font-weight: bold;
				margin-bottom: 0.25em;

				&.info-total {
					font-weight: normal;
					font-style: italic;
				}
			}

			h3 {
				font-size: 1.0em;
				font-weight: normal;
				margin-bottom: 1.5em;
			}
		}

		.state-outline {
			width: 230px;
			right: 22px;
			height: 250px;
			position: relative;
			float: right;
			clear: none;
			margin: 0px 0px -40px 0px;

			@media (max-width: 450px) {
				display: none;
			}
		}

		.l-info-col {
			display: flex;

			@media (max-width: 450px) {
				flex-wrap: wrap;
			}

			.info-section {
				flex: 1 1 auto;

				&.electricity-flows {
					flex-basis: 12%;
					padding-left: 18px;
					border-left: 1px solid #d4d4d4;
				}

				@media (max-width: 450px) {
					& {
						flex-basis: 100%;
					}

					&.electricity-flows {
						flex-basis: 100%;
						margin-top: 10px;
					}
				}
			}
		}

		.info-col {
			display: flex;
			list-style: none;
			clear: none;
			padding-left: 0px;

			@media (max-width: 450px) {
				flex-wrap: wrap;
			}

			li {
				border-left: 1px solid #d4d4d4;
				padding-left: 12px;
				cursor: pointer;

				&:first-child {
					border-left: none;
					padding-left: 0px;
				}

				.donut {
					width: 80px;
					height: 80px;
				}
			}

			&.alternate {
				.donut {
					float: left;
					margin-right: 10px;
				}
			}
		}

		.con-by-source {
			width: 93%;
		}

		svg,
		svg * {
			box-sizing: content-box;
		}

		.circle-chart-circle {
			animation: circle-chart-fill 3s reverse;
		}

		@keyframes circle-chart-fill {
			to {
				stroke-dasharray: 0 100;
			}
		}

		.set-info-colors(@info-color, @padding-left: 6px) {
			h4 {
				color: @info-color;
				font-weight: bold;
				font-size: 1.4em;
				line-height: 1.25;
				padding-left: @padding-left;
			}

			p {
				color: @info-color;
				font-size: 1.4em;
				line-height: 1.25;
				padding-left: @padding-left;
			}

			.info-stroke {
				stroke: @info-color;
			}

			.info-fill {
				fill: @info-color;
			}
		}

		.info-coal {
			@info-color: #333333;
			.set-info-colors(@info-color);
			flex: 1 1 auto;
		}

		.info-natural-gas {
			@info-color: @eia-blue;
			.set-info-colors(@info-color);
			flex: 1 1 auto;
		}

		.info-petroleum {
			@info-color: #BD732A;
			.set-info-colors(@info-color);
			flex: 1 1 auto;
		}

		.info-renewable {
			@info-color: #5d9732;
			.set-info-colors(@info-color);
			flex: 1 1 auto;
		}

		.info-nuclear {
			@info-color: #A33340;
			.set-info-colors(@info-color);
			flex: 1 1 auto;
		}

		.info-primary-energy {
			@info-color: #00618A;
			.set-info-colors(@info-color);
			flex: 1 1 33%;
		}

		.info-electricity {
			@info-color: #FFC702;
			.set-info-colors(@info-color);
			flex: 1 1 auto;
		}

		.info-electricity-losses {
			@info-color: #FFC702;
			.set-info-colors(@info-color);
			flex: 1 3 33%;
		}

		.info-electricity-imports {
			@info-color: #B28B00;
			.set-info-colors(@info-color, 0px);
			flex: 1 1 15%;

			h4 {
				font-size: 1.1em;
			}

			p:first-of-type {
				margin-bottom: 1.0em;
			}

			div {
				width: 40px;
				height: 40px;
			}
		}

		.info-commercial {
			@info-color: #92A753;
			.set-info-colors(@info-color);
			flex: 1 1 auto;

			@media (max-width: 450px) {
				flex-basis: 50%;
			}
		}

		.info-industrial {
			@info-color: #746395;
			.set-info-colors(@info-color);
			flex: 1 1 auto;

			@media (max-width: 450px) {
				flex-basis: 50%;
			}
		}

		.info-residential {
			@info-color: #B99D66;
			.set-info-colors(@info-color);
			flex: 1 1 auto;

			@media (max-width: 450px) {
				flex-basis: 50%;
				margin-top: 10px;
			}
		}

		.info-transportation {
			@info-color: #66A0B9;
			.set-info-colors(@info-color);
			flex: 1 1 auto;

			@media (max-width: 450px) {
				flex-basis: 50%;
				margin-top: 10px;
			}
		}
	}
}

.border-set {
	>.l-row {
		border-top: 2px solid @eia-blue;
	}
}

.notesAndSources {
	float: right;
	margin-top: 5px;
	font-size: .750rem;
	line-height: 1.0rem;

	.ico {
		margin-right: 3px;

		&.info {
			&:before {
				height: 16px;
				width: 16px;
				.icon-info(@eia-blue)
			}
		}
	}

	&:hover {
		cursor: pointer;
	}
}

.overview-source {
	max-width: 990px;

	h3 {
		padding-top: 10px;
		border-top: 1px solid;
	}

	.spacer {
		padding: 15px 0;
	}

	ul {
		padding-left: 0;
		margin-bottom: 10px;

		li {
			padding-bottom: 5px;
		}
	}
}

.overview-rankings-container,
.ranking-carousel {
	.overview-ranking {
		padding: 0 0 10px 0;
		display: flex;
		list-style: none;

		@media (max-width: 450px) {
			flex-wrap: wrap;
		}

		li {
			flex-grow: 1;
			display: flex;

			@media (min-width: 768px) {
				padding-left: 20px;
				padding-right: 20px;

				+li {
					border-left: 1px solid @eia-dark-grey;
				}
			}

			@media (max-width: 450px) {
				padding-bottom: 10px;
				margin-top: 10px;
				border-bottom: 1px solid @eia-lt-gray;

				&:last-child {
					border-bottom: none;
				}
			}
		}

		.rankSeriesRank {
			display: flex;
			flex-direction: row;
			font-weight: bold;
			height: 58px;
			align-items: baseline;
			margin-right: 10px;
			padding-right: 10px;
			border-right: 1px solid @eia-lt-gray;
			color: @eia-green;
			align-items: flex-start;
			align-content: flex-start;
			justify-content: flex-end;
			flex-wrap: wrap;
			/*test fix*/
			width: 30%;

			.r-label {
				flex-basis: 100%;
				text-align: right;
			}
		}

		.rankSeriesValue {
			font-size: 24px;
		}

		.rankValue {
			font-size: 36px;
			font-weight: bold;
			line-height: 1.0;
		}

		.rankMetrics {
			display: flex;
			flex-direction: column;
			width: 75%;

			.rankSeriesName {
				padding-bottom: 10px;
			}

			.rankDate {
				font-style: italic;
				font-size: .825rem;
			}

			.rankFreq {
				font-style: italic;
				font-size: .825rem;
			}
		}


	}

	.view:after {
		content: '\203A';
		display: inline-block;
		margin-left: 3px;
	}
}

.ranking-carousel {
	.ui-carousel .ui-carousel-header {
		background-color: @eia-blue;
		color: #fff;
		font-weight: bold;

		a.ui-carousel-page-link.fa,
		.ui-carousel-button {
			color: #fff;

			&:hover {
				color: #fff !important;
			}
		}

		.ui-carousel-header-title {
			position: relative;
			top: 3px;
		}
	}

	li {
		height: 170px;
		border: 0;
	}

	.rankSeriesState {
		display: block;
		float: left;
		padding-top: 15px;
		height: 120px;
		width: 23%;
		margin: 0 1%;

		svg * {
			stroke: #5d9732;
			stroke-width: 1px;
		}
	}

	.overview-ranking {
		margin-top: 30px;
		float: left;
		width: 75%;
	}

	.widget-ranking-footer {
		border-top: 1px dashed @eia-lt-gray;
		padding-top: 5px;
		display: flex;
		align-items: flex-end;
		width: calc(100% - 20px);
		margin: 0 10px;

		.logo-white-background:before {
			height: 40px;
			width: 40px;
		}

		span {
			padding-left: 5px;

			+span {
				padding-left: 10px;
				padding-bottom: 5px;
			}
		}
	}
}

.iframe-html-code {
	padding: 10px;
	border: 1px solid @eia-blue;
	border-radius: 4px;
	background: tint(@eia-blue, 95%);
	margin-top: 5px;
}

/************* end Inforgraphic **********************/
/************* material tooltip styles ***************/
.mat-tooltip {
	white-space: pre-line;
	font-size: 14px;
	background-color: #ffffff;
	border: 1px solid @eia-blue;
	border-radius: 1px;
}

.us-overview-tooltip-class {
	color: @eia-dk-gray !important;
}

/******* Correction *********/
ul.ui-tabs-nav.ui-widget-header {
	background: inherit;
	color: inherit;
	border: inherit;
}

/******* Analysis Additions *********/
.pullquote {
	float: right;
	position: relative;
	margin: -4px 0 15px 20px;
	padding: 0px 10px 10px 0px;
	border-left: 2px solid #eee;
	width: 27%;
	height: auto;

	@media (max-width: 450px) {
		float: none;
		width: calc(100% - 20px);
		margin-top: 10px;
	}

	p {
		font-size: 1.25em;
		padding: 0px 10px 0px 20px;
		margin-bottom: 0px;
		font-weight: 500;
		font-style: italic;
		color: @eia-blue;
	}
}

.s-analysis h2 {
	margin-top: 26px;
	border-top: 1px solid #666666;
	padding-top: 20px;
	clear: both;
}

.ag-icon {
	font-family: agGridBalham !important;
}

.p-dialog-header-close-icon {
	font-family: 'primeicons' !important;
}

ul.bullet li {
	list-style-type: none !important;
}

.p-dialog-header {
	padding: 24px;
}

.p-dialog-content {
	padding: 0 24px 32px 24px;
}

.p-tooltip {
	padding: 4px 0 4px 0;
}

.p-tooltip-text {
	padding: 12px;
}

.p-toast-message-content {
	padding: 16px;
}

.p-toast-message-text {
	margin-left: 16px;
}

.ag-root-wrapper {
	border: none;
}

h1.ng-star-inserted {
	padding-left: 22px;
}

.dialog-box-edit-close {
	padding-right: 22px;
}

.esri-popup__header {
	background: none;
	height: auto;
}

.esri-feature-content a {
	color: #007eb5 !important;
}

//Other Resources
.other-resources {
	margin: 10px 0 60px;
}

.sub-other-resources {
	margin: 0 22px;
}

.sub-other-resources>h1 {
	border-bottom: 1px solid #dadada;
	clear: both;
	display: block;
	font-size: 26px;
	padding-bottom: 6px;
	padding-top: 16px;
}

.sub-other-resources>h4 {
	line-height: 1.25;
	margin-bottom: 1.25em;
	font-size: 13px;
	font-weight: 700;
	font-family: Jost, sans-serif;
}

.sub-other-resources-li {
	font-size: 13px;
}

//Notes & Sources
app-notes-sources>div>.pagecontent {
	margin: 26px 0 60px;
	width: 100%;
}

app-notes-sources>div>.pagecontent>.main_col {
	margin: 0 22px;
}

app-notes-sources>div>.pagecontent h1 {
	border-bottom: 1px solid #dadada;
	clear: both;
	display: block;
	font-size: 26px;
	padding-bottom: 6px;
}

.condaterange {
	clear: both;
	color: #7d7d7d;
	font-size: 11px;
	margin-bottom: 6px;
	width: 100%;
}

.condaterange a {
	line-height: 1em;
	padding: 0 8px
}

.condaterange .active {
	color: #00405d
}

.collapseall,
.expandall {
	cursor: pointer;
	float: right;
	padding-top: 3px !important
}

.contable_noindent td:first-child {
	text-indent: 0
}

.contable {
	clear: both;
	display: table;
	margin: 0;
	width: 100%
}

.contable tbody {
	display: none
}

.contable tbody tr:first-child {
	background-color: #ddf0f9
}

.contable tbody tr:first-child td:first-child {
	padding-left: 24px
}

.contable tbody tr.summary {
	background-color: #ddf0f9
}

.contable tbody tr.summary td:first-child {
	padding-left: 24px
}

.contable tbody tr.white_first:first-child {
	background-color: #fff
}

.contable th {
	font-weight: 700
}

.contable th:first-child {
	background: #00405d url(/global/images/icons/arrow_bl_r_pad.png) no-repeat 0 !important;
	border: 0;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	padding: 7px 10px 7px 22px
}

.contable th:first-child:hover {
	color: #89d8ff
}

.contable th span.right {
	font-weight: 400
}

.contable th a.pdf {
	background: transparent url(/global/images/icons/pdf.png) no-repeat 0 !important;
	font-size: 11px;
	padding: 0 20px 0 16px;
	text-align: left
}

.contable th a {
	color: #fff
}

.contable th a:hover,
.contable th a:visited {
	color: #89d8ff;
	text-decoration: none
}

.contable th span a:hover,
.contable th span a:visited {
	text-decoration: underline
}

.contable th.active {
	background: #00405d url(/global/images/icons/arrow_bl_d_pad.png) no-repeat 0 !important;
	border: 0;
	border-bottom: 1px solid #fff;
	padding: 7px 10px 7px 22px
}

.contable td {
	padding-bottom: 12px;
	padding-top: 12px
}

.contable td a.pdf {
	background: transparent url(/global/images/icons/pdf.png) no-repeat 0 !important;
	font-size: 11px;
	padding: 0 10px 0 16px;
	text-align: left
}

.contable td:first-child {
	padding-left: 24px
}

.contable tr td {
	border-bottom: 1px solid #ecedee
}

.contable a {
	color: #189bd7;
	text-decoration: none
}

.contable a:hover {
	text-decoration: underline
}

.contable>thead>tr>th {
	color: #FFF;

}