<div class="s-overview blue-template l-full-width-page">
	<div class="l-row">
		<div class="l-full-width-col">
      <div class="l-row">
        <h1>State Energy Portal features highlights video</h1>
        <iframe
          title="State Energy Portal features highlights video"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/mmsm1fVtJAs"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="l-row">
        <h1>Put EIA’s state data right on your site!</h1>
        <p>
          Want to publish any of our graphics (chart, tables, infographics) on your website that will be update automatically when we update?
          We’re making it easy for you to put any of our charts/graphs/tables/widgets on your website.
        </p>
        <h2>Graphs/tables</h2>
        <app-display-embed-popup></app-display-embed-popup>
      </div>
      <div class="l-row">
          <h1>Embed ranking widget</h1>
          <app-display-embed-ranking></app-display-embed-ranking>
      </div>
      <div class="l-row">
          <h1>Embed infographic widget</h1>
          <app-display-embed-svg></app-display-embed-svg>
      </div>
      <div class="l-row">
        <h1>Embed state outline</h1>
        <app-display-state-outline-widget></app-display-state-outline-widget>
      </div>
      <app-display-embed-credits></app-display-embed-credits>
    </div>
  </div>
</div>



