

.filtered-term {
	padding: 0 0 0 0;
}
.a-z {
	.sub-head-foot {
		padding: 0;
		margin: 0;
	}
}
@media (min-width: 1px) {
	.az-list {
		background-color: tint(@eia-blue, 90%);
		////.font
		//color: @eia-dark-grey;
		font-size: 1.625rem; // 20pt 26px
		padding: 12px 0;
		margin: 0 0 1em 0;
		text-align: center;
		clear: both;
		a {
			////.font
			//color: @eia-blue;
			font-size: 1.625rem; // 20pt 26px
			line-height: 1.8;
			padding: 4px 8px 4px 8px;
			margin: 0 -5px 0 0;
			//color: @eia-blue;
			&.active {
				background-color: @eia-blue;
				color: @eia-white;
				text-decoration: none;
				cursor: pointer;
			}
			&:hover {
				background-color: @eia-blue;
				color: @eia-white;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
	.aeo-list {
		border-top: 1px solid lightgrey;
		width: 100%;
		list-style: none;
		li {
			border-bottom: 1px dashed #ddd;
			padding: 3px 5px;
			.document-container {
				.right;
				.pipe,
				a {
					display: inline-block;
				}
			}
		}
	}
}
