// move to base forms
.form-area {
    padding: 30px;

    .l-two-col-left-narrow {
        margin: 0 0 1em 0;
    }

    label {
        font-size: @medium; // 14 pixels
        //font-size: @large; // 15 pixels
        color: #333;

        .required {
            color: @eia-red;
        }
    }


    //input,
    input {

        &[type="password"],
        &[type="text"],
        &[type="email"],
        &[type="number"] {
            border: 1px solid #bbb; // #aaa;
            padding: 3px;
            width: 100%;
        }
    }

    textarea,
    select {
        border: 1px solid #bbb; // #aaa;
        padding: 5px 3px;
        width: 100%;
    }

    input {

        &[type="password"],
        &[type="text"],
        &[type="email"],
        &[type="number"],
        &[type="checkbox"],
        &[type="radio"] {
            margin: 0 0 0 0;
            color: #555;
            font-size: @medium; // 14 pixels
        }
    }

    textarea,
    select {
        margin: 0 0 0 0;
        color: #555;
        font-size: @medium; // 14 pixels
        //font-size: @large; // 15 pixels
    }

    select,
    textarea {
        width: 100%;
    }

    textarea {
        &.terms-of-service {
            //width: 100%;
            min-height: 300px;
            color: #555;
            background-color: #fafafa;
        }

        &.reason {
            min-width: 60%;
            min-height: 40px;
            font-size: @medium; // 14 pixels
            //font-size: @large; // 15 pixels
            font-family: -apple-system, system-ui;
            color: #ccc;
        }
    }

    input {

        &[type="password"],
        &[type="text"],
        &[type="email"],
        &[type="number"],
        &[type="checkbox"],
        &[type="radio"] {
            &:invalid {
                border: 1px solid @eia-red;
            }

            &:invalid {
                &:required {
                    border: 1px solid #bbb; // #aaa;
                    margin: 0 0 0 0;
                    color: #333;
                    font-size: @medium; // 14 pixels
                    //font-size: @large; // 15 pixels
                }
            }

            &:valid {
                border: 1px solid #bbb; // #aaa;
                margin: 0 0 0 0;
                color: #555;
                font-size: @medium; // 14 pixels
                //font-size: @large; // 15 pixels
            }
        }

        &.date-selector {
            float: left;

            &.day,
            &.month,
            &.quarter,
            &.year {
                width: 25%;
            }
        }
    }

    //input {
    //
    //	}
}

@media (min-width: 1px) {}

@media (min-width: 480px) {
    // min-width: 480px)"; // smartphones, Android phones, landscape iPhone

}

@media (min-width: 600px) {
    // min-width: 600px)"; // mobile panorama

}

@media (min-width: 801px) {
    // min-width: 801px)"; // tablet, landscape iPad, lo-res laptops ands desktops

}