

div {
    &.indent {
        margin-left: 35px;
    }
}







h2,
h3 {
    +p {
        &.steps {
            padding-top: 12px;
        }
    }
}

.step {
    display: inline-block;
    color: @eia-dark-blue;
    border: 1px solid @eia-dark-blue;
    border-radius: 26px;
    width: 26px;
    height: 26px;
    margin-right: 6px;
    font-size: @large; // 15 pixels
    line-height: 1.8;
    text-align: center;
    font-weight: @bold; // 700
}
p {
    &.steps {
        position: relative;
        min-height: 40px;
        padding-left: 40px;
        .step {
            position: absolute;
            left: 0;
        }
    }
}

h2,
h3,
h4 {
    &.steps {
        padding-left: 40px;
    }
}
ul {
    &.steps {
        padding-left: 60px;
    }
}