.update {


.ui-tabs-nav {
	li {
		margin-bottom: -1px;
	}
} 
 
.page_tabs {
	margin-bottom: 20px;
	&>div {
		&>img {
			&first-child {
				margin-left: -10px;
			}
		}
	}
}
#wholesale_propane, 
#wholesale_heating, 
#distillate_supply,
#propane_supply {
	margin-top: 40px;
	border-top: 3px solid #ccc;
	padding-top: 14px;
}
.basic-table {
	caption {
		padding: 0px 0px 0px 0px;
		color: #189bd7;
		text-transform: uppercase;
		border-bottom: 1px solid #189bd7;
	  	em {
			text-transform: none;
		}
		span {
			float: right;
			text-transform: none;
			font-weight: normal;
		}
		a {
		  	&:hover {
			  	span {
					text-decoration: underline;
			  	}
		  	}
		}
	}
	tr {
		&.ne,
		&.ca,
		&.la {
			td {
				&:first-child {
					padding-left: 36px;
				}
			}
		}
		&.padd1a,
		&.padd1b
		&.padd1c {
			td {
				&:first-child {
					padding-left: 68px;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					width: 100px;
				}
			}
		}
		tr[class^="padd"] {
			td {
				&:first-child {
					padding-left: 52px;
				}
			}
		}
	}
}

// don't think this is used
.toggle {
	margin-right: 6px;
	cursor: pointer;
	img {
		padding: 0;
		margin: 0;
		border: none;
		float: none;
		border: 3px solid red;
	}
}
span {
	&.no_change,
	&.value_down,
	&.value_up {
//		width: 8px;
//		height: 12px;
//		margin-left: 2px;
//		display: inline-block;
//		float: none;
		border: 3px solid red;
	}
}


/*
.basic-table thead tr th:nth-child(2),
.basic-table tbody tr td:nth-child(2) {
	background-color: #f7f7f7;
}
*/
/* this is a reusable style in the basic-table syyles
tr.selected  td ,
tr[id]:hover  td {
  background-color: #e4f7ff;
}
*/
tr[id]:hover  td {
  cursor: pointer;
}
/*
.ico {
  background: url("/global/images/icons/sprites/icon-sprites2.png") no-repeat;
  width: 24px;
  height: 13px;
  display: inline-block;
  cursor: pointer;
}
.ico.linechart {
  background-position: -62px -67px;
}
.selected .ico.linechart {
  background-position: -2px -67px;
}
.ico.linechart:hover, tr:hover td > .ico.linechart {
  background-position: -32px -67px;
}
span.value_down {
  background: url(/petroleum/heatingoilpropane/images/icons/arrows.png) no-repeat center bottom;
}
span.value_up {
  background: url(/petroleum/heatingoilpropane/images/icons/arrows.png) no-repeat center 1px;
}
// not used
.note_grey_side {
	display:block;
	background-color:#f4f4f4;
	padding:8px;
	margin-bottom:6px;
	border: 1px solid @eia-divider-color;
}
*/



}