.see-all {
    font-size: var(--sm);
    font-weight: @mediumBold;
    line-height: 1.4;
    text-transform: uppercase;

    a {
        &:before {
            content: "\2039\00a0";
            top: -2px;
            position: relative;
        }
    }
}

.l-row {
    .release-dates {
        font-size: var(--xsm); // 12 pixels // 12 pixels
        line-height: 1.4;
        color: #7d7d7d;
        //&:last-child {
        margin-bottom: 1em;

        //border: 1px solid silver;
        //}
        +.release-dates {
            margin-top: -1em;
        }

        font-weight: @bold; // 700

        a {
            color: @eia-508-link-color;

            //			text-decoration: none;
            //			&:link,
            //			&:active,
            //			&:visited {
            //							color: @eia-508-link-color;
            //				text-decoration: none;
            //			}
            &:hover {
                //				text-decoration: underline;
                color: @eia-508-link-color;
            }
        }

        .ico {
            margin: -3px 0 0 6px;

            span {
                display: none;
            }
        }

        .responsive-container {
            margin: 0;
            display: inline-block;

            &:after {
                content: "\00a0\00a0|\00a0\00a0 ";
            }

            &:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }

    //}
    &.l-report-header-opendata,
    &.l-report-header-petroleum-weekly,
    &.l-report-header {
        h1 {
            line-height: 1;
            font-size: 1.625rem; // 20pt 26px
            margin: 0 0 2px 0;
            padding: 0 0 0 0;
        }

        .ico {
            &.download {
                &:before {
                    display: inline-block;
                    margin: 0 6px -5px 0;
                    .icon-download(@fill-color: @eia-green);
                }
            }

            &.printer {
                &:before {
                    margin: 0 6px -5px 0;
                    .icon-print(@fill-color: @eia-green);
                }
            }
        }

        .release-dates {
            .ico {
                margin-left: 0;
            }
        }
    }

    //.l-row {
    // 70% | 30%
    &.l-report-header {
        margin-bottom: 1.5em;
        border-bottom: solid 1px #ededee;

        .form-container {
            margin: 18px 0 0 0;
            width: 100%;
            text-align: center;
        }

        .go-back {
            display: none;
        }

        .publish-metadata {
            .font;
            width: 100%;
            clear: both;
            font-size: var(--xxsm); // 11 pixels // 11 pixels
            margin: 0 0 1em 0;
            padding: 0;
            color: #7d7d7d;

            span {
                &.pipe {
                    &:before {
                        content: "|";
                    }
                }
            }
        }
    }
}

.l-full-page {
    .l-row {
        &.l-report-header {
            padding: 0;

            .see-all,
            .form-container,
            .release-dates {
                display: none;
            }

            &>.l-col {
                &:after {
                    content: none;
                }
            }

            .go-back {
                display: block;
                float: right;

                .ico {
                    &.close {
                        span {
                            font-size: 0;
                            text-indent: -9999px;
                            line-height: 0;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

.api-outer-wrapper {
    .l-full-page {
        .l-row {
            &.l-report-header {
                .see-all {
                    display: inline;
                }

            }
        }
    }
}


.primary {

    // see https://wwwdev.eia.gov/style-guide/modules/report-headers.html
    .l-row {
        &:after {
            content: none;
        }

        &.l-report-header {
            border-bottom: none;
            padding: 0;

            .release-dates {
                .ico {
                    span {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

/*
.month-list {
	.month {

	}
}
*/

@media (min-width: 600px) {

    // mobile panorama
    .l-row {
        &.l-report-header {
            .l-col {
                .release-dates {
                    margin-top: 0;

                    +.release-dates {
                        margin-top: -1em;
                    }
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .l-row {

        // 70% | 30%
        &.l-report-header {
            &>.l-col {
                width: 28%;

                &:first-of-type {
                    width: 68%;
                }

                &:after {
                    content: "";
                    height: calc(100% - 10px);
                    border-right: 1px solid #ededed;
                    position: absolute;
                    bottom: 0;
                    margin: 5px 0;
                    right: -3%;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }

            &.l-full-width-col {
                &>.l-col {
                    width: 100%;

                    &:after {
                        content: "";
                        border-right: none;
                    }
                }
            }

            // 75% | 25%
            &.l-two-col-right-narrow {
                &>.l-col {
                    width: 73%;

                    &:first-of-type {
                        width: 73%;
                    }

                    &:last-child {
                        width: 23%;
                    }
                }
            }
        }
    }

    .l-full-page {
        .l-row {
            &.l-report-header {
                &>.l-col {
                    &:after {
                        border-right: none;
                        bottom: 0;
                        margin: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}