.bold {
    font-weight: bolder;

    a {
        font-weight: bolder;
    }
}

table {
    &[class*="basic"] {
        border-bottom: 2px solid @eia-blue;

        .vertical-align-bottom {
            vertical-align: bottom;

            >* {
                vertical-align: bottom;
            }
        }

        tr>* {
            &.level-1-indent {
                padding-left: 20px;
            }

            &.level-2-indent {
                padding-left: 30px;
            }

            &.level-3-indent {
                padding-left: 40px;
            }

            &.no-border {
                border: none;
            }

            &.icon {
                padding: 3px 10px 0 10px;
                width: 40px;
            }


            th {
                .normal;
            }
        }

        //&.bold-col-1 {
        //    td:nth-child(1) {
        //        font-weight: bolder;
        //    }
        //}



        &.bold-col-1 {
            td:nth-child(1) {
                font-weight: bolder;
            }
        }


        thead {
            tr {

                >* {

                    padding: 6px 10px 5px 10px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    padding: 6px 10px 5px 10px;
                }

            }
        }

        tbody {
            tr {

                >* {
                    padding: 6px 10px 5px 10px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }

            }

            tfoot {

                td {
                    padding: 6px 10px 5px 10px;
                }

            }
        }
    }
}

div {
    &[class*="table"] {
        border-bottom: none;
        margin-bottom: 2em;
        width: 100%;

        table {
            &.no-bottom-border {
                border-bottom: none;
            }

            ~table {
                margin-top: 2em;

                &:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }
}


@media (min-width: 600px) {
    table {
        &[class*="basic"] {
            thead {
                tr {
                    th {
                        &:first-child {
                            padding-left: 10px;
                        }

                        &:last-child {
                            padding-right: 10px;
                        }
                    }
                }
            }

            tbody {
                tr>* {
                    &:first-child {
                        padding-left: 10px;
                    }

                    &:last-child {
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

table {
    &[class*="basic"] {
        margin: 0;
        overflow-x: auto;

        //&.highlight-col-1 {
        //    td:nth-child(1) {
        //        background-color: #f7f7f7;
        //    }

        //tr {
        //    &.bold {
        //        td:nth-child(1) {
        //            background-color: white;
        //        }
        //    }
        //}


        //}
        /*
        each(range(10), {
                &.highlight-col-@{value} {
                    tr {
                        >[tagName^='td'] {
                            &:nth-child(@{value}) {
                                background-color: #f7f7f7;
                            }
                        }
                    }
                }
            }

        );
*/
        &.highlight-col-1 {
            tr {
                &.bold {
                    td:nth-child(1) {
                        background-color: white;
                    }
                }
            }
        }

        /*
        each(range(10), {
                &.align-left-col-@{value} {
                    tr>* {
                        &:nth-child(@{value}) {
                            text-align: left;
                        }

                        //    }
                    }
                }
            }

        );

        each(range(10), {
                &.align-right-col-@{value} {
                    tr>* {
                        &:nth-child(@{value}) {
                            text-align: right;
                        }

                        //    }
                    }
                }
            }

        );

        each(range(10), {
                &.hide-@{value} {
                    tr>* {
                        &:nth-child(@{value}) {
                            display: none;
                        }

                        //    }
                    }
                }
            }

        );

        each(range(5), {
                &.vertical-divider-after-col-@{value} {
                    tr>* {
                        &:nth-child(@{value}) {
                            border-collapse: collapse;
                            border-bottom: 2.5px solid @eia-blue;
                            border-right: 6px solid @eia-white;
                        }

                        //    }
                    }
                }
            }

        );
*/
        [class*="total"]>* {
            font-weight: bolder;
        }

        caption {
            font-size: var(--lrg);
        }

        thead {
            tr {
                &:last-child {
                    th {
                        border-bottom: 2.5px solid @eia-blue;
                    }
                }
            }

            &[class*="double"] {
                tr {
                    &:first-child {
                        th[colspan] {
                            border-bottom: 1.25px solid @eia-dash-color;
                        }
                    }
                }

                th[rowspan] {
                    border-bottom: 2.5px solid @eia-blue;
                }
            }

            //}
            //thead {
            //&:last-child {
            //    th {
            //        border-bottom: 2px solid @eia-blue;
            //    }
            //}

            em {
                font-weight: bolder;
            }

            tr {
                &:first-child {
                    th[colspan] {
                        text-align: left;
                    }
                }

                th {
                    span {
                        &.normal {
                            display: block;
                            clear: both;
                        }
                    }
                }
            }

            //&[class*="double"] {
            //    tr {
            //        &:first-child {
            //            th[colspan] {
            //                border-bottom: 1px solid @eia-divider-color;
            //                text-align: left;
            //            }
            //        }

            //      &[rowspan] {
            //            border-bottom: 2px solid @eia-blue;
            //        }
            //    }

            .nested-header {
                th {
                    border-top: 1px solid @eia-divider-color;
                    padding: 8px 10px 7px 10px;
                }
            }
        }

        tbody {
            tr {
                th {
                    //.normal;
                    text-align: left;
                    border-top: 1px dashed @eia-dash-color;
                    white-space: normal;
                }

                td {
                    text-align: right;
                    border-top: 1px dashed @eia-dash-color;
                    white-space: normal;

                    &.ico {
                        padding-left: 6px;
                        min-height: 15px; // same as icon

                        a {
                            margin-top: 2px;
                        }
                    }

                    &:first-child {
                        text-align: left;
                    }

                    &:active {
                        outline: none;
                    }

                    &.custom-checkbox {
                        padding: 4px 0 0 4px;
                    }

                    span {
                        &.icon {
                            display: inline-block;
                            width: 24px;
                            height: 13px;

                            span {
                                display: none;
                            }
                        }

                        &.number {
                            float: left;
                            width: 20px;
                            text-align: right;
                            font-weight: bolder;
                            margin-right: 10px;
                        }
                    }

                    // move this to modules > icons
                    //a {

                    //}

                    &.number {
                        font-weight: bolder;
                    }

                    h4 {
                        margin: 0;
                        padding: 0;
                    }
                }

                &.terminated>* {

                    //th,
                    //td {
                    opacity: 0.6;

                    .number {
                        font-weight: normal;
                    }

                    a {
                        opacity: 0.6;
                    }

                    //}
                }

                &:first-child>* {

                    //th,
                    //td {
                    border-top: none;
                    //}
                }

                &.past-holiday {

                    >* {
                        color: fade(@eia-black, 40%);
                        //}
                        //+tr th,
                        //+tr td {
                        border-top: 1px solid fade(@eia-black, 40%);
                    }
                }

                &[class*="section"] {
                    >* {
                        border-top: 1px solid @eia-blue;
                        //}
                        //}

                        //&.sectionhead {
                        //>* {
                        font-weight: bolder;
                    }
                }

                //[class*="basic"] [class*="total"] > * {
                //&.total,
                //&.totals,
                //&.bold {

                //   th,
                //    td {
                //        font-weight: bolder;

                //        a {
                //            font-weight: bolder;
                //        }



                //    }
                //}

                [class*="total"],
                [class*="divider"] {
                    >* {


                        //th,
                        //td {
                        color: @eia-black;
                        border-top: 1px solid @eia-divider-color;

                        &.no-border {
                            border-top: none;
                        }
                    }
                }
            }
        }

        tfoot {
            //td {
            //.footnotes {
            background-color: white;
            //}
            //}
            //}

            //tfoot {
            tr {
                td {
                    padding: 12px 10px 10px 10px;
                    font-size: var(--xxsm);
                    text-align: right;
                    border-top: 1px dashed @eia-dash-color;

                    a {
                        font-size: var(--xxsm);
                    }

                    &:first-child {
                        text-align: left;
                    }
                }

                &:first-child {
                    td {
                        border-top: 2px solid @eia-blue;
                    }
                }
            }
        }
    }
}