
    caption {
        span {
            &.units {
                float: none;
                display: inline;
                font-weight: normal;
                font-style: italic;
                font-size: var(--sm);
                color: @eia-black;
            }

            &.right {
                float: right;
            }
        }
    }
