
    thead {
        tr {
            button {
                &.ico {
                    float: left;
                    padding: 1px 5px 1px 0;
                    border: none;
                    margin-left: 0;
                    //font-size: 0;
                    text-indent: -9999px;
                    line-height: 0;
                    background-color: transparent;

                    &.reset-animation {
                        &:before {
                            //.controls-icon(20px, 20px);
                            .icon-reset-animation(@fill-color: @eia-red,
                                @fill-opacity: 0.8);
                        }

                        &:hover {
                            &:before {
                                .icon-reset-animation(@fill-color: @eia-red,
                                    @fill-opacity: 1);
                            }
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }

            a {
                &.ico {
                    float: left;
                    padding: 1px 0 1px 5px;
                    border: none;
                    margin-left: 0;
                    font-size: 0;
                    text-indent: -9999px;
                    line-height: 0;
                    background-color: transparent;

                    &.line-chart {
                        &:before {
                            //.controls-icon(20px, 20px);
                            .icon-line-chart(@fill-color: @eia-blue, @fill-opacity: 0.8);
                        }

                        &:hover {
                            &:before {
                                .icon-line-chart(@fill-color: @eia-blue, @fill-opacity: 1);
                            }
                        }
                    }
                }
            }
        }
    }