@charset "utf-8";

.article p+div {
	margin-bottom: 2em;
}

/*
#bubble2 {
	list-style: none;
	margin: 0px;
	padding: 0px;
	overflow: inherit;
}

#bubble2 li {
	float: left;
	margin-left: 22px;
	margin-bottom: 10px;
	padding: 0px;
	width: 166px;
	height: 127px;
}

#bubble2 li:first-child {
	margin-left: 0px;
}

#bubble2 li a img {
	position: relative;
	border: none;
}

#bubble2 li a img.large {
	display: none;
}

#bubble2 li a:hover img.small {
	display: none;
	z-index: 0;
}

#bubble2 li a:hover img.large {
	display: block;
	margin-top: -14px;
	margin-left: -14px;
	z-index: 500 !important;
}

#products_bubble {
	list-style: none;
	margin: 5px;
	padding: 0px;
	overflow: inherit;
}

#products_bubble li {
	float: left;
	margin-left: 22px;
	margin-bottom: 10px;
	padding: 0px;
	width: 166px;
	height: 127px;
}

#products_bubble li:first-child {
	margin-left: 0px;
}

#products_bubble li a img {
	position: relative;
	border: none;
}

#products_bubble li a img.large {
	display: none;
}

#products_bubble li a:hover img.small {
	display: none;
	z-index: 0;
}

#products_bubble li a:hover img.large {
	display: block;
	margin-top: -14px;
	margin-left: -14px;
	z-index: 500 !important;
}

.bumpit {
text-align: center;
}

.show_menu {
	background-image: url("../images/ui/show_menu.png");
	width: 130px;
	height: 28px;
	text-align: -99999px;
}

.show_menu:hover {
	background-image: url("../images/ui/show_menu_on.png");
}

.hide_menu {
	background-image: url("../images/ui/hide_menu.png");
	width: 130px;
	height: 28px;
	text-align: -99999px;
}

.hide_menu:hover {
	background-image: url("../images/ui/hide_menu_on.png");
}

.efmi_ui_container {
	background: transparent url("../images/ui/arrows_back.png") no-repeat top left;
	height: 410px;
	width: 600px;
	margin: 10px 20px 10px 20px;
}

.efmi_ui_container_product {
	background: transparent url("../images/ui/arrows_product.png") no-repeat top left;
	background-position: 8px 2px;
	height: 400px;
	width: 580px;
	margin: 10px 10px 0 20px;
}

.efmi_ui_container2 {
	background: transparent url("../images/ui/arrows_back2.png") no-repeat top left;
	height: 300px;
	width: 920px;
	margin: 10px 10px 0 20px;
}

.efmi_ui_container3 {
	background: transparent url("../images/ui/arrows_back4a.png") no-repeat top left;
	height: 300px;
	width: 920px;
	margin: 10px 10px 0 20px;
}

.efmi_ui_container4 {
	background: transparent url("../images/ui/arrows_back5.png") no-repeat top left;
	height: 370px;
	width: 920px;
	margin: 10px 10px 0 20px;
}

.efmi_ui_side {
	margin: 10px 10px 0 10px;
}
*/
#lnk span {
	display: block;
	width: 314px;
	height: 34px;
	margin-top: 8px;
}

.btn {
	display: block;
	width: 314px;
	height: 34px;
	margin-top: 8px;
	text-align: -99999px;
}

.btn1 {
	background: transparent url("../images/ui/btn_overview_off.png") no-repeat top left;
}

.btn1:hover {
	background: transparent url("../images/ui/btn_overview_on.png") no-repeat top left;
}

.btn2 {
	background: transparent url("../images/ui/btn_who_off.png") no-repeat top left;
}

.btn2:hover {
	background: transparent url("../images/ui/btn_who_on.png") no-repeat top left;
}

.btn3 {
	background: transparent url("../images/ui/btn_factors_off.png") no-repeat top left;
}

.btn3:hover {
	background: transparent url("../images/ui/btn_factors_on.png") no-repeat top left;
}

.btn4 {
	background: transparent url("../images/ui/btn_presentation_off.png") no-repeat top left;
}

.btn4:hover {
	background: transparent url("../images/ui/btn_presentation_on.png") no-repeat top left;
}


.chart_r {
	width: 100%;
	padding: 10px;
	border: solid 1px #CCC;
	margin: 1.5em auto 2em;
}

.chart_l {
	width: 100%;
	padding: 10px;
	border: solid 1px #CCC;
	margin: 1.5em auto 2em;
}

.chart_h {
width: 100%;
	padding: 10px;
	line-height: 1.2em;
	font-family: 'Times New Roman', Times, serif;
	font-size: 22px;
	color: #0096D7;
}

.chart_b {
width: 100%;
	padding: 10px;
	line-height: 1.2em;
	font-family: 'Times New Roman', Times, serif;
	font-size: 12px;
	color: #0096D7;
}

.mt20 {
	margin-top: 20px;
}

.chart_desc {
	margin-top: 12px;
	/*	font-size:11px;*/
	padding: 8px;
	background-color: #e1f5ff;
}


a.dashboard-button {
	border: 1px solid #0495d8;
	background-color: #e1f5ff;
	color: rgb(56, 109, 132);
	font-weight: bold;
	background-image: none !important;
	padding-top: 8px;
	height: 26px;
	width: 297px;
	margin-top: 8px;
	display: block;
	padding-left: 15px;
	font-size: 12px;
}

a.dashboard-button:hover {
	background-color: #265281;
	border: 1px solid #265281;
	color: white;
	text-decoration: none;
}

.mid-adjust {
	margin-top: -70px;
}

hr {
	background: #ddd;
	color: #ddd;
	clear: both;
	float: none;
	width: 100%;
	height: 1px;
	margin: 0 0 1.45em;
	border: none;
}

.mr_temp4 hr {
	margin-top: 6px;
	margin-bottom: 6px;
}

#commodity {
	position: absolute;
	margin-top: -25px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 600px;
	color: grey;
	font-size: 10px;
}

#update_date {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 20px;
	padding: 0;
	border: 0;
}

.update {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 20px;
	padding: 0;
	border: 0;
	color: gray;
	font-size: 10px;
	font-family: Arial;
}

.discontinued {
	margin-top: 10px;
	margin-left: 35px;
	line-height: 1.2em;
	font-family: Arial;
	font-size: 12px;
	color: #0096D7;
}

#efmi_ui {
	height: 304px;
}

#efmi_ui2 {
	height: 304px;
}