<li><a href="/templates/index.html">Home</a></li>
<li><a href="/templates/faqs.html">FAQs</a></li>
<li><a href="/templates/report-header.html">Report Header</a></li>
<li><a href="/templates/outlooks.html">Outlooks</a></li>