.ap {
	.inner-tags-container {
		#tags {
			column-count: 2;
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-fill: balance;
			-webkit-column-fill: balance;
			-moz-column-fill: balance;
		}
		&[data-filter='source'] {
			#tags {
				&[data-category='electricity'],
				&[data-category='natural-gas'],
				&[data-category='petroleum'],
				&[data-category='renewables'] {
					column-count: 2;
					-webkit-column-count: 2;
					-moz-column-count: 2;
				}
			}
		}
		&[data-filter='geography'] {
			#tags {
				&[data-category='country-international'],
				&[data-category='us-regions'],
				&[data-category='us-states'] {
					column-count: 2;
					-webkit-column-count: 2;
					-moz-column-count: 2;
				}
			}
		}
		&[data-filter='topic'] {
			#tags {
				&[data-category='demand-end-use'],
				&[data-category='environment'],
				&[data-category='generation'],
				&[data-category='prices'],
				&[data-category='production-supply'] {
					column-count: 2;
					-webkit-column-count: 2;
					-moz-column-count: 2;
				}
			}
		}
		&[data-filter='report'] {
			#tags {
				column-count: 2;
				-webkit-column-count: 2;
				-moz-column-count: 2;
			}
		}
	}
}
