.ap {
    font-size: @baseFontSize;
    font-weight: @regular;
    font-family: "Jost", sans-serif;
    line-height: 1.1;

    .active {
        background-color: transparent;
    }

    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** ***** ** set initial state ** ***** ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

    .g-a-z-container,
    .g-a-z-label {
        //display: none;
        width: 100%;
    }

    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** ***** *** set constraints *** ***** ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

    .g-panel {
        max-width: 599px;
        min-width: 320px;
        //border: 2px solid red;
    }

    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** ***** *** set constraints *** ***** ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

    .overlay {
        position: fixed;
        //width: 100%;
        //height: 100%;
        height: 100vh;
        width: 100vw;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 1);

        .overlay-selected-tags-wrapper {
            .selected-tags-container {
                display: block;
                margin: 20px 0 0 0;

                .selected_tags {
                    padding-right: 30px
                }

                .clear-all-container {
                    button {
                        span {
                            &.ico {
                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .selected-tags-container {
        .clear-all-container {
            button {
                span {
                    &.ico {
                        span {
                            color: @eia-red;
                        }
                    }
                }
            }
        }
    }

    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** ***** *** set constraints *** ***** ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

    .overlay-footer {
        background-color: @eia-white;
        padding: 0;
        display: table;
        width: 100%;
        border-top: 1px solid #cccccc;
        position: fixed;
        bottom: 0;
        background-color: @eia-white;

        button {
            width: 50%;
            height: 50px;
            border: none;
            background-color: transparent;
            float: left;

            &:last-of-type {
                border-left: 1px solid #ccc;
            }

            span {
                &.ico {
                    &.reset {
                        span {
                            //.font;
                            color: @eia-red;
                            margin-left: 4px;
                            //margin-right: 4px;
                            //font-size: @xSmall; // 12 pixels
                            font-size: @xLarge; // 16 pixels 
                            position: relative;
                            top: -5px;
                            text-transform: none;
                        }
                    }

                    &.submit {
                        span {
                            //.font;
                            color: @eia-green;
                            margin-left: 4px;
                            //margin-right: 4px;
                            font-size: @xLarge; // 16 pixels 
                            position: relative;
                            top: -5px;
                            text-transform: none;
                        }
                    }
                }
            }
        }
    }


    .overlay-data {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
        visibility: 0s 0.5s;
        transition: opacity 0.5s, visibility 0s 0.5s;
    }

    .reports-panel {
        overflow: scroll;
        //padding: 0 10px;
    }

    .overlay-show {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
        z-index: 5000;
        overflow: hidden;

        .l-first {
            display: none;
        }
    }

    input[type=text] {
        padding-left: 5px;
    }

    .l-col {
        &.l-first {
            display: none;
        }
    }

    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** ***** ***   *** ***** ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

    label {
        line-height: 1.3;
        font-size: @xLarge; // 16 pixels 
        margin: 0;
        padding: 15px 0 15px 15px;
        width: 100%;
        display: block;

        &.g-filters-back-button,
        &.g-filters-source,
        &.g-filters-report,
        &.g-filters-topic,
        &.g-filters-geography,
        &.g-search-tags,
        &.g-a-z-label {
            cursor: pointer;
            color: @eia-508-link-color;
            width: 100%;
            display: block;
        }

        &.g-filter-by,
        &.g-filters-back-button,
        &.g-search-tags,
        &.g-a-z-label {
            cursor: pointer;
            border-bottom: 1px solid #ccc;
            color: @eia-508-link-color;
        }

        &.g-filters-back-button {
            padding: 0;
            height: 50px;
            border-bottom: 2px solid #ccc;

            &>div {
                display: inline-block;
                padding: 15px 0 0 15px;

                &:before {
                    content: '\2039';
                    //.font;
                    color: @eia-508-link-color;
                    vertical-align: top;
                    margin: 0 4px 0 0;
                }
            }

            button {
                &.close-overlay {
                    border: none;
                    width: 50px;
                    height: 50px;
                    border-left: 1px solid #f6f6f6;
                    background-color: transparent;
                    float: right;

                    span {
                        &.ico {
                            &.close {
                                span {
                                    display: none;
                                }

                                &:before {
                                    width: 32px;
                                    height: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** ***** ***   *** ***** ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

    .g-breadcrumb-container {
        margin: 0;
        padding: 15px 0 15px 15px;
        width: 100%;
        display: table;
        border-bottom: 1px solid #ccc;

        span {
            display: inline-block;
            //.font;
            line-height: 1.3;
            font-size: @xLarge; // 16 pixels
            margin: 0;
            padding: 0;
            width: auto;

            &.g-breadcrumb-active {
                color: @eia-dark-grey;
                cursor: default;
            }

            &.g-breadcrumb {
                color: @eia-508-link-color;
                cursor: pointer;

                &:after {
                    content: "\203A";
                    //.font;
                    color: @eia-dark-grey;
                    vertical-align: top;
                    margin: 0 10px 0 10px;
                }
            }
        }
    }

    .overlay-reports-title {

        //height: 34px;
        h2 {
            height: 34px;

            &.report-count {
                //.font;
                line-height: 1.3;
                font-size: @xLarge; // 16 pixels 
                padding: 15px 15px 0 15px;
            }
        }
    }

    .g-filter-sub-category {
        display: inline-block;
        width: auto;
        padding-left: 5px;

        h4 {
            //.font;
            line-height: 1.3;
            font-size: @xLarge; // 16 pixels 
            margin: 0;
            padding: 0;
        }
    }




    #tag_categories {

        //width: 100%;
        //clear: both;
        ul {
            li {
                &.tag-item {
                    &.hierarchical {
                        //.font;
                        line-height: 1.3;
                        font-size: @xLarge; // 16 pixels 
                        color: @eia-508-link-color;
                        margin: 0;
                        padding: 10px 0 10px 15px;
                        width: 100%;
                        display: table;

                        h4 {
                            //.font;
                            line-height: 1.3;
                            font-size: @xLarge; // 16 pixels 
                            color: @eia-508-link-color;
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            display: table;
                        }
                    }
                }
            }
        }
    }

    .az-list,
    .g-search-tags-container {
        padding: 0 15px;
    }

    .az-index {
        padding: 15px 0 15px 15px;
    }

    .top_input_box {
        display: inline-block;
        width: 100%;
        border: 0px;
        padding: 20px 0 0 0;

        .search {
            width: calc(100% - 24px);
        }
    }

    .tags_search {
        margin: -1px 0 0 23px;
        width: calc(100% - 24px);
        //div {
        //	padding: 5px 10px;
        //	overflow: hidden;
        //	text-transform: capitalize;
        //}
    }

    #tags {
        [data-category] {
            display: none;
            //.font;
            color: @eia-dark-grey;
            margin: 0 15px;
        }

        [data-category="type"] {
            display: block;
        }

        overflow: scroll;
    }

    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** ***** **** #more-options **** ***** ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

    ul {
        &.bookshelftags {
            li {
                &.tag-item {
                    margin: 0;

                    span {
                        margin: 0;
                    }

                    .checkbox-custom-label {
                        margin: 0;
                        padding: 10px 0 10px 15px;
                    }
                }

                &.related {
                    margin-top: 0.25em;
                }

                ul {
                    list-style-type: none;
                    padding: 0;

                    li {
                        &.related {
                            h4 {
                                -webkit-column-break-after: avoid;
                                -moz-column-break-after: avoid;
                                column-break-after: avoid;
                            }
                        }
                    }
                }
            }
        }
    }

    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** ***** **** #tags-holder ***** ***** ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

    #tags-holder {
        .related {
            h4 {
                font-size: 1rem;
                font-weight: @regular;
                .italic;
            }
        }
    }

    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** ***** *** #tags-container *** ***** ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

    #tags-container {
        width: 100%;

        &[data-filter='none'] {
            display: none;
        }

        .az-list {
            a {
                margin-right: 4px;
            }
        }

        .az-index-container {
            margin-bottom: 0;
        }

        .az-container {
            width: 100%;
            padding: 10px 0;
        }
    }

    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** ***** *** #tag_categories *** ***** ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

    #tag_categories {
        width: 100%;
        clear: both;

        h4 {

            //color: @eia-dark-grey;
            //width: 100%;
            //margin-bottom: 0px;
            //padding: 0x;
            &:hover {
                background-color: transparent;
            }

            &.active {
                background-color: transparent;
                cursor: default;
            }
        }
    }

    .reports-button-container {
        display: none;
    }

    .reports-panel {
        margin-left: -599px;
    }

    .g-filters-source,
    .g-filters-report,
    .g-filters-geography,
    .g-filters-topic {
        display: none;
        width: 100%;
        border-bottom: 1px dotted #ccc;
    }

    .reports-search-filter-button-container,
    .reports-button-container,
    .reports-search-filter-button-container {
        width: 100%;
        display: block;
    }

    .reports-search-filter-button-container {
        padding-top: 1em;
    }

    .overlay-button {
        background: @eia-blue;
        -webkit-border-radius: 4;
        -moz-border-radius: 4;
        border-radius: 4px;
        padding: 10px 20px 10px 20px;
        margin: 0 0 20px 0;
        border: solid #bbbbbb 1px;
        text-decoration: none;
        width: 100%;
        color: @eia-white;
        font-weight: @bold; // 700
    }

    .g-filters-label,
    .g-filters-back-button div,
    .g-filters-back-all,
    .g-filters-source,
    .g-filters-report,
    .g-filters-topic,
    .g-filters-geography {
        display: none;
    }

    #tags-holder {
        display: block;
    }

    .reports-panel.reports-search,
    .reports-panel.reports-filter {
        margin-left: -599px;
        width: 100%;
    }

    #filter-radio {
        display: -webkit-box;
        display: -moz-box;
        display: box;

        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
    }

    .g-a-z-label {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
        //background-color:  red;
    }

    .g-filter-all {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
        //background-color:  green;
    }

    .g-filter-by {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        box-ordinal-group: 3;
        //background-color:  blue;
    }

    .reports-panel {
        position: fixed;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

        &>span {
            width: 100%;
            //.font;
            font-size: @xSmall; // 12 pixels
            color: @eia-dark-grey;
        }

        &.reports-search {
            &.reports-filter {
                &.fancybox-margin {
                    background-color: @eia-white;
                }
            }
        }
    }

    .filter-and-search {
        margin: 0;
        padding: 0;
    }

    .reports-heading {
        &>div {
            &.time-series {
                .datepicker {
                    padding: 3px 10px;
                }
            }
        }
    }
}

.a-z {

    //border: 5px solid red;
    .az-index,
    .az-container {
        display: block !important
    }

    #tag_categories {
        display: none;
    }
}