.ap {
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** ***** * g-filters-container * ***** ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

    .g-filters-container {

        //border-top: 4px solid @eia-green;
        //border-bottom: 1px solid @eia-green;
        /*
		&>* {
			height: 132px;
			display: inline-block;
			vertical-align: top;
			margin: 12px 0 12px 0px;
			
		}
		*/
        .g-filters-label {
            text-align: right;
            padding: 6px 26px 6px 6px;
            margin: 12px 0 12px 10px;
            border-right: 1px solid @eia-dark-grey;
            border-bottom: none;
            height: 132px;
            width: 12%;
            //display: inline-block
        }

        label {
            display: inline-block;
            height: 134px;
            //border-left: 1px solid #cccccc;
            width: 18%; // 20%;
            padding: 86px 0 4px 0;
            height: 132px;
            vertical-align: top;

            .ui-button-text {
                background-color: transparent;
            }
        }

        #filter-radio {
            padding: 0; // overide
            display: inline-block; // overide
            //width: 100%;
            width: 86%;
            height: 132px;
            display: inline-block;
            vertical-align: top;
            margin: 12px 0 12px 0;
        }
    }


    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** * reports heading tablet-landscape  ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */


    .reports-heading {
        &>div {
            &.frequency-container {
                width: 20%;
                padding-right: 20px;
            }

            &.time-series {
                width: 45%;
                padding-right: 20px;
            }

            &.time-series {

                //margin: 0 22px 0 22px;
                &>img {
                    vertical-align: text-bottom;
                }

                //width: 340px;
            }

            &.legend {
                width: 35%;
            }
        }
    }

    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
    /* ***** ***** ***** ***  tags container *** ***** ***** ***** */
    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

    #tags {
        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-fill: balance;
        -webkit-column-fill: balance;
        -moz-column-fill: balance;
    }

    &[data-filter='source'] {
        #tags {

            &[data-category='natural-gas'],
            &[data-category='renewables'] {
                column-count: 3;
                -webkit-column-count: 3;
                -moz-column-count: 3;
            }
        }
    }

    &[data-filter='geography'] {
        &[data-filter='geography'] {
            #tags {

                &[data-category='country-international'],
                &[data-category='us-states'] {
                    column-count: 3;
                    -webkit-column-count: 3;
                    -moz-column-count: 3;
                }
            }
        }
    }

    &[data-filter='topic'] {
        #tags {

            &[data-category='capacity'],
            &[data-category='disruption-outages'],
            &[data-category='exports-imports'],
            &[data-category='standards-regulations'] {
                column-count: 2;
                -webkit-column-count: 2;
                -moz-column-count: 2;
            }

            &[data-category='demand-end-use'],
            &[data-category='environment'],
            &[data-category='generation'],
            &[data-category='prices'],
            &[data-category='production-supply'] {
                column-count: 3;
                -webkit-column-count: 3;
                -moz-column-count: 3;
            }
        }
    }

    &[data-filter='report'] {
        #tags {
            column-count: 3;
            -webkit-column-count: 3;
            -moz-column-count: 3;
        }
    }

    .report-feature {
        .l-col {
            padding-bottom: 0;
        }
    }
}