@media (min-width: 1025px) {
    header .navigation {
        height: 94px;
        margin: 0 auto;
        padding: 0 17px;
        width: 990px;
        box-sizing: border-box;
    }
}


@media (min-width: 1px) {
    .search-panel .header-search-input {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        font-style: normal;
        font-weight: 400;
        box-sizing: border-box;
        height: 32px;
        margin: 0 10px 0 0;
        padding: 6px 12px;
        width: 300px;
    }
}









//.fancybox__content .carousel__button svg,
.fancybox__content .carousel__button.is-next,
.fancybox__content .carousel__button.is-prev {
    display: none;
}

footer,
.above-address-links {
    li {
        list-style: none;
    }

    ul {
        margin: 0;
        padding-left: 0;
    }
}

@eia-white: #fff; // global vars

/*



.fancybox__content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 20;
    align-self: center !important;
    margin: 0 !important;
    padding: 0 !important;
}




.fancybox__container {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    bottom: 0;
    box-sizing: border-box;
    direction: ltr;
    display: flex;
    flex-direction: column;
    left: 0;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform-origin: top left;
    z-index: 1000;
}




.nav-menu {
    .carousel {
        position: relative;
        box-sizing: border-box
    }


    .carousel *,
    .carousel *:before,
    .carousel *:after {
        box-sizing: inherit
    }

    .carousel.is-draggable {
        cursor: move;
        cursor: grab
    }

    .carousel__viewport {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        max-height: 100%
    }



    .f-carousel__slide {
        flex: 0 0 auto;

        max-width: 100%;
        padding: 1rem;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        overscroll-behavior: contain
    }
}







.carousel__track {
    display: flex
}

html {
    &.with-fancybox {
        scroll-behavior: auto
    }
}
*/
body {
    &.compensate-for-scrollbar {
        overflow: hidden !important;
        touch-action: none
    }
}

/*
.fancybox__container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    direction: ltr;
    margin: 0;
    //padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    display: flex;
    flex-direction: column;
    //-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    z-index: 1050;
    outline: none;
    transform-origin: top left;
    box-sizing: border-box;
}



.fancybox__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.fancybox__carousel {
    position: relative;
    flex: 1 1 auto;
    min-height: 0;
    height: 100%;
    z-index: 10;
    box-sizing: border-box;
}

.fancybox__viewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    cursor: default;
    box-sizing: border-box;
}

.fancybox__track {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    box-sizing: border-box;
}




@media (min-width: 1px) {
    .fancybox__content {
        //padding: 36px;
        position: relative;
        align-self: center;
        display: flex;
        flex-direction: column;
        z-index: 20;

        .carousel__button {
            &.is-close {
                background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Ccircle cx='18' cy='18' r='16.5' fill='%230096d7'/%3E%3Cpath fill='%23fff' d='M25.8 22.7 21.1 18l4.7-4.7-3.1-3.1-4.7 4.7-4.7-4.7-3.1 3.1 4.7 4.7-4.7 4.7 3.1 3.1 4.7-4.7 4.7 4.7 3.1-3.1z'/%3E%3C/svg%3E") no-repeat 50%;
                content: " ";
                cursor: pointer;
                display: block;
                font-size: 0;
                height: 40px;
                line-height: 0;
                position: absolute;
                right: -15px;
                right: 0;
                text-indent: -9999px;
                top: 0;
                width: 40px;
                z-index: 8040;

                &>span {
                    line-height: 0;
                    margin: 0;
                    text-indent: -9999px
                }
            }

            &.is-prev,
            &.is-next,
            svg {
                display: none;
            }
        }

        .fancybox__iframe {
            width: 980px
        }
    }

    .fancybox__slide {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        overscroll-behavior: contain;
        display: flex;
        flex-direction: column;
        outline: 0;
        overflow: auto;

        &:after,
        &:before {
            margin: 0 auto;
            content: "";
            flex: 0 0 0;
        }
    }

}

@media (min-width: 1025px) {
    .fancybox__content {
        .carousel__button {
            &.is-close {
                right: -15px;
                top: -15px
            }
        }

        .fancybox__iframe {
            width: 980px
        }
    }

    .fancybox__slide {

        padding: 64px 100px;

        &:after,
        &:before {
            margin: 40px auto 0
        }
    }
}

*/

















body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: @eia-white;
}






@media (min-width:1px) {
    .page-wrapper {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        flex-grow: 1;
        overflow: auto;

        .l-outer-wrapper {
            &#outerX {
                padding: 0;

                flex-grow: 1;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                border: 0;
                box-sizing: border-box;
                position: relative;
                padding: 0;
                width: 994px;

                .l-inner-wrapper {
                    &#innerX {
                        width: 100%;
                        padding: 39px 0 0;
                        margin: 0;
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        box-sizing: border-box;
                        padding: 94px 15px 0 18px;
                        width: 100%;
                        margin: 0;

                        &.show {
                            padding: 90px 0 50px;
                        }
                    }
                }
            }
        }
    }

    section {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    /*
    .l-column {
        position: relative;
        min-height: 1px;
        margin: 0;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    .l-full-width-column {
        position: relative;
        min-height: 1px;
        margin: 0;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    .l-main-column {
        position: relative;
        min-height: 1px;
        margin: 0;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    .l-middle-column {
        position: relative;
        min-height: 1px;
        margin: 0;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    .l-one-third-column {
        position: relative;
        min-height: 1px;
        margin: 0;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    .l-side-column {
        position: relative;
        min-height: 1px;
        margin: 0;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    .l-split-narrow {
        position: relative;
        min-height: 1px;
        margin: 0;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    .l-split-wide {
        position: relative;
        min-height: 1px;
        margin: 0;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    .l-two-column {
        position: relative;
        min-height: 1px;
        margin: 0;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    .l-two-third-column {
        position: relative;
        min-height: 1px;
        margin: 0;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    .l-row {
        .l-column {
            margin-top: 1.5em;
        }

        .l-full-width-column {
            margin-top: 1.5em;
        }

        .l-main-column {
            margin-top: 1.5em;
        }

        .l-middle-column {
            margin-top: 1.5em;
        }

        .l-one-third-column {
            margin-top: 1.5em;
        }

        .l-side-column {
            margin-top: 1.5em;
        }

        .l-split-narrow {
            margin-top: 1.5em;
        }

        .l-split-wide {
            margin-top: 1.5em;
        }

        .l-two-column {
            margin-top: 1.5em;
        }

        .l-two-third-column {
            margin-top: 1.5em;
        }

        padding: 0 1em;
        display: table;
        width: 100%;
        padding-left: 22px;
        padding-right: 0;
        border-left: 0;
        border-right: 0;

        >h1 {
            padding-right: 22px;
        }

        >h2 {
            padding-right: 22px;
        }

        >h3 {
            padding-right: 22px;
        }

        >h4 {
            padding-right: 22px;
        }

        >h5 {
            padding-right: 22px;
        }

        >h6 {
            padding-right: 22px;
        }

        >ol {
            padding-right: 22px;
        }

        >p {
            padding-right: 22px;
        }

        >ul {
            padding-right: 22px;
        }

        >div {
            padding-right: 44px;

            &:last-child {
                padding-right: 22px;
            }
        }

        .l-row {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            border-left: 0;
            border-right: 0;
        }
    }

    .l-row {
        &.header {
            padding: 0 0;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            border-left: 0;
            border-right: 0;

            .l-column {
                border-top: none;
            }

            .l-full-width-column {
                border-top: none;
                padding-right: 0;
            }

            .l-main-column {
                border-top: none;
            }

            .l-middle-column {
                border-top: none;
            }

            .l-one-third-column {
                border-top: none;
            }

            .l-side-column {
                border-top: none;
            }

            .l-split-narrow {
                border-top: none;
            }

            .l-split-wide {
                border-top: none;
            }

            .l-two-column {
                border-top: none;
            }

            .l-two-third-column {
                border-top: none;
            }



            >div {
                padding-left: 0;
                padding-right: 0;
            }

            >h1 {
                padding-left: 0;
                padding-right: 0;
            }

            >h2 {
                padding-left: 0;
                padding-right: 0;
            }

            >h3 {
                padding-left: 0;
                padding-right: 0;
            }

            >h4 {
                padding-left: 0;
                padding-right: 0;
            }

            >h5 {
                padding-left: 0;
                padding-right: 0;
            }

            >h6 {
                padding-left: 0;
                padding-right: 0;
            }

            >ol {
                padding-left: 0;
                padding-right: 0;
            }

            >p {
                padding-left: 0;
                padding-right: 0;
            }

            >ul {
                padding-left: 0;
                padding-right: 0;
            }
        }
		
    }

    div.content {
        padding-right: 15px;
        padding-left: 15px;
        width: 956px;
        display: table;
    }

    .container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 956px;
    }
*/
}

@media (min-width:956px) {
    /*
	.l-column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .l-side-column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        width: 25%
    }

    .l-one-third-column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        width: 33.333333%
    }

    .l-split-narrow {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.666%;
        -ms-flex: 0 0 41.666%;
        flex: 0 0 41.666%;
        max-width: 41.666%
    }

    .l-middle-column,
    .l-two-column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        width: 50%
    }

    .l-split-wide {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.333%;
        -ms-flex: 0 0 58.333%;
        flex: 0 0 58.333%;
        max-width: 58.333%
    }

    .l-two-third-column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        width: 66.666667%
    }

    .l-main-column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .l-full-width-column {
        padding-right: 0;
        padding-left: 0;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%
    }
	*/
}




.nav-menu {
    ul {
        box-sizing: border-box;
    }
}

/*
    .ui-widget-content {
        background: none !important;
        background-image: none !important;
        border: none !important;
    }

    .ui-state-active {
        background: none !important;
        background-image: none !important;
        border: none !important;
    }

    .ui-widget-header {
        background: none !important;
        background-image: none !important;
        border: none !important;
    }

    .ui-corner-top {
        border-radius: 0;
    }

    .ui-corner-all {
        border-radius: 0;
    }

    .ui-state-hover {
        background: none !important;
        background-image: none !important;
        border: none !important;
    }

    .ui-state-focus {
        background: none !important;
        background-image: none !important;
        border: none !important;
    }

    .ui-state-active {
        background: none !important;
        background-image: none !important;
        border: none !important;
    }

    .ui-tabs {
        background-color: #fff !important;
        background-image: none !important;
        border: none !important;
        padding: unset;

        .ui-tabs-panel {
            //background: none !important;
            //background-image: none !important;
            //border: none !important;
        }

        .ui-tabs-panel {
            padding: 0;
            display: flex;

            //border-width: 0;
            //background: none;
        }

    }

    .ui-tabs-nav {
        background: none !important;
        background-image: none !important;
        border: none !important;

        li {
            a {
                float: none;
                //text-decoration: one;
                padding: 0 !important;
            }
        }
    }


}
*/

@media (min-width: 1px) {}


@media (min-width: 1px) {
    .l-row {
        //		overflow: hidden;; <--- cannot be hidden
        //		display: table; <--- cannot be a table
        width: 100%;

        &.l-report-header,
        &.l-full-width-col,
        &.l-two-col,
        &.l-two-col-even,
        &.l-two-col-left-narrow,
        &.l-two-col-left,
        &.l-two-col-left-wide,
        &.l-two-col-right-narrow,
        &.l-two-col-right,
        &.l-two-col-right-wide,
        &.l-three-col-even,
        &.l-three-col,
        &.l-four-col-even,
        &.l-five-col-even,
        &.l-six-col-even {
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            //justify-content: space-between;
            display: inline-flex;
            flex-flow: row wrap;

            &>.l-col {
                position: relative;
                min-height: 1px;
                margin: 0;
                float: left;
                width: 100%;
            }

            .l-main-col,
            // for new-england dashboard
            .l-narrow-col,
            // for new-england dashboard
            .l-one-third-col,
            // for nat-gas dashboard
            .l-two-col {
                // for nat-gas dashboard
                position: relative; // for nat-gas dashboard
                min-height: 1px; // for nat-gas dashboard
                margin: 0; // for nat-gas dashboard
                float: left; // for nat-gas dashboard
                width: 100%; // for nat-gas dashboard
            }
        }
    }
}

@media (min-width: 480px) {

    // smartphones, Android phones, landscape iPhone
    .l-row {

        //	---------
        //	|	|	|
        //	---------
        //	|	|	|
        //	---------
        //	|	|	|
        //	---------
        &.l-six-col-even,
        &.l-four-col-even {
            &>.l-col {
                width: 48%;
            }
        }

        //	---------
        //	|		|
        //	---------
        //	|	|	|
        //	---------
        &.l-three-col {
            &>.l-col {
                width: 100%;

                &:first-child,
                &:last-child {
                    width: 48%;
                }
            }
        }


    }
}


@media (min-width: 801px) {
    .l-row {
        &.l-six-col-even {
            &>.l-col {
                width: 32%;
            }
        }

        &.l-four-col-even {
            &>.l-col {
                width: 48%;
            }
        }

        &.l-two-col-even {

            .l-two-col,
            &>.l-col {
                width: 48%;
            }
        }

        &.l-three-col {
            &>.l-col {
                width: 48%;

                &:first-child,
                &:last-child {
                    width: 23%;
                }
            }
        }

        &.l-three-col-even {
            &>.l-col {
                width: 31.333%;
            }

            .l-one-third-col {
                width: 31.333%;
            }
        }

        &.l-two-col-right {
            &>.l-col {
                width: 100%;

                &:last-child {
                    width: 100%;
                }
            }
        }


    }
}

@media (min-width: 1025px) {
    .l-row {
        &.l-two-col-left {
            &>.l-col {
                &:first-child {
                    width: 31.333%;
                }

                &:last-child {
                    width: 64.666%;
                }
            }
        }

        // 25% | 75%
        &.l-two-col-left-narrow {
            &>.l-col {
                &:first-child {
                    width: 23%;
                }

                &:last-child {
                    width: 73%;
                }
            }
        }

        // 75% | 25%
        &.l-two-col-right-narrow {

            .l-main-col,
            // for new-england dashboard
            &>.l-col {
                width: 73%;

                &:last-child {
                    width: 23%;
                }
            }

            .l-narrow-col {
                // for new-england dashboard
                width: 23%; // for new-england dashboard
            }

            // for new-england dashboard
        }

        // 58.333% | 41.666%
        &.l-two-col-left-wide {
            &>.l-col {
                width: 56.333%;

                &:last-child,
                &:last-of-type {
                    width: 39.666%;
                }
            }
        }

        //	-----------------------------
        //	| --- 66.666% --- |	33.333% |
        //	-----------------------------
        &.l-two-col-right {
            &>.l-col {
                width: 64.666%;

                &:last-child {
                    width: 31.333%;
                }
            }
        }

        // 41.666% | 58.333%
        &.l-two-col-right-wide {
            &>.l-col {
                width: 39.666%;

                &:last-child {
                    width: 56.333%;
                }
            }
        }

        &.l-three-col-even {
            &>.l-col {
                width: 31.333%;
            }
        }

        &.l-three-col {
            &>.l-col {
                width: 48%;

                &:first-child {
                    width: 23%;
                }

                &:last-child {
                    width: 23%;
                }
            }
        }

        &.l-four-col-even {
            &>.l-col {
                width: 23%;
            }
        }

        &.l-five-col-even {
            &>.l-col {
                width: 18%;
            }
        }

        &.l-six-col-even {
            &>.l-col {
                width: 14.666%;
            }
        }
    }
}