.accordion-content {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: var(--base-font-size);

    &>ol {
        padding: 14px 0;
        margin: 5px 0 0 22px;
        //margin: 0 !important;
        //border-width: 5px 0 0 22px;

        li {
            margin-bottom: 5px;
            //border-bottom-width: 5px;
        }
    }

    &>ul {
        margin: 0;
        padding: 15px 0;
        border-bottom: 1px dashed @eia-dash-color;

        &:last-child {
            border-bottom: none;
            margin-bottom: 1.5em;
        }

        >li {
            //margin: 3px 0 0 17px;
            list-style: none; // disc;

            li {
                margin: 3px 0 0 17px;
                list-style: disc;
            }
        }

        ul {
            //margin: 20px 0 20px 20px;
            margin: 0;
            padding: .5em 0 0 0;

            ul {
                // update accordion content CSS
                //margin: 20px 0;
                padding: .5em 0 0 0;
            }

            // update accordion content CSS


            &.bullet {
                margin-left: 22px;
                margin-top: 5px;

                li {
                    // move to bullet
                    margin-bottom: 5px;
                    list-style: disc;
                }
            }

            li {
                &.head {
                    h3 {
                        border-top: none;
                    }
                }
            }
        }
    }

    &>ol {
        padding: 14px 0;

        //margin: 5px 0 0 22px; moved to lists
        //li {
        //margin-bottom: 5px;
        //}
    }

    .numbered {
        &>li {
            padding-left: 80px;

            .number {
                width: 80px;
            }
        }
    }

    .article {
        padding: 20px 0 0 20px;

        h2 {
            line-height: 1.25;
            margin: 1em 0 0;
        }

        blockquote {
            &.accent {
                margin: 0;
                padding: 2.5em;
            }
        }

        figure {
            margin: 0 0 1em 0;
        }
    }
}

















/*
.accordion-content {
    font-size: var(--base-font-size);
    padding: 0;
    margin: 0;
    width: 100%;

    &>ol {
        padding: 14px 0;
        margin: 5px 0 0 22px;

        li {
            margin-bottom: 5px;
        }
    }

    &>ul {
        margin: 0;
        padding: 15px 0;
        width: 100%;
        border-bottom: 1px dashed @eia-dash-color;

        &:last-child {
            border-bottom: none;
            margin-bottom: 1.5em;
        }

        ul {
            margin-left: 20px;
            margin-bottom: 0;
            padding: 14px 0 0 0;

            &.bullet {
                margin-left: 22px;
                margin-top: 5px;

                li {
                    // move to bullet
                    margin-bottom: 5px;
                    list-style: disc;
                }
            }

            li {
                &.head {

                    h3 {
                        border-top: none;
                    }
                }
            }
        }
    }

    &>ol {
        padding: 14px 0;

        //margin: 5px 0 0 22px; moved to lists
        //li {
        //margin-bottom: 5px;
        //}
    }

    .numbered {
        &>li {
            padding-left: 80px;

            .number {
                width: 80px;
            }
        }
    }

    .article {
        padding: 20px 0 0 20px;

        h2 {
            font-weight: @bold;
            line-height: 1.25;
            margin: 1em 0 0;
        }

        blockquote {
            &.accent {
                margin: 0;
                padding: 2.5em;
                background-color: @eia-508-notice-blue-bg-color;
            }
        }

        figure {
            margin: 0 0 1em 0;
        }
    }
}
*/
.article {
    .accordion-content {

        &>ol {
            padding: 14px 0 0 0;
            margin: 5px 0 0 22px;

            li {
                margin-bottom: 5px;
            }
        }

        &>ul {
            margin: 0;

            li {
                list-style: none;
                margin: 0 0 5px 0;

                ul {
                    //margin: 20px;
                    padding: 14px 0;
                    width: calc(100% - 40px);
                }

                li {
                    list-style: disc;
                }
            }

            ol {
                li {
                    list-style-type: decimal;
                }
            }
        }
    }
}

//@media (min-width: 1px) {}
//@media (min-width: 480px) {}
//@media (min-width: 600px) {}
//@media (min-width: 801px) {}

@media (min-width: 1025px) {
    .accordion-content {
        &>ol {
            padding: 14px 0;
            margin: 5px 0 0 22px;
            width: calc(100% - 22px);
        }

        &>ul {
            margin: 0 20px;
            padding: 15px 0;
            width: calc(100% - 40px);
        }
    }
}