.formats+a {
    margin-left: 6px;
}


.expand-collapse-content {
    padding: 8px 0 16px 0;
}

@media (min-width: 1px) {
    .article {

        ///// startaccordion-shared-mobile();
        .accordion {
            //width: 100%;
            //clear: both;
            //margin-bottom: 2em;

            h3 {
                .accordion-h3();

                .right {
                    float: right;
                    .font;
                    .bold;
                    font-size: 0.75rem;
                }
            }
        }




        ///////////////// start .highlight;
        &.highlight {
            border-top: 1px dashed @eia-divider-color;
            background-color: #f5fbfd;
            border-bottom: 1px dashed @eia-divider-color;
            margin: 0;
            padding: 0;
            width: 100%;
            display: table;

            &>li {
                list-style: none;
                padding: 0 27px;

                &:first-child {
                    padding-top: 12px;
                }

                &:last-child {
                    padding-bottom: 12px;
                }
            }

.form-container,
.dropdown-menu {
	width: 150px;
}

.form-container {
	padding: 8px 0 0 0;
	display: table;
}

            span {
                &.inline {
                    white-space: nowrap;
                    margin: 0;

                    .ico {
                        margin: 0 0 0 4px;

                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }


    //////////////////////start.accordion-shared-mobile();
    .accordion {
        width: 100%;
        clear: both;
        margin-bottom: 2em;

        h3 {
            .accordion-h3();

            .right {
                float: right;
                .bold;
                font-size: 0.75rem;
            }
        }



        //////////////////.highlight;
        &.highlight {
            border-top: 1px dashed @eia-divider-color;
            background-color: #f5fbfd;
            border-bottom: 1px dashed @eia-divider-color;
            margin: 0;
            padding: 0;
            width: 100%;
            display: table;

            &>li {
                list-style: none;
                padding: 0 27px;

                &:first-child {
                    padding-top: 12px;
                }

                &:last-child {
                    padding-bottom: 12px;
                }
            }

            .form-container,
            .dropdown-menu {
                width: 150px;
            }

            .form-container {
                padding: 8px 0 0 0;
                display: table;
            }

            span {
                &.inline {
                    white-space: nowrap;
                    margin: 0;

                    .ico {
                        margin: 0 0 0 4px;

                        span {
                            display: none;
                        }
                    }
                }
            }
        }



        h3 {
            .accordion-h3();

            &:hover {
                background-color: tint(#0096d7, 90%);
            }

            span {
                display: block;

                &.ico {
                    cursor: pointer;
                    position: absolute;
                    top: 12px;
                    left: 0;

                    &.expand {
                        &:before {
                           // .controls-icon(12px, 12px);
                            .icon-remove();
                            transform: rotate(45deg);
                        }
                    }

                    &.collapse {
                        &:before {
                           // .controls-icon(12px, 12px);
                            float: left;
                            margin: 2px 3px 0 0;
                        }
                    }
                }
            }
        }

        .ui-accordion-header-icon,
        .ui-icon {
            background-image: none;
        }

        // moved to first-open.less
        /*
		&.first-open {
            h3 {
                &:first-of-type {
                    span {
                        display: block !important;
                    }
                }
            }
        }
		*/




        // moved to expand-collapse.less
        /*
		.expand-collapse-container {
            font-size: var(--sm);
            color: @eia-black;
            display: inline-block;
            margin-bottom: 4px;
            margin-top: 7px;
            //text-transform: uppercase;
            float: right;

            .ico {
                float: right;
                cursor: pointer;

                &.expand {
                    &:before {
                        //.controls-icon(12px, 12px);
                        .icon-remove();
                        transform: rotate(45deg);
                        display: inline-block;
                        margin: -4px 3px 0 0;
                    }
                }

                &.collapse {
                    &:before {
                        //.controls-icon(12px, 12px);
                        display: inline-block;
                        margin: -4px 3px 0 0;
                    }
                }
            }
        }
        h2 {
            .expand-collapse-container {
                width: 200px;
                padding-top: 4px;
                float: right;
                margin-top: 0;
            }
        }
		*/
        .l-row {
            &.l-two-col-right {
                &>.l-col {
                    &:last-child {
                        .article {
                            .accordion {
                                width: 100%;
                                clear: both;
                                margin-bottom: 2em;

                                h3 {
                                    .accordion-h3();

                                    &:focus {
                                        outline: none;
                                    }

                                    .ico {
                                        position: absolute;
                                        top: 5px;
                                        left: 1px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 600px) {}