.accordion {
    width: 100%;
    clear: both;
    margin-bottom: 2em;

    h3 {
        .accordion-h3();

        .right {
            float: right;
            font-weight: @bold; // 700
            font-size: var(--xsm); // 12 pixels
        }
    }
}