

    .auto-numbered-grid {
        counter-reset: section;
        /* Set a counter named 'section', and its initial value is 0. */
    }

    .auto-numbered-grid {
        width: 100%;
        display: grid;
        grid-template-columns: min-content 1fr;
        padding-top: 1em;
    }

    .auto-numbered-grid.l-one-row>div:nth-child(odd) {
        padding: 0 0 1em 0;
    }

    .auto-numbered-grid.l-one-row>div:nth-child(even) {
        padding: 0 0 1em 0.5em;
    }

    .auto-numbered-grid.l-two-row>div:nth-child(4n + 3) {
        padding: 0 0 1em 0;
    }

    .auto-numbered-grid.l-two-row>div:nth-child(4n) {
        padding: 0 0 1em 0;
    }

    .auto-numbered-grid.l-two-row>div:nth-child(even) {
        padding-left: 0.5em;
    }

    .auto-numbered-grid.l-seperator.l-one-row>div:nth-child(odd) {
        border-bottom: 1px dashed #d6d6d6;
        margin: 0 0 1em 0;
    }

    .auto-numbered-grid.l-seperator.l-one-row>div:nth-child(even) {
        border-bottom: 1px dashed #d6d6d6;
        margin: 0 0 1em 0;
    }

    .auto-numbered-grid.l-seperator.l-two-row>div:nth-child(4n + 3) {
        border-bottom: 1px dashed #d6d6d6;
        margin: 0 0 1em 0;
    }

    .auto-numbered-grid.l-seperator.l-two-row>div:nth-child(4n) {
        border-bottom: 1px dashed #d6d6d6;
        margin: 0 0 1em 0;
    }

    .auto-numbered-grid.l-seperator>div:nth-last-child(-n + 2) {
        border-bottom: none !important;
    }

    .auto-numbered-grid .number {
        white-space: nowrap;
    }

    .auto-numbered-grid .number:before {
        counter-increment: section;
    }

    [data-type="table"] .number:before {
        content: "Table "counter(section) ".";
    }

    [data-type="figure"] .number:before {
        content: "Figure "counter(section) ".";
    }
