li {
    &.list-seperator {
        border-top: 1px solid silver;
        margin-top: 1.2em;
        padding-top: 0.5em;
    }

    &.list-seperator-alt {
        border-top: 1px dashed silver;
        margin-top: 1.2em;
        padding-top: 0.5em;
    }
}