.secondary {
    ul {
        li {
            &.sub-head {
                margin-bottom: 4px;
                font-size: 1em;
            }

            &.ico {
                display: flex;
            }

            a {
                line-height: 1.2;
            }
        }
    }
}




li {
    &.list-item {
        list-style: none;

        .list-item {
            ul {
                // update accordion content CSS
                // must be margin-left 0 for accordion content
                padding: 0;
            }
        }

        ul {

            //padding-left: 22px;
            li {
                margin: 3px 0 0 17px;

                //margin: 0 !important;
                //border-width: 3px 0 0 17px;
                &:first-child {
                    &:not(.head) {
                        list-style: disc;
                    }
                }

                &.head {
                    list-style: none;
                    margin: 0;
                    //margin: 0 !important;
                    //border-width: 0;
                }
            }

            &:last-child {
                margin-bottom: 12px;
                //margin: 0 !important;
                //border-bottom-width: 12px;
            }
        }
    }
}


/*


li {
    &.list-item {
        list-style: none;

        .list-item {
            ul {
                margin-left: 0;
                padding: 0;
            }
        }
        ul {
            li {
                //margin-left: 17px;
                margin: 3px 0 0 17px;

                &:first-child {
                    &:not(.head) {
                        list-style: disc;
                    }
                }
                &.head {
                    list-style: none;
                    margin: 0;
                }
            }
            &:last-child {
                margin-bottom: 12px;
            }
        }
    }
}
	*/