ul {

    //* what is this **/
    li {

        //margin: 0;
        a {
            &.active {
                text-decoration: none;
                color: @eia-508-link-color;
                font-weight: @bold;
            }


            span {
                &.date {
                    font-style: normal;
                    color: @eia-dark-grey;

                    text-decoration: none;
                    display: table-cell;
                    padding-right: 12px;
                }
            }

            &:hover {
                span {
                    &.date {
                        text-decoration-line: underline;
                        text-decoration-color: underline solid white;
                    }
                }

                em {
                    text-decoration-line: underline;
                    text-decoration-color: underline solid white;
                }
            }

            /* homepage modules */
            span {
                &.link-label {
                    display: table-cell;
                }
            }

            span {
                &.link-label {
                    margin-right: 12px;
                }
            }

            &.link-label {
                em {
                    color: @eia-dark-grey;
                }

                span {
                    color: @eia-dark-grey;
                }

                &:hover {
                    em {
                        text-decoration-line: underline;
                        text-decoration-color: @eia-white;
                    }

                    span {
                        text-decoration-line: underline;
                        text-decoration-color: @eia-white;
                    }
                }
            }

            &:hover {
                .ico {
                    text-decoration: underline;
                }

                span {
                    &.date {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}




// what is this
ul {
    &.f-more {
        &:after {
            content: "\00a0\203A";
        }
    }
}