.survey {
    .fixed-width {
        width: 180px;

        &.label {
            font-style: italic;
            display: inline-block;
        }
    }
    .accordion-content {
        .number {
            color: black;
            text-align: left;

            &.terminated {
                color: #999;
            }
        }

        li {

            &.head {
                .alert {
                    font-weight: @light; 
                }
            }

            &.sub-head {
                margin: 12px 0 5px 0;
            }

            ul {
                &.highlight {
                    li {
                        padding-left: 20px;

                    }
                }
            }
        }
    }
}