.l-border-remove {
    border: 0;
}

.no-border {
    border-color: transparent;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.l-border-remove-top {
    border-top: 0;
}

.l-border-remove-bottom {
    border-bottom: 0;
}

.l-border-top {
    border-top: 4px solid @eia-blue;

    &.l-border-thin {
        border-width: thin;
    }
}

.l-border-bottom {
    border-bottom: 4px solid @eia-blue;

    &.l-border-thin {
        border-width: thin;
    }
}