@media (min-width: 1px) {
    .l-body-wrapper {
        &.l-full-page {
            .l-outer-wrapper {
                margin: 0;
                padding: 0;
                width: 100%;

                .l-inner-wrapper {
                    padding: 74px 22px 0 22px;
                    width: 100%;
                    margin: 0;
                
                }
            }

            header {
                .navigation {
                    a {
                        &.logo-beta {
                        
                        
                            height: 50px !important;
                            width: 176px !important;
                            padding: 0 !important;
                            margin: 0 145px 0 12px !important;
                            background-size: 100% 100% !important;
                        }
                    }
                }
            }

            .social-fixed {
                display: none !important;
            }
        }
    }
}

@media (min-width: 480px) {


    .l-body-wrapper {
        &.l-full-page {
            header {
                .navigation {
                    a {
                        &.logo-beta {
                        
                        
                            height: 50px !important;
                            width: 176px !important;
                            padding: 0 !important;
                            margin: 0 145px 0 12px !important;
                            background-size: 100% 100% !important;
                        }
                    }
                }
            }

            .social-fixed {
                display: none;
            }
        }
    }
}

@media (min-width: 600px) {


    .l-body-wrapper {
        &.l-full-page {
            header {
                .navigation {
                    a {
                        &.logo-beta {
                        
                        
                            height: 50px !important;
                            width: 176px !important;
                            padding: 0 !important;
                            margin: 0 145px 0 12px !important;
                            background-size: 100% 100% !important;
                        }
                    }
                }
            }

            .social-fixed {
                display: none;
            }
        }
    }
}

@media (min-width: 801px) {


    .l-body-wrapper {
        &.l-full-page {
            header {
                .navigation {
                    a {
                        &.logo-beta {
                        
                        
                            height: 50px !important;
                            width: 176px !important;
                            padding: 0 !important;
                            margin: 0 145px 0 12px !important;
                            background-size: 100% 100% !important;
                        }
                    }
                }
            }

            .social-fixed {
                display: none;
            }
        }
    }
}

@media (min-width: 1025px) {
    .l-body-wrapper {
        &.l-full-page {
            header {
                .navigation {
                    a {
                        &.logo-beta {
                        
                        
                            height: 50px !important;
                            width: 176px !important;
                            padding: 0 !important;
                            margin: 0 145px 0 12px !important;
                            background-size: 100% 100% !important;
                        }
                    }
                }
            }

            .social-fixed {
                display: none;
            }
        }
    }
}