@media (max-width: 1080px) {
    .l-outer-wrapper {
        .l-inner-wrapper {
            &>.l-row {
                padding-left: 12px;
                padding-right: 12px;
            }
        }
    }
}







@media (min-width: 1px) {
    @defaultPageWidth: 100%;

    .l-body-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .l-outer-wrapper {
        width: 100%;
        padding: 0;
        min-width: 320px;
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .l-inner-wrapper {
            width: 100%;
            padding: 39px 0 3em 0;
            margin: 0;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            &>.l-row {
                &.header {
                    padding: 0;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }

    .container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (min-width: 1025px) {
    @defaultPageWidth: 990px;

    .l-outer-wrapper {
        // normall 1025 - big landscape tablets, laptops, and desktops
        margin: 0 auto;
        border: 0;
        padding: 0;
        width: @defaultPageWidth; // 990px

        &.l-full-page {
            padding: 0;
            width: 100%;

            .l-inner-wrapper {
                width: 100%;
                margin: 0;
                padding-top: 30px;

                &.show {
                    padding: 90px 0 50px;
                }
            }
        }

        .l-inner-wrapper {
            background-color: @eia-white;
            padding: 94px 1em 3em 1em;
            width: @defaultPageWidth; // 994px - (16px + 16px = 32px) = 958
            margin: 0;
        }
    }

    .container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}