@media (min-width: 1px) {
	.l-grid-row {
		display: grid;

		&.l-four-col-even {
			grid-template-columns: repeat(1, 100%);
			grid-column-gap: 0;

			>* {
				grid-column: ~"1 / -1";
			}
		}
	}
}

@media (min-width: 480px) {
	.l-grid-row {
		&.l-four-col-even {
			grid-template-columns: repeat(2, 49.333%);
			grid-column-gap: 1.333%;

			>* {
				&:nth-child(odd) {
					grid-column: 1;
				}

				&:nth-child(even) {
					grid-column: 2;
				}
			}
		}
	}
}

@media (min-width: 600px) {
	.l-grid-row {
		&.l-four-col-even {
			grid-template-columns: repeat(3, 32.5%);
			grid-column-gap: 1.25%;

			>* {
				&:nth-child(3n + 1) {
					grid-column: 1;
				}

				&:nth-child(3n + 2) {
					grid-column: 2;
				}

				&:nth-child(3n + 3) {
					grid-column: 3;
				}
			}
		}
	}
}

@media (min-width: 801px) {
	.l-grid-row {
		&.l-four-col-even {
			width: 950px;
			grid-template-columns: repeat(4, 24%);
			grid-column-gap: 1.333%;

			>* {
				&:nth-child(4n + 1) {
					grid-column: 1;
				}

				&:nth-child(4n + 2) {
					grid-column: 2;
				}

				&:nth-child(4n + 3) {
					grid-column: 3;
				}

				&:nth-child(4n + 4) {
					grid-column: 4;
				}
			}
		}
	}
}