.l-margin {
    margin: 1em;
}

.l-margin-top {
    margin-top: 1em;
}

.l-margin-bottom {
    margin-bottom: 1em;
}

.l-margin-small {
    margin: 0.5em;
}

.l-margin-small-top {
    margin-top: 0.5em;
}

.l-margin-small-bottom {
    margin-bottom: 0.5em;
}

.l-margin-medium {
    margin: 1.5em;
}

.l-margin-medium-top {
    margin-top: 1.5em;
}

.l-margin-medium-bottom {
    margin-bottom: 1.5em;
}

.l-margin-large {
    margin: 2em;
}

.l-margin-large-top {
    margin-top: 2em;
}

.l-margin-large-bottom {
    margin-bottom: 2em;
}

.l-margin-xlarge {
    margin: 2.5em;
}

.l-margin-xlarge-top {
    margin-top: 2.5em;
}

.l-margin-xlarge-bottom {
    margin-bottom: 2.5em;
}

.l-margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.l-margin-remove {
    margin: 0;
}

.l-margin-remove-top {
    margin-top: 0;
}

.l-margin-remove-bottom {
    margin-bottom: 0;
}

@media (min-width: 1025px) {

    .l-margin-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .l-margin-large {
        margin-bottom: 2.5em;
    }

    .l-margin-large-top {
        margin-top: 2.5em;
    }

    .l-margin-large-bottom {
        margin-bottom: 2.5em;
    }

    .l-margin-xlarge {
        margin-bottom: .75em;
    }

    .l-margin-xlarge-top {
        margin-top: .75em;
    }

    .l-margin-xlarge-bottom {
        margin-bottom: .75em;
    }
}