.padding-1 {
    padding-top: .5em;
}

.padding-2 {
    padding-top: 1em;
}

.padding-3 {
    padding-top: 1.5em;
}

.padding-4 {
    padding-top: 2em;
}

.padding-5 {
    padding-top: 2.5em;
}

/* Padding ========================================================================== */

.l-padding {
    padding: 1em;
}

.l-padding-top {
    padding-top: 1em;
}

.l-padding-bottom {
    padding-bottom: 1em;
}

.l-padding-xsmall {
    padding: 0.25em;
}

.l-padding-xsmall-top {
    padding-top: 0.25em;
}

.l-padding-xsmall-bottom {
    padding-bottom: 0.25em;
}

.l-padding-small {
    padding: 0.5em;
}

.l-padding-small-top {
    padding-top: 0.5em;
}

.l-padding-small-bottom {
    padding-bottom: 0.5em;
}

.l-padding-medium {
    padding: 1.5em;
}

.l-padding-medium-top {
    padding-top: 1.5em;
}

.l-padding-medium-bottom {
    padding-bottom: 1.5em;
}

.l-padding-large {
    padding: 2em;
}

.l-padding-large-top {
    padding-top: 2em;
}

.l-padding-large-bottom {
    padding-bottom: 2em;
}

.l-padding-xlarge {
    padding: 2.5em;
}

.l-padding-xlarge-top {
    padding-top: 2.5em;
}

.l-padding-xlarge-bottom {
    padding-bottom: 2.5em;
}

.l-padding-remove {
    padding: 0;
}

.l-padding-remove-top {
    padding-top: 0;
}

.l-padding-remove-bottom {
    padding-bottom: 0;
}


@media (min-width: 1025px) {
    .l-padding {
        padding: 2em;
    }

    .l-padding-large {
        padding: 2.5em;
    }
}