@media (min-width: 1200px) {
    .eia-icon-wrapper {
        padding: 0 !important;
        //margin: 15px 0 0 15px;

        div {

            &.eia-card-footer,
            &.,
            &.eia-card-header {
                padding: 20px 20px 20px 20px !important;
            }

            &.eia-card-footer {
                pre {
                    font: 12px/1.5 'Roboto Mono', monospace;
                    color: #666;
                    -moz-tab-size: 4;
                    -o-tab-size: 4;
                    tab-size: 4;
                    overflow: auto;
                    padding: 25px;
                    border: none;
                    border-radius: 0;
                    background: #fff;
                }
            }

        }
    }
}











/*

.header-logo {
    background-color: #003c57;

    .logo-full-size {
        display: inline-block;


        .logo {
            float: left;

            &.focus {
                outline: 2px solid @eia-blue;
                outline-offset: -10px;
                border-image: none;
                border-bottom: 0;
            }

            &:before {
                .controls-icon(302px, 101px);
                .icon-logo;
                float: left;
            }
        }

        .beta {
            float: left;

            &:after {
                .controls-icon(130px, 65px);
                float: left;
                margin-top: 30px;
            }

            &.logo {
                float: left;

                &.focus {
                    outline: 2px solid @eia-blue;
                    outline-offset: -10px;
                    border-image: none;
                    border-bottom: 0;
                    //background-color: rgba(255, 255, 255, .15);
                    //background-color: rgba(0, 42, 61, 0.65);
                }

                &:before {
                    .controls-icon(100px, 100px);
                    .icon-eia-logomark;
                    float: left;
                }
            }
        }
    }

    .logo-shrink {
        display: inline-block;


        .logo {
            float: left;

            &.focus {
                outline: 2px solid @eia-blue;
                outline-offset: -10px;
                border-image: none;
                border-bottom: 0;
                //background-color: rgba(255, 255, 255, .15);
                //background-color: rgba(0, 42, 61, 0.65);
            }

            &:before {
                .controls-icon(50px, 40px);
                .icon-eia-logomark;
                float: left;
            }
        }

        .beta {
            float: left;

            &:after {
                .controls-icon(60px, 30px); // w h
                float: left;
                margin-top: 12px;
            }

            &.logo {
                float: left;

                &.focus {
                    outline: 2px solid @eia-blue;
                    outline-offset: -10px;
                    border-image: none;
                    border-bottom: 0;
                    //background-color: rgba(255, 255, 255, .15);
                    //background-color: rgba(0, 42, 61, 0.65);
                }

                &:before {
                    .controls-icon(50px, 40px);
                    .icon-eia-logomark;
                    float: left;
                }
            }
        }
    }
}




.logo-logo-white-background {
    display: table;

    .print-logo {
        float: left;

        &:before {
            .controls-icon(302px, 101px);
            .icon-logo(@font-color: "@eia-dark-grey");
        }
    }

}
*/