// |-300-|-----1000-----|-300-|
body {
    display: flex;
    /* or inline-flex */
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;

}


#eiaWrapper {
    display: grid;
}

@media screen and (min-width: 440px)

/* 400px + body padding */
    {
    #eiaWrapper {
        width: 100%;
        grid-template-columns: 1fr 1000px 1fr;

        #scrollingSection {
            //border: 2px solid orange;
            //color: orange;
            //margin-bottom: 1px;
            //text-align: center;
            //padding: 20px;

        }


        .fluid {
            display: none;
        }

        .fixed {
            display: inline-block;
        }
    }
}

@media screen and (max-width: 439px)

/* 400px + body padding */
    {
    #eiaWrapper {
        grid-template-columns: 1fr 100% 1fr;

        div {

            &:nth-child(2) {
                border: 2px solid orangered;
                color: orangered;
                text-align: center;
                padding: 20px;

            }
        }

        .fluid {
            display: inline-block;
        }

        .fixed {
            display: none;
        }
    }
}



/* Fixed header and footer.
	* --------------------------------------- */
#eiaHeader {
    position: fixed;
    height: 50px;
    display: block;
    width: 100%;
    background: #333;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
}

#eiaPanorama {
    //position: fixed;
    //height: 50px;
    display: block;
    width: 100%;
    //background: #333;
    //z-index: 9;
    //text-align: center;
    //color: #f2f2f2;
    padding: 0;
}

#eiaFooter {
    //position: fixed;
    //height: 50px;
    display: block;
    width: 100%;
    //background: #333;
    //z-index: 9;
    //text-align: center;
    //color: #f2f2f2;
    padding: 0;
}




section {
    &.fp-is-overflow {
        >.fp-overflow {
            overflow: hidden;
            overflow-y: hidden;
        }
    }
}

/*
@media @small {
    div {
        order: 1;
    }



    #mainColumn {
        flex-grow: 1; // 100% of space
        align-self: flex-end;

        //width: 100%;
        //max-width: @layoutMaxWidth;


        .eia-container {
            width: @layoutMaxWidthMobile;
            margin: 0 60px;
        }

        .eia-card{
            width: @layoutMaxWidthMobile;
        }
    }

    #leftColumn,
    #rightColumn {
        display: none;
    }

}

@media @medium {
    div {
        order: 2;
    }

    #mainColumn {
        width: @layoutLaptopRealWidth;

        .eia-container {
            width: @layoutMaxWidthMobile;
            margin: 0 60px;
        }

        .eia-card{
            width: @layoutMaxWidthMobile;
        }
    }

    #rightColumn {
        width: 300px;
        align-self: flex-end;
    }
}

@media @large {
    div {
        order: 3;
    }

    #leftColumn {
        width: 300px;
    }

}
*/




#secondaryNavigation {
    width: 300px;
    position: fixed;
    top: 100px;
    right: 0;
    background-color: #fff;
}

section {
    width: 100%;
    height: 100%;
}


/*
.prototype-link {
    float: left;
    padding: 0 22px 12px 0;
}
*/


/*
.prototype-column-container {
    float: left;
    height: 75px;

}


.prototype-column {
    border: 1px solid @eia-dark-grey;
    height: 100%;


}

.column-one {
    .prototype-column {
        border: 1px solid #513c7a;

        &.prototype-secondary {
            background-color: #fff;
        }
    }

    a {
        color: #513c7a;
        text-decoration: none;
        font-size: 80%;

        &:hover {
            text-decoration: underline;
            color: #513c7a;
        }
    }
}

.column-two {
    .prototype-column {
        border: 1px solid #5d9732;

        &.prototype-secondary {
            background-color: #fff;
        }


    }

    a {
        color: #5d9732;
        text-decoration: none;
        font-size: 80%;

        &:hover {
            text-decoration: underline;
            color: #5d9732;
        }
    }
}

.column-thr {
    .prototype-column {
        border: 1px solid #a33340;

        &.prototype-secondary {
            background-color: #fff;
        }
    }

    a {
        color: #a33340;
        text-decoration: none;
        font-size: 80%;

        &:hover {
            text-decoration: underline;
            color: #a33340;
        }
    }
}

.prototype-container {
    width: 200px;
    border: 1px solid #999;
    float: left;
    margin: 0 2em 2em 0;

    .prototype-header {
        //background-image: url(../../assets/images/prototype-header.png);
        background-repeat: no-repeat;
        background-size: 100%;
        clear: both;
        height: 20px;
    }

    .prototype-footer {
        //background-image: url(../../assets/images/prototype-footer.png);
        background-repeat: no-repeat;
        background-size: 100%;
        clear: both;
        height: 65px;
    }

    .prototype-thumb {
        width: 200px;
        height: 150px;
        clear: both;
        border: none;
    }

    .prototype-column-container {
        float: left;
        height: 150px;
        padding: 1px;

        .prototype-module {
            //			border: 1px solid @eia-orange;
            margin: 1px;
            height: 40px;
            background-color: tint(@eia-orange, 30%);
        }
    }
}

.step-1 {
    .prototype-container {
        border: 1px solid @eia-orange;

        .prototype-header {
            border: 1px solid @eia-orange;
        }

        .prototype-footer {
            border: 1px solid @eia-orange;
        }
    }
}

.step-2 {
    .prototype-container {
        .prototype-column {
            border: 1px solid @eia-orange;
        }
    }
}

.step-3 {
    .prototype-container {}
}
*/

.prototype-thumb {
    border: 1px solid @eia-dark-grey;
    //width: 103px;
    //height: 78px;
    //width: 102px;
    //margin: 0 auto;
    padding: 2px;
    display: flex;

    //margin: 0 auto;
    .prototype-thumb-inside {
        //margin: 0 auto;
        //padding: 0;
        //display: table;

        display: flex;
        height: 116px;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 1;
    }
}

.prototype-column-container {
    //    float: left;
    height: 114px;
    //padding: 1px;
    border-top: 1px solid #333;
    //    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;

    &:last-of-type {
        border-right: 1px solid #333;
    }

    &.w100 {
        //* width: 100%;
        //order: 1;
        flex-grow: 1;
    }

    &.w75 {
        //width: 75%;
        flex-grow: 3;
    }

    &.w66 {
        //width: 66%;
        flex-grow: 2;
    }

    &.w58 {
        //width: 58%;
        flex-grow: 3;
    }

    &.w50 {
        //width: 50%;
        flex-grow: 2;
    }

    &.w42 {
        //width: 42%;
        flex-grow: 2;
    }

    &.w33 {
        //width: 33%;
        flex-grow: 1;
    }

    &.w25 {
        //width: 25%;
        flex-grow: 1;
    }

    &.w20 {
        //width: 20%;
        flex-grow: 1;
    }

    &.w16 {
        //width: 16.5%;
        flex-grow: 1;
    }
}
















/* for prototype
span {

    &.l-full-width-col,
    &.l-two-col-left-narrow,
    &.l-two-col-left,
    &.l-two-col-right-wide,
    &.l-two-col-even,
    &.l-two-col-left-wide,
    &.l-two-col-right,
    &.l-two-col-right-narrow,
    &.l-three-col,
    &.l-three-col-even,
    &.l-four-col-even,
    &.l-five-col-even,
    &.l-six-col-even {
        display: none;
    }
}

a {
    &.prototype-link {
        &.l-full-width-col {
            &:hover~p {
                &._p {
                    code {
                        span {
                            &.l-full-width-col {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        &.l-two-col-left-narrow {
            &:hover~p {
                &._p {
                    code {
                        span {
                            &.l-two-col-left-narrow {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        &.l-two-col-left {
            &:hover~p {
                &._p {
                    code {
                        span {
                            &.l-two-col-left {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        &.l-two-col-right-wide {
            &:hover~p {
                &._p {
                    code {
                        span {
                            &.l-two-col-right-wide {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        &.l-two-col-even {
            &:hover~p {
                &._p {
                    code {
                        span {
                            &.l-two-col-even {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        &.l-two-col-right {
            &:hover~p {
                &._p {
                    code {
                        span {
                            &.l-two-col-right {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        &.l-two-col-right-narrow {
            &:hover~p {
                &._p {
                    code {
                        span {
                            &.l-two-col-right-narrow {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        &.l-three-col {
            &:hover~p {
                &._p {
                    code {
                        span {
                            &.l-three-col {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        &.l-three-col-even {
            &:hover~p {
                &._p {
                    code {
                        span {
                            &.l-three-col-even {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        &.l-four-col-even {
            &:hover~p {
                &._p {
                    code {
                        span {
                            &.l-four-col-even {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        &.l-five-col-even {
            &:hover~p {
                &._p {
                    code {
                        span {
                            &.l-five-col-even {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        &.l-six-col-even {
            &:hover~p {
                &._p {
                    code {
                        span {
                            &.l-six-col-even {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}

________________
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |

*/

.prototype-table {
    border: 1px solid @eia-dark-grey;
    padding: 2px;


    .prototype-table-inside {
        //margin: 0 auto;
        //padding: 0;
        //display: table;

        display: flex;
        height: 116px;
        //flex-direction: row;
        //flex-wrap: nowrap;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
}

.flex-break {
    flex-basis: 100%;
    width: 0;
    height: 0;
}

.prototype-table-cell {
    border: 1px solid #333;
    text-align: center;

    &.active {
        background-color: #666;
        color: #fff;
    }

    &:nth-child(1),
    &:nth-child(16) {
        flex: 0 0 calc(100% - 2px);
        flex-grow: 6;
    }

    &:nth-child(1) {
        margin: 0 2px 0 0;
    }

    &:nth-child(2) {
        margin: 2px 2px 0 0;
        flex-grow: 1;

    }

    &:nth-child(3) {
        margin: 2px 2px 0 0;
        flex-grow: 1;
    }

    &:nth-child(4) {
        margin: 2px 2px 0 0;
        flex-grow: 1;
    }

    &:nth-child(5) {
        margin: 2px 2px 0 0;
        flex-grow: 1;
    }

    &:nth-child(6) {
        margin: 2px 2px 0 0;
        flex-grow: 1;
    }

    &:nth-child(7) {
        margin: 2px 0 0 0;
        flex-grow: 1;
    }

    &:nth-child(8),
    &:nth-child(15) {
        margin: 0;
    }

    &:nth-child(9) {
        margin: 2px 2px 0 0;
        flex-grow: 1;
    }

    &:nth-child(10) {
        margin: 2px 2px 0 0;
        flex-grow: 1;
    }

    &:nth-child(11) {
        margin: 2px 2px 0 0;
        flex-grow: 1;
    }

    &:nth-child(12) {
        margin: 2px 2px 0 0;
        flex-grow: 1;
    }

    &:nth-child(13) {
        margin: 2px 2px 0 0;
        flex-grow: 1;
    }

    &:nth-child(14) {
        margin: 2px 0 0 0;
        flex-grow: 1;
    }
}

/*
.prototype-column-container {
    //    float: left;
    height: 114px;
    //padding: 1px;
    border-top: 1px solid #333;
    //    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;

    &:last-of-type {
        border-right: 1px solid #333;
    }

    &.w100 {
        //* width: 100%;
        //order: 1;
        flex-grow: 1;
    }

    &.w75 {
        //width: 75%;
        flex-grow: 3;
    }

    &.w66 {
        //width: 66%;
        flex-grow: 2;
    }

    &.w58 {
        //width: 58%;
        flex-grow: 3;
    }

    &.w50 {
        //width: 50%;
        flex-grow: 2;
    }

    &.w42 {
        //width: 42%;
        flex-grow: 2;
    }

    &.w33 {
        //width: 33%;
        flex-grow: 1;
    }

    &.w25 {
        //width: 25%;
        flex-grow: 1;
    }

    &.w20 {
        //width: 20%;
        flex-grow: 1;
    }

    &.w16 {
        //width: 16.5%;
        flex-grow: 1;
    }
	
}*/