   /*
   @media @mobile {
    ._icon-vertical {
        display: table;
        width: 100%;

        .icon-container {
            margin: 0 0 4em 0;
            display: table;
            width: 100%;
        }
    }



    ._visualizations-icons {
        .icon-container {
            width: 100%;
            padding: 0;
            margin: 0 auto;
        }
    }

    // weekly icons
    .base {

        &.l-report-header-opendata,
        &.l-report-header-petroleum-weekly {
            border: none !important;
        }

        //.l-full-width-col {
        .g_container {
            border: none !important;
            padding: 0 !important;
            margin: 0 !important;

            .tabs {
                &.petroleum-weekly {
                    margin-left: 36px;

                    ul {
                        float: none;
                    }
                }
            }
        }


    }
}

@media @mobile-landscape {
}



.this-week-icons-container {
    border-top: 1px solid greenyellow;
    border-right: 20px solid greenyellow;
    border-bottom: 20px solid greenyellow;
    border-left: 1px solid greenyellow;
    float: left;
    clear: both;
    width: 100%;

    .icon-container {
        padding: 0;
        border-top: 1px solid yellowgreen;
        border-right: 20px solid yellowgreen;
        border-bottom: 20px solid yellowgreen;
        border-left: 1px solid yellowgreen;

        float: left;
        width: 85px;

    }
}



@media @mobile {

    .tabs {
        &.petroleum-weekly {
            margin: 2em 0 1px 0;

            ul {
                float: left;
                border: none;
                padding-left: 0px;
                width: 100%;

                //position: relative;
                li {
                    //border-top: none;
                    //border-bottom: none;
                    //border-left: none;
                    //margin-bottom: 1px;
                    //position: relative;
                    //float: none;
                    //flex: none;
                    display: inline-block;
                    width: 100%;
                    border: none;
                    margin: 6px 0;
                    padding: 6px 0 6px 0px;

                    a {
                        margin: 0;
                        padding: 0;
                        font-size: 17.333px;
                        font-weight: 700;
                        text-transform: unset;
                        font-style: italic;
                        color: #d5d5d5 !important; // style-guide only
                    }

                    .ico {
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                        top: 1px;
                        position: absolute;
                        left: -36px;
                    }

                    &.ui-state-active {
                        a {
                            color: @eia-blue  !important; // style-guide only
                        }

                        border: none;
                    }

                    &:hover {
                        a {
                            color: @eia-blue  !important; // style-guide only
                        }
                    }
                }
            }
        }
    }

    .l-full-width-col {
        .basic-table {
            th:first-child {
                min-width: 150px;
            }

            caption {
                padding: 0;
                border-bottom: 1px solid #189bd7;

                a {
                    width: 100%;
                    color: #189bd7;
                    line-height: 22px;

                    em {
                        font-weight: bold;
                        color: #189bd7;
                        font-style: italic;
                    }

                    span {
                        float: right;
                        font-size: 14.666px;
                        color: #189bd7;
                    }

                    &:hover {
                        span {
                            text-decoration: underline;
                        }
                    }
                }
            }

            &.highlight-col-2 {
                th {
                    &:nth-child(2) {
                        background-color: #f7f7f7;
                    }
                }
            }

            &.highlight-col-6 {
                &.fourweek {
                    tr {
                        &:first-child th {
                            &:nth-child(4) {
                                background-color: #f7f7f7;
                            }
                        }

                        &:last-child th {
                            &:nth-child(6) {
                                background-color: #f7f7f7;
                            }
                        }
                    }
                }
            }
        }

        .g_container {
            border-top: 3px solid #189bd7;
            border-bottom: 1px dashed #cccccc;
            padding-top: 6px;
            padding-bottom: 16px;
            margin-top: 44px;

            &~.primary {
                margin-top: 30px;
            }

            &:first-child {
                margin-top: 0px;
            }
        }
    }
}

@media @mobile-landscape {

    // min-width: 480px)"; // smartphones, Android phones, landscape iPhone
    &.l-report-header-opendata {
        .l-col {
            &.opendata-navigation {
                &>a {
                    &>span {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    &.l-report-header-petroleum-weekly {
        .l-col {
            &.twip-navigation {
                &>a {
                    &>span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media @tablet {

    // min-width: 600px)"; // mobile panorama
    &.l-report-header-opendata {
        .l-col {
            &.opendata-navigation {
                &>a {
                    &>span {
                        font-size: 1em;
                    }
                }
            }
        }
    }

    &.l-report-header-petroleum-weekly {
        .l-col {
            &.twip-navigation {
                &>a {
                    &>span {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

@media @tablet-landscape {


    &.l-report-header-opendata {
        .l-col {
            &.opendata-navigation {
                &>a {
                    width: 87px;

                    &>span {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    &.l-report-header-petroleum-weekly {
        .l-col {
            &.twip-navigation {
                &>a {
                    width: 87px;

                    &>span {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .tabs {
        &.petroleum-weekly {
            ul {
                float: right;
                border: none;
                //padding-left: 0px;
                width: 172px;
                position: relative;

                li {
                    float: none;

                    &:first-child {
                        margin: 6px 0;
                        padding: 6px 0 6px 0px;
                    }





                    .ico {
                        //height: 32px;
                        //width: 32px;
                        //border-radius: 50%;
                        //top: 1px;
                        //position: absolute;
                        left: -36px;
                    }
                }
            }

            .ui-tabs-panel {
                border: none;
                padding: 0;
            }
        }
    }

    .l-full-width-col {
        .g_container .graph {
            border-right: 1px solid #cccccc;
            padding-right: 40px;
            width: 759px;
            min-height: 390px;

            .image-container {
                display: table;
                width: auto;
                clear: none;

                .graph {
                    margin: 0;
                }
            }
        }
    }
}

*/