@media @mobile {
    .tab-base {
        div {
            div {
                ul+div {
                    background-color: #264653 !important;
                }
            }
        }
    }

    .tab-layouts {
        div {
            div {
                ul+div {
                    background-color: #2a9d87 !important;
                }
            }
        }
    }

    .tab-moduless {
        div {
            div {
                ul+div {
                    background-color: #e9c46a !important;
                }
            }
        }
    }

    .tab-states {
        div {
            div {
                ul+div {
                    background-color: #e76f51 !important;
                }
            }
        }
    }

    .tab-themes {
        div {
            div {
                ul+div {
                    background-color: #f4a261 !important;
                }
            }
        }
    }

    ul {
        &.ul {
            float: left;
            clear: both;
            margin: 0 0 1em 22px;

            li {
                .font;
                color: rgb(35, 32, 35);

                code {
                    background: rgba(255, 229, 100, 0.2);
                    color: #1a1a1a;
                    padding: 0;
                    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
                }

                &.li {
                    color: rgb(35, 32, 35);

                    //list-style: none;
                    &.disabled {
                        background-color: #eee !important;

                        p {
                            color: #ccc !important;
                        }
                    }
                }
            }
        }
    }

    ol {
        &._ol {
            float: left;
            clear: both;
            margin: 0 0 1em 1em;

            li {
                .font;
                color: rgb(35, 32, 35);

                &.li {
                    color: rgb(35, 32, 35);
                }
            }
        }
    }

    .base {
        h1 {
            &.h1 {
                margin: .7em 0 0 0;
                background-color: #264653;
                color: #fff;

                a {
                    color: #fff;
                }
            }
        }

        h2 {
            &.h2 {
                color: #333;

                a {
                    color: #264653;
                }
            }
        }

        h3 {
            &.h3 {
                color: #264653;

                a {
                    color: #264653;
                }
            }
        }

        h4 {
            &.h4 {
                color: #264653;

                a {
                    color: #264653;
                }
            }
        }

        h5 {
            &.h5 {
                color: #264653;

                a {
                    color: #264653;
                }
            }
        }

        h6 {

            // do not change
            &.h6 {
                color: #264653;

                a {
                    color: #264653;
                }
            }
        }
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        &.base {
            color: #264653;
        }
    }

    .layouts {
        h1 {
            &.h1 {
                margin: .7em 0 0 0;
                background-color: #2a9d87;
                color: #fff;

                a {
                    color: #fff;
                }
            }
        }

        h2 {
            &.h2 {
                color: #333;

                a {
                    color: #2a9d87;
                }
            }
        }

        h3 {
            &.h3 {
                color: #2a9d87;

                a {
                    color: #2a9d87;
                }
            }
        }

        h4 {
            &.h4 {
                color: #2a9d87;

                a {
                    color: #2a9d87;
                }
            }
        }

        h5 {
            &.h5 {
                color: #2a9d87;

                a {
                    color: #2a9d87;
                }
            }
        }

        h6 {

            // do not change
            &.h6 {
                color: #2a9d87;

                a {
                    color: #2a9d87;
                }
            }
        }
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        &.layouts {
            color: #2a9d87;
        }
    }

    .modules {
        h1 {
            &.h1 {
                margin: .7em 0 0 0;
                background-color: #e9c46a;
                color: #fff;

                a {
                    color: #fff;
                }
            }
        }

        h2 {
            &.h2 {
                color: #333;

                a {
                    color: #e9c46a;
                }
            }
        }

        h3 {
            &.h3 {
                color: #e9c46a;

                a {
                    color: #e9c46a;
                }
            }
        }

        h4 {
            &.h4 {
                color: #e9c46a;

                a {
                    color: #e9c46a;
                }
            }
        }

        h5 {
            &.h5 {
                color: #e9c46a;

                a {
                    color: #e9c46a;
                }
            }
        }

        h6 {

            // do not change
            &.h6 {
                color: #e9c46a;

                a {
                    color: #e9c46a;
                }
            }
        }
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        &.modules {
            color: #e9c46a;
        }
    }

    .themes {
        h1 {
            &.h1 {
                margin: .7em 0 0 0;
                background-color: #f4a261;
                color: #fff;

                a {
                    color: #fff;
                }
            }
        }

        h2 {
            &.h2 {
                color: #333;

                a {
                    color: #f4a261;
                }
            }
        }

        h3 {
            &.h3 {
                color: #f4a261;

                a {
                    color: #f4a261;
                }
            }
        }

        h4 {
            &.h4 {
                color: #f4a261;

                a {
                    color: #f4a261;
                }
            }
        }

        h5 {
            &.h5 {
                color: #f4a261;

                a {
                    color: #f4a261;
                }
            }
        }

        h6 {

            // do not change
            &.h6 {
                color: #f4a261;

                a {
                    color: #f4a261;
                }
            }
        }
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        &.themes {
            color: #f4a261;
        }
    }

    .states {
        h1 {
            &.h1 {
                margin: .7em 0 0 0;
                background-color: #e76f51;
                color: #fff;

                a {
                    color: #fff;
                }
            }
        }

        h2 {
            &.h2 {
                color: #333;

                a {
                    color: #e76f51;
                }
            }
        }

        h3 {
            &.h3 {
                color: #e76f51;

                a {
                    color: #e76f51;
                }
            }
        }

        h4 {
            &.h4 {
                color: #e76f51;

                a {
                    color: #e76f51;
                }
            }
        }

        h5 {
            &.h5 {
                color: #e76f51;

                a {
                    color: #e76f51;
                }
            }
        }

        h6 {

            // do not change
            &.h6 {
                color: #e76f51;

                a {
                    color: #e76f51;
                }
            }
        }
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        &.states {
            color: #e76f51;
        }
    }

    ._note {
        &._p {
            font-size: 85%;
            color: #000;
        }
    }

    span {
        &.accessibility-requirement {
            color: white;
            background: #e25822; //rgb(0, 53, 102);
            //background: #b73239;
        }
    }

    ul {
        &.accessibility {
            &.ul {
                li {
                    //color: #b73239;
                    color: #e25822; //rgb(0, 53, 102);;

                    &.li {
                        //color: #b73239;
                        color: #e25822; // rgb(0, 53, 102);

                    }
                }
            }
        }
    }

    .accessibility {
        &._p {
            margin-bottom: 0;
            padding-bottom: 0;
            //.bold;
        }
    }

    .accessibility {

        &.p,
        &.h1,
        &.h2,
        &.h3,
        &.h4,
        &.h5,
        &.h6 {
            //color: #b73239;
            color: #e25822; // rgb(0, 53, 102);
        }
    }

    h1 {
        &.h1 {
            margin: .7em 0 0 0;
            -webkit-font-smoothing: antialiased;
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            //font-weight: 400;
            margin: 0 0 15px 0;
            padding: 8px 12px;
            font-size: 3.2em;
            width: 100%;
            /*
			color: peru;
			a {
				color: rgb(35, 32, 35);
				text-decoration: underline;
				//&:hover {
				//
				//}
			}
			*/
        }
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        display: table;
        width: 100%;
        //text-align: center;
    }

    h2 {
        &.h2 {
            -webkit-font-smoothing: antialiased;
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            border: none !important;
            font-weight: 400;
            margin: 30px 0 15px;
            font-size: 2.6em;
            width: 100%;
            /*
			color: peru;
			a {
				color: rgb(35, 32, 35);
				text-decoration: underline;
				//&:hover {
				//    color: tint(@eia-green, 30%);
				//}
			}
			*/
        }
    }

    h3 {
        &.h3 {
            -webkit-font-smoothing: antialiased;
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            border: none !important;
            //font-weight: 400;
            margin: 30px 0 15px;

            //font-size: 1.825rem;
            //line-height: 1.4;
            //margin: 20px 0 10px;
            //width: 100%;
            //color: peru;
            a {
                color: rgb(35, 32, 35);
                text-decoration: underline;
            }

            &.blue {
                color: @eia-blue;
            }

            //; border-color:  rgb(35, 32, 35); }
            &.green {
                color: @eia-green;
            }

            //; border-color: @eia-green }
            &.red {
                color: @eia-red;
            }

            //; border-color: @eia-red }
            &.yellow {
                color: @eia-yellow;
            }

            //; border-color: @eia-yellow }
            &.purple {
                color: @eia-purple;
            }

            //; border-color: @eia-purple }
            &.orange {
                color: @eia-orange;
            }

            //; border-color: @eia-orange }
            &.brown {
                color: @eia-brown;
            }

            //; border-color: @eia-brown }
            &.black {
                color: @eia-black;
            }

            //; border-color: @eia-black }
            &.white {
                background-color: @eia-black;
                color: @eia-white;
            }

            //; border-color: @eia-white }
        }
    }

    h4 {
        &.h4 {
            -webkit-font-smoothing: antialiased;
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            border: none !important;
            //font-weight: 400;
            margin: 0 0 15px;

            //font-size: 1.5em;
            //line-height: 1.2em;
            //width: 100%;
            //color: khaki;
            a {
                color: @eia-blue;
            }
        }
    }

    h5 {
        &.h5 {
            -webkit-font-smoothing: antialiased;
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            font-size: 1.25em;
            font-weight: 400;
            line-height: 1.4em;
            margin-bottom: 15px;
            width: 100%;
            //color: rgb(35, 32, 35); //tint(@eia-green, 60%);
            /*
			a {
				color: rgb(35, 32, 35);
				text-decoration: underline;
			}
			*/
        }
    }

    h6 {

        // do not change
        &.h6 {
            -webkit-font-smoothing: antialiased;
            font-family: "Oswald", sans-serif;
            font-size: 1rem;
            //font-weight: 600;
            width: 100%;
            padding: 1em 0;
            /*
			color: @eia-red;
			a {
				color: @eia-red;
				text-decoration: underline;
			}
			*/
        }
    }

    p {
        &.p {
            display: table;
            -webkit-font-smoothing: antialiased;
            font-family: "Segoe UI", "Helvetica Neue", sans-serif;
            //"Cardo", serif, sans-serif;
            //font-family: arial;
            font-size: 1rem;
            line-height: 1.4em;
            width: 100%;
            padding: 0 0 1em 0 !important;
        }

        &.caption {
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-topright: 4px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            display: table;
            padding: 0 3px;
            font-size: 11px !important;
            color: #000 !important;
            background: rgba(255, 229, 100, 0.2);

            &:hover {
                color: #1a1a1a !important;
                background-color: #eee;
                cursor: pointer;
            }
        }

        /*
		code {
			background: rgba(255, 229, 100, 0.2);
			color: #1a1a1a;
			padding: 0;
			//            border-width: 1px;
			//            border-style: solid;
			//            border-color: #666;
			font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
			//"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		}
		*/
    }
}