.sub-nav {
	li {
		list-style-type: none;
		padding: 5px 10px;
	}
}

.base {
	.sub-nav {
		li {
			&.active {
				background-color: #264653;
				a {
					color: #fff;
					text-decoration: none;
					&:link,
					&:active,
					&:visited {
						color: #fff;
						text-decoration: none;
					}
					&:hover {
						text-decoration: none;
						color: #fff;
					}
				}
			}
			&:hover {
				opacity: .8;
			}
		}
	}
}
.layouts {
	.sub-nav {
		li {
			&.active {
				background-color: #2a9d87;
				a {
					color: #fff;
					text-decoration: none;
					&:link,
					&:active,
					&:visited {
						color: #fff;
						text-decoration: none;
					}
					&:hover {
						text-decoration: none;
						color: #fff;
					}
				}
			}
			&:hover {
				opacity: .8;
			}
		}
	}
}
.modules {
	.sub-nav {
		li {
			&.active {
				background-color: #e9c46a;
				a {
					color: #fff;
					text-decoration: none;
					&:link,
					&:active,
					&:visited {
						color: #fff;
						text-decoration: none;
					}
					&:hover {
						text-decoration: none;
						color: #fff;
					}
				}
			}
			&:hover {
				opacity: .8;
			}
		}
	}
}
.states {
	.sub-nav {
		li {
			&.active {
				background-color: #e76f51;
				a {
					color: #fff;
					text-decoration: none;
					&:link,
					&:active,
					&:visited {
						color: #fff;
						text-decoration: none;
					}
					&:hover {
						text-decoration: none;
						color: #fff;
					}
				}
			}
			&:hover {
				opacity: .8;
			}
		}
	}
}
.themes {
	.sub-nav {
		li {
			&.active {
				background-color: #f4a261;
				a {
					color: #fff;
					text-decoration: none;
					&:link,
					&:active,
					&:visited {
						color: #fff;
						text-decoration: none;
					}
					&:hover {
						text-decoration: none;
						color: #fff;
					}
				}
			}
			&:hover {
				opacity: .8;
			}
		}
	}
}