@media (min-width: 1px) {
    .overview {
        ul {
            li {
                &.list-spacer {
                    margin-top: 0;
                    margin-bottom: 1em;
                }
            }
        }
    }

    .data {
        .primary {
            h1 {
                font-size: 1.625rem; // 20pt 26px
                margin: 0 0 0.4em 0;
                padding: 1em 0 6px 0;
            }
        }
    }
}