//@media (min-width: 1px) {
.email-subscriptions {
    .container {
        margin: 5px 0 8px;
    }

    .form-container {
        //.font
        color: @eia-dark-grey;
        font-size: var(--med); // 14 pixels
        line-height: 1.4;

        ol {
            margin: 0 0 1em 0;
        }

        label {
            margin-right: 10px;
            width: auto;
        }

        input[email] {
            width: 220px;
        }
    }

    .basic-table {
        width: 100%;

        caption {
            span {
                .normal;
            }
        }

        /*
		td {
			&:nth-child(1) {
				width: 27%;
			}
			&:nth-child(2) {
				width: 63%;
			}
			&:last-child {
				width: 10%;
			}
		}
		*/
    }
}

.checkbox-container {
    label {
        width: 100%;
    }
}

//}