@media (min-width: 1px) {
    .l-ng {
        .ico {
            display: inline-block;
            cursor: pointer;
            font-size: 0;
            padding-left: 6px;

            &.options,
            &.info,
            &.download {
                &:before {
                    //content: "";
                    .controls-icon(20px, 20px);
                    height: 20px;
                    width: 20px;
                    display: inline-block;
                    margin: 0 6px 0 0;
                    position: relative;
                    top: unset;
                }
            }

            &.info {
                &:before {
                    .icon-info(@fill-color: @eia-dark-grey);
                }

                &:hover {
                    &:before {
                        .icon-info(@fill-color: @eia-blue);
                    }
                }
            }

            &.options {
                &:before {
                    .icon-options(@fill-color: @eia-dark-grey);
                }

                &:hover {
                    &:before {
                        .icon-options(@fill-color: @eia-blue);
                    }
                }
            }

            &.download {
                &:before {
                    .icon-download(@fill-color: @eia-dark-grey);
                }

                &:hover {
                    &:before {
                        .icon-download(@fill-color: @eia-blue);
                    }
                }
            }
        }
    }
}

.tour {
    &:before {
        //.controls-icon(20px, 20px);
        display: inline-block;
        position: relative;
        top: 4px;
    }
}

.info {
    &:before {
        //.controls-icon(20px, 20px);
        display: inline-block;
        position: relative;
        top: 4px;
    }
}

@media (min-width: 1px) {

    .mat-dialog-container,
    .dashboard-container {
        .chart-menu {
            .ico {
                display: inline-block;
                cursor: pointer;
                font-size: 0;
                padding-left: 6px;

                &.printer,
                &.full-screen,
                &.info,
                &.download {
                    &:before {
                        content: "";
                        height: 18px;
                        width: 18px;
                        display: inline-block;
                        position: relative;
                    }
                }

                &.info {
                    &:before {
                        top: 0;
                        margin: 0;
                        .icon-info(@fill-color: @eia-dark-grey);
                    }

                    &:hover {
                        &:before {
                            .icon-info(@fill-color: @eia-blue);
                        }
                    }
                }

                &.printer {
                    &:before {
                        top: -2px;
                        .icon-print(@fill-color: @eia-dark-grey);
                    }

                    &:hover {
                        &:before {
                            .icon-print(@fill-color: @eia-blue);
                        }
                    }
                }

                &.full-screen {
                    &:before {
                        .icon-full-screen(@fill-color: @eia-dark-grey);
                    }

                    &:hover {
                        &:before {
                            .icon-full-screen(@fill-color: @eia-blue);
                        }
                    }
                }

                &.download {
                    &:before {
                        .icon-download(@fill-color: @eia-dark-grey);
                    }

                    &:hover {
                        &:before {
                            .icon-download(@fill-color: @eia-blue);
                        }
                    }
                }
            }
        }
    }

    .dashboard-container {
        h1 {
            padding: 0;
            margin: 1em 0 0.5em;
            color: @eia-dark-grey;
            border: none;
            .font;
            font-weight: @bold; // 700
            .header-font;
            font-size: 1.625rem; // 20pt 26px
            width: 100%;
        }

        .eia-heatmap-title,
        h2 {
            padding: 0;
            margin: 0;
            color: @eia-dark-grey;
            border: none;
            .font;
            font-weight: @bold; // 700
            font-size: 1rem; // 16 pixels
        }

        h5 {
            margin-bottom: 2px;
        }

        //   }
        //    .dashboard-container {
        .l-row {
            .l-full-width-col {
                .page-nav {
                    .right-nav {
                        a {
                            padding-bottom: 0px !important;
                        }
                    }
                }
            }

            .l-two-col {
                .page-nav {
                    .left-nav {
                        /*
a,
&:link,
&:active,
&:visited,
&:hover {
font-size: 12px !important;
}
*/
                    }
                }
            }
        }
    }

    .commentary {
        article {
            margin-top: 0.6em; // 9px;
            padding-top: 1.2em; // 9px;
            border-top: 4px solid #5d9732;

            &:last-of-type {
                margin-bottom: 3em;
            }

            &:first-child {
                border-top: none;
                padding-top: 0;
                margin-top: 0;
            }

            .accordion-header {
                border-bottom: 1px solid #a6a6a6;

                h1 {
                    .font;
                    font-weight: @bold; // 700
                    font-size: 1.125rem; // 13.5pt;
                    line-height: 1.3;
                    border: none;
                    margin: 0;
                    padding: 6px 0;
                    color: @eia-dark-grey;
                    width: 100%;
                    clear: both;

                    &.commentaryTitle {
                        cursor: pointer;
                    }
                }

                .date {
                    .font;
                    font-weight: @bold; // 700
                    font-size: @medium; // 14 pixels // was 10.5pt;
                    color: @eia-508-dark-grey; // was  #a6a6a6;
                }

                &.activeCommentary {
                    margin: 0;
                    padding: 0;
                    border: 0;

                    h1 {
                        color: @eia-blue;
                    }
                }

                &:first-child {
                    border-top: none;
                    padding-top: 0;
                    margin-top: 0;
                }
            }

            section {
                border-bottom: none !important;
                padding: 0;
                margin: 0 0 2em 0;
                clear: both;
                padding-bottom: 0.625em; // 10px;
                text-align: justify;
                text-justify: auto;
                display: table;

                h4 {
                    .header-font;
                    //font-size: 19pt;
                    font-size: 1.375rem;
                    font-weight: @regular; // 400
                    margin-bottom: 4px;
                    display: block;
                    width: 100%;
                    clear: both;
                }

                h3 {
                    .font;
                    font-size: 1.125rem; // 13.5pt;
                    font-size: @large; // 15 pixels
                    padding: 0 0 12px 0;
                    color: @eia-dark-grey;
                    width: 100%;
                    clear: both;
                }

                p {
                    .font;
                    font-size: @medium; // 14 pixels // was 10.5pt;
                    line-height: 1.75em;
                    margin-top: 14px 0 2px 0;
                    clear: both;

                    &.source {
                        font-size: @xxSmall; // 11 pixels
                        //color: @eia-508-dark-grey; // was #666666;
                    }
                }

                ul {
                    margin: 0 1em 1em 0;
                    padding-left: 1.5em;
                    font-size: @medium; // 14 pixels
                    .font;
                    font-weight: @regular; // 400
                    line-height: 1.75em;
                    width: 100%;
                    clear: both;

                    li {
                        margin: 0 0 10px 0;
                        line-height: 1.75;
                    }
                }

                img {
                    display: inline-block;
                    margin: 0 auto 0 auto;
                    width: 100%;
                    max-width: 500px;
                    clear: both;
                }
            }
        }
    }

    a {
        &.tourBox {
            display: none;
        }
    }
}