

@layer reset {

p,
ul,
ol,
pre,
table,
blockquote {
    margin-top: 0.5em;
    margin-bottom: 1.38888889em;
    //font-size: var(--med);
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
}

hr,
.hr {
    border: 1px solid;
    margin: -1px 0;
}

img {
    border-style: none;
    max-width: 100%;
}

body,
div,
i,
label,
legend,
input,
select,
blockquote,
th,
td,
ul,
ol,
form,
fieldset,
table,
embed,
object {
    padding: 0;
    margin: 0;
}

.no-wrap {
    white-space: nowrap;
}

fieldset,
abbr {
    border: 0;
    display: block;
}

i,
address,
cite,
code {
    font-weight: normal;
    font-style: normal;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
    display: block;
}

em {
    font-style: italic;
}

}
