table {
	font-variant-numeric: tabular-nums;
    border-spacing: 0;

    &.full-width {
        width: 100%;
    }

    a {
        display: inline-block;
    }

    caption {
        font-size: var(--lrg); // 15 pixels
        text-align: left;
        caption-side: top;
        color: @eia-dark-grey;
        font-weight: @bold; // 700

        a {
            color: @eia-508-link-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        em {
            text-transform: none;
            font-weight: @regular; // 400
        }

        .right {
            .normal;
            text-transform: none;
        }

        p,
        span {
            .normal;
            font-size: var(--sm); // 12 pixels
            text-transform: none;
        }
    }

    tr {

        th,
        td {
            font-size: var(--xsm); // 12 pixels
            color: @eia-black;
            vertical-align: top;

        }
    }

    thead {
        th {
            font-size: var(--xsm); // 12 pixels
            text-align: right;
            font-weight: @bold; // 700

            vertical-align: bottom;

            &:first-child {
                text-align: left;
            }

            span {
                &.normal {
                    .normal;
                }
            }
        }
    }





    tfoot {
        td {
            font-size: var(--xsm); // 12 pixels
            vertical-align: top;


            &.footnotes {
                background-color: white;
                border-bottom: none;


            }
        }

        tr {
            &:first-child {
                td {
                    border-top: 1px solid @eia-divider-color;
                }
            }
        }
    }
}