.accordion-content {
    font-size: var(--base-font-size);
//padding: 0;
//margin: 0;
    ul {
       li {
            list-style: none;
            margin: 0 0 5px 0;

            &.head {
                margin-top: 12px;

                &:first-child {
                    margin-top: 0;
                }

                h3 {
                    border-top: none;
                }
            }

            ul {
                margin: 20px;
                padding: 14px 0;

                &.bullet {
                    margin-left: 22px;
                    margin-top: 5px;
                    //li { // moved to bullet
                    //	margin-bottom: 5px;
                    //	list-style: disc;
                    //}
                }

                li {
                    list-style: disc;
                }
            }

            ol {
                li {
                    list-style-type: decimal;
                }
            }
        }
    }
}