@media (min-width: 1px) {
    .video-container {
        width: 100%;

        .iframe {
            width: -webkit-fill-available;
            width: 100%;
        }
    }
}




@media (min-width: 1025px) {
    .video-container {
        width: 283px;

        .iframe {
            width: 283px;
            height: 154px; // 54%
        }
    }
}