<div class="tm-sidebar-right uk-visible@l">
	<div uk-sticky="offset: 160" class="uk-sticky uk-active uk-sticky-fixed" style="position: fixed; width: 200px; margin-top: 0px !important; top: 160px;">
		<ul class="uk-nav uk-nav-default tm-nav" uk-scrollspy-nav="closest: li; scroll: true">
			<!-- li><a [routerLink]="['/templates/']" [fragment]="'home'" uk-scroll>Home</a></li -->
			<li><a [routerLink]="['/templates/']" [fragment]="'FaqsOne'" uk-scroll>FAQs #1</a></li>
			<li><a [routerLink]="['/templates/']" [fragment]="'FaqsTwo'" uk-scroll>FAQs #2</a></li>
			<li><a [routerLink]="['/templates/']" [fragment]="'ReportHeader'" uk-scroll>Report Header</a></li>
			<li><a [routerLink]="['/templates/']" [fragment]="'Outlooks'" uk-scroll>Outlooks</a></li>
			<li><a [routerLink]="['/templates/']" [fragment]="'placeholder'">placeholder</a></li>
			<li><a [routerLink]="['/templates/']" [fragment]="'placeholder'">placeholder</a></li>
			<li><a [routerLink]="['/templates/']" [fragment]="'placeholder'">placeholder</a></li>
			<li><a [routerLink]="['/templates/']" [fragment]="'placeholder'">placeholder</a></li>
			<li><a [routerLink]="['/templates/']" [fragment]="'placeholder'">placeholder</a></li>
		</ul>
	</div>
</div>