

ul {
	&.contact {
		font-size: @medium; // 14 pixels
		li {
			list-style: none;
			&.head {
				font-size: @medium; // 14 pixels
				margin: 0 0 5px 0;
				padding: 0;
				font-weight: @bold; // 700
				line-height: 1.4;
			}

			&.author,
			&.title,
			&.contact {
				margin: 0 0 5px 0;
				padding: 0;
			}
			&.contact,
			&.downloadable-files {
				span {
					&.label {
						display: inline;
					}
					&.pipe {
						padding-left: 0;
						display: inline;
					}
				}
				a {
					display: inline-block;
				}
			}
			&.address {
				line-height: 1.8;
			}
			&.contact {
				font-size: @small; // 12 pixels // 12 pixels

				a[href^="tel:"] {
					color: @eia-dark-grey;
					text-decoration: none;
					&:hover {
						color: @eia-dark-grey;
						text-decoration: none;
					}
				}

				a {
					padding: 0 8px 0 0;
				}
				@media @mobile-only {
					a[href^="tel:"] {
						color: @eia-blue;
						text-decoration: none;
					}
				}
			}
		}
		
		
		h4 {
			font-weight: @bold; // 700
			font-size: @medium; // 14 pixels
			line-height: 1.4;
			
		}
	}
}
.l-two-col-right-narrow,
.l-two-col-right {
	.l-col {
		&:last-child {
			ul {
				&.contact {
					list-style: none;
					margin: 10px 0 1em 0;
					border-bottom: 1px dashed #adadad;
					li {
						&.head {
							margin-bottom: 1em;
							//padding: 0;
							h4 {
							//.header-font;
								font-size: 25.333px; // 19pt;
								margin: 10px 0 0;
								padding: 0;
							}
						}
						&.author,
						&.title,
						&.contact {
							margin: 0 0 1em 0;
							padding: 0;
						}
						&.author,
						&.title {
							font-size: @large; // 15 pixels // 15 pixels
						}
					}
				}
			}
		}
	}
}
