@media (min-width: 1px) {
    ul {
        &.accent {
            //list-style: none;
            padding: 0;
            margin: 0;
            border: 4px solid white;
            //background-color: @eia-blue-module-background;
            background-color: @eia-508-notice-blue-bg-color;
            outline: #e3e5e6 solid 1px;

            &>li {
                padding-left: 20px;
                padding-right: 20px;
                margin: 0;
                display: table;

                font-size: @medium;
                line-height: 1.5;
                list-style: none;
                width: 100%;

                a {

                    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
                    /* ***** ***** ***** *** data highlights *** ***** ***** ***** */
                    /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

                    .eia-508-link(@color: @eia-508-notice-blue-color; @borderBottom: 0 solid @transparent; @borderImage: none);
                    .eia-508-link-hover(@color: @eia-508-notice-blue-color; @borderBottom: 0 solid @transparent; @textDecoration: underline);
                    .eia-508-link-focus(@color: @eia-508-focus-color; @background: @eia-508-notice-blue-color; @borderBottom: 0 solid @transparent; @textDecoration: none);


                    &:after {
                        content: "\00a0\203A";
                    }
                }

                &:first-child {
                    padding-top: 20px;
                }

                &:last-child {
                    padding-bottom: 20px;
                }

                &.head {
                    h2 {
						.primary-h2();
                    }
                }

                &.sub-head {
                    h3 {
                        padding: 10px 0 6px 0;
                        margin: 0;
                        font-size: 1.1rem;
                        font-weight: @extraBold;
                        color: #333;
                    }
                }

                &.list-spacer {
                    margin: 0;

                    ul {
                        margin: 0;
                        padding: 0 0 11px 0;
                        list-style: none;

                        li {
                            list-style: none;
                            margin: 0;
                        }

                        &:last-child {
                            border-bottom: solid 1px #dadada;
                        }
                    }
                }

                &.release-schedule {
                    padding-top: 11px;
                }

                ul {
                    li {
                        &.release-schedule {
                            .italic;
                        }
                    }
                }
            }
        }
    }
}