@media (min-width: 1px) {

    // expand-collapse button
    //nav {

    //}

    span {

        &.subsection-one,
        &.subsection-two,
        &.subsection-thr {
            display: none;
            transition: all 0.3s ease-in-out;

            &.active {
                display: block;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    #scrollSpy {
        &.offset {
            ul {
                cursor: pointer;
                margin-bottom: 1em;

                li {
                    &.lvl-2 {
                        a {
                            margin-left: 20px;
                        }

                        &:before {
                            //border-radius: 100%;
                            //content: '';
                            //display: block;
                            //height: 4px;
                            left: 3px; // 
                            //background-color: white; // #0096d7;
                        }

                        /*
						&:hover {
                            background-color: @eia-508-link-color; // #0096d7;

                            a {
                                color: white;
                                text-decoration: none;
                            }
                        }

                        &.active {
                            background-color: @eia-508-link-color; // #0096d7;

                            a {
                                color: white;
                            }
                        }
						*/
                    }

                    &.lvl-1 {
                        background-color: white; // #0096d7;
                        color: @eia-508-link-color;
                        text-decoration: none;
                        font-size: .875rem;
                        padding-top: 4px;

                        .plusminus {
                            color: #333;
                            margin-right: 3px;
                        }

                        a {
                            color: @eia-508-link-color;
                            text-decoration: none;
                            font-size: .875rem;
                        }

                        &:hover {
                            background-color: @eia-508-link-color; // #0096d7;
                            color: #fff;
                            text-decoration: none;
                            font-size: .875rem;

                            .plusminus {
                                color: #fff;
                                margin-right: 3px;
                            }

                            a {
                                background-color: @eia-508-link-color; // #0096d7;
                                color: #fff;
                                text-decoration: none;
                                font-size: .875rem;
                            }
                        }

                        &.active {
                            background-color: white; // #0096d7;
                            color: @eia-508-link-color;
                            text-decoration: none;
                            font-size: .875rem;

                            .plusminus {
                                color: #333;
                                margin-right: 3px;
                            }

                            a {
                                color: @eia-508-link-color;

                            }

                            &:hover {
                                background-color: @eia-508-link-color; // #0096d7;
                                color: #fff;
                                text-decoration: none;
                                font-size: .875rem;

                                .plusminus {
                                    color: #fff;
                                    margin-right: 3px;
                                }
                            }
                        }

                        &.footnotes {}
                    }

                    &.expand-collapse-container {
                        margin: 0;

                        &:hover {
                            background-color: #fff;
                        }

                        .link-button {
                            border: 1px solid @eia-508-link-color; // #0096d7;
                            background-color: #d9eff9;
                            color: @eia-508-link-color; // #0096d7;
                            font-size: .75rem;
                            margin: 0;
                            width: 100%;
                            position: relative;

                            .plus,
                            .minus {
                                color: @eia-508-link-color;
                                margin-right: 5px;
                                font-size: 20px
                            }

                            &:hover {
                                background-color: @eia-508-link-color; // #0096d7;
                                color: #fff;
                                text-decoration: none;

                                .minus,
                                .plus {
                                    color: #fff;
                                    margin-right: 5px;
                                    font-size: 20px
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}