body,
.l-body-wrapper,
.l-outer-wrapper,
.l-inner-wrapper {
	background-color: @eia-white;
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}











