.title {
	width: 100%;
	//	display: table;
	//	clear: both;
}

.analysis-projections {
	page-break-inside: avoid;
	ul {
		list-style: none;
		padding: 0;
		li {
			color: @eia-white;
			margin-bottom: 14pt;
			/*
			.ico {
				
				font-size: 12pt;
				color: @eia-dark-grey;
			}
			*/
			em {
				
				font-size: 12pt;
				color: @eia-dark-grey;
			}
			h2 {
				
				font-size: 14pt;
				color: @eia-black;
				border-bottom: none;
				padding: 0;
				margin: 0;
			}
		}
	}
}

.overview {
	.l-row {
		&.l-two-col-even {
			.l-col {
				&:first-of-type {
					width: 100%;
					float: left;
				}
				&:last-of-type {
					width: 100%;
					float: left;
				}
			}
		}
	}
}

.primary {
	width: 100%;
	display: table;
	padding: 0 0 3em 0;
	padding: 0 0 0 0;
	border-bottom: 3em solid #fefefe;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}
.secondary {
	width: 100%;
	display: table;
	padding: 0 0 3em 0;
	padding: 0 0 0 0;
	border-bottom: 3em solid #fefefe;
	ul {
		.energy-edication {
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}
}
/*
.visualizations {
	width: 100%;
	display: table;
	padding: 0 0 3em 0;
	padding: 0 0 0 0;
	border-bottom: 3em solid #fefefe;
	list-style: none;
	.l-col {
		width: 16.666%;
		float: left;
	}
}
.energy-education {
	width: 100%;
	display: table;
	padding: 0 0 3em 0;
	padding: 0 0 0 0;
	border-bottom: 3em solid #fefefe;
	list-style: none;
	.l-one-third-col {
		width: 33.333%;
		float: left;
	}
}
.upcoming-releases {
	li {
		a {
			color: @eia-blue;
			border-bottom: 1px solid #189bd7;

			&:after {
				content: " (https://www.eia.gov" attr(href) ")";
				font-size: 100%;
			}

		}
	}
}

.l-col {
	h1 {
		clear: both;
		line-height: 1;
		font-weight: normal;
	//	.header-font;
		color: @eia-dark-grey;
		border-bottom: 1px solid #333;
		padding: 1em 0 6px 0;
		margin-bottom: 13px;
		font-size: 26pt;
	}
	h2 {
		clear: both;
		line-height: 1;
		font-weight: normal;
	//	.header-font;
		color: @eia-dark-grey;
		font-size: 20pt;
		border-bottom: 1px solid #333;
		padding: 1em 0 6px 0;
		margin-bottom: 13px;
	}
	h3 {
		clear: both;
		line-height: 1;
		font-weight: normal;
	//	.header-font;
		color: @eia-dark-grey;
		font-size: 18pt;
	}
	h4 {
		clear: both;
		line-height: 1;
		font-weight: normal;
	//	.header-font;
		color: @eia-dark-grey;
		font-size: 16pt;
	}
	h5 {
		clear: both;
		line-height: 1;
		font-weight: normal;
	//	.header-font;
		color: @eia-dark-grey;
		font-size: 16pt;
	}
	h6 {
		clear: both;
		line-height: 1;
		font-weight: normal;
	//	.header-font;
		color: @eia-dark-grey;
		font-size: 16pt;
	}
}
.l-col {
	h1 {
		clear: both;
		clear: both;
		line-height: 1;
		line-height: 1;
		font-weight: normal;
		font-weight: normal;
	//	.header-font;
	//	.header-font;
		color: @eia-dark-grey;
		color: @eia-dark-grey;
		border-bottom: 1px solid #333;
		border-bottom: 1px solid #333;
		padding: 1em 0 6px 0;
		padding: 1em 0 6px 0;
		margin-bottom: 13px;
		margin-bottom: 13px;
		font-size: 26pt;
		font-size: 26pt;
	}
	h2 {
		clear: both;
		clear: both;
		line-height: 1;
		line-height: 1;
		font-weight: normal;
		font-weight: normal;
	//	.header-font;
	//	.header-font;
		color: @eia-dark-grey;
		color: @eia-dark-grey;
		font-size: 20pt;
		font-size: 20pt;
		border-bottom: 1px solid #333;
		border-bottom: 1px solid #333;
		padding: 1em 0 6px 0;
		padding: 1em 0 6px 0;
		margin-bottom: 13px;
		margin-bottom: 13px;
	}
	h3 {
		clear: both;
		clear: both;
		line-height: 1;
		line-height: 1;
		font-weight: normal;
		font-weight: normal;
	//	.header-font;
	//	.header-font;
		color: @eia-dark-grey;
		color: @eia-dark-grey;
		font-size: 18pt;
		font-size: 18pt;
	}
	h4 {
		clear: both;
		clear: both;
		line-height: 1;
		line-height: 1;
		font-weight: normal;
		font-weight: normal;
	//	.header-font;
	//	.header-font;
		color: @eia-dark-grey;
		color: @eia-dark-grey;
		font-size: 16pt;
		font-size: 16pt;
	}
	h5 {
		clear: both;
		clear: both;
		line-height: 1;
		line-height: 1;
		font-weight: normal;
		font-weight: normal;
	//	.header-font;
	//	.header-font;
		color: @eia-dark-grey;
		color: @eia-dark-grey;
		font-size: 16pt;
		font-size: 16pt;
	}
	h6 {
		clear: both;
		clear: both;
		line-height: 1;
		line-height: 1;
		font-weight: normal;
		font-weight: normal;
	//	.header-font;
	//	.header-font;
		color: @eia-dark-grey;
		color: @eia-dark-grey;
		font-size: 16pt;
		font-size: 16pt;
	}
}
.l-one-third-col {
	h1 {
		clear: both;
		clear: both;
		line-height: 1;
		line-height: 1;
		font-weight: normal;
		font-weight: normal;
	//	.header-font;
	//	.header-font;
		color: @eia-dark-grey;
		color: @eia-dark-grey;
		border-bottom: 1px solid #333;
		border-bottom: 1px solid #333;
		padding: 1em 0 6px 0;
		padding: 1em 0 6px 0;
		margin-bottom: 13px;
		margin-bottom: 13px;
		font-size: 26pt;
		font-size: 26pt;
	}
	h2 {
		clear: both;
		clear: both;
		line-height: 1;
		line-height: 1;
		font-weight: normal;
		font-weight: normal;
	//	.header-font;
	//	.header-font;
		color: @eia-dark-grey;
		color: @eia-dark-grey;
		font-size: 20pt;
		font-size: 20pt;
		border-bottom: 1px solid #333;
		border-bottom: 1px solid #333;
		padding: 1em 0 6px 0;
		padding: 1em 0 6px 0;
		margin-bottom: 13px;
		margin-bottom: 13px;
	}
	h3 {
		clear: both;
		clear: both;
		line-height: 1;
		line-height: 1;
		font-weight: normal;
		font-weight: normal;
	//	.header-font;
	//	.header-font;
		color: @eia-dark-grey;
		color: @eia-dark-grey;
		font-size: 18pt;
		font-size: 18pt;
	}
	h4 {
		clear: both;
		clear: both;
		line-height: 1;
		line-height: 1;
		font-weight: normal;
		font-weight: normal;
	//	.header-font;
	//	.header-font;
		color: @eia-dark-grey;
		color: @eia-dark-grey;
		font-size: 16pt;
		font-size: 16pt;
	}
	h5 {
		clear: both;
		clear: both;
		line-height: 1;
		line-height: 1;
		font-weight: normal;
		font-weight: normal;
	//	.header-font;
	//	.header-font;
		color: @eia-dark-grey;
		color: @eia-dark-grey;
		font-size: 16pt;
		font-size: 16pt;
	}
	h6 {
		clear: both;
		clear: both;
		line-height: 1;
		line-height: 1;
		font-weight: normal;
		font-weight: normal;
	//	.header-font;
	//	.header-font;
		color: @eia-dark-grey;
		color: @eia-dark-grey;
		font-size: 16pt;
		font-size: 16pt;
	}
}
.l-two-third-col {
	h1 {
		clear: both;
		line-height: 1;
		font-weight: normal;
	//	.header-font;
		color: @eia-dark-grey;
		border-bottom: 1px solid #333;
		padding: 1em 0 6px 0;
		margin-bottom: 13px;
		font-size: 26pt;
	}
	h2 {
		clear: both;
		line-height: 1;
		font-weight: normal;
	//	.header-font;
		color: @eia-dark-grey;
		font-size: 20pt;
		border-bottom: 1px solid #333;
		padding: 1em 0 6px 0;
		margin-bottom: 13px;
	}
	h3 {
		clear: both;
		line-height: 1;
		font-weight: normal;
	//	.header-font;
		color: @eia-dark-grey;
		font-size: 18pt;
	}
	h4 {
		clear: both;
		line-height: 1;
		font-weight: normal;
	//	.header-font;
		color: @eia-dark-grey;
		font-size: 16pt;
	}
	h5 {
		clear: both;
		line-height: 1;
		font-weight: normal;
	//	.header-font;
		color: @eia-dark-grey;
		font-size: 16pt;
	}
	h6 {
		clear: both;
		line-height: 1;
		font-weight: normal;
	//	.header-font;
		color: @eia-dark-grey;
		font-size: 16pt;
	}
}
*/
.see-all,
.top-container,
.ico > span {
	display: none;
}
