header {
    display: flex;
    background-color: transparent;
    width: 100%;
    border: none;
    margin: 0 0 18pt 0;
    border-top: 5px solid #189bd7;
    border-bottom: 1px solid #ccc;
    position: unset;

    .print {
        width: 100%;
        display: table;

        img {
            position: relative;
        }

        .print-button {
            float: right;
            margin: 24pt 12pt 0 0;
            padding: 12px 18px;
            background-color: #0096d7;
            border: none;
            color: white;
            font-weight: @bold; // 700
            font-size: 12pt;
            position: relative;
            top: -83px;
        }

        .print-title {
            background-color: transparent;
            background-image: none;
            margin: 0 0 20px 0;
            padding: 0 0 20px 0;
            border-bottom: 1px solid #ccc;
            width: 100%;
            float: left;
            font-weight: normal;
            color: #333;
            font-size: 32px;


            &.bg-finance {
                padding: 10px 0 0 0;
            }
        }
    }

    .fancybox-menu.menu-toggle,
    .nav-search.search-panel.form-wrapper,
    .search-menu-toggle,
    .nav-primary,
    .nav-secondary,
    .nav-menu {
        display: none;
    }
}

.fancybox-lock {
    .fancybox-overlay {
        overflow: hidden !important;
        overflow-y: hidden !important;
    }
}