ul,
img {
    page-break-inside: avoid;
}

/*
.ico {
    &.pdf,
    &.xls,
    &.csv,
    &.interactive {
        &:before {
            display: none;
        }
        span {
            border: 2px solid @eia-dark-grey;
            padding: 1px 3px;
            color:  @eia-dark-grey;
            font-weight: @bold;
        }
        a {
            padding-left: 20px;
            display: table;
        }
    }
}
*/

.formats {
    font-style: italic;

    a {
        display: inline-block;

        &.ico,
        &.pdf,
        &.xls,
        &.csv,
        &.interactive {
            &:before {
                display: none;
            }

            span {
                border: 2px solid @eia-dark-grey;
                padding: 1px 3px;
                color: @eia-dark-grey;
                font-weight: @bold;
            }
        }
    }
}

.source {
    font-style: italic;
}

.primary-alt,
.primary,
.secondary-alt,
.secondary,
.accordion-content {
    ul {
        list-style: none;

        &.list-items {
            li {
                margin-bottom: 5px;
            }
        }

        &.bullet {
            list-style-type: disc;
            margin-left: 22px;

            li {
                margin-bottom: 5px;
            }
        }

        &.list-seperator {
            border-top: 1px solid silver;
        }

        /*
        &.numbered {
            &>li {
                position: relative;
                width: 100%;
                padding-left: 50px;
                span {
                    &.number {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50px;
                    }
                }
                &>ul {
                    list-style: none;
                    padding: 0;
                    margin: 0; 
                    &.sub-list,
                    &.list-spacer {
                        list-style: none;
                        margin: 0;
                    }
                    &>li {
                        list-style: none;
                        margin: 0;
                    }
                }
            }
        }
        */
        li {

            line-height: 1.4;
            color: @eia-dark-grey;
            font-size: 11pt;

            &.head,
            &.sub-head {
                font-weight: @bold;

                .number {
                    //width: 100pt;
                    margin: 0 10pt 0 0;

                    &.terminated {
                        color: #999;
                    }
                }
            }

            &.hide-bullet {
                list-style: none;
            }

            .frequency-of-collection,
            .number-of-respondents,
            .reporting-Requirement,
            .legal-citation {
                color: black;
                width: 180pt;
                display: inline-block;
            }

            .phone-number,
            .survey-manager,
            .email-address {
                color: black;
                width: 100pt;
                display: inline-block;
            }

            /*
                a {
                    color: black;
                    text-decoration: none;
                    &:link,
                    &:active,
                    &:visited {
                        color: black;
                        text-decoration: none;
                    }

                }
                */
            a {
                color: @eia-508-link-color;

                &:after {
                    /* content: " (https://www.eia.gov" attr(href) ")"; */
                    font-size: 100%;
                    /* color: black; */
                    text-decoration: none;
                }

                &[href^="mailto"] {
                    color: black;
                    text-decoration: none;

                    &:after {
                        content: "";
                    }
                }

                span {
                    &.date {
                        margin-right: 12px;
                        color: @eia-dark-grey;
                        display: inline-block;
                        text-decoration: underline;
                    }
                }

                span {
                    &.link-label {
                        margin-right: 12px;
                    }
                }

                &.link-label {
                    em {
                        color: @eia-dark-grey;
                    }

                    span {
                        color: @eia-dark-grey;
                    }
                }
            }

            &.release-schedule {
                font-style: italic;
            }

            &.list-item {
                list-style: none;

                &>ul {
                    padding: 0;
                    margin: 0;
                    display: block;

                    &>li {
                        list-style-type: none;

                        &:first-child {
                            list-style-type: disc;
                        }
                    }

                    &:last-child {
                        margin-bottom: 12px;
                    }
                }
            }

            ul {
                padding: 0;
                margin: 0;

                li {
                    margin: 3px 0 0 17px;
                    list-style-type: disc;
                }
            }

            // creates vertical space to indicate a new list
            &.sub-list {
                ul {
                    list-style: none;
                    list-style-type: none;
                    padding: 0;
                    margin: 0 0 12px 0;

                    li {
                        list-style: none;
                        list-style-type: none;
                        padding-left: 0;
                        margin: 0;

                        &.sub-head {
                            a {
                                color: @eia-blue;
                                text-decoration: underline;
                                font-weight: @bold;

                                &.see-more {
                                    &:after {
                                        content: "\00a0\203A";
                                    }
                                }
                            }
                        }
                    }
                }

                &.list-item {
                    list-style: none;

                    &>ul {
                        padding: 0 0 0 22px;
                        /*
                        margin: 0;
                        display: block;
                        &>li {
                            list-style-type: none;
                            &:first-child {
                                list-style-type: disc;
                            }
                        }
                        &:last-child {
                            margin-bottom: 12px;
                        }
                        */
                    }
                }
            }

            &.list-spacer {
                margin-top: 12pt;
                margin-bottom: 12pt;

                ul {
                    margin: 12pt 0;
                    padding: 0;
                    display: block;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:first-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &>ul {
        &>li {

            line-height: 1.4;
            min-height: 12pt;
            vertical-align: top;
            width: 100%;

            &.head {
                font-weight: @bold;
            }
        }
    }
}

/*
@media (min-width: 600px) {
    .primary-alt,
    .primary,
    .secondary-alt,
    .secondary,
    .content {
        ul {
            li {
                font-size: 11pt;
                a {
                    font-size: 11pt;
                }
            }
        }
    }
}
*/