.tabs {
    display: block !important;

    &>ul {
        display: none;
    }

    &>div {
        display: block !important;
    }

    &.petroleum-weekly {
        .graph {
            border: none !important;
            padding-right: 0 !important;
            width: 100% !important;
            min-height: auto !important;
        }
    }
}

.more,
.twip-navigation {
    a {
        display: none !important;
    }
}



.updated-data-series {
    li {
        position: relative;
        width: 100%;
        padding-left: 80px;

        span {
            &.date {
                position: absolute;
                top: 0;
                left: 0;
                //width: 80px;
                display: inline-block;
            }
        }

        &.head {
            padding-left: 0;

            h2 {
                padding: 0;
                margin: 0 0 7px 0;
                color: @eia-dark-grey;
                border-bottom: 1px solid shade(white, 40%);
                font-weight: @bold; // 700
                font-size: 11.25pt;
            }
        }
    }
}

.l-row {
    clear: none;
}

/*
  @page {
	margin: 2cm;
  }
*/

.l-col {
    border: none;
    margin: 0;
    padding: 0;
    background-image: none;
    background-color: transparent;
    box-sizing: border-box;
}

.title {
    width: 100%;
}

.analysis-projections {
    page-break-inside: avoid;

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 16pt;
            width: 100%;
            display: table;
            clear: both;

            .ico {
                //
                //font-weight: normal;
                //font-size: 12pt;
                //color: #333;
                float: left;
            }

            &>div {
                float: left;
                margin-left: 30px;
            }

            em {
                //
                //font-weight: normal;
                font-size: 12pt;
                color: #333;
            }

            h2 {
                //
                //font-weight: normal;
                //color: #333;
                //font-size: 14pt;
                //color: black;
                border-bottom: none;
                padding: 0;
                margin: 0;
            }
        }
    }
}

.overview .l-row.l-two-col-even .l-col:first-of-type {
    width: 100%;
    float: left;
}

.overview .l-row.l-two-col-even .l-col:last-of-type {
    width: 100%;
    float: left;
}

.primary {
    width: 100%;
    display: table;
    padding: 0 0 3em 0;
    padding: 0 0 0 0;
    border-bottom: 3em solid #fefefe;
}

.primary ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.secondary {
    width: 100%;
    display: table;
    padding: 0 0 3em 0;
    padding: 0 0 0 0;
    border-bottom: 3em solid #fefefe;
}