.go-back,
.see-all,
.form-container,
.do-not-print,
.tag-list,
.analysis-projections-selector,
.foot,
iframe,
.expand-collapse-container,
.sub-navigation,
.slider-multi-header,
.slider-multi,
.rtitle_form,
.fancybox-overlay,
footer,
nav,
.twip_nav,  // this week in petroleum
.highcharts-button,
#sticker {
	display: none !important;
}
.l-body-wrapper {
	width: 850px; //width: 963px;
	margin: 0 auto;
}
.image-container {
	img {
		//width: 850px;
		//width: 963px;
		max-width: 850px;
		margin: 0 auto;
	}
}

.l-inner-wrapper {
	& > h1 {
		margin: 1em 0;
	}
}
/*
header {
	height: 108px;
	width: 850px; //width: 963px;
	.print {
		height: 108px;
		width: 850px; //width: 963px;
	}
}
*/
