.ap {
    .clear-all-container,
    .overlay,
    .frequency-container,
    .time-series,
    .tags,
    .reports-search-filter-button-container {
        display: none !important;
    }
    h2 {
        border: none !important;
    }
    .reports-heading {
        &>div {
            &.legend {
                margin: 0 !important;
                width: 100% !important;
            }
        }
    }
    .report-title-container {
        display: block !important;
        .reports-title {
            width: 100% !important;
            display: block !important;
        }
    }
}


